Repository adonis0302/WunderGr-Backend-API, changes with the labels that .github/labeler.yml gives for each.
All labels: npm, sdk, wunderctl, nextjs, types, engine

.github/labeler.yml:

npm:
  - 'packages/**/*'
  - 'pnpm-lock.yaml'
  - 'pnpm-workspace.yaml'
sdk:
  - 'packages/sdk/**/*'
wunderctl:
  - 'packages/wunderctl/**/*'
nextjs:
  - 'packages/nextjs/**/*'
types:
  - 'packages/protobuf/**/*'
engine:
  - 'pkg/**/*'
  - 'internal/*/*'
  - 'cmd/**/*'
  - 'cli/**/*'
  - 'go.mod'
  - 'go.sum'

chore: update example
  examples/publish-install-api/.wundergraph/wundergraph.server.ts
Labels: none

fix: add test for schema merge conflict, improve error message (#27)
  packages/sdk/package.json
  packages/sdk/src/definition/__snapshots__/merge.test.ts.snap
  packages/sdk/src/definition/merge.test.ts
  packages/sdk/src/definition/merge.ts
  pnpm-lock.yaml
Labels: npm, sdk

chore: improve example, remove dummy code
  packages/default-testapp/.wundergraph/wundergraph.server.ts
  packages/sdk/src/middleware/plugins/hooks.ts
  pkg/apihandler/apitransport.go
Labels: npm, sdk, engine

fix(wunderctl): terminated problem on Windows (#33)
  packages/wunderctl/src/cli.ts
Labels: npm, wunderctl

chore: generate release summary on every commit
  .github/workflows/release-summary.yaml
Labels: none

feat(server): reimplement bundling, watcher, script runner (#32)
  cli/commands/generate.go
  cli/commands/start.go
  cli/commands/up.go
  go.mod
  go.sum
  packages/sdk/package.json
  packages/sdk/src/middleware/server.ts
  pkg/bundleconfig/bundleconfig.go
  pkg/bundler/bundler.go
  pkg/node/node.go
  pkg/scriptrunner/scriptrunner.go
  pkg/watcher/watcher.go
  pnpm-lock.yaml
Labels: npm, sdk, engine

ci(release): release 0.91.0
  package.json
  packages/wunderctl/package.json
  pnpm-lock.yaml
Labels: npm, wunderctl

chore: sync wunderctl version
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

feat: exit child process on sigint
  go.mod
  go.sum
  packages/wunderctl/src/cli.ts
Labels: npm, wunderctl, engine

ci(release): release 0.91.1
  package.json
  packages/wunderctl/package.json
  pnpm-lock.yaml
Labels: npm, wunderctl

chore: sync wunderctl version
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: update examples
  examples/nextjs-postgres-prisma/package.json
  examples/postgres/package.json
  examples/publish-install-api/package.json
  examples/simple/package.json
  pkg/templates/assets/templates/application/package.json
  pkg/templates/assets/templates/nextjs-postgres-starter/package.json
  pkg/templates/assets/templates/nextjs-starter/package.json
  pkg/templates/assets/templates/publish-api/package.json
Labels: engine

chore: update example
  pkg/templates/assets/templates/nextjs-starter/README.md
  pkg/templates/assets/templates/nextjs-starter/package.json
Labels: engine

ci(release): release 0.91.2
  package.json
  packages/wunderctl/package.json
  pnpm-lock.yaml
Labels: npm, wunderctl

chore: improve signal logging
  cli/commands/start.go
  cli/commands/up.go
Labels: engine

chore: fix nextjs imports in starter
  pkg/templates/assets/templates/nextjs-starter/pages/authentication.tsx
  pkg/templates/assets/templates/nextjs-starter/pages/caching.tsx
  pkg/templates/assets/templates/nextjs-starter/pages/mocks.tsx
  pkg/templates/assets/templates/nextjs-starter/pages/realtime.tsx
  pkg/templates/assets/templates/nextjs-starter/pages/upload.tsx
Labels: engine

feat: improve logging around shutdown
  cli/commands/generate.go
  cli/commands/start.go
  cli/commands/up.go
  pkg/scriptrunner/scriptrunner.go
Labels: engine

chore: try lerna-lite with pnpm workspace support
  .npmrc
  package.json
  packages/nextjs/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk, nextjs

chore: add wunderctl to lerna
  lerna.json
Labels: none

ci(release): release 0.91.3
  package.json
  packages/wunderctl/package.json
  pnpm-lock.yaml
Labels: npm, wunderctl

chore: remove wunderctl from lerna before publishing and preview
  .github/workflows/packages-release-preview.yaml
  .github/workflows/packages-release.yaml
  lerna.json
  package.json
Labels: none

chore: sync wunderctl version
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: ignore lerna.json changes
  .github/workflows/packages-release.yaml
  lerna.json
Labels: none

chore: ignore lerna changes in ci
  .github/workflows/packages-release.yaml
  lerna.json
Labels: none

chore: test
  .npmrc
  lerna.json
  packages/sdk/README.md
Labels: npm, sdk

chore: test fix
  .github/workflows/packages-release.yaml
  lerna.json
Labels: none

chore: dummy change
  packages/sdk/README.md
Labels: npm, sdk

chore: improve comments
  .github/workflows/packages-release.yaml
  examples/simple/package.json
Labels: none

chore: revert lerna-lite
  .github/workflows/packages-release.yaml
  .npmrc
  package.json
  packages/nextjs/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk, nextjs

chore: sync examples
  examples/nextjs-postgres-prisma/package.json
  examples/postgres/package.json
  examples/publish-install-api/package.json
  examples/simple/package.json
  pkg/templates/assets/templates/application/package.json
  pkg/templates/assets/templates/nextjs-postgres-starter/package.json
  pkg/templates/assets/templates/nextjs-starter/package.json
  pkg/templates/assets/templates/publish-api/package.json
Labels: engine

ci(release): release 0.91.4
  package.json
  packages/wunderctl/package.json
  pnpm-lock.yaml
Labels: npm, wunderctl

fix(hooks): pass response correctly, pass input arg when available (#38)
  packages/sdk/src/middleware/plugins/hooks.ts
  pkg/apihandler/apihandler.go
  pkg/bundler/bundler.go
Labels: npm, sdk, engine

ci(release): release 0.91.5
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: revert
  .github/workflows/packages-release-preview.yaml
Labels: none

chore: give lerna-lite another try
  .github/workflows/engine-ci.yaml
  .github/workflows/engine-release.yaml
  .github/workflows/packages-ci.yaml
  .github/workflows/packages-release-preview.yaml
  .github/workflows/packages-release.yaml
  CONTRIBUTING.md
  Makefile
  lerna.json
  package.json
  packages/nextjs/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
  scripts/check-setup.sh
  scripts/patch-lerna.js
Labels: npm, sdk, nextjs

chore: use postinstall hook
  package.json
Labels: none

chore: use patch-packages for lerna patch
  package.json
  patches/@lerna-lite+core+1.5.1.patch
  pnpm-lock.yaml
  scripts/patch-lerna.js
Labels: npm

chore: improve docs
  CONTRIBUTING.md
  README.md
  docs/README.md
  docs/architecture.md
  docs/at-a-glance.md
  docs/hooks.md
  docs/releasing.md
  docs/sdk.md
  docs/wunderctl/README.md
  docs/wunderhub.md
  docs/wundernode.md
Labels: none

chore: fix image link
  docs/architecture.md
Labels: none

chore: improve docs
  docs/sdk.md
Labels: none
