Repository adonis0302/WunderGr-Backend-API, changes with the labels that .github/labeler.yml gives for each.
All labels: npm, sdk, wunderctl, nextjs, types, engine

.github/labeler.yml:

npm:
  - 'packages/**/*'
  - 'pnpm-lock.yaml'
  - 'pnpm-workspace.yaml'
sdk:
  - 'packages/sdk/**/*'
wunderctl:
  - 'packages/wunderctl/**/*'
nextjs:
  - 'packages/nextjs/**/*'
types:
  - 'packages/protobuf/**/*'
engine:
  - 'pkg/**/*'
  - 'internal/*/*'
  - 'cmd/**/*'
  - 'cli/**/*'
  - 'go.mod'
  - 'go.sum'

fix: update goreleaser configuration for 1.19 (#1105)
  .github/goreleaser/.goreleaser-darwin.yml
  .github/goreleaser/.goreleaser-linux.yml
  .github/goreleaser/.goreleaser-windows.yml
Labels: none

ci(release): Release 0.161.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: update wunderctl dependency version in SDK (#1107)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

feat: updated SWR to 2.2.0 (#1109)
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/expo-swr/package.json
  examples/faunadb-nextjs/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/learn-wundergraph/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-clerk/package.json
  examples/nextjs-file-upload/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-todos/package.json
  examples/nextjs-typescript-functions/package.json
  examples/nextjs/package.json
  examples/rbac/package.json
  examples/vite-swr/package.json
  packages/nextjs/package.json
  packages/swr/package.json
  packages/swr/src/types.ts
  pnpm-lock.yaml
  testapps/expo/package.json
  testapps/nextauth/package.json
  testapps/nextjs-relay/package.json
  testapps/nextjs/package.json
  testapps/vite/package.json
Labels: npm, nextjs

fix: customJSONScalars are ignored when introspection is fetched from cache (#1110)
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/definition/namespacing.ts
Labels: npm, sdk

fix: goreleaser binary name templates (#1111)
  .github/goreleaser/.goreleaser-darwin.yml
  .github/goreleaser/.goreleaser-linux.yml
  .github/goreleaser/.goreleaser-windows.yml
Labels: none

ci(release): Release 0.162.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

fix: goreleaser config (for real) (#1112)
  .github/goreleaser/.goreleaser-darwin.yml
  .github/goreleaser/.goreleaser-linux.yml
  .github/goreleaser/.goreleaser-windows.yml
Labels: none

ci(release): Release 0.163.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: increase wunderctl dependency version in SDK to 0.163.0 (#1113)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

feat: add support for feature usage telemetry (#1096)
  cli/commands/root.go
  cli/commands/up.go
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/definition/__snapshots__/graphql-introspection.test.ts.snap
  packages/sdk/src/definition/__snapshots__/index.test.ts.snap
  packages/sdk/src/definition/database-introspection.ts
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/server/plugins/hooks.test.ts
  pkg/telemetry/annotate.go
  pkg/telemetry/client.go
  pkg/telemetry/config.go
  pkg/telemetry/data_sources.go
  pkg/telemetry/features.go
  pkg/telemetry/metrics.go
  pkg/wgpb/wundernode_config.pb.go
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

fix: make telemetry metric generation async (#1118)
  cli/commands/root.go
Labels: engine

fix: download correct prisma binaries for linux/arm64 (#1119)
  pkg/datasources/database/fetch_engine.go
  pkg/datasources/database/fetch_engine_test.go
Labels: engine

fix: update svelte query version (#1117)
  examples/sveltekit-oidc-cookies-auth/package.json
  examples/sveltekit-todos/package.json
  examples/sveltekit/package.json
Labels: none

fix: broken link (#1123)
  docs-website/next.config.mjs
  docs-website/src/pages/index.jsx
Labels: none

feat: add support for openai (#1121)
  cli/commands/generate.go
  cli/commands/up.go
  examples/apollo-federation/.wundergraph/operations/PriceUpdates.graphql
  examples/apollo-federation/.wundergraph/operations/TopProducts.graphql
  examples/apollo-federation/.wundergraph/wundergraph.config.ts
  packages/sdk/package.json
  packages/sdk/src/codegen/index.test.ts
  packages/sdk/src/codegen/templates/typescript/jsonschema.template.ts
  packages/sdk/src/codegen/templates/typescript/jsonschema.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/graphql/__snapshots__/operations.test.ts.snap
  packages/sdk/src/graphql/operations.test.ts
  packages/sdk/src/graphql/operations.ts
  packages/sdk/src/openai/index.ts
  packages/sdk/src/openapibuilder/index.ts
  packages/sdk/src/operations/operations.ts
  packages/sdk/src/server/plugins/functions.ts
  pkg/loadoperations/loader.go
  pkg/operations/operations.go
  pnpm-lock.yaml
  testapps/default/.wundergraph/operations/CountryByCode.graphql
  testapps/default/.wundergraph/operations/openai/extract_website_metadata.ts
  testapps/default/.wundergraph/operations/openai/load_url.ts
  testapps/default/.wundergraph/operations/openai/query.ts
  testapps/default/.wundergraph/operations/openai/summarize_url_content.ts
  testapps/default/.wundergraph/operations/weather/GetCityByName.graphql
  testapps/default/package.json
Labels: npm, sdk, engine

ci(release): Release 0.164.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: bump wunderctl dependency in SDK to 0.164.0 (#1125)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

feat: improve openai (#1126)
  docs-website/config/navigation.tsx
  docs-website/src/pages/docs/openai/index.md
  packages/sdk/src/openai/index.ts
  testapps/default/.wundergraph/operations/openai/summarize_url_content.ts
Labels: npm, sdk

fix: don't try to import server.ts if it doesn't exist, avoid importing it twice (#1127)
  pkg/operations/operations.go
Labels: engine

fix: add packages/vue-query to lerna (#1128)
  lerna.json
Labels: none

fix: make errors in wunderctl and prisma introspection more visible (#1122)
  cli/commands/root.go
  packages/sdk/src/db/introspection.ts
  pkg/datasources/database/engine.go
Labels: npm, sdk, engine

ci(release): Release 0.165.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: bump wunderctl dependency in SDK to 0.165.0 (#1129)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: add script for bumping wunderctl dependency version (#1130)
  scripts/bump-wunderctl-in-sdk.sh
Labels: none

fix: when caching a plan, take operationName into account (#1133)
  pkg/apihandler/apihandler.go
  pkg/apihandler/apihandler_test.go
  pkg/apihandler/graphql.go
  pkg/apihandler/graphql_test.go
Labels: engine

fix: prisma openssl detection on alpine and fedora based distros (#1134)
  pkg/datasources/database/engine.go
  pkg/datasources/database/fetch_engine.go
  pkg/datasources/database/fetch_engine_test.go
Labels: engine

fix: move codegen template helpers out of internal (#1136)
  packages/golang-client/src/index.ts
  packages/nextjs/src/template.ts
  packages/sdk/package.json
  packages/sdk/src/codegen/index.ts
  packages/sdk/src/internal/README.md
  packages/sdk/src/internal/index.ts
  pnpm-lock.yaml
Labels: npm, sdk, nextjs

feat: upgrade to typescript 5 (#1135)
  docs-website/package.json
  packages/create-wundergraph-app/package.json
  packages/golang-client/package.json
  packages/metro-config/package.json
  packages/nextjs/package.json
  packages/orm/package.json
  packages/protobuf/package.json
  packages/react-query/package.json
  packages/react-relay/package.json
  packages/sdk/package.json
  packages/solid-query/package.json
  packages/svelte-query/package.json
  packages/swr/package.json
  packages/testsuite/package.json
  packages/vue-query/package.json
  packages/wunderctl/package.json
  pnpm-lock.yaml
  testapps/default/package.json
  testapps/expo/package.json
  testapps/nextauth/package.json
  testapps/nextjs-relay/package.json
  testapps/nextjs/package.json
  testapps/postgres/package.json
  testapps/simple/package.json
  testapps/vite/package.json
Labels: npm, sdk, wunderctl, nextjs, types

fix: add cloudflare worker support for client (#1137)
  packages/sdk/src/client/client.ts
Labels: npm, sdk

feat: add support for license management (#1108)
  .github/goreleaser/.goreleaser-darwin.yml
  .github/goreleaser/.goreleaser-linux.yml
  .github/goreleaser/.goreleaser-windows.yml
  cli/commands/license.go
  cli/commands/node.go
  cli/commands/start.go
  cli/commands/up.go
  go.mod
  go.sum
  pkg/config/wundergraph.go
  pkg/features/features.go
  pkg/licensing/licensing.go
  pkg/licensing/licensing_test.go
  pkg/telemetry/client.go
  pkg/telemetry/data_sources.go
  pkg/telemetry/features.go
Labels: engine

chore: add feature detection for OpenAI (#1138)
  pkg/features/features.go
Labels: engine

feat: unify pretty logs (#1139)
  cli/commands/generate.go
  cli/commands/loadoperations.go
  cli/commands/root.go
  cli/commands/server.go
  cli/commands/up.go
  cli/helpers/env.go
  cli/helpers/scripts.go
  cli/helpers/server_runner.go
  go.mod
  go.sum
  packages/sdk/package.json
  packages/sdk/src/graphql/operations.ts
  packages/sdk/src/logger/index.ts
  packages/sdk/src/wunderctlexec/index.ts
  pkg/logging/logging.go
  pkg/logging/prettifier.go
  pkg/logging/prettifier_test.go
  pkg/logging/pretty_encoder.go
  pkg/scriptrunner/scriptrunner.go
  pnpm-lock.yaml
Labels: npm, sdk, engine

ci(release): Release 0.166.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: bump wunderctl dependency in SDK to 0.166.0 (#1144)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: add missing environment variable to goreleaser (#1145)
  .github/workflows/engine-release.yaml
Labels: none

ci(release): Release 0.166.1
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

fix: peer dependency warnings (#1143)
  package.json
  packages/metro-config/package.json
  packages/react-query/package.json
  packages/react-relay/package.json
  packages/sdk/package.json
  packages/solid-query/package.json
  packages/svelte-query/package.json
  packages/swr/package.json
  packages/vue-query/package.json
  pnpm-lock.yaml
  testapps/expo/package.json
Labels: npm, sdk

chore: bump wunderctl dependency in SDK to 0.166.1 (#1146)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

feat: support GraphQL files with .gql extension (#1149)
  pkg/loadoperations/loader.go
Labels: engine
