Repository adonis0302/WunderGr-Backend-API, changes with the labels that .github/labeler.yml gives for each.
All labels: npm, sdk, wunderctl, nextjs, types, engine

chore: fix bootstrap logic
  Makefile
  package.json
Labels: none

fix: update tsdoc for hooks config
  packages/sdk/src/codegen/templates/typescript/hooks.template.ts
Labels: npm, sdk

chore(docs): add sequence diagram
  docs-website/public/images/wundergraph_example_swimlanes.png
  docs-website/src/components/Layout.jsx
  docs-website/src/pages/docs/architecture/introduction.md
  docs-website/src/pages/docs/architecture/wundergraph-explained-in-one-sequence-diagram.md
  docs-website/src/pages/docs/examples/index.md
  docs-website/src/pages/docs/guides/index.md
  docs-website/src/pages/docs/tutorials/index.md
  docs-website/src/pages/getting-started.md
  docs/swimlanes.io.example.md
Labels: none

fix: #86 support pnpm 7.5+ (#88)
  package.json
Labels: none

chore(docs): add rpc protocol explained
  docs-website/src/pages/docs/architecture/wundergraph-rpc-protocol-explained.md
Labels: none

chore(docs): add conventions for env vars
  docs-website/src/pages/docs/architecture/wundergraph-conventions.md
Labels: none

chore(docs): add datasource overview
  docs-website/src/pages/docs/supported-data-sources/index.md
Labels: none

chore(docs): add frontend frameworks overview
  docs-website/src/components/Layout.jsx
  docs-website/src/pages/docs/supported-frontend-frameworks/index.md
Labels: none

chore(docs): update nav
  docs-website/src/components/Layout.jsx
  docs-website/src/pages/docs/supported-backend-languages-frameworks/index.md
  docs-website/src/pages/docs/supported-backend-languages-frameworks/java-kotlin.md
Labels: none

chore(docs): update programmable gateway
  docs-website/src/pages/docs/use-cases/programmable-api-gateway.md
Labels: none

chore(docs): add use case versionless apis
  docs-website/src/components/Layout.jsx
  docs-website/src/pages/docs/use-cases/versionless-apis-easily-build-backwards-compatible-apis.md
Labels: none

chore(docs): add use case api management
  docs-website/src/pages/docs/use-cases/api-management.md
Labels: none

chore(docs): add use case api management
  docs-website/src/pages/docs/use-cases/api-management.md
Labels: none

chore(docs): add use case bff
  docs-website/src/pages/docs/use-cases/backend-for-frontend.md
Labels: none

docs: open external links in new tab and render an external link icon (#91)
  docs-website/markdoc/nodes.js
  docs-website/src/components/icons/ExternalLinkIcon.jsx
Labels: none

docs: fixed issue where code example would have double new lines (#90)
  docs-website/src/components/Fence.jsx
Labels: none

docs: use proper colors in code boxes in light mode (#89)
  docs-website/src/styles/prism.css
Labels: none

chore(docs): add use case api composition
  docs-website/src/pages/docs/use-cases/api-composition-and-integration.md
Labels: none

chore(docs): add use case orm
  docs-website/src/components/Layout.jsx
  docs-website/src/pages/docs/use-cases/multi-database-multi-schema-orm.md
Labels: none

chore(docs): add use case sdks
  docs-website/src/pages/docs/use-cases/generate-sdks-for-all-your-apis.md
Labels: none

chore(docs): add use case central governance
  docs-website/src/pages/docs/use-cases/centralized-governance-monitoring-access-controls-and-logging-across-your-apis.md
Labels: none

docs: add copy button to code snippets (#92)
  docs-website/package-lock.json
  docs-website/package.json
  docs-website/src/components/Card.tsx
  docs-website/src/components/CodeBlock.tsx
  docs-website/src/components/CodeWindow.tsx
  docs-website/src/components/Fence.jsx
  docs-website/src/components/Hero.jsx
  docs-website/tailwind.config.js
Labels: none

docs: add new icons to overview (#93)
  docs-website/src/components/Icon.jsx
  docs-website/src/pages/index.md
Labels: none

chore(docs): add use case overview
  Makefile
  docs-website/public/sitemap-0.xml
  docs-website/src/pages/docs/use-cases/index.md
Labels: none

chore: sync pnpm lockfile
  pnpm-lock.yaml
Labels: npm

chore(docs-website): add tagging
  docs-website/markdoc/nodes.js
  docs-website/public/images/wundergraph_architecture_simple_overview_dark_transparent.png
  docs-website/public/images/wundergraph_architecture_simple_overview_light_transparent.png
  docs-website/src/components/Layout.jsx
  docs-website/src/pages/docs/architecture/architecture-diagram.md
  docs-website/src/pages/docs/architecture/wundergraph-explained-in-one-sequence-diagram.md
  docs-website/src/pages/docs/architecture/wundergraph-rpc-protocol-explained.md
  docs-website/src/pages/docs/examples/caching.md
  docs-website/src/pages/docs/examples/cross-api-joins.md
  docs-website/src/pages/docs/examples/hooks.md
  docs-website/src/pages/docs/examples/inject-bearer-token.md
  docs-website/src/pages/docs/examples/postgresql.md
  docs-website/src/pages/docs/features/authentication-aware-data-fetching.md
  docs-website/src/pages/docs/features/authorization-injecting-claims.md
  docs-website/src/pages/docs/features/authorization-role-based-access-control-rbac.md
  docs-website/src/pages/docs/features/automatic-content-revalidation-with-etags.md
  docs-website/src/pages/docs/features/automatic-csrf-protection-for-mutations.md
  docs-website/src/pages/docs/features/configuration-as-code.md
  docs-website/src/pages/docs/features/cross-api-joins-to-compose-apis.md
  docs-website/src/pages/docs/features/custom-graphql-resolvers.md
  docs-website/src/pages/docs/features/file-based-operations.md
  docs-website/src/pages/docs/features/generated-apis-for-any-database.md
  docs-website/src/pages/docs/features/generated-clients-and-sdks.md
  docs-website/src/pages/docs/features/graphql-to-json-rpc-compiler.md
  docs-website/src/pages/docs/features/http-layer-caching.md
  docs-website/src/pages/docs/features/live-queries.md
  docs-website/src/pages/docs/features/type-safe-mocking.md
  docs-website/src/pages/docs/features/type-script-hooks-to-customize-the-api-gateway-middleware.md
  docs-website/src/pages/docs/guides/configure-authorization.md
  docs-website/src/pages/docs/guides/enable-autocompletion-in-your-ide.md
  docs-website/src/pages/docs/guides/extend-json-fields-with-more-specific-types.md
  docs-website/src/pages/docs/guides/index.md
  docs-website/src/pages/docs/guides/signing-origin-requests.md
  docs-website/src/pages/docs/supported-data-sources/graphql.md
  docs-website/src/pages/docs/use-cases/api-composition-and-integration.md
  docs-website/src/pages/docs/use-cases/backend-for-frontend.md
  docs-website/src/pages/docs/use-cases/multi-database-multi-schema-orm.md
  docs-website/src/pages/docs/use-cases/versionless-apis-easily-build-backwards-compatible-apis.md
  docs-website/src/pages/docs/wunderhub-reference/index.md
Labels: none

chore(docs-website): add architecture diagram
  docs-website/config/navigation.js
  docs-website/config/tags.js
  docs-website/markdoc/nodes.js
  docs-website/src/components/Layout.jsx
  docs-website/src/pages/docs/architecture/architecture-diagram.md
  docs-website/src/pages/docs/architecture/manage-api-dependencies-explicitly.md
Labels: none

chore(docs-website): add manage api dependencies explicitly
  docs-website/config/navigation.js
  docs-website/config/tags.js
  docs-website/src/pages/docs/architecture/manage-api-dependencies-explicitly.md
Labels: none

docs: fix overview icons in darkmode (#96)
  docs-website/src/components/Icon.jsx
Labels: none

docs: added option to hide table of contents (#98)
  docs-website/src/components/Layout.jsx
  docs-website/src/pages/_app.jsx
Labels: none

docs: removed max height for code blocks (#99)
  docs-website/src/components/CodeWindow.tsx
Labels: none

docs: align navigation links correctly on small screens (#100)
  docs-website/src/components/Layout.jsx
Labels: none

chore(docs-website): add manifesto
  docs-website/config/navigation.js
  docs-website/src/pages/docs/use-cases/enabling-your-organization-to-become-api-first.md
  docs-website/src/pages/docs/use-cases/index.md
  docs-website/src/pages/index.md
  docs-website/src/pages/manifesto.md
Labels: none

chore(docs-website): add wundergraph.config.ts files
  docs-website/config/navigation.js
  docs-website/src/pages/docs/features/file-uploads-to-s3-compatible-file-storages.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-advanced-security.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-apollo-federation-data-source.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-code-generation.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-cookie-based-authentication.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-cors.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-graphql-data-source.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-graphqlconfig.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-grpc-data-source.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-headers-for-http-based-data-sources.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-introspection.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-mongodb-atlas-data-source.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-mtls-for-http-based-data-sources.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-mysql-data-source.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-openapi-rest-data-source.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-planetscale-data-source.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-postgresql-data-source.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-postgresql-datasource.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-s3-file-upload-providers.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-sqlite-data-source.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-sqlite-datasource.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-sqlserver-data-source.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-token-based-authentication.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-wundergraph-application.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/index.md
Labels: none

chore(docs-website): add plausible
  docs-website/package-lock.json
  docs-website/package.json
  docs-website/src/pages/_app.jsx
Labels: none

chore(docs-website): add docs for wundergraph.config.ts
  docs-website/config/navigation.js
  docs-website/config/tags.js
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-advanced-security.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-apollo-federation-data-source.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-authorization.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-code-generation.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-cookie-based-authentication.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-cors.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-graphql-data-source.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-graphqlconfig.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-grpc-data-source.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-headers-for-http-based-data-sources.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-introspection.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-mongodb-atlas-data-source.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-mtls-for-http-based-data-sources.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-mysql-data-source.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-openapi-rest-data-source.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-planetscale-data-source.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-postgresql-data-source.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-s3-file-upload-providers.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-sqlite-data-source.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-sqlserver-data-source.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-token-based-authentication.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-wundergraph-application.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/index.md
  packages/default-testapp/.wundergraph/wundergraph.config.ts
Labels: npm

docs: make headings sharable (#101)
  docs-website/markdoc/nodes.js
  docs-website/src/components/Heading.jsx
  docs-website/src/components/Layout.jsx
  docs-website/src/pages/_app.jsx
Labels: none

chore(docs-website): add architecture overview
  docs-website/config/navigation.js
  docs-website/src/pages/docs/architecture/index.md
  docs-website/src/pages/docs/architecture/introduction.md
Labels: none

fix: scroll navigation links into view (#102)
  docs-website/src/components/Navigation.jsx
  docs-website/src/utils/scroll-into-view.js
Labels: none

chore(docs-website): update overviews
  docs-website/config/navigation.js
  docs-website/config/tags.js
  docs-website/src/pages/docs/architecture/index.md
  docs-website/src/pages/docs/examples/index.md
  docs-website/src/pages/docs/features/index.md
  docs-website/src/pages/docs/guides/index.md
  docs-website/src/pages/docs/supported-backend-languages-frameworks/index.md
  docs-website/src/pages/docs/supported-data-sources/index.md
  docs-website/src/pages/docs/supported-frontend-frameworks/android-kotlin-java.md
  docs-website/src/pages/docs/supported-frontend-frameworks/index.md
  docs-website/src/pages/docs/supported-frontend-frameworks/ios-swift-objective-c.md
  docs-website/src/pages/docs/supported-frontend-frameworks/nextjs.md
  docs-website/src/pages/docs/supported-frontend-frameworks/react-js.md
  docs-website/src/pages/docs/supported-frontend-frameworks/react-native.md
  docs-website/src/pages/docs/supported-frontend-frameworks/remix.md
  docs-website/src/pages/docs/supported-frontend-frameworks/solidjs.md
  docs-website/src/pages/docs/supported-frontend-frameworks/svelte.md
  docs-website/src/pages/docs/supported-frontend-frameworks/vue.md
  docs-website/src/pages/docs/use-cases/api-composition-and-integration.md
  docs-website/src/pages/docs/use-cases/api-management.md
  docs-website/src/pages/docs/use-cases/backend-for-frontend.md
  docs-website/src/pages/docs/use-cases/centralized-governance-monitoring-access-controls-and-logging-across-your-apis.md
  docs-website/src/pages/docs/use-cases/enabling-your-organization-to-become-api-first.md
  docs-website/src/pages/docs/use-cases/generate-sdks-for-all-your-apis.md
  docs-website/src/pages/docs/use-cases/index.md
  docs-website/src/pages/docs/use-cases/multi-database-multi-schema-orm.md
  docs-website/src/pages/docs/use-cases/programmable-api-gateway.md
  docs-website/src/pages/docs/use-cases/versionless-apis-easily-build-backwards-compatible-apis.md
Labels: none

.github/labeler.yml:

npm:
  - 'packages/**/*'
  - 'pnpm-lock.yaml'
  - 'pnpm-workspace.yaml'
sdk:
  - 'packages/sdk/**/*'
wunderctl:
  - 'packages/wunderctl/**/*'
nextjs:
  - 'packages/nextjs/**/*'
types:
  - 'packages/protobuf/**/*'
engine:
  - 'pkg/**/*'
  - 'internal/*/*'
  - 'cmd/**/*'
  - 'cli/**/*'
  - 'go.mod'
  - 'go.sum'
