Repository adonis0302/WunderGr-Backend-API, changes with the labels that .github/labeler.yml gives for each.
All labels: npm, sdk, wunderctl, nextjs, types, engine

chore: improve docs
  docs/hooks.md
Labels: none

fix: remove locker on unsuccessful wunderctl download/install
  packages/wunderctl/src/installer.ts
Labels: npm, wunderctl

refactor(hooks)!: refactor hooks interface (#40)
  docs/at-a-glance.md
  docs/hooks.md
  docs/migrations/sdk-0.60-0.90.md
  docs/migrations/sdk-0.92.5-0.93.md
  examples/nextjs-postgres-prisma/.wundergraph/wundergraph.server.ts
  examples/postgres/.wundergraph/wundergraph.server.ts
  examples/postgres/package.json
  examples/postgres/test.http
  examples/simple/.wundergraph/wundergraph.server.ts
  examples/simple/package.json
  packages/default-testapp/.wundergraph/wundergraph.server.ts
  packages/default-testapp/package.json
  packages/nextjs-testapp/.wundergraph/wundergraph.server.ts
  packages/nextjs-testapp/README.md
  packages/sdk/package.json
  packages/sdk/src/codegen/templates/typescript/hooks.template.ts
  packages/sdk/src/codegen/templates/typescript/internal.client.template.ts
  packages/sdk/src/codegen/templates/typescript/server.template.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/index.ts
  packages/sdk/src/middleware/client.ts
  packages/sdk/src/middleware/internal-client.ts
  packages/sdk/src/middleware/plugins/graphql.ts
  packages/sdk/src/middleware/plugins/hooks.ts
  packages/sdk/src/middleware/server.ts
  pkg/apihandler/apihandler.go
  pkg/apihandler/apitransport.go
  pkg/apihandler/internalapihandler.go
  pkg/authentication/authentication.go
  pkg/authentication/authentication_test.go
  pkg/hooks/hooks.go
  pkg/middlewareclient/middlewareclient.go
  pkg/node/node.go
  pkg/templates/assets/templates/application/.wundergraph/wundergraph.server.ts
  pkg/templates/assets/templates/nextjs-postgres-starter/.wundergraph/wundergraph.server.ts
  pkg/templates/assets/templates/nextjs-starter/.wundergraph/wundergraph.server.ts
  pnpm-lock.yaml
Labels: npm, sdk, engine

chore: use full preset for changelog generation
  .github/workflows/release-summary.yaml
Labels: none

ci(release): release 0.92.0
  package.json
  packages/wunderctl/package.json
  pnpm-lock.yaml
Labels: npm, wunderctl

chore: use version command
  package.json
Labels: none

chore: dont sync lock for version preview
  package.json
Labels: none

chore: upgrade wunderctl version
  packages/sdk/package.json
Labels: npm, sdk

chore: sync lock
  pnpm-lock.yaml
Labels: npm

chore: update examples
  examples/nextjs-postgres-prisma/package.json
  examples/postgres/package.json
  examples/publish-install-api/package.json
  examples/simple/package.json
Labels: none

chore: remove unused fields in template
  packages/sdk/src/codegen/templates/typescript/server.ts
Labels: npm, sdk

fix: trigger server reload after initial config build (#47)
  cli/commands/start.go
  cli/commands/up.go
Labels: engine

ci(release): release 0.92.1
  package.json
  packages/wunderctl/package.json
  pnpm-lock.yaml
Labels: npm, wunderctl

chore: add faunadb example (#48)
  README.md
  examples/faunadb-nextjs/.gitignore
  examples/faunadb-nextjs/.graphqlconfig
  examples/faunadb-nextjs/.wundergraph/operations/AllStores.graphql
  examples/faunadb-nextjs/.wundergraph/wundergraph.config.ts
  examples/faunadb-nextjs/.wundergraph/wundergraph.operations.ts
  examples/faunadb-nextjs/.wundergraph/wundergraph.server.ts
  examples/faunadb-nextjs/README.md
  examples/faunadb-nextjs/example.env
  examples/faunadb-nextjs/next-env.d.ts
  examples/faunadb-nextjs/next.config.js
  examples/faunadb-nextjs/package.json
  examples/faunadb-nextjs/pages/_app.tsx
  examples/faunadb-nextjs/pages/index.tsx
  examples/faunadb-nextjs/public/favicon.ico
  examples/faunadb-nextjs/tsconfig.json
  examples/nextjs-postgres-prisma/README.md
  examples/postgres/README.md
  examples/postgres/docker-compose.yml
  examples/simple/.wundergraph/operations/Dragons.graphql
  examples/simple/.wundergraph/operations/Hello.graphql
  examples/simple/.wundergraph/operations/Missions.graphql
  examples/simple/README.md
  packages/default-testapp/package.json
  packages/postgres-testapp/package.json
  pkg/templates/assets/templates/application/package.json
  pkg/templates/assets/templates/nextjs-starter/package.json
Labels: npm, engine

chore: improve examples
  examples/faunadb-nextjs/pages/index.tsx
  examples/nextjs-postgres-prisma/pages/_app.tsx
  examples/nextjs-postgres-prisma/pages/index.tsx
  examples/nextjs-postgres-prisma/public/vercel.svg
  examples/nextjs-postgres-prisma/public/wundergraph.svg
  examples/nextjs-postgres-prisma/styles/Home.module.css
  examples/nextjs-postgres-prisma/styles/globals.css
  package.json
  pkg/templates/assets/templates/application/.wundergraph/operations/Dragons.graphql
  pkg/templates/assets/templates/application/.wundergraph/operations/Hello.graphql
  pkg/templates/assets/templates/application/.wundergraph/operations/Missions.graphql
  pkg/templates/assets/templates/application/README.md
  pkg/templates/assets/templates/application/minio/docker-compose.yml
  pkg/templates/assets/templates/application/package.json
  pkg/templates/assets/templates/nextjs-postgres-starter/package.json
  pkg/templates/assets/templates/nextjs-postgres-starter/pages/_app.tsx
  pkg/templates/assets/templates/nextjs-postgres-starter/pages/index.tsx
  pkg/templates/assets/templates/nextjs-postgres-starter/public/wundergraph.svg
  pkg/templates/assets/templates/nextjs-postgres-starter/styles/Home.module.css
  pkg/templates/assets/templates/nextjs-postgres-starter/styles/globals.css
  pkg/templates/assets/templates/nextjs-starter/.wundergraph/jsonplaceholder.v1.yaml
  pkg/templates/assets/templates/nextjs-starter/.wundergraph/operations/FakeWeather.graphql
  pkg/templates/assets/templates/nextjs-starter/.wundergraph/operations/Hello.graphql
  pkg/templates/assets/templates/nextjs-starter/.wundergraph/operations/PastLaunches.graphql
  pkg/templates/assets/templates/nextjs-starter/.wundergraph/operations/ProtectedWeather.graphql
  pkg/templates/assets/templates/nextjs-starter/.wundergraph/operations/Weather.graphql
  pkg/templates/assets/templates/nextjs-starter/minio/docker-compose.yml
  pkg/templates/assets/templates/nextjs-starter/package.json
  pkg/templates/assets/templates/publish-api/package.json
Labels: engine

ci(release): release 0.92.2
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

fix: anonymous query 'operationName' wrong parsing value when null (#50)
  pkg/apihandler/apihandler.go
Labels: engine

ci(release): release 0.92.3
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

Update hooks.md
  docs/hooks.md
Labels: none

Update README.md
  README.md
Labels: none

fix(MongoDB): introspection
  cli/commands/mongodb.go
  pkg/datasources/database/engine.go
Labels: engine

ci(release): release 0.93.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

Update releasing.md
  docs/releasing.md
Labels: none

chore: update wunderctl
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: update sdk dependency
  examples/faunadb-nextjs/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/postgres/package.json
  examples/publish-install-api/package.json
  examples/simple/package.json
  pkg/templates/assets/templates/application/package.json
  pkg/templates/assets/templates/nextjs-postgres-starter/package.json
  pkg/templates/assets/templates/nextjs-starter/package.json
  pkg/templates/assets/templates/publish-api/package.json
Labels: engine

refactor(nextjs): improve "subscription.stop" using variables instead of hooks (#42)
  packages/nextjs-testapp/pages/stoponblur.tsx
  packages/nextjs/src/index.ts
Labels: npm, nextjs

chore: add cross api joins example
  examples/cross-api-joins/.gitignore
  examples/cross-api-joins/.wundergraph/.graphqlconfig
  examples/cross-api-joins/.wundergraph/operations/CountryWeather.graphql
  examples/cross-api-joins/.wundergraph/wundergraph.config.ts
  examples/cross-api-joins/.wundergraph/wundergraph.operations.ts
  examples/cross-api-joins/.wundergraph/wundergraph.server.ts
  examples/cross-api-joins/README.md
  examples/cross-api-joins/package.json
  examples/cross-api-joins/tsconfig.json
Labels: none

fix: openapi introspection defect (#53)
  packages/sdk/src/v2openapi/index.ts
Labels: npm, sdk

feat: upgrade esbuild, update Node.js target versions
  go.mod
  go.sum
  pkg/bundler/bundler.go
Labels: engine

chore: sync lock
  .npmrc
  pnpm-lock.yaml
Labels: npm

fix: set correct client request, remove inflights checks in client
  packages/sdk/src/codegen/templates/typescript/web.client.template.ts
  pkg/apihandler/apihandler.go
  pkg/apihandler/internalapihandler.go
  pkg/pool/pool.go
Labels: npm, sdk, engine

ci(release): release 0.93.1
  package.json
  packages/wunderctl/package.json
  pnpm-lock.yaml
Labels: npm, wunderctl

feat: improve error message when graphql introspection fails (#54)
  packages/default-testapp/.wundergraph/wundergraph.config.ts
  packages/sdk/src/definition/index.ts
Labels: npm, sdk

chore: sync wunderctl version
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: update sdk versions in examples
  examples/cross-api-joins/package.json
  examples/faunadb-nextjs/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/postgres/package.json
  examples/publish-install-api/package.json
  examples/simple/package.json
  package.json
Labels: none

chore: remove debug flag
  package.json
Labels: none

chore: test lerna lite
  packages/sdk/README.md
Labels: npm, sdk

chore: revert lerna lite test
  packages/sdk/README.md
Labels: npm, sdk

chore: fix pnpm version to avoid bc in latest release
  .github/actions/node/action.yaml
Labels: none

chore: sync lock file
  pnpm-lock.yaml
Labels: npm

.github/labeler.yml:

npm:
  - 'packages/**/*'
  - 'pnpm-lock.yaml'
  - 'pnpm-workspace.yaml'
sdk:
  - 'packages/sdk/**/*'
wunderctl:
  - 'packages/wunderctl/**/*'
nextjs:
  - 'packages/nextjs/**/*'
types:
  - 'packages/protobuf/**/*'
engine:
  - 'pkg/**/*'
  - 'internal/*/*'
  - 'cmd/**/*'
  - 'cli/**/*'
  - 'go.mod'
  - 'go.sum'
