Repository adonis0302/WunderGr-Backend-API, changes with the labels that .github/labeler.yml gives for each.
All labels: npm, sdk, wunderctl, nextjs, types, engine

fix: allow TS operations to override a requiredAuthentication with false (#1151)
  packages/nextjs/src/template.ts
  packages/sdk/src/codegen/templates/typescript/helpers.ts
  packages/sdk/src/codegen/templates/typescript/react.ts
  packages/sdk/src/codegen/templates/typescript/web.client.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/graphql/__snapshots__/operations.test.ts.snap
  packages/sdk/src/graphql/operations.test.ts
  packages/sdk/src/graphql/operations.ts
  packages/sdk/src/operations/operations.ts
  packages/testsuite/apps/auth/.wundergraph/operations/echo/FromTS.ts
  packages/testsuite/apps/auth/auth.test.ts
Labels: npm, sdk, nextjs

fix: do not import prettier from the ORM (#1152)
  packages/orm/src/codegen/index.ts
Labels: npm

feat: enable log messages when parsing OpenAPI specs (#1154)
  packages/sdk/src/configure/index.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/definition/openapi-introspection.ts
Labels: npm, sdk

feat: unify authentication mechanisms, redirect back with errors (#1059)
  packages/sdk/src/client/client.ts
  pkg/apihandler/apihandler.go
  pkg/authentication/authentication.go
  pkg/authentication/github.go
  pkg/authentication/handler.go
  pkg/authentication/oauth2.go
  pkg/authentication/oidc.go
Labels: npm, sdk, engine

ci(release): Release 0.167.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: bump wunderctl dependency in SDK to 0.167.0 (#1158)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

fix: nats subscriptions (#1155)
  go.mod
  go.sum
  packages/sdk/src/client/client.ts
  packages/sdk/src/definition/__snapshots__/nats-kv-introspection.test.ts.snap
  packages/sdk/src/definition/nats-kv-introspection.ts
  packages/testsuite/apps/nats-kv/.wundergraph/operations/gql_watch.graphql
  packages/testsuite/apps/nats-kv/.wundergraph/operations/gql_watch_all.graphql
  packages/testsuite/apps/nats-kv/nats-kv.test.ts
  packages/testsuite/apps/schema-extensions/test-setup.sh
  pkg/apihandler/apihandler.go
  pkg/datasources/nats/datasource.go
  pkg/datasources/nats/datasource_test.go
  pkg/querystring/querystring.go
  pkg/querystring/querystring_test.go
  testapps/default/.wundergraph/operations/kv/gql_subscribe.graphql
  testapps/default/.wundergraph/operations/kv/gql_update.graphql
  testapps/default/.wundergraph/operations/kv/gql_watch.graphql
Labels: npm, sdk, engine

chore: add detection for additional features (#1162)
  pkg/features/features.go
Labels: engine

chore: upgrade gin to fix security issues (#1167)
  go.mod
  go.sum
Labels: engine

feat: improve support for BigInt (#1165)
  go.mod
  go.sum
  packages/sdk/src/codegen/jsonschema.ts
  packages/sdk/src/codegen/templates/typescript/index.ts
  packages/sdk/src/definition/__snapshots__/openapi-introspection.test.ts.snap
  packages/sdk/src/definition/__snapshots__/soap-introspection.test.ts.snap
  packages/sdk/src/definition/openapi-introspection.ts
  packages/sdk/src/definition/soap-introspection.ts
  packages/sdk/src/graphql/operations.ts
  packages/testsuite/apps/nats-kv/nats-kv.test.ts
  packages/testsuite/apps/openapi/.wundergraph/operations/DeleteNote.graphql
  packages/testsuite/apps/openapi/.wundergraph/operations/NoteByID.graphql
  packages/testsuite/apps/openapi/openapi.test.ts
Labels: npm, sdk, engine

ci(release): Release 0.168.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: bump wunderctl dependency in SDK to 0.168.0 (#1168)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

feat: implement schema extension and replaceCustomScalarTypeFields fo… (#1169)
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/openapi-introspection.ts
  packages/testsuite/apps/nats-kv/nats-kv.test.ts
  packages/testsuite/apps/openapi/.wundergraph/api.yaml
  packages/testsuite/apps/openapi/.wundergraph/operations/NoteByID.graphql
  packages/testsuite/apps/openapi/.wundergraph/wundergraph.config.ts
  packages/testsuite/apps/openapi/openapi.test.ts
  packages/testsuite/apps/openapi/test-server.ts
Labels: npm, sdk

feat: nextjs app directory example (#1002)
  README.md
  docs-website/config/navigation.tsx
  docs-website/src/pages/docs/examples/nextjs-app-dir.md
  examples/nextjs-app-dir/.gitignore
  examples/nextjs-app-dir/.wundergraph/operations/addTodo.graphql
  examples/nextjs-app-dir/.wundergraph/operations/allTodos.graphql
  examples/nextjs-app-dir/.wundergraph/operations/updateTodo.graphql
  examples/nextjs-app-dir/.wundergraph/operations/users/get.ts
  examples/nextjs-app-dir/.wundergraph/operations/users/subscribe.ts
  examples/nextjs-app-dir/.wundergraph/operations/users/update.ts
  examples/nextjs-app-dir/.wundergraph/wundergraph.config.ts
  examples/nextjs-app-dir/.wundergraph/wundergraph.operations.ts
  examples/nextjs-app-dir/.wundergraph/wundergraph.server.ts
  examples/nextjs-app-dir/README.md
  examples/nextjs-app-dir/jest.config.ts
  examples/nextjs-app-dir/next.config.js
  examples/nextjs-app-dir/package.json
  examples/nextjs-app-dir/pages/api/graphql.ts
  examples/nextjs-app-dir/postcss.config.js
  examples/nextjs-app-dir/public/next.svg
  examples/nextjs-app-dir/public/vercel.svg
  examples/nextjs-app-dir/src/app/actions.ts
  examples/nextjs-app-dir/src/app/favicon.ico
  examples/nextjs-app-dir/src/app/globals.css
  examples/nextjs-app-dir/src/app/layout.tsx
  examples/nextjs-app-dir/src/app/page.tsx
  examples/nextjs-app-dir/src/components/Todo.tsx
  examples/nextjs-app-dir/src/lib/wundergraph/index.ts
  examples/nextjs-app-dir/tailwind.config.js
  examples/nextjs-app-dir/test/index.test.ts
  examples/nextjs-app-dir/tsconfig.json
  examples/nextjs-relay-todos/package.json
  examples/vite-svelte/tsconfig.json
Labels: none

fix: allow svelte 3 | 4 peer-dependency in @wundergraph/svelte-query … (#1160)
  packages/svelte-query/package.json
Labels: npm

docs: update docs on openapi (#1172)
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-openapi-rest-data-source.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/schema-extension-configuration.md
Labels: none

feat: add support for renaming root field response types (#1173)
  go.mod
  go.sum
  packages/sdk/src/codegen/generateoperations.ts
  packages/sdk/src/transformations/replaceCustomScalars.ts
  packages/sdk/tsconfig.json
  packages/testsuite/apps/openapi/.wundergraph/api.yaml
  packages/testsuite/apps/openapi/.wundergraph/operations/Reminders.graphql
  packages/testsuite/apps/openapi/.wundergraph/wundergraph.config.ts
  packages/testsuite/apps/openapi/openapi.test.ts
  packages/testsuite/apps/openapi/test-server.ts
Labels: npm, sdk, engine

ci(release): Release 0.169.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: fix link (#1174)
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-authorization.md
Labels: none

chore: update wunderctl dependency to 0.169.0 (#1175)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

fix: oidc token exchange (#1176)
  pkg/apihandler/apihandler.go
  pkg/authentication/oidc.go
Labels: engine

ci(release): Release 0.169.1
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: update wunderctl dependency to 0.169.1 (#1178)
  README.md
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

feat: add docs about .wundergraphignore (#1184)
  docs-website/config/navigation.tsx
  docs-website/src/pages/docs/cloud/wundergraph-ignore.md
  pnpm-lock.yaml
Labels: npm

chore: remove discourse link (#1185)
  packages/sdk/README.md
Labels: npm, sdk

chore: add notice for transform directive (#1181)
  docs-website/src/pages/docs/directives-reference/transform-directive.md
Labels: none

fix(mock-library): ensure to read req body only once (#1188)
  packages/sdk/src/testing/mock-server.test.ts
  packages/sdk/src/testing/mock-server.ts
  packages/sdk/src/testing/util.ts
  packages/testsuite/apps/mock/.wundergraph/operations/CountryWeather.graphql
  packages/testsuite/apps/mock/.wundergraph/wundergraph.config.ts
  packages/testsuite/apps/mock/test/api-joins.test.ts
Labels: npm, sdk

chore: otel example link in readme (#1189)
  README.md
Labels: none

fix: server logger missing cloud env bindings (#1191)
  packages/sdk/src/logger/index.ts
Labels: npm, sdk

fix: type error in generated jsonschema.ts file (#1190)
  packages/sdk/src/codegen/templates/typescript/jsonschema.template.ts
Labels: npm, sdk

ci(release): Release 0.169.2
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: update wunderctl dependency to 0.169.2 (#1192)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

fix: jsonschema template (#1194)
  packages/sdk/src/codegen/templates/typescript/jsonschema.template.ts
Labels: npm, sdk

fix: operation hooks not setup for openapi (#1204)
  docs-website/src/pages/docs/wundergraph-server-ts-reference/on-origin-request-hook.md
  packages/testsuite/apps/basic/index.test.ts
  pkg/apihandler/apitransport.go
Labels: npm, engine

fix: add prettier as a direct SDK dependency (#1205)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

ci(release): Release 0.169.3
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: update wunderctl dependency to 0.169.3 (#1206)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

feat(wunderctl): option to set host to bind to for debugging only (#1156)
  CONTRIBUTING.md
  cli/commands/up.go
  cli/helpers/server_runner.go
Labels: engine

fix: increase line buffer size when running a script from wunderctl (#1207)
  pkg/scriptrunner/scriptrunner.go
Labels: engine

fix: remove duplicated @removeNullVariables directive (#1208)
  go.mod
  go.sum
  pkg/datasources/database/datasource_test.go
Labels: engine

.github/labeler.yml:

npm:
  - 'packages/**/*'
  - 'pnpm-lock.yaml'
  - 'pnpm-workspace.yaml'
sdk:
  - 'packages/sdk/**/*'
wunderctl:
  - 'packages/wunderctl/**/*'
nextjs:
  - 'packages/nextjs/**/*'
types:
  - 'packages/protobuf/**/*'
engine:
  - 'pkg/**/*'
  - 'internal/*/*'
  - 'cmd/**/*'
  - 'cli/**/*'
  - 'go.mod'
  - 'go.sum'
