Repository adonis0302/WunderGr-Backend-API, changes with the labels that .github/labeler.yml gives for each.
All labels: npm, sdk, wunderctl, nextjs, types, engine

test: add integration tests for verified webhooks (#979)
  packages/testsuite/apps/basic/.wundergraph/webhooks/verified.ts
  packages/testsuite/apps/basic/.wundergraph/wundergraph.server.ts
  packages/testsuite/apps/basic/webhooks.test.ts
Labels: npm

chore: use docker example as source of truth (#990)
  docs-website/src/pages/docs/self-hosted/docker.md
Labels: none

feat: implement full text search (#989)
  docs-website/next.config.mjs
  docs-website/package.json
  docs-website/searchPlugin.mjs
  docs-website/src/components/FlexSearch.tsx
  docs-website/src/components/Modal.tsx
  docs-website/src/components/Search.tsx
  docs-website/src/components/highlight-matches.tsx
  docs-website/src/pages/docs/examples/nextjs-relay.md
  docs-website/src/pages/docs/examples/orm.md
  docs-website/src/pages/docs/examples/vite-react-relay.md
  docs-website/src/pages/docs/legacy/architecture-guide.md
  docs-website/src/pages/docs/legacy/cacheadvance-flush.md
  docs-website/src/pages/docs/legacy/cacheadvance-predict.md
  docs-website/src/pages/docs/legacy/cacheadvance-regret.md
  docs-website/src/pages/docs/legacy/cacheadvance-revert.md
  docs-website/src/pages/docs/legacy/compile-time-caching.md
  docs-website/src/pages/docs/legacy/design-principles.md
  docs-website/src/pages/docs/legacy/how-to-contribute.md
  docs-website/src/pages/docs/legacy/installation.md
  docs-website/src/pages/docs/legacy/introduction-to-string-theory.md
  docs-website/src/pages/docs/legacy/neuralink-integration.md
  docs-website/src/pages/docs/legacy/predicting-user-behavior.md
  docs-website/src/pages/docs/legacy/predictive-data-generation.md
  docs-website/src/pages/docs/legacy/temporal-paradoxes.md
  docs-website/src/pages/docs/legacy/testing.md
  docs-website/src/pages/docs/legacy/the-butterfly-effect.md
  docs-website/src/pages/docs/legacy/understanding-caching.md
  docs-website/src/pages/docs/legacy/writing-plugins.md
  docs-website/tailwind.config.js
  pnpm-lock.yaml
Labels: npm

feat: relay experimental Astro / SSG support (#971)
  README.md
  docs-website/config/navigation.tsx
  docs-website/src/pages/docs/clients-reference/react-relay.md
  docs-website/src/pages/docs/examples/astro-relay.md
  examples/astro-relay/.gitignore
  examples/astro-relay/.wundergraph/operations/Continents.graphql
  examples/astro-relay/.wundergraph/operations/Countries.graphql
  examples/astro-relay/.wundergraph/operations/relay/748a312cee04c08e4706dd20f73d9fcf.graphql
  examples/astro-relay/.wundergraph/operations/relay/99a23a4c1b068982455fe24523f36c83.graphql
  examples/astro-relay/.wundergraph/operations/relay/ac0bbf845a836254bf536ee2b069dd86.graphql
  examples/astro-relay/.wundergraph/operations/relay/fd5a5e5877d98599770ea376abe61fa2.graphql
  examples/astro-relay/.wundergraph/operations/relay/persisted.json
  examples/astro-relay/.wundergraph/operations/users/get.ts
  examples/astro-relay/.wundergraph/operations/users/subscribe.ts
  examples/astro-relay/.wundergraph/operations/users/update.ts
  examples/astro-relay/.wundergraph/wundergraph.config.ts
  examples/astro-relay/.wundergraph/wundergraph.operations.ts
  examples/astro-relay/.wundergraph/wundergraph.server.ts
  examples/astro-relay/README.md
  examples/astro-relay/astro.config.mjs
  examples/astro-relay/package.json
  examples/astro-relay/public/favicon.svg
  examples/astro-relay/src/__relay__generated__/.gitignore
  examples/astro-relay/src/components/ContinentName/ContinentName.astro
  examples/astro-relay/src/components/ContinentName/ContinentName.fragment.ts
  examples/astro-relay/src/components/CountryName/CountryName.astro
  examples/astro-relay/src/components/CountryName/CountryName.fragment.ts
  examples/astro-relay/src/env.d.ts
  examples/astro-relay/src/lib/wundergraph.ts
  examples/astro-relay/src/pages/continents.astro
  examples/astro-relay/src/pages/countries.astro
  examples/astro-relay/src/pages/index.astro
  examples/astro-relay/src/queries/ContinentsList.ts
  examples/astro-relay/src/queries/CountriesList.ts
  examples/astro-relay/tsconfig.json
  packages/react-relay/README.md
  packages/react-relay/src/createWunderGraphRelayApp.tsx
Labels: npm

feat: propagate authentication, client request and key headers between operations (#982)
  packages/sdk/src/client/client.ts
  packages/sdk/src/server/operations-client.ts
  packages/sdk/src/server/plugins/functions.ts
  packages/sdk/src/server/plugins/hooks.ts
  packages/sdk/src/server/plugins/webhooks.ts
  packages/sdk/src/server/server.ts
  packages/testsuite/apps/auth/.wundergraph/operations/claims/User.ts
  packages/testsuite/apps/auth/.wundergraph/operations/nested/UserFromTsToGraphQL.ts
  packages/testsuite/apps/auth/.wundergraph/operations/nested/UserFromTsToTs.ts
  packages/testsuite/apps/auth/.wundergraph/operations/nested/UserID.graphql
  packages/testsuite/apps/auth/.wundergraph/wundergraph.operations.ts
  packages/testsuite/apps/auth/.wundergraph/wundergraph.server.ts
  packages/testsuite/apps/auth/auth.test.ts
  packages/testsuite/apps/basic/.wundergraph/operations/falsy/boolean.ts
  packages/testsuite/apps/basic/.wundergraph/operations/falsy/number.ts
  packages/testsuite/apps/basic/.wundergraph/operations/falsy/string.ts
  packages/testsuite/apps/basic/.wundergraph/operations/requestid/fromTs.ts
  packages/testsuite/apps/basic/.wundergraph/operations/requestid/fromTsToGraphQL.ts
  packages/testsuite/apps/basic/.wundergraph/operations/requestid/graphql.graphql
  packages/testsuite/apps/basic/.wundergraph/operations/requestid/ts.ts
  packages/testsuite/apps/basic/.wundergraph/wundergraph.server.ts
  packages/testsuite/apps/basic/index.test.ts
  packages/testsuite/apps/basic/requestid.test.ts
  pkg/apihandler/apihandler.go
  pkg/apihandler/authentication.go
  pkg/apihandler/internalapihandler.go
  pkg/authentication/authentication.go
  pkg/node/node.go
Labels: npm, sdk, engine

fix: pass customFetch down to base client (#992)
  packages/sdk/src/server/operations-client.ts
Labels: npm, sdk

feat: add requireAuthentication directive (#994)
  docs-website/config/navigation.tsx
  docs-website/src/pages/docs/directives-reference/index.md
  docs-website/src/pages/docs/directives-reference/require-authentication-directive.md
  docs-website/src/pages/docs/features/authentication-aware-data-fetching.md
  packages/sdk/package.json
  packages/sdk/src/definition/__snapshots__/graphql-introspection.test.ts.snap
  packages/sdk/src/definition/__snapshots__/merge.test.ts.snap
  packages/sdk/src/definition/merge.ts
  packages/sdk/src/graphql/operations.ts
  packages/testsuite/apps/auth/.wundergraph/operations/echo/StringWithRequiredAuthentication.graphql
  packages/testsuite/apps/auth/.wundergraph/operations/echo/StringWithoutRequiredAuthentication.graphql
  packages/testsuite/apps/auth/.wundergraph/wundergraph.operations.ts
  packages/testsuite/apps/auth/auth.test.ts
Labels: npm, sdk

docs: add support for .npmrc file (#995)
  docs-website/config/navigation.tsx
  docs-website/src/pages/docs/cloud/private-npm-dependencies.md
Labels: none

feat: add tsup to build nextjs and swr packages (#993)
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/expo-swr/package.json
  examples/faunadb-nextjs/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/learn-wundergraph/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-clerk/package.json
  examples/nextjs-file-upload/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-todos/package.json
  examples/nextjs-typescript-functions/package.json
  examples/nextjs/package.json
  examples/rbac/package.json
  examples/vite-swr/package.json
  packages/nextjs/package.json
  packages/nextjs/src/auth-middleware.ts
  packages/nextjs/src/ssr-middleware.ts
  packages/nextjs/tsconfig.json
  packages/swr/package.json
  packages/swr/tests/hooks.test.tsx
  packages/swr/tsconfig.json
  pnpm-lock.yaml
  testapps/expo/package.json
  testapps/nextjs-relay/package.json
  testapps/nextjs/package.json
  testapps/vite/package.json
Labels: npm, nextjs

ci(release): Release 0.153.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: update wunderctl dependency to 0.153.0 (#996)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

docs: update support for private registry (#999)
  docs-website/src/pages/docs/cloud/private-npm-dependencies.md
Labels: none

feat: use Prometheus to track and expose operation and API request counts (#991)
  cli/helpers/process.go
  docs-website/config/navigation.tsx
  docs-website/src/pages/docs/architecture/wundergraph-conventions.md
  docs-website/src/pages/docs/guides/index.md
  docs-website/src/pages/docs/guides/monitoring-and-observability.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/configure-wundergraph-server-options.md
  go.mod
  go.sum
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/codegen/index.test.ts
  packages/sdk/src/configure/options.ts
  packages/sdk/src/configure/variables.ts
  packages/testsuite/apps/basic/prometheus.test.ts
  pkg/apihandler/api.go
  pkg/apihandler/apihandler.go
  pkg/apihandler/apitransport.go
  pkg/apihandler/internalapihandler.go
  pkg/apihandler/metrics.go
  pkg/apihandler/metrics_test.go
  pkg/loadvariable/loadvariable.go
  pkg/metrics/metrics.go
  pkg/metrics/none.go
  pkg/metrics/prometheus.go
  pkg/metrics/prometheus_counter.go
  pkg/metrics/prometheus_gauge.go
  pkg/metrics/prometheus_histogram.go
  pkg/metrics/prometheus_summary.go
  pkg/metrics/prometheus_test.go
  pkg/node/config.go
  pkg/node/node.go
  pkg/wgpb/wundernode_config.pb.go
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

chore: update mesh, add open api v2 introspection tests (#1001)
  packages/sdk/package.json
  packages/sdk/src/definition/__snapshots__/openapi-introspection.test.ts.snap
  packages/sdk/src/definition/__snapshots__/soap-introspection.test.ts.snap
  packages/sdk/src/definition/graphql-introspection.test.ts
  packages/sdk/src/definition/openapi-introspection.test.ts
  packages/sdk/src/definition/openapi-introspection.ts
  packages/sdk/src/definition/soap-introspection.test.ts
  packages/sdk/src/definition/testdata/graphql-introspection.json
  packages/sdk/src/definition/testdata/openapi/Looker.4.0.oas.json
  packages/sdk/src/definition/testdata/openapi/schemas/split_over_files_response_schema.yaml
  packages/sdk/src/definition/testdata/openapi/split_over_files.yaml
  packages/sdk/src/definition/testdata/openapi/spotify.yaml
  packages/sdk/src/definition/testdata/openapi/union-types.yaml
  packages/sdk/src/definition/testdata/soap/greeting.wsdl
  pnpm-lock.yaml
Labels: npm, sdk

fix: close prometheus metrics when reloading the server (#1003)
  pkg/metrics/metrics.go
  pkg/metrics/none.go
  pkg/metrics/prometheus.go
  pkg/node/node.go
Labels: engine

ci(release): Release 0.154.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: bump wunderctl dependency in SDK to 0.154.0 (#1005)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

fix: use Node.js fetch that supports web stream api (#1007)
  packages/sdk/package.json
  packages/sdk/src/client/client.ts
  packages/sdk/src/definition/graphql-introspection.test.ts
  packages/sdk/src/server/operations-client.test.ts
  packages/sdk/src/server/operations-client.ts
  pnpm-lock.yaml
Labels: npm, sdk

feat: use one web compatible fetch implementation on the server (#1016)
  packages/sdk/package.json
  packages/sdk/src/client/client.test.ts
  packages/sdk/src/server/operations-client.test.ts
  packages/sdk/src/server/operations-client.ts
  packages/sdk/src/server/plugins/omnigraphSOAP.ts
  pnpm-lock.yaml
Labels: npm, sdk

feat: add graphql enums to generated typescript model (#1015)
  packages/golang-client/src/index.ts
  packages/sdk/src/codegen/index.test.ts
  packages/sdk/src/codegen/jsonschema.ts
  packages/sdk/src/codegen/templates/index.ts
  packages/sdk/src/codegen/templates/typescript/__snapshots__/index.test.ts.snap
  packages/sdk/src/codegen/templates/typescript/index.test.ts
  packages/sdk/src/codegen/templates/typescript/index.ts
  packages/sdk/src/graphql/__snapshots__/operations.test.ts.snap
  packages/sdk/src/graphql/operations.ts
  packages/sdk/src/index.ts
  packages/testsuite/apps/basic/index.test.ts
Labels: npm, sdk

docs: update cache section of "Configure Introspection" document (#1014)
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-introspection.md
Labels: none

fix: hook server strictness (#1013)
  packages/sdk/src/server/server.ts
  testapps/nextjs/.wundergraph/wundergraph.server.ts
Labels: npm, sdk

fix: missing ts generator in nextjs package (#1021)
  packages/nextjs/src/template.ts
Labels: npm, nextjs

fix: infinite recursion when extracting enums (#1022)
  packages/sdk/src/codegen/index.test.ts
  packages/sdk/src/codegen/templates/typescript/__snapshots__/index.test.ts.snap
  packages/sdk/src/codegen/templates/typescript/index.ts
Labels: npm, sdk

ci(release): Release 0.155.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: bump wunderctl dependency in SDK to 0.155.0 (#1023)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

feat: fix replaceCustomScalars and add interface support (#1000)
  docs-website/config/navigation.tsx
  docs-website/src/pages/docs/examples/schema-extension.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-data-sources.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/schema-extension-configuration.md
  examples/schema-extension/.wundergraph/wundergraph.config.ts
  examples/schema-extension/README.md
  packages/sdk/src/db/introspection.test.ts
  packages/sdk/src/db/introspection.ts
  packages/sdk/src/definition/__snapshots__/index.test.ts.snap
  packages/sdk/src/definition/database-introspection.ts
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/graphql/configuration.test.ts
  packages/sdk/src/graphql/configuration.ts
  packages/sdk/src/transformations/replaceCustomScalars.test.ts
  packages/sdk/src/transformations/replaceCustomScalars.ts
  packages/sdk/src/transformations/transformSchema.ts
  packages/sdk/src/v2openapi/index.ts
  packages/testsuite/apps/openapi/openapi.test.ts
  packages/testsuite/apps/openapi/test-server.ts
  packages/testsuite/apps/schema-extensions/.gitignore
  packages/testsuite/apps/schema-extensions/.graphqlrc.yaml
  packages/testsuite/apps/schema-extensions/.wundergraph/operations/Characters.graphql
  packages/testsuite/apps/schema-extensions/.wundergraph/operations/CreateFriend.graphql
  packages/testsuite/apps/schema-extensions/.wundergraph/operations/FindUniqueUser.graphql
  packages/testsuite/apps/schema-extensions/.wundergraph/operations/UpsertUser.graphql
  packages/testsuite/apps/schema-extensions/.wundergraph/wundergraph.config.ts
  packages/testsuite/apps/schema-extensions/.wundergraph/wundergraph.operations.ts
  packages/testsuite/apps/schema-extensions/.wundergraph/wundergraph.server.ts
  packages/testsuite/apps/schema-extensions/docker-compose.yml
  packages/testsuite/apps/schema-extensions/graphql-server.ts
  packages/testsuite/apps/schema-extensions/schema-extensions.test.ts
  packages/testsuite/apps/schema-extensions/schema.prisma
  packages/testsuite/apps/schema-extensions/test-setup.sh
  packages/testsuite/apps/schema-extensions/test-setup.ts
  packages/testsuite/apps/schema-extensions/tsconfig.json
  packages/testsuite/database.env
  packages/testsuite/package.json
  packages/testsuite/vitest.workspace.ts
  pnpm-lock.yaml
Labels: npm, sdk

fix: fix schema extension test setup (#1027)
  packages/testsuite/apps/schema-extensions/.gitignore
  packages/testsuite/apps/schema-extensions/schema-extensions.test.ts
  packages/testsuite/apps/schema-extensions/test-setup.sh
  packages/testsuite/apps/schema-extensions/test-setup.ts
Labels: npm

fix: race condition when closing wunderctl in the middle of a reload (#1017)
  pkg/metrics/prometheus.go
Labels: engine

docs: add docs for preview environments (#1026)
  docs-website/config/navigation.tsx
  docs-website/package-lock.json
  docs-website/src/pages/docs/cloud/preview-environments.md
Labels: none

feat: make timeout during authentication configurable (#1018)
  docs-website/src/pages/docs/auth/cookie-based-auth/openid-connect/index.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-cookie-based-authentication.md
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/codegen/index.test.ts
  packages/sdk/src/configure/index.ts
  pkg/apihandler/apihandler.go
  pkg/authentication/github.go
  pkg/authentication/oidc.go
  pkg/wgpb/wundernode_config.pb.go
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

ci(release): Release 0.156.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: update wunderctl dependency to 0.156.0 (#1028)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

ci(release): Release 0.157.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: upgrade wunderctl in sdk
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: update extend json fields docs (#1030)
  docs-website/src/pages/docs/guides/extend-json-fields-with-more-specific-types.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/schema-extension-configuration.md
Labels: none

fix: use the right context.Context when reusing a resolve.Context in GetSharedFromRequest() (#1032)
  packages/testsuite/apps/orm/.wundergraph/operations/clientRequestContentLength.ts
  packages/testsuite/apps/orm/.wundergraph/wundergraph.server.ts
  packages/testsuite/apps/orm/orm.test.ts
  pkg/pool/pool.go
Labels: npm, engine

chore: fix otel variable panics (#1036)
  pkg/node/config.go
Labels: engine

ci(release): Release 0.157.1
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: update wunderctl dependency to 0.157.1 (#1037)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

.github/labeler.yml:

npm:
  - 'packages/**/*'
  - 'pnpm-lock.yaml'
  - 'pnpm-workspace.yaml'
sdk:
  - 'packages/sdk/**/*'
wunderctl:
  - 'packages/wunderctl/**/*'
nextjs:
  - 'packages/nextjs/**/*'
types:
  - 'packages/protobuf/**/*'
engine:
  - 'pkg/**/*'
  - 'internal/*/*'
  - 'cmd/**/*'
  - 'cli/**/*'
  - 'go.mod'
  - 'go.sum'
