Repository adonis0302/WunderGr-Backend-API, changes with the labels that .github/labeler.yml gives for each.
All labels: npm, sdk, wunderctl, nextjs, types, engine

.github/labeler.yml:

npm:
  - 'packages/**/*'
  - 'pnpm-lock.yaml'
  - 'pnpm-workspace.yaml'
sdk:
  - 'packages/sdk/**/*'
wunderctl:
  - 'packages/wunderctl/**/*'
nextjs:
  - 'packages/nextjs/**/*'
types:
  - 'packages/protobuf/**/*'
engine:
  - 'pkg/**/*'
  - 'internal/*/*'
  - 'cmd/**/*'
  - 'cli/**/*'
  - 'go.mod'
  - 'go.sum'

chore: bump wunderctl
  pnpm-lock.yaml
Labels: npm

chore: improve wunderctl build from Makefile (#233)
  Makefile
Labels: none

chore: enable linting for Go files using golangci-lint (#242)
  .github/workflows/engine-ci.yaml
  .golangci.yml
  cli/commands/add.go
  cli/commands/install-prisma-dependencies.go
  cli/commands/login.go
  cli/commands/mongodb.go
  cli/commands/mysql.go
  cli/commands/planetscale.go
  cli/commands/postgres.go
  cli/commands/publish.go
  cli/commands/remove.go
  cli/commands/root.go
  cli/commands/sqlite.go
  cli/commands/sqlserver.go
  cli/commands/userinfo.go
  pkg/apicache/apicache.go
  pkg/apihandler/apihandler.go
  pkg/apihandler/apihandler_test.go
  pkg/apihandler/apitransport.go
  pkg/apihandler/internalapihandler.go
  pkg/authentication/authentication.go
  pkg/bundler/bundler.go
  pkg/cli/auth/auth.go
  pkg/config/config.go
  pkg/customhttpclient/customhttpclient.go
  pkg/datasources/database/datasource.go
  pkg/datasources/database/engine.go
  pkg/datasources/database/engine_test.go
  pkg/datasources/database/introspection_cgo.go
  pkg/datasources/oas/oas_datasource.go
  pkg/engineconfigloader/engineconfigloader.go
  pkg/manifest/manifest.go
  pkg/manifest/manifest_test.go
  pkg/node/node.go
  pkg/pool/pool.go
  pkg/s3uploadclient/s3uploadclient_test.go
  pkg/validate/validator_test.go
  pkg/watcher/watcher.go
  pkg/webhookhandler/webhookhandler.go
Labels: engine

fix: automatically rename subscription object fields for oas (#246)
  packages/sdk/src/v2openapi/__snapshots__/index.test.ts.snap
  packages/sdk/src/v2openapi/index.test.ts
  packages/sdk/src/v2openapi/index.ts
  packages/sdk/src/v2openapi/testdata/oas_with_subscription.yaml
Labels: npm, sdk

chore: add formatting and ci tools for go (#247)
  Makefile
  scripts/setup-dev.sh
Labels: none

fix: update go tools to properly resolve optional entities (#250)
  examples/apollo-federation/.wundergraph/wundergraph.config.ts
  go.mod
  go.sum
Labels: engine

ci(release): release 0.111.4
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: update wunderctl wrapper
  packages/sdk/package.json
Labels: npm, sdk

chore: update wunderctl wrapper
  pnpm-lock.yaml
Labels: npm

fix: incorrect go code generated from JSON models (#249)
  .github/workflows/packages-ci.yaml
  packages/golang-client/src/index.ts
Labels: npm

feat: refactor cache handling, move storage out of generated (#238)
  .gitignore
  .prettierignore
  cli/commands/generate.go
  cli/commands/root.go
  cli/commands/up.go
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-introspection.md
  examples/apollo-federation/.gitignore
  examples/auth0-oidc-authentication/.gitignore
  examples/caching/.gitignore
  examples/cross-api-joins/.gitignore
  examples/faunadb-nextjs/.gitignore
  examples/fragments/.gitignore
  examples/golang-client/.gitignore
  examples/graphql-sse-subscriptions/.gitignore
  examples/graphql-yoga-sse-subscriptions/.gitignore
  examples/hooks/.gitignore
  examples/inject-bearer/.gitignore
  examples/keycloak-oidc-authentication/.gitignore
  examples/migrate-from-apollo/.gitignore
  examples/nextjs-postgres-prisma/.gitignore
  examples/nextjs-postgres-user-filters/.gitignore
  examples/nextjs-swr/.gitignore
  examples/nextjs/.gitignore
  examples/postgres/.gitignore
  examples/publish-install-api/.gitignore
  examples/rbac/.gitignore
  examples/simple/.gitignore
  examples/webhooks/.gitignore
  packages/sdk/src/definition/index.ts
  packages/sdk/src/definition/introspection-cache.ts
  testapps/default/.gitignore
  testapps/mtls/.gitignore
  testapps/nextjs/.gitignore
  testapps/postgres/.gitignore
Labels: npm, sdk, engine

refactor: start node and server in the same way as with separate comm… (#239)
  cli/commands/node.go
  cli/commands/root.go
  cli/commands/server.go
  cli/commands/start.go
  cli/commands/up.go
  pkg/node/node.go
  pkg/scriptrunner/scriptrunner.go
  testapps/default/package.json
Labels: engine

fix: live query support in generated web client (#248)
  packages/sdk/src/codegen/templates/typescript/web.client.template.ts
Labels: npm, sdk

fix: upgrade fsnotify and esbuild (#253)
  go.mod
  go.sum
Labels: engine

fix: typos in example name and missing .gitignore files (#252)
  examples/graphql-apollo-subscriptions/.gitignore
  examples/graphql-apollo-subscriptions/.wundergraph/.graphqlconfig
  examples/graphql-apollo-subscriptions/.wundergraph/operations/Chat.graphql
  examples/graphql-apollo-subscriptions/.wundergraph/wundergraph.config.ts
  examples/graphql-apollo-subscriptions/.wundergraph/wundergraph.operations.ts
  examples/graphql-apollo-subscriptions/.wundergraph/wundergraph.server.ts
  examples/graphql-apollo-subscriptions/README.md
  examples/graphql-apollo-subscriptions/chat/generated.go
  examples/graphql-apollo-subscriptions/chat/go.mod
  examples/graphql-apollo-subscriptions/chat/go.sum
  examples/graphql-apollo-subscriptions/chat/handler.go
  examples/graphql-apollo-subscriptions/chat/models_gen.go
  examples/graphql-apollo-subscriptions/chat/resolvers.go
  examples/graphql-apollo-subscriptions/chat/schema.graphql
  examples/graphql-apollo-subscriptions/chat/server/server.go
  examples/graphql-apollo-subscriptions/package.json
  examples/graphql-apollo-subscriptions/tsconfig.json
  examples/graphql-hasura-subscriptions/.gitignore
  examples/graphql-ws-subscriptions/.gitignore
Labels: none

fix: regression resolving header variables (#255)
  go.mod
  go.sum
Labels: engine

fix: correctly generate typenames for nested array objects (#257)
  packages/sdk/src/v2openapi/__snapshots__/index.test.ts.snap
  packages/sdk/src/v2openapi/index.test.ts
  packages/sdk/src/v2openapi/index.ts
  packages/sdk/src/v2openapi/testdata/non_alphanumeric_fields.yaml
Labels: npm, sdk

feat: add configurable per-source timeouts (#232)
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-graphql-data-source.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-openapi-rest-data-source.md
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/codegen/index.test.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/configure/options.ts
  packages/sdk/src/definition/__snapshots__/index.test.ts.snap
  packages/sdk/src/definition/__snapshots__/merge.test.ts.snap
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/definition/merge.test.ts
  packages/sdk/src/definition/merge.ts
  packages/sdk/src/transformations/index.test.ts
  packages/sdk/src/v2openapi/__snapshots__/index.test.ts.snap
  packages/sdk/src/v2openapi/index.ts
  pkg/apihandler/api.go
  pkg/apihandler/apihandler.go
  pkg/apihandler/apitransport.go
  pkg/datasources/database/datasource.go
  pkg/datasources/oas/oas_datasource.go
  pkg/engineconfigloader/engineconfigloader.go
  pkg/node/config.go
  pkg/wgpb/wundernode_config.pb.go
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

feat: re-export SWR to prevent context issues (#264)
  docs-website/src/pages/docs/examples/nextjs-swr.md
  packages/swr/README.md
  packages/swr/src/index.ts
  pnpm-lock.yaml
  testapps/nextjs/package.json
  testapps/nextjs/pages/swr.tsx
Labels: npm

feat: subscriptions, ws connection init hook (#243)
  go.mod
  go.sum
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/codegen/templates/typescript/hooks.template.ts
  packages/sdk/src/codegen/templates/typescript/hooks.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/definition/__snapshots__/index.test.ts.snap
  packages/sdk/src/definition/__snapshots__/merge.test.ts.snap
  packages/sdk/src/definition/federation-introspection.ts
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/definition/merge.test.ts
  packages/sdk/src/index.ts
  packages/sdk/src/middleware/plugins/hooks.test.ts
  packages/sdk/src/middleware/plugins/hooks.ts
  packages/sdk/src/middleware/types.ts
  packages/sdk/src/transformations/index.test.ts
  pkg/engineconfigloader/engineconfigloader.go
  pkg/hooks/hooks.go
  pkg/node/node.go
  pkg/node/node_test.go
  pkg/wgpb/wundernode_config.pb.go
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

feat: add ability for the user to comment on the documentation (#254)
  docs-website/.env.example
  docs-website/package.json
  docs-website/src/components/Comments.tsx
  docs-website/src/components/Layout.jsx
  docs-website/src/components/ThemeSelector.jsx
  docs-website/src/pages/_app.jsx
  pnpm-lock.yaml
Labels: npm

fix: fix mutations are possibly undefined (#265)
  packages/sdk/src/codegen/templates/typescript/internal.client.template.ts
  packages/sdk/src/middleware/internal-client.ts
Labels: npm, sdk

feat: align logging format hooks server and (#240)
  cli/commands/generate.go
  cli/commands/node.go
  cli/commands/root.go
  cli/commands/server.go
  cli/commands/up.go
  cli/helpers/env.go
  cli/helpers/flags.go
  cli/helpers/server_runner.go
  docs-website/src/pages/docs/architecture/wundergraph-conventions.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-wundernode-options.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/configure-wundergraph-server-options.md
  docs/migrations/sdk-0.115.0-0.116.0.md
  docs/migrations/wunderctl-0.112.0.md
  packages/golang-client/src/index.ts
  packages/sdk/package.json
  packages/sdk/src/codegen/index.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/configure/options.ts
  packages/sdk/src/configure/variables.ts
  packages/sdk/src/db/introspection.ts
  packages/sdk/src/definition/federation-introspection.ts
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/introspection-cache.ts
  packages/sdk/src/graphql/operations.ts
  packages/sdk/src/index.ts
  packages/sdk/src/internal/index.ts
  packages/sdk/src/linkbuilder/index.test.ts
  packages/sdk/src/logger/index.ts
  packages/sdk/src/middleware/logger.ts
  packages/sdk/src/middleware/server.ts
  packages/sdk/src/v2openapi/index.ts
  packages/sdk/src/webhooks/types.ts
  packages/sdk/src/wunderctlexec/index.ts
  pkg/apihandler/api.go
  pkg/logging/logging.go
  pkg/node/config.go
  pkg/node/node.go
  pkg/node/node_test.go
  pnpm-lock.yaml
Labels: npm, sdk, engine

feat: improvements to "getting started" docs page (#261)
  cli/commands/init.go
  docs-website/README.md
  docs-website/src/pages/getting-started.md
  pkg/templates/templates.go
Labels: engine

ci(release): release 0.112.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: dont trigger on tags, upgrade wunderctl
  .github/workflows/engine-ci.yaml
  .github/workflows/packages-ci.yaml
  packages/sdk/package.json
Labels: npm, sdk

chore: update lock
  pnpm-lock.yaml
Labels: npm

chore: update examples
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/faunadb-nextjs/package.json
  examples/fragments/package.json
  examples/golang-client/package.json
  examples/graphql-apollo-subscriptions/package.json
  examples/graphql-hasura-subscriptions/package.json
  examples/graphql-sse-subscriptions/package.json
  examples/graphql-ws-subscriptions/package.json
  examples/graphql-yoga-sse-subscriptions/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-swr/package.json
  examples/nextjs/package.json
  examples/postgres/package.json
  examples/publish-install-api/package.json
  examples/rbac/package.json
  examples/simple/package.json
  examples/webhooks/package.json
  pkg/templates/assets/templates/application/.gitignore
  pkg/templates/assets/templates/application/package.json
  pkg/templates/assets/templates/nextjs-postgres-starter/.gitignore
  pkg/templates/assets/templates/nextjs-postgres-starter/package.json
  pkg/templates/assets/templates/nextjs-starter/.gitignore
  pkg/templates/assets/templates/nextjs-starter/package.json
  pkg/templates/assets/templates/publish-api/.gitignore
  pkg/templates/assets/templates/publish-api/package.json
Labels: engine

docs: add cors wildcard example (#269)
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-cors.md
Labels: none

fix: make error handling in IntrospectPrismaDatabaseSchema more robust (#267)
  pkg/datasources/database/engine.go
Labels: engine

feat: allows node to sleep after an idle timeout (#256)
  cli/commands/node.go
  cli/commands/start.go
  pkg/httpidletimeout/httpidletimeout.go
  pkg/httpidletimeout/httpidletimeout_test.go
  pkg/node/node.go
Labels: engine

ci(release): release 0.113.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: upgrade wunderctl
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: update examples to latest sdk
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/faunadb-nextjs/package.json
  examples/fragments/package.json
  examples/golang-client/package.json
  examples/graphql-apollo-subscriptions/package.json
  examples/graphql-hasura-subscriptions/package.json
  examples/graphql-sse-subscriptions/package.json
  examples/graphql-ws-subscriptions/package.json
  examples/graphql-yoga-sse-subscriptions/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-swr/package.json
  examples/nextjs/package.json
  examples/postgres/package.json
  examples/publish-install-api/package.json
  examples/rbac/package.json
  examples/simple/package.json
  examples/webhooks/package.json
  pkg/templates/assets/templates/application/package.json
  pkg/templates/assets/templates/nextjs-postgres-starter/package.json
  pkg/templates/assets/templates/nextjs-starter/package.json
  pkg/templates/assets/templates/publish-api/package.json
Labels: engine

fix: exit node process when parent exited (#271)
  cli/commands/up.go
  packages/sdk/src/definition/introspection-cache.ts
  packages/sdk/src/middleware/server.ts
  packages/sdk/src/utils/process.ts
Labels: npm, sdk, engine

feat: make WunderGraphConfigApplicationConfig.cors optional (#270)
  packages/sdk/src/configure/index.ts
Labels: npm, sdk

fix: remove accidentally left Println() (#273)
  pkg/datasources/database/engine.go
Labels: engine

feat: add announcement banner (#276)
  docs-website/package.json
  docs-website/src/components/AnnouncementBanner.tsx
  docs-website/src/components/Layout.jsx
  docs-website/src/pages/_app.jsx
  docs-website/src/utils/analytics.ts
  pnpm-lock.yaml
Labels: npm

feat: subscriptions, operation hooks (#260)
  docs-website/config/navigation.js
  docs-website/src/pages/docs/wundergraph-server-ts-reference/index.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/mutating-post-resolve-hook.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/mutating-pre-resolve-hook.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/post-resolve-hook.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/pre-resolve-hook.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/ws-transport-connection-init-hook.md
  packages/sdk/src/codegen/templates/typescript/hooks.template.ts
  packages/sdk/src/codegen/templates/typescript/hooks.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/middleware/plugins/hooks.test.ts
  packages/sdk/src/middleware/plugins/hooks.ts
  packages/sdk/src/middleware/types.ts
  pkg/apihandler/apihandler.go
  pkg/engineconfigloader/engineconfigloader.go
  pkg/hooks/hooks.go
Labels: npm, sdk, engine

feat: healthcheck, node and hooks server (#274)
  cli/commands/node.go
  cli/commands/start.go
  packages/sdk/src/middleware/server.ts
  pkg/hooks/hooks.go
  pkg/node/buildinfo.go
  pkg/node/node.go
Labels: npm, sdk, engine
