Repository adonis0302/WunderGr-Backend-API, changes with the labels that .github/labeler.yml gives for each.
All labels: npm, sdk, wunderctl, nextjs, types, engine

chore: fix typo in nextjs examples doc (#1212)
  docs-website/src/pages/docs/examples/nextjs.md
Labels: none

feat: make GraphQL playground available in more scenarios without additional configuration (#1211)
  pkg/apihandler/graphql.go
Labels: engine

fix: allow setting logging levels from command line (#1141)
  cli/commands/node.go
  cli/commands/root.go
  cli/commands/server.go
  cli/commands/up.go
  cli/helpers/env.go
  cli/helpers/flags.go
  cli/helpers/server_runner.go
  docs/migrations/wunderctl-0.170.0.md
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/configure/options.ts
  packages/sdk/src/logger/index.ts
  packages/sdk/src/testing/test-server.ts
  packages/sdk/src/wunderctlexec/index.ts
  pkg/logging/logging.go
  pkg/node/node_test.go
  pkg/wgpb/wundernode_config.pb.go
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

ci(release): Release 0.170.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: bump wunderctl dependency in SDK to 0.170.0 (#1213)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

fix: use json-stream-stringify to encode potentially big JSON payloads (#1209)
  packages/sdk/package.json
  packages/sdk/src/definition/introspection-cache.ts
  packages/sdk/src/localcache/index.ts
  packages/sdk/src/utils/tojson.test.ts
  packages/sdk/src/utils/tojson.ts
  pnpm-lock.yaml
Labels: npm, sdk

fix: allow operations that don't require authentication to work with authenticated users (#1163)
  packages/sdk/src/client/client.ts
  pkg/authentication/authentication.go
Labels: npm, sdk, engine

feat: continue generation on graphql validation failures during development (#1216)
  cli/commands/root.go
  cli/commands/up.go
  packages/sdk/src/graphql/operations.ts
Labels: npm, sdk, engine

chore(docs-legal): update and rename license file (#1186)
  LICENSE.COMMUNITY.md
  LICENSE.ENTERPRISE.md
  packages/sdk/src/enterprise/advanced-hooks/README.md
  packages/sdk/src/enterprise/advanced-hooks/codegen.template.ts
  packages/sdk/src/enterprise/advanced-hooks/codegen.ts
  packages/sdk/src/enterprise/advanced-hooks/http-transport.ts
  packages/sdk/src/enterprise/advanced-hooks/index.ts
  packages/sdk/src/enterprise/advanced-hooks/merge.ts
  packages/sdk/src/enterprise/datasources/soap.ts
  pkg/hooks/types.go
Labels: npm, sdk, engine

ci(release): Release 0.171.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: bump wunderctl dependency in SDK to 0.171.0 (#1219)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: bump mesh related dependencies to 0.94.6 to fix warnings (#1222)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

fix: avoid printing an extra line when a child command exits (#1225)
  pkg/scriptrunner/scriptrunner.go
Labels: engine

feat: implement new console UI (#1224)
  cli/commands/root.go
  cli/commands/up.go
  go.mod
  go.sum
  pkg/cui/cui.go
  pkg/restart/restart.go
Labels: engine

chore: add docs v3 folder to fix ci (#1238)
  docs-websitev3/index.html
  docs-websitev3/package-lock.json
  docs-websitev3/package.json
Labels: none

fix: broken link in readme file for architecture doc (#1220)
  README.md
Labels: none

chore: rename auth entry (#1236)
  packages/sdk/package.json
  pnpm-lock.yaml
  testapps/nextjs-integrations/wundergraph/wundergraph.config.ts
Labels: npm, sdk

chore: make openapi debug messages log at debug level (#1226)
  packages/sdk/src/server/server.ts
Labels: npm, sdk

fix: wait for the poll interval when a function returns the same output to a live query (#1239)
  packages/testsuite/apps/basic/.wundergraph/operations/functions/trigger-livequery-bug.ts
  packages/testsuite/apps/basic/livequery.test.ts
  pkg/apihandler/apihandler.go
Labels: npm, engine

fix: remove duplicate WriteHeader calls (#1240)
  pkg/apihandler/apihandler.go
Labels: engine

fix: make sure a function's input is always non null (#1242)
  packages/sdk/src/server/plugins/functions.ts
Labels: npm, sdk

feat: multipart plugin in webhooks (#1227)
  packages/sdk/package.json
  packages/sdk/src/server/plugins/webhooks.ts
  pnpm-lock.yaml
Labels: npm, sdk

fix: close http Response Body when a function operation call returns an error (#1241)
  pkg/hooks/hooks.go
Labels: engine

fix: don't force redirect to HTTP when redirecting to HTTPS is not forced (#1243)
  pkg/authentication/oauth2.go
Labels: engine

fix: don't interfere with terminal after running wunderctl up (#1245)
  cli/commands/up.go
  pkg/apihandler/apihandler_test.go
  pkg/cui/cui.go
Labels: engine

ci(release): Release 0.172.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: bump wunderctl dependency in SDK to 0.172.0 (#1246)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

ci: add linter to detect unclosed http.Response bodies (#1244)
  .golangci.yml
  pkg/apihandler/apihandler_test.go
  pkg/cacheheaders/cacheheaders_test.go
  pkg/datasources/database/engine.go
  pkg/datasources/database/fetch_engine_test.go
  pkg/hooks/hooks.go
  pkg/node/node_test.go
  pkg/trace/transport_test.go
Labels: engine

fix: string email_verified fields from sign in with apple (#1247)
  pkg/authentication/authentication.go
  pkg/authentication/oidc.go
Labels: engine

chore: lock version to fix type issue on docs website (#1252)
  docs-website/package-lock.json
  docs-website/package.json
Labels: none

chore: update lockfile and run tests on change (#1253)
  .github/workflows/packages-ci.yaml
  .github/workflows/required_checks_dummy.yaml
  pnpm-lock.yaml
Labels: npm

chore: split create-wg-app tests, increase timeout (#1251)
  packages/create-wundergraph-app/src/helpers/download.ts
  packages/create-wundergraph-app/src/tests/index.test.ts
  packages/testsuite/apps/nats-kv/nats-kv.test.ts
  pkg/authentication/authentication.go
  pkg/hooks/hooks.go
Labels: npm, engine

feat: use GitHub API instead of tarballs when downloading examples (#1256)
  packages/create-wundergraph-app/src/helpers/download.ts
  packages/create-wundergraph-app/src/helpers/getRepository.ts
Labels: npm

chore: disable nats 2 tests (#1257)
  packages/testsuite/apps/nats-kv/nats-kv.test.ts
Labels: npm

fix: wunderctl start --debug (#1254)
  cli/commands/root.go
  cli/commands/server.go
  cli/commands/up.go
Labels: engine

fix: test-d tests in sdk (#1249)
  packages/sdk/package.json
  packages/sdk/src/server/operations-client.ts
  packages/sdk/src/server/server.ts
  packages/sdk/src/server/types.ts
  packages/sdk/test-d/operations-client.test-d.ts
  packages/sdk/test-d/operations.test-d.ts
  packages/sdk/test-d/server.test-d.ts
  packages/sdk/test-d/webhook-factory.test-d.ts
Labels: npm, sdk

feat: propagate error messages from functions/hooks to API responses (#1248)
  cli/helpers/server_runner.go
  packages/sdk/src/client/errors.ts
  packages/sdk/src/server/error.ts
  packages/sdk/src/server/plugins/hooks.ts
  packages/sdk/src/server/server.ts
  packages/testsuite/apps/hooks/.wundergraph/wundergraph.server.ts
  pkg/apihandler/apihandler.go
  pkg/apihandler/errorhandler.go
  pkg/apihandler/internalapihandler.go
  pkg/hooks/authentication.go
  pkg/hooks/hooks.go
  pkg/node/node.go
Labels: npm, sdk, engine

feat: add support for server ping during subscription idle times (#1234)
  docs-website/src/pages/docs/architecture/wundergraph-conventions.md
  packages/sdk/src/client/client.ts
  packages/testsuite/apps/basic/.wundergraph/operations/subscriptions/counter.ts
  packages/testsuite/apps/basic/subscriptions.test.ts
  pkg/apihandler/api.go
  pkg/apihandler/apihandler.go
  pkg/apihandler/apihandler_test.go
  pkg/apihandler/graphql.go
  pkg/apihandler/internalapihandler.go
  pkg/hooks/hooks.go
  pkg/hooks/pipeline.go
  pkg/node/config.go
Labels: npm, sdk, engine

ci(release): Release 0.173.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: bump wunderctl dependency in SDK to 0.173.0 (#1258)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

.github/labeler.yml:

npm:
  - 'packages/**/*'
  - 'pnpm-lock.yaml'
  - 'pnpm-workspace.yaml'
sdk:
  - 'packages/sdk/**/*'
wunderctl:
  - 'packages/wunderctl/**/*'
nextjs:
  - 'packages/nextjs/**/*'
types:
  - 'packages/protobuf/**/*'
engine:
  - 'pkg/**/*'
  - 'internal/*/*'
  - 'cmd/**/*'
  - 'cli/**/*'
  - 'go.mod'
  - 'go.sum'
