Repository adonis0302/WunderGr-Backend-API, changes with the labels that .github/labeler.yml gives for each.
All labels: npm, sdk, wunderctl, nextjs, types, engine

.github/labeler.yml:

npm:
  - 'packages/**/*'
  - 'pnpm-lock.yaml'
  - 'pnpm-workspace.yaml'
sdk:
  - 'packages/sdk/**/*'
wunderctl:
  - 'packages/wunderctl/**/*'
nextjs:
  - 'packages/nextjs/**/*'
types:
  - 'packages/protobuf/**/*'
engine:
  - 'pkg/**/*'
  - 'internal/*/*'
  - 'cmd/**/*'
  - 'cli/**/*'
  - 'go.mod'
  - 'go.sum'

chore: improve example
  examples/nextjs-swr/pages/authentication.tsx
Labels: none

chore: improve example
  examples/nextjs-swr/pages/ssr.tsx
Labels: none

chore: improve example
  examples/nextjs-swr/pages/authentication.tsx
Labels: none

chore: fix signals handling for cli up (#202)
  cli/commands/root.go
  cli/commands/up.go
  cli/helpers/process.go
  go.mod
  go.sum
  pkg/node/node.go
Labels: engine

fix: avoid logging file contents during uploads (#201) (#203)
  pkg/apihandler/apihandler.go
  pkg/apihandler/apihandler_test.go
Labels: engine

ci(release): release 0.110.2
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: update wunderctl (#205)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: update docs on secrets
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-cookie-based-authentication.md
Labels: none

chore: improve readme
  packages/swr/README.md
Labels: npm

fix(cache): dont print dev messages in prod mode (#208)
  packages/sdk/src/definition/index.ts
Labels: npm, sdk

fix(codegen): resolve template dependencies recursively (#209)
  packages/sdk/src/codegen/index.test.ts
  packages/sdk/src/codegen/index.ts
  packages/sdk/src/codegen/templates/typescript/__snapshots__/index.test.ts.snap
  packages/sdk/src/codegen/templates/typescript/client.ts
  packages/sdk/src/codegen/templates/typescript/hooks.ts
  packages/sdk/src/codegen/templates/typescript/index.test.ts
  packages/sdk/src/codegen/templates/typescript/internal.client.ts
  packages/sdk/src/codegen/templates/typescript/webhooks.ts
Labels: npm, sdk

chore: improve onboarding
  CONTRIBUTING.md
  scripts/check-setup.sh
Labels: none

fix: allow to configure internal and public node urls separately (#207)
  docs-website/config/tags.js
  docs-website/src/pages/docs/architecture/wundergraph-conventions.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-wundernode-options.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/configure-wundergraph-server-options.md
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/codegen/index.test.ts
  packages/sdk/src/codegen/templates/typescript/client.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/configure/options.ts
  pkg/apihandler/api.go
  pkg/apihandler/apihandler.go
  pkg/node/config.go
  pkg/node/node.go
  pkg/wgpb/wundernode_config.pb.go
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

chore: update log msg (#212)
  pkg/node/node.go
Labels: engine

docs: added flyio deployment instructions (#163)
  docs-website/config/navigation.js
  docs-website/src/pages/docs/deployment/flyio.md
Labels: none

Update README.md
  README.md
Labels: none

fix(authentication): userInfoEndpoint should be optional for token auth providers (#216)
  pkg/authentication/authentication.go
Labels: engine

feat: add graphql introspection middleware (#214)
  docs-website/config/tags.js
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-apollo-federation-data-source.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-graphql-data-source.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-introspection.md
  packages/sdk/src/definition/__snapshots__/index.test.ts.snap
  packages/sdk/src/definition/federation-introspection.ts
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/headers-builder.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/definition/introspection-cache.ts
  packages/sdk/src/graphql/federation.ts
  packages/sdk/src/v2openapi/index.ts
Labels: npm, sdk

fix: sync path of prisma introspection and prisma runtime (#220)
  Makefile
  cli/commands/add.go
  cli/commands/generate.go
  cli/commands/install-prisma-dependencies.go
  cli/commands/mongodb.go
  cli/commands/mysql.go
  cli/commands/node.go
  cli/commands/planetscale.go
  cli/commands/postgres.go
  cli/commands/publish.go
  cli/commands/remove.go
  cli/commands/root.go
  cli/commands/server.go
  cli/commands/sqlite.go
  cli/commands/sqlserver.go
  cli/commands/start.go
  cli/commands/up.go
  go.mod
  go.sum
  pkg/datasources/database/datasource.go
  pkg/datasources/database/engine.go
  pkg/datasources/database/hybrid_engine.go
  pkg/datasources/database/hybrid_engine_binary.go
  pkg/datasources/database/introspection.go
  pkg/engineconfigloader/engineconfigloader.go
  pkg/node/node.go
  pkg/node/node_test.go
  testapps/default/.wundergraph/Chinook.sqlite
  testapps/default/.wundergraph/db.sqlite
  testapps/default/.wundergraph/operations/Albums.graphql
  testapps/default/.wundergraph/wundergraph.config.ts
Labels: engine

feat: sse subscriptions configuration (#217)
  go.mod
  go.sum
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/definition/__snapshots__/index.test.ts.snap
  packages/sdk/src/definition/__snapshots__/merge.test.ts.snap
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/definition/merge.test.ts
  packages/sdk/src/transformations/index.test.ts
  pkg/apihandler/apitransport.go
  pkg/engineconfigloader/engineconfigloader.go
  pkg/wgpb/wundernode_config.pb.go
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

ci(release): release 0.111.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

fix: synchronize prisma install for multiple prisma datasources (#222)
  packages/sdk/src/db/introspection.ts
Labels: npm, sdk

chore: wunderctl, update (#221)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: update, graphql-go-tools (#223)
  go.mod
  go.sum
Labels: engine

ci(release): release 0.111.1
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: wunderctl, update (#224)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

fix: re-enable to specify wundergraph dir via arg (#226)
  cli/commands/generate.go
  cli/commands/up.go
  packages/sdk/src/wunderctlexec/index.ts
  pnpm-lock.yaml
Labels: npm, sdk, engine

ci(release): release 0.111.2
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: sync wunderctl
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

fix: introspection, infinite loop in file changes (#230)
  packages/sdk/src/definition/__snapshots__/index.test.ts.snap
  packages/sdk/src/definition/graphql-introspection.ts
Labels: npm, sdk

fix(sdk): add fastify route only if the hook is configured (#204)
  packages/sdk/src/codegen/templates/typescript/hooks.template.ts
  packages/sdk/src/codegen/templates/typescript/internal.client.template.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/index.ts
  packages/sdk/src/middleware/internal-client.ts
  packages/sdk/src/middleware/plugins/hooks.test.ts
  packages/sdk/src/middleware/plugins/hooks.ts
  packages/sdk/src/middleware/server.ts
  packages/sdk/src/middleware/types.ts
  packages/sdk/src/webhooks/types.ts
  pnpm-lock.yaml
Labels: npm, sdk

chore: add introspection fetcher with retries (#231)
  packages/sdk/package.json
  packages/sdk/src/definition/federation-introspection.ts
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/introspection-fetcher.ts
  pnpm-lock.yaml
Labels: npm, sdk

chore: update examples
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/faunadb-nextjs/package.json
  examples/fragments/package.json
  examples/golang-client/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-swr/package.json
  examples/nextjs/package.json
  examples/postgres/package.json
  examples/publish-install-api/package.json
  examples/rbac/package.json
  examples/simple/package.json
  examples/webhooks/package.json
  pkg/templates/assets/templates/application/package.json
  pkg/templates/assets/templates/nextjs-postgres-starter/package.json
  pkg/templates/assets/templates/nextjs-starter/next.config.js
  pkg/templates/assets/templates/nextjs-starter/package.json
  pkg/templates/assets/templates/publish-api/package.json
Labels: engine

fix: generate outfile directory should be consistent (#228)
  cli/commands/generate.go
Labels: engine

fix: make WunderGraphDir not mandatory for all cmds (#241)
  cli/commands/add.go
  cli/commands/generate.go
  cli/commands/install-prisma-dependencies.go
  cli/commands/mongodb.go
  cli/commands/mysql.go
  cli/commands/node.go
  cli/commands/planetscale.go
  cli/commands/postgres.go
  cli/commands/publish.go
  cli/commands/remove.go
  cli/commands/root.go
  cli/commands/server.go
  cli/commands/sqlite.go
  cli/commands/sqlserver.go
  cli/commands/start.go
  cli/commands/up.go
Labels: engine

fix(sdk/client): include extra headers from constructor (#244)
  packages/sdk/src/client/client.test.ts
  packages/sdk/src/client/client.ts
Labels: npm, sdk

chore: remove old go/wgpb folder (#245)
  .gitignore
  types/go/wgpb/wundernode_config.pb.go
Labels: none

chore: add linux/arm64 support (#237)
  .github/goreleaser/.goreleaser-linux.yml
  .github/goreleaser/.goreleaser.yml
  packages/wunderctl/src/binarypath.ts
Labels: npm, wunderctl

ci(release): release 0.111.3
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: bump wunderctl
  packages/sdk/package.json
Labels: npm, sdk
