Repository adonis0302/WunderGr-Backend-API, changes with the labels that .github/labeler.yml gives for each.
All labels: npm, sdk, wunderctl, nextjs, types, engine

chore: update wunderctl dependency to 0.141.0 (#849)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: improved about wundergraph section (#847)
  docs-website/config/navigation.tsx
  docs-website/src/pages/about/for-backend-developers.md
  docs-website/src/pages/about/for-frontend-developers.md
  docs-website/src/pages/about/for-fullstack-developers.md
Labels: none

chore: add GitHub star and Discourse shields to NPM landing page (#856)
  README.md
Labels: none

chore: apply shield changes to sdk readme (#858)
  README.md
  packages/sdk/README.md
Labels: npm, sdk

ci(release): Release 0.142.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: bump wunderctl to 0.142 (#860)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: use wildcard workspace version
  packages/nextjs/package.json
  pnpm-lock.yaml
Labels: npm, nextjs

fix: format .babelrc file (#861)
  examples/vite-react-relay/.babelrc
Labels: none

docs: add discourse to the SDK readme (#862)
  packages/react-relay/README.md
  packages/sdk/README.md
Labels: npm, sdk

feat: implement internal graphql handler (#853)
  docs-website/config/tags.js
  docs-website/src/pages/docs/architecture/wundergraph-conventions.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-wundernode-options.md
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/codegen/index.test.ts
  packages/sdk/src/configure/options.ts
  packages/sdk/src/server/internal-client.ts
  packages/sdk/src/server/operations-client.ts
  packages/sdk/src/server/server.ts
  packages/sdk/src/testing/index.ts
  packages/testsuite/apps/basic/.wundergraph/operations/internal/rootInternal.ts
  packages/testsuite/apps/basic/.wundergraph/operations/nested/InternalDirectoryWrapper.ts
  packages/testsuite/apps/basic/internal.test.ts
  packages/testsuite/apps/hooks/index.test.ts
  pkg/apihandler/api.go
  pkg/apihandler/apihandler.go
  pkg/apihandler/internalapihandler.go
  pkg/node/config.go
  pkg/node/node.go
  pkg/node/node_test.go
  pkg/wgpb/wundernode_config.pb.go
  testapps/default/.wundergraph/operations/internal/rootInternal.ts
  testapps/default/.wundergraph/operations/nested/InternalDirectoryWrapper.ts
  testapps/default/test/index.test.ts
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

fix: temporarily removed ESM package in react-relay to allow bundling in next.js (#863)
  packages/react-relay/package.json
Labels: npm

fix: move wundergraph & relay to peer deps of relay package (#865)
  packages/react-relay/package.json
  pnpm-lock.yaml
Labels: npm

fix: relay examples start commands (#867)
  examples/nextjs-relay/package.json
  examples/vite-react-relay/package.json
Labels: none

fix: don't override request context after assigning client request (#866
  packages/testsuite/apps/basic/.wundergraph/operations/clientrequest/Header.graphql
  packages/testsuite/apps/basic/.wundergraph/wundergraph.server.ts
  packages/testsuite/apps/basic/index.test.ts
  pkg/apihandler/apihandler.go
Labels: npm, engine

chore: random change to trigger format check (#868)
  packages/protobuf/wgpb/wundernode_config.ts
Labels: npm, types

chore: revert accidental merge (#870)
  packages/protobuf/wgpb/wundernode_config.ts
Labels: npm, types

ci(release): Release 0.143.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: update wunderctl dependency to 0.143.0 (#871)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

fix: ensure input is undefined when not defined as schema (#864)
  packages/sdk/src/operations/operations.ts
  packages/testsuite/apps/basic/.wundergraph/operations/functions/simple.ts
  testapps/default/test/index.test.ts
  testapps/simple/.wundergraph/operations/users/getWeather.ts
  testapps/simple/.wundergraph/operations/users/simple.ts
Labels: npm, sdk

fix: internal router (#872)
  packages/sdk/src/server/operations-client.ts
  packages/testsuite/apps/basic/.wundergraph/operations/functions/greeting.ts
  packages/testsuite/apps/basic/.wundergraph/operations/functions/user.ts
  packages/testsuite/apps/basic/index.test.ts
  pkg/apihandler/apihandler.go
  pkg/apihandler/internalapihandler.go
Labels: npm, sdk, engine

ci(release): Release 0.143.1
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: bump wunderctl to 0.143.1 (#874)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: remove deprecated packages (#876)
  package.json
  packages/wunderctl/package.json
  pnpm-lock.yaml
  testapps/default/package.json
Labels: npm, wunderctl

feat: test package provenance (#880)
  .github/workflows/engine-release.yaml
  .github/workflows/packages-release.yaml
  packages/testsuite/package.json
Labels: npm

chore: enable dedupe peers (#882)
  .npmrc
Labels: none

feat: initial implementation for the operations code generation (#877)
  .prettierignore
  docs-website/config/navigation.tsx
  docs-website/src/pages/docs/auto-generated-operations-reference/index.md
  docs-website/src/pages/docs/operations-reference/index.md
  package.json
  packages/sdk/src/codegen/generateoperations.ts
  packages/sdk/src/codegen/index.test.ts
  packages/sdk/src/configure/codegeneration.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/definition/__snapshots__/graphql-introspection.test.ts.snap
  packages/sdk/src/definition/__snapshots__/index.test.ts.snap
  packages/sdk/src/definition/__snapshots__/merge.test.ts.snap
  packages/sdk/src/definition/database-introspection.ts
  packages/sdk/src/definition/federation-introspection.ts
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/definition/introspection-cache.ts
  packages/sdk/src/definition/merge.test.ts
  packages/sdk/src/definition/merge.ts
  packages/sdk/src/definition/namespacing.ts
  packages/sdk/src/index.ts
  packages/sdk/src/transformations/index.test.ts
  packages/sdk/src/v2openapi/index.ts
  testapps/default/.wundergraph/operations/federated/Me.graphql
  testapps/default/.wundergraph/operations/federated/SetPrice.graphql
  testapps/default/.wundergraph/operations/federated/TopProducts.graphql
  testapps/default/.wundergraph/operations/federated/UpdatedPrice.graphql
  testapps/default/.wundergraph/operations/weather/.prettierignore
  testapps/default/.wundergraph/operations/weather/GetCityById.graphql
  testapps/default/.wundergraph/operations/weather/GetCityByName.graphql
  testapps/default/.wundergraph/wundergraph.config.ts
  testapps/default/.wundergraph/wundergraph.generate.ts
  testapps/default/.wundergraph/wundergraph.server.ts
Labels: npm, sdk

fix: update tanstack query (#884)
  package.json
  packages/react-query/package.json
  packages/solid-query/package.json
  packages/svelte-query/package.json
  packages/vue-query/package.json
  pnpm-lock.yaml
Labels: npm

chore: undo dedupe peer deps (#885)
  .npmrc
Labels: none

ci(release): Release 0.144.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: version bumb in SDK to wunderctl 0.144 (#886)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

fix: fix engine release workflow
  .github/workflows/engine-release.yaml
Labels: none

ci(release): Release 0.144.1
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: bump wunderctl
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: skip file upload example test (#890)
  scripts/test-examples/all.sh
Labels: none

docs: add build_command field to wg.toml (#892)
  docs-website/src/pages/docs/cloud/configuration.md
Labels: none

chore: add tests for operations generator (#896)
  packages/testsuite/apps/basic/.wundergraph/operations/countries/Continent.graphql
  packages/testsuite/apps/basic/.wundergraph/operations/countries/Continents.graphql
  packages/testsuite/apps/basic/.wundergraph/operations/countries/Countries.graphql
  packages/testsuite/apps/basic/.wundergraph/operations/countries/Country.graphql
  packages/testsuite/apps/basic/.wundergraph/operations/countries/Language.graphql
  packages/testsuite/apps/basic/.wundergraph/operations/countries/Languages.graphql
  packages/testsuite/apps/basic/.wundergraph/operations/weather/GetCityById.graphql
  packages/testsuite/apps/basic/.wundergraph/operations/weather/GetCityByName.graphql
  packages/testsuite/apps/basic/.wundergraph/wundergraph.config.ts
  packages/testsuite/apps/basic/.wundergraph/wundergraph.generate.ts
  packages/testsuite/apps/basic/embedded-graphql-server.test.ts
  packages/testsuite/apps/basic/generated-operations.test.ts
  packages/testsuite/apps/basic/index.test.ts
  testapps/default/.wundergraph/wundergraph.config.ts
Labels: npm

fix: incorrect env read for public node url (#897)
  packages/sdk/src/configure/options.ts
Labels: npm, sdk

test: fix changed files detection for external PRs (#875)
  .github/actions/changed/action.yaml
  .github/workflows/packages-ci.yaml
Labels: none

chore: log failures to connect to S3 providers as errors (#895)
  pkg/apihandler/apihandler.go
Labels: engine

ci(release): Release 0.145.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

.github/labeler.yml:

npm:
  - 'packages/**/*'
  - 'pnpm-lock.yaml'
  - 'pnpm-workspace.yaml'
sdk:
  - 'packages/sdk/**/*'
wunderctl:
  - 'packages/wunderctl/**/*'
nextjs:
  - 'packages/nextjs/**/*'
types:
  - 'packages/protobuf/**/*'
engine:
  - 'pkg/**/*'
  - 'internal/*/*'
  - 'cmd/**/*'
  - 'cli/**/*'
  - 'go.mod'
  - 'go.sum'
