Repository adonis0302/WunderGr-Backend-API, changes with the labels that .github/labeler.yml gives for each.
All labels: npm, sdk, wunderctl, nextjs, types, engine

.github/labeler.yml:

npm:
  - 'packages/**/*'
  - 'pnpm-lock.yaml'
  - 'pnpm-workspace.yaml'
sdk:
  - 'packages/sdk/**/*'
wunderctl:
  - 'packages/wunderctl/**/*'
nextjs:
  - 'packages/nextjs/**/*'
types:
  - 'packages/protobuf/**/*'
engine:
  - 'pkg/**/*'
  - 'internal/*/*'
  - 'cmd/**/*'
  - 'cli/**/*'
  - 'go.mod'
  - 'go.sum'

fix(node): listening on tcp4 for 0.0.0.0 (#493)
  Makefile
  pkg/node/node.go
Labels: engine

ci(release): Release 0.122.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: upgrade wunderctl in sdk
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

fix: use 0.0.0.0 for test server (#499)
  packages/sdk/src/testing/index.ts
Labels: npm, sdk

fix: minor typo in readme.md (#502)
  README.md
Labels: none

chore: upgrade sdk in examples (#498)
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/expo-swr/package.json
  examples/faunadb-nextjs/package.json
  examples/fragments/package.json
  examples/golang-client/package.json
  examples/graphql-apollo-subscriptions/package.json
  examples/graphql-hasura-subscriptions/package.json
  examples/graphql-sse-subscriptions/package.json
  examples/graphql-subscriptions-hooks/package.json
  examples/graphql-ws-subscriptions/package.json
  examples/graphql-yoga-sse-subscriptions/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-file-upload/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-react-query/package.json
  examples/nextjs-swr/package.json
  examples/nextjs-todos/package.json
  examples/nextjs/package.json
  examples/nodejs-ts-client/package.json
  examples/openapi-mocking/package.json
  examples/postgres/package.json
  examples/rbac/package.json
  examples/schema-extension/package.json
  examples/simple/package.json
  examples/vite-swr/package.json
  examples/webhooks/package.json
Labels: none

chore: update react-query example (#494)
  examples/nextjs-react-query/.wundergraph/wundergraph.config.ts
  examples/nextjs-react-query/next.config.js
  examples/nextjs-react-query/package.json
Labels: none

ci(release): Release 0.123.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: upgrade wunderctl in sdk
  docs/migrations/sdk-0.122-0.123.md
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: fix migration
  docs/migrations/sdk-0.129.0-0.130.0.md
Labels: none

chore(RFC): typesafe environment variables (#441)
  rfc/typesafe-env-vars/[RFC] typesafe env vars - 001 - Pagebakers.md
Labels: none

chore: update examples and docs to use new server entry (#503)
  docs-website/src/pages/docs/features/type-script-webhooks-to-integrate-third-party-applications.md
  docs-website/src/pages/docs/guides/signing-origin-requests.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/configure-wundergraph-server-options.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/custom-graphql-servers.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/webhooks.md
  examples/apollo-federation/.wundergraph/wundergraph.server.ts
  examples/auth0-oidc-authentication/.wundergraph/wundergraph.server.ts
  examples/caching/.wundergraph/wundergraph.server.ts
  examples/cross-api-joins/.wundergraph/wundergraph.server.ts
  examples/expo-swr/.wundergraph/wundergraph.server.ts
  examples/faunadb-nextjs/.wundergraph/wundergraph.server.ts
  examples/fragments/.wundergraph/wundergraph.server.ts
  examples/golang-client/.wundergraph/wundergraph.server.ts
  examples/graphql-apollo-subscriptions/.wundergraph/wundergraph.server.ts
  examples/graphql-hasura-subscriptions/.wundergraph/wundergraph.server.ts
  examples/graphql-sse-subscriptions/.wundergraph/wundergraph.server.ts
  examples/graphql-subscriptions-hooks/.wundergraph/wundergraph.server.ts
  examples/graphql-ws-subscriptions/.wundergraph/wundergraph.server.ts
  examples/graphql-yoga-sse-subscriptions/.wundergraph/wundergraph.server.ts
  examples/hooks/.wundergraph/wundergraph.server.ts
  examples/inject-bearer/.wundergraph/wundergraph.server.ts
  examples/keycloak-oidc-authentication/.wundergraph/wundergraph.server.ts
  examples/migrate-from-apollo/.wundergraph/wundergraph.server.ts
  examples/nextjs-postgres-prisma/.wundergraph/wundergraph.server.ts
  examples/nextjs-postgres-user-filters/.wundergraph/wundergraph.server.ts
  examples/nextjs-react-query/.wundergraph/wundergraph.server.ts
  examples/nextjs-swr/.wundergraph/wundergraph.server.ts
  examples/nextjs-todos/.wundergraph/wundergraph.server.ts
  examples/nextjs/.wundergraph/wundergraph.server.ts
  examples/nodejs-ts-client/.wundergraph/wundergraph.server.ts
  examples/openapi-mocking/.wundergraph/wundergraph.server.ts
  examples/postgres/.wundergraph/wundergraph.server.ts
  examples/rbac/.wundergraph/wundergraph.server.ts
  examples/schema-extension/.wundergraph/wundergraph.server.ts
  examples/simple/.wundergraph/wundergraph.server.ts
  examples/vite-swr/.wundergraph/wundergraph.server.ts
  examples/webhooks/.wundergraph/webhooks/github.ts
  examples/webhooks/.wundergraph/wundergraph.server.ts
Labels: none

chore: upgrade sdk in examples (#498)
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/expo-swr/package.json
  examples/faunadb-nextjs/package.json
  examples/fragments/package.json
  examples/golang-client/package.json
  examples/graphql-apollo-subscriptions/package.json
  examples/graphql-hasura-subscriptions/package.json
  examples/graphql-sse-subscriptions/package.json
  examples/graphql-subscriptions-hooks/package.json
  examples/graphql-ws-subscriptions/package.json
  examples/graphql-yoga-sse-subscriptions/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-file-upload/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-react-query/package.json
  examples/nextjs-swr/package.json
  examples/nextjs-todos/package.json
  examples/nextjs/package.json
  examples/nodejs-ts-client/package.json
  examples/openapi-mocking/package.json
  examples/postgres/package.json
  examples/rbac/package.json
  examples/schema-extension/package.json
  examples/simple/package.json
  examples/vite-swr/package.json
  examples/webhooks/package.json
Labels: none

feat: copy wunderctl bin to wundergraph home dir (#508)
  packages/wunderctl/README.md
  packages/wunderctl/src/installer.ts
Labels: npm, wunderctl

chore: fix prettier issues
  rfc/typesafe-env-vars/[RFC] typesafe env vars - 001 - Pagebakers.md
Labels: none

ci(release): Release 0.124.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: upgrade wunderctl in sdk
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: upgrade sdk in examples
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/expo-swr/package.json
  examples/faunadb-nextjs/package.json
  examples/fragments/package.json
  examples/golang-client/package.json
  examples/graphql-apollo-subscriptions/package.json
  examples/graphql-hasura-subscriptions/package.json
  examples/graphql-sse-subscriptions/package.json
  examples/graphql-subscriptions-hooks/package.json
  examples/graphql-ws-subscriptions/package.json
  examples/graphql-yoga-sse-subscriptions/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-file-upload/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-react-query/package.json
  examples/nextjs-swr/package.json
  examples/nextjs-todos/package.json
  examples/nextjs/package.json
  examples/nodejs-ts-client/package.json
  examples/openapi-mocking/package.json
  examples/postgres/package.json
  examples/rbac/package.json
  examples/schema-extension/package.json
  examples/simple/package.json
  examples/vite-swr/package.json
  examples/webhooks/package.json
Labels: none

chore: fix versions in migrations
  docs/migrations/sdk-0.123.0-0.124.0.md
  docs/migrations/sdk-0.129-0.130.md
Labels: none

feat(hooks): reduce retry min timeout
  packages/wunderctl/src/installer.ts
  pkg/hooks/hooks.go
Labels: npm, wunderctl, engine

ci(release): Release 0.125.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: upgrade wunderctl in sdk
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: upgrade sdk in examples
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/expo-swr/package.json
  examples/faunadb-nextjs/package.json
  examples/fragments/package.json
  examples/golang-client/package.json
  examples/graphql-apollo-subscriptions/package.json
  examples/graphql-hasura-subscriptions/package.json
  examples/graphql-sse-subscriptions/package.json
  examples/graphql-subscriptions-hooks/package.json
  examples/graphql-ws-subscriptions/package.json
  examples/graphql-yoga-sse-subscriptions/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-file-upload/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-react-query/package.json
  examples/nextjs-swr/package.json
  examples/nextjs-todos/package.json
  examples/nextjs/package.json
  examples/nodejs-ts-client/package.json
  examples/openapi-mocking/package.json
  examples/postgres/package.json
  examples/rbac/package.json
  examples/schema-extension/package.json
  examples/simple/package.json
  examples/vite-swr/package.json
  examples/webhooks/package.json
Labels: none

feat: improve backoff settings for cold starts (#509)
  pkg/hooks/hooks.go
  pkg/node/node.go
  pkg/telemetry/client.go
Labels: engine

feat: upgrade to nextjs 13 (#504)
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/faunadb-nextjs/package.json
  examples/hooks/next-env.d.ts
  examples/hooks/next.config.js
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/migrate-from-apollo/package.json
  examples/migrate-from-apollo/pages/index.tsx
  examples/nextjs-file-upload/package.json
  examples/nextjs-file-upload/pages/index.tsx
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-react-query/package.json
  examples/nextjs-swr/package.json
  examples/nextjs-swr/pages/authentication.tsx
  examples/nextjs-swr/pages/index.tsx
  examples/nextjs-swr/pages/ssr.tsx
  examples/nextjs-todos/package.json
  examples/nextjs/package.json
  examples/rbac/package.json
  packages/nextjs/package.json
  packages/nextjs/src/with-wundergraph.tsx
  packages/sdk/src/client/index.ts
  pnpm-lock.yaml
  testapps/nextjs/package.json
  testapps/nextjs/pages/index.tsx
Labels: npm, sdk, nextjs

chore: fix nextjs-swr example (#510)
  docs-website/src/pages/docs/examples/index.md
  docs-website/src/pages/docs/supported-frontend-frameworks/nextjs.md
  docs-website/src/pages/docs/supported-frontend-frameworks/react-js.md
  examples/nextjs-swr/.env.example
  examples/nextjs-swr/.gitignore
  examples/nextjs-swr/.graphqlconfig
  examples/nextjs-swr/.wundergraph/operations/Dragons.graphql
  examples/nextjs-swr/.wundergraph/wundergraph.config.ts
  examples/nextjs-swr/.wundergraph/wundergraph.operations.ts
  examples/nextjs-swr/.wundergraph/wundergraph.server.ts
  examples/nextjs-swr/README.md
  examples/nextjs-swr/jest.config.js
  examples/nextjs-swr/lib/wundergraph.ts
  examples/nextjs-swr/next-env.d.ts
  examples/nextjs-swr/package.json
  examples/nextjs-swr/pages/_app.tsx
  examples/nextjs-swr/pages/authentication.tsx
  examples/nextjs-swr/pages/index.tsx
  examples/nextjs-swr/pages/ssr.tsx
  examples/nextjs-swr/public/favicon.ico
  examples/nextjs-swr/test/index.test.ts
  examples/nextjs-swr/tsconfig.json
Labels: none

fix: filter only folders while listing examples (#513)
  packages/create-wundergraph-app/package.json
  packages/create-wundergraph-app/src/helpers/examples.ts
  pnpm-lock.yaml
Labels: npm

fix: remove spaces from the file name (#511)
  rfc/typesafe-env-vars/[RFC]typesafe-env-vars-001-Pagebakers.md
Labels: none

fix: allow to treat a subgraph as regular graphql api (#496)
  go.mod
  go.sum
  packages/sdk/src/definition/federation-introspection.ts
  packages/sdk/src/definition/graphql-introspection.ts
Labels: npm, sdk, engine

fix: error messages in OpenIDConnectCookieHandler (#512)
  pkg/authentication/oidc.go
Labels: engine

fix: data race and variability in httpidletimeout test (#514)
  pkg/httpidletimeout/httpidletimeout_test.go
Labels: engine

fix: incorrectly derived filesystem paths on Windows (#519)
  cli/commands/generate.go
  cli/commands/node.go
  cli/commands/server.go
  cli/commands/up.go
  pkg/config/config.go
  pkg/datasources/database/engine.go
  pkg/files/files.go
  pkg/webhooks/webhooks.go
Labels: engine

chore: updated gql for federation example (#524)
  examples/apollo-federation/federation/services/accounts/Dockerfile
  examples/apollo-federation/federation/services/accounts/federation.go
  examples/apollo-federation/federation/services/accounts/generated.go
  examples/apollo-federation/federation/services/accounts/go.mod
  examples/apollo-federation/federation/services/accounts/go.sum
  examples/apollo-federation/federation/services/accounts/tools.go
  examples/apollo-federation/federation/services/inventory/Dockerfile
  examples/apollo-federation/federation/services/inventory/federation.go
  examples/apollo-federation/federation/services/inventory/generated.go
  examples/apollo-federation/federation/services/inventory/go.mod
  examples/apollo-federation/federation/services/inventory/go.sum
  examples/apollo-federation/federation/services/inventory/tools.go
  examples/apollo-federation/federation/services/products/Dockerfile
  examples/apollo-federation/federation/services/products/federation.go
  examples/apollo-federation/federation/services/products/generated.go
  examples/apollo-federation/federation/services/products/go.mod
  examples/apollo-federation/federation/services/products/go.sum
  examples/apollo-federation/federation/services/products/tools.go
  examples/apollo-federation/federation/services/reviews/Dockerfile
  examples/apollo-federation/federation/services/reviews/federation.go
  examples/apollo-federation/federation/services/reviews/generated.go
  examples/apollo-federation/federation/services/reviews/go.mod
  examples/apollo-federation/federation/services/reviews/go.sum
  examples/apollo-federation/federation/services/reviews/tools.go
Labels: none

chore: push package-lock.json for the examples (#527)
  .gitignore
  examples/auth0-oidc-authentication/package-lock.json
  examples/caching/package-lock.json
  examples/cross-api-joins/package-lock.json
  examples/expo-swr/package-lock.json
  examples/fragments/package-lock.json
  examples/golang-client/package-lock.json
  examples/graphql-apollo-subscriptions/package-lock.json
  examples/graphql-hasura-subscriptions/package-lock.json
  examples/graphql-sse-subscriptions/package-lock.json
  examples/graphql-subscriptions-hooks/package-lock.json
  examples/graphql-ws-subscriptions/package-lock.json
  examples/graphql-yoga-sse-subscriptions/package-lock.json
  examples/hooks/package-lock.json
  examples/nextjs-file-upload/package-lock.json
  examples/nextjs-postgres-prisma/package-lock.json
  examples/nextjs-postgres-user-filters/package-lock.json
  examples/nextjs-react-query/package-lock.json
  examples/nextjs/package-lock.json
  examples/nodejs-ts-client/package-lock.json
  examples/openapi-mocking/package-lock.json
  examples/postgres/package-lock.json
  examples/rbac/package-lock.json
  examples/schema-extension/package-lock.json
  examples/simple/package-lock.json
  examples/vite-swr/package-lock.json
  examples/webhooks/package-lock.json
Labels: none

chore: modify scripts and add default values for envs (#528)
  examples/nextjs-react-query/.wundergraph/wundergraph.config.ts
  examples/nextjs/.wundergraph/wundergraph.config.ts
  examples/nextjs/package.json
  examples/vite-swr/.wundergraph/wundergraph.config.ts
Labels: none

feat: watcher, track new import (#526)
  pkg/bundler/bundler.go
  pkg/watcher/watcher.go
Labels: engine

fix: json scalar types rendering not supported for graphql api (#516)
  go.mod
  go.sum
  packages/sdk/src/configure/index.ts
  packages/sdk/src/definition/__snapshots__/graphql-introspection.test.ts.snap
  packages/sdk/src/definition/__snapshots__/index.test.ts.snap
  packages/sdk/src/definition/__snapshots__/merge.test.ts.snap
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/definition/introspection-cache.ts
  packages/sdk/src/definition/merge.ts
  packages/sdk/src/graphql/configuration.test.ts
  packages/sdk/src/graphql/configuration.ts
  packages/sdk/src/graphql/operations.test.ts
  packages/sdk/src/graphql/operations.ts
  packages/sdk/src/v2openapi/__snapshots__/index.test.ts.snap
  packages/sdk/src/v2openapi/index.ts
  pnpm-lock.yaml
  testapps/README.md
  testapps/simple/.gitignore
  testapps/simple/.wundergraph/.graphqlconfig
  testapps/simple/.wundergraph/operations/Hello.graphql
  testapps/simple/.wundergraph/wundergraph.config.ts
  testapps/simple/.wundergraph/wundergraph.operations.ts
  testapps/simple/.wundergraph/wundergraph.server.ts
  testapps/simple/package.json
  testapps/simple/tsconfig.json
Labels: npm, sdk, engine

fix: listen on IPv6 when WG_NODE_HOST is a hostname (#517)
  pkg/node/node.go
Labels: engine

chore: update CONTRIBUTING.md (#531)
  CONTRIBUTING.md
Labels: none

fix: examples, schema extension example (#530)
  examples/schema-extension/.wundergraph/operations/Image.graphql
  examples/schema-extension/.wundergraph/operations/Space.graphql
  examples/schema-extension/.wundergraph/wundergraph.config.ts
  examples/schema-extension/README.md
  examples/schema-extension/package-lock.json
  examples/schema-extension/package.json
  examples/schema-extension/server/go.mod
  examples/schema-extension/server/go.sum
  examples/schema-extension/server/graph/model/models_gen.go
  examples/schema-extension/server/graph/resolver.go
  examples/schema-extension/server/graph/schema.resolvers.go
  examples/schema-extension/server/schema.graphql
  examples/schema-extension/server/server.go
Labels: none
