Repository adonis0302/WunderGr-Backend-API, changes with the labels that .github/labeler.yml gives for each.
All labels: npm, sdk, wunderctl, nextjs, types, engine

chore: improve lerna release settings
  lerna.json
  package.json
Labels: none

chore: add space between author and commit
  lerna.json
Labels: none

chore: try to fix gitpod
  .gitpod.yml
  lerna.json
Labels: none

feat(server): introduce pino base logger (#146)
  packages/sdk/package.json
  packages/sdk/src/middleware/server.ts
  pnpm-lock.yaml
Labels: npm, sdk

fix(types): make webhooks optional (#149)
  .github/workflows/engine-ci.yaml
  CONTRIBUTING.md
  packages/sdk/src/middleware/server.ts
  pkg/s3uploadclient/s3uploadclient_test.go
Labels: npm, sdk, engine

fix: internal directive breaks code generation (#148)
  examples/nextjs-postgres-user-filters/.wundergraph/operations/UserNodes.graphql
  examples/nextjs-postgres-user-filters/.wundergraph/wundergraph.server.ts
  examples/nextjs-postgres-user-filters/package.json
  packages/default-testapp/.wundergraph/fragments/PostFragment.graphql
  packages/default-testapp/.wundergraph/operations/Dragons.graphql
  packages/default-testapp/.wundergraph/operations/InternalDragons.graphql
  packages/default-testapp/.wundergraph/operations/Missions.graphql
  packages/default-testapp/.wundergraph/wundergraph.config.ts
  packages/default-testapp/.wundergraph/wundergraph.server.ts
  packages/sdk/src/codegen/templates/typescript/index.ts
Labels: npm, sdk

chore: remove optional WebhookConfig
  examples/nextjs-postgres-user-filters/.wundergraph/wundergraph.server.ts
  examples/nextjs-postgres-user-filters/package.json
Labels: none

feat: implement userId for fromClaim directive (#152)
  Makefile
  docs-website/src/pages/docs/directives-reference/from-claim-directive.md
  packages/nextjs-testapp/.wundergraph/operations/HelloUser.graphql
  packages/nextjs-testapp/.wundergraph/operations/PastLaunches.graphql
  packages/nextjs-testapp/.wundergraph/wundergraph.config.ts
  packages/nextjs-testapp/pages/caching.tsx
  packages/nextjs-testapp/pages/claims.tsx
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/definition/__snapshots__/merge.test.ts.snap
  packages/sdk/src/definition/merge.ts
  packages/sdk/src/graphql/operations.ts
  pkg/apihandler/apihandler.go
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

chore: upgrade wunderctl in all examples, fix simple example
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/faunadb-nextjs/package.json
  examples/fragments/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs/package.json
  examples/postgres/package.json
  examples/publish-install-api/package.json
  examples/rbac/package.json
  examples/simple/.wundergraph/operations/Continents.graphql
  examples/simple/.wundergraph/operations/Countries.graphql
  examples/simple/.wundergraph/operations/Dragons.graphql
  examples/simple/.wundergraph/operations/Missions.graphql
  examples/simple/.wundergraph/wundergraph.config.ts
  examples/simple/README.md
  examples/simple/package.json
  examples/webhooks/package.json
  pkg/templates/assets/templates/application/package.json
  pkg/templates/assets/templates/nextjs-postgres-starter/package.json
  pkg/templates/assets/templates/nextjs-starter/package.json
  pkg/templates/assets/templates/publish-api/package.json
Labels: engine

chore: fix link
  .gitpod.yml
Labels: none

feat: add dev mode so that cookie secrets stay static (#153)
  cli/commands/up.go
  pkg/apihandler/apihandler.go
  pkg/node/node.go
Labels: engine

fix: subscriptions, add X-Accel-Buffering by default (#157)
  examples/apollo-federation/.wundergraph/operations/PriceUpdates.graphql
  pkg/apihandler/apihandler.go
Labels: engine

ci(release): release 0.101.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: fix go release script
  .github/workflows/engine-release.yaml
  Makefile
  package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

ci(release): release 0.101.1
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: fix rate limit of protoc action
  .github/actions/node/action.yaml
  .github/workflows/engine-ci.yaml
  .github/workflows/engine-release.yaml
  .github/workflows/packages-ci.yaml
  .github/workflows/packages-release-preview.yaml
  .github/workflows/packages-release.yaml
Labels: none

ci(release): release 0.102.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: sync wunderctl version
  .github/workflows/packages-release-preview.yaml
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

feat: refactor introspection runner (#158)
  cli/commands/up.go
  packages/default-testapp/.wundergraph/wundergraph.config.ts
  packages/default-testapp/yarn.lock
  packages/sdk/src/configure/index.ts
  packages/sdk/src/definition/__snapshots__/index.test.ts.snap
  packages/sdk/src/definition/index.test.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/definition/introspection-cache.ts
  pkg/scriptrunner/scriptrunner.go
Labels: npm, sdk, engine

ci(release): release 0.103.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: dont fail on lockfile issues in release preview
  .github/workflows/packages-release-preview.yaml
Labels: none

chore: sync wunderctl version
  packages/sdk/package.json
Labels: npm, sdk

chore: sync wunderctl version
  pnpm-lock.yaml
Labels: npm

chore: improve
  .github/workflows/packages-release-preview.yaml
  package.json
Labels: none

chore: test
  .github/workflows/packages-release-preview.yaml
Labels: none

chore: test
  .github/actions/node/action.yaml
  .github/workflows/packages-release-preview.yaml
Labels: none

chore: update lock file
  pnpm-lock.yaml
Labels: npm

fix: getting started example
  docs-website/src/components/Hero.jsx
Labels: none

feat: don't exit, throw error and handle at root (#161)
  packages/sdk/src/configure/index.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/middleware/server.ts
Labels: npm, sdk

fix: subscription url config (#162)
  packages/sdk/src/definition/index.ts
  pkg/engineconfigloader/engineconfigloader.go
Labels: npm, sdk, engine

fix: onboarding steps after first clone
  Makefile
Labels: none

chore: fix install order
  Makefile
Labels: none

chore: test goreleaser release summary
  .github/workflows/engine-release-preview.yaml
  .github/workflows/release-summary.yaml
Labels: none

chore: improve release preview
  .github/workflows/engine-release-preview.yaml
Labels: none

chore: disable workflow until gorelease fix
  .github/workflows/engine-release-preview.yaml
Labels: none

chore: test
  .github/goreleaser/.goreleaser-darwin.yml
  .github/goreleaser/.goreleaser-linux.yml
  .github/goreleaser/.goreleaser-windows.yml
  .github/goreleaser/.goreleaser.yml
  .github/workflows/engine-release-preview.yaml
Labels: none

chore: test
  .github/workflows/engine-release.yaml
Labels: none

chore: test
  .github/workflows/engine-release-preview.yaml
Labels: none

chore: try v3
  .github/workflows/engine-release-preview.yaml
Labels: none

chore: test
  .github/workflows/engine-release-preview.yaml
Labels: none

.github/labeler.yml:

npm:
  - 'packages/**/*'
  - 'pnpm-lock.yaml'
  - 'pnpm-workspace.yaml'
sdk:
  - 'packages/sdk/**/*'
wunderctl:
  - 'packages/wunderctl/**/*'
nextjs:
  - 'packages/nextjs/**/*'
types:
  - 'packages/protobuf/**/*'
engine:
  - 'pkg/**/*'
  - 'internal/*/*'
  - 'cmd/**/*'
  - 'cli/**/*'
  - 'go.mod'
  - 'go.sum'
