Repository adonis0302/WunderGr-Backend-API, changes with the labels that .github/labeler.yml gives for each.
All labels: npm, sdk, wunderctl, nextjs, types, engine

.github/labeler.yml:

npm:
  - 'packages/**/*'
  - 'pnpm-lock.yaml'
  - 'pnpm-workspace.yaml'
sdk:
  - 'packages/sdk/**/*'
wunderctl:
  - 'packages/wunderctl/**/*'
nextjs:
  - 'packages/nextjs/**/*'
types:
  - 'packages/protobuf/**/*'
engine:
  - 'pkg/**/*'
  - 'internal/*/*'
  - 'cmd/**/*'
  - 'cli/**/*'
  - 'go.mod'
  - 'go.sum'

chore: fix initial repo bootstrap
  Makefile
Labels: none

chore: add caching example
  README.md
  examples/caching/.gitignore
  examples/caching/.graphqlconfig
  examples/caching/.wundergraph/operations/Dragons.graphql
  examples/caching/.wundergraph/wundergraph.config.ts
  examples/caching/.wundergraph/wundergraph.operations.ts
  examples/caching/.wundergraph/wundergraph.server.ts
  examples/caching/README.md
  examples/caching/next-env.d.ts
  examples/caching/next.config.js
  examples/caching/package.json
  examples/caching/pages/_app.tsx
  examples/caching/pages/index.tsx
  examples/caching/public/favicon.ico
  examples/caching/tsconfig.json
Labels: none

chore: fix bootstrap procedure
  Makefile
Labels: none

chore: add link to docker example
  README.md
Labels: none

chore: add hooks example
  README.md
  examples/hooks/.gitignore
  examples/hooks/.graphqlconfig
  examples/hooks/.wundergraph/operations/Dragons.graphql
  examples/hooks/.wundergraph/wundergraph.config.ts
  examples/hooks/.wundergraph/wundergraph.operations.ts
  examples/hooks/.wundergraph/wundergraph.server.ts
  examples/hooks/README.md
  examples/hooks/next-env.d.ts
  examples/hooks/next.config.js
  examples/hooks/package.json
  examples/hooks/public/favicon.ico
  examples/hooks/tsconfig.json
Labels: none

chore: fix link
  examples/hooks/README.md
Labels: none

chore: add note about hooks
  docs/hooks.md
Labels: none

chore: remove invalid note
  docs/hooks.md
Labels: none

chore: align examples
  examples/caching/README.md
  examples/cross-api-joins/README.md
  examples/postgres/README.md
  examples/publish-install-api/README.md
  examples/simple/README.md
Labels: none

fix: split user and id token due to size, add auth0 example (#71)
  examples/auth0-oidc-authentication/.example.env
  examples/auth0-oidc-authentication/.gitignore
  examples/auth0-oidc-authentication/.graphqlconfig
  examples/auth0-oidc-authentication/.wundergraph/operations/Country.graphql
  examples/auth0-oidc-authentication/.wundergraph/wundergraph.config.ts
  examples/auth0-oidc-authentication/.wundergraph/wundergraph.operations.ts
  examples/auth0-oidc-authentication/.wundergraph/wundergraph.server.ts
  examples/auth0-oidc-authentication/README.md
  examples/auth0-oidc-authentication/next-env.d.ts
  examples/auth0-oidc-authentication/package.json
  examples/auth0-oidc-authentication/pages/_app.tsx
  examples/auth0-oidc-authentication/pages/index.tsx
  examples/auth0-oidc-authentication/public/favicon.ico
  examples/auth0-oidc-authentication/tsconfig.json
  pkg/authentication/authentication.go
Labels: engine

chore: add watch scripts for libs and sdk (#74)
  package.json
Labels: none

feat: use headersobject for transport hooks (#75)
  packages/default-testapp/.wundergraph/wundergraph.server.ts
  packages/sdk/src/codegen/templates/typescript/hooks.template.ts
  packages/sdk/src/middleware/plugins/hooks.ts
  packages/sdk/src/middleware/server.ts
Labels: npm, sdk

chore: generate changelog only to the latest tag
  .github/workflows/release-summary.yaml
Labels: none

chore: generate changelog only to the latest tag
  .github/workflows/release-summary.yaml
Labels: none

feat: kill middleware process on wunderctl up start (#77)
  Makefile
  cli/commands/up.go
Labels: engine

ci(release): release 0.94.2
  package.json
  packages/wunderctl/package.json
  pnpm-lock.yaml
Labels: npm, wunderctl

chore: sync wunderctl version
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: update examples
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/faunadb-nextjs/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs/package.json
  examples/postgres/package.json
  examples/publish-install-api/package.json
  examples/rbac/package.json
  examples/simple/package.json
  pkg/templates/assets/templates/application/package.json
  pkg/templates/assets/templates/nextjs-postgres-starter/package.json
  pkg/templates/assets/templates/nextjs-starter/package.json
  pkg/templates/assets/templates/publish-api/package.json
Labels: engine

chore: fix typo (#70)
  CONTRIBUTING.md
  packages/default-testapp/yarn.lock
Labels: npm

fix: handle cli paths correctly (#81)
  cli/commands/add.go
  cli/commands/generate.go
  cli/commands/publish.go
  cli/commands/remove.go
  cli/commands/root.go
  cli/commands/start.go
  cli/commands/up.go
  examples/simple/.wundergraph/operations/Hello.graphql
  examples/simple/.wundergraph/wundergraph.config.ts
  pkg/bundler/bundler.go
  pkg/files/files.go
  pkg/scriptrunner/scriptrunner.go
Labels: engine

chore(docs): update icons, metadata (#83)
  docs-website/public/favicon/android-icon-144x144.png
  docs-website/public/favicon/android-icon-192x192.png
  docs-website/public/favicon/android-icon-36x36.png
  docs-website/public/favicon/android-icon-48x48.png
  docs-website/public/favicon/android-icon-72x72.png
  docs-website/public/favicon/android-icon-96x96.png
  docs-website/public/favicon/apple-icon-114x114.png
  docs-website/public/favicon/apple-icon-120x120.png
  docs-website/public/favicon/apple-icon-144x144.png
  docs-website/public/favicon/apple-icon-152x152.png
  docs-website/public/favicon/apple-icon-180x180.png
  docs-website/public/favicon/apple-icon-57x57.png
  docs-website/public/favicon/apple-icon-60x60.png
  docs-website/public/favicon/apple-icon-72x72.png
  docs-website/public/favicon/apple-icon-76x76.png
  docs-website/public/favicon/apple-icon-precomposed.png
  docs-website/public/favicon/apple-icon.png
  docs-website/public/favicon/browserconfig.xml
  docs-website/public/favicon/favicon-16x16.png
  docs-website/public/favicon/favicon-32x32.png
  docs-website/public/favicon/favicon-96x96.png
  docs-website/public/favicon/favicon.ico
  docs-website/public/favicon/manifest.json
  docs-website/public/favicon/ms-icon-144x144.png
  docs-website/public/favicon/ms-icon-150x150.png
  docs-website/public/favicon/ms-icon-310x310.png
  docs-website/public/favicon/ms-icon-70x70.png
  docs-website/src/pages/_document.jsx
  docs-website/src/pages/index.md
Labels: none

ci(release): release 0.94.3
  package.json
  packages/wunderctl/package.json
  pnpm-lock.yaml
Labels: npm, wunderctl

chore: improve rbac example
  examples/rbac/README.md
Labels: none

chore: improve docs
  docs/README.md
Labels: none

chore: improve docs
  docs-website/README.md
Labels: none

chore: improve docs
  docs-website/README.md
Labels: none

chore: improve docs
  docs-website/src/components/Layout.jsx
  docs-website/src/components/MobileNavigation.jsx
Labels: none

chore: ignore docs for release summary
  .github/workflows/packages-release-preview.yaml
  .github/workflows/release-summary.yaml
Labels: none

fix: fix make cmd
  docs-website/package-lock.json
  packages/nextjs-testapp/package.json
Labels: npm

chore: add sitemap to docs
  docs-website/next-sitemap.config.mjs
  docs-website/package-lock.json
  docs-website/package.json
  docs-website/public/robots.txt
  docs-website/public/sitemap-0.xml
  docs-website/public/sitemap.xml
Labels: none

fix: regression allow to run wunderctl inside .wundergraph
  cli/commands/root.go
  cli/commands/up.go
  pkg/files/files.go
Labels: engine

ci(release): release 0.94.4
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: sync lock file
  pnpm-lock.yaml
Labels: npm

ci(release): release 0.94.5
  package.json
  packages/wunderctl/package.json
  pnpm-lock.yaml
Labels: npm, wunderctl

chore: sync lock file, Avoid failing releases when the pnpm-lock.yaml was not updated
  .github/workflows/engine-release.yaml
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: update examples
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/faunadb-nextjs/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs/package.json
  examples/postgres/package.json
  examples/publish-install-api/package.json
  examples/rbac/package.json
  examples/simple/package.json
  pkg/templates/assets/templates/application/package.json
  pkg/templates/assets/templates/nextjs-postgres-starter/package.json
  pkg/templates/assets/templates/nextjs-starter/package.json
  pkg/templates/assets/templates/publish-api/package.json
Labels: engine

chore(docs): update getting started + overview
  docs-website/src/components/Layout.jsx
  docs-website/src/pages/docs/core-concepts/index.md
  docs-website/src/pages/docs/examples/index.md
  docs-website/src/pages/docs/guides/index.md
  docs-website/src/pages/docs/use-cases/index.md
  docs-website/src/pages/docs/wunderctl-reference/index.md
  docs-website/src/pages/getting-started.md
  docs-website/src/pages/index.md
Labels: none

fix: make after clone
  Makefile
Labels: none

fix: make after clone
  Makefile
  package.json
Labels: none

fix: make after clone
  package.json
Labels: none
