Repository adonis0302/WunderGr-Backend-API, changes with the labels that .github/labeler.yml gives for each.
All labels: npm, sdk, wunderctl, nextjs, types, engine

chore: fix prettier precommit script
  package.json
Labels: none

chore: move to lerna (#24)
  .changeset/README.md
  .changeset/config.json
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/changesets.yaml
  .github/workflows/engine-ci.yaml
  .github/workflows/engine-release-darwin.yaml
  .github/workflows/engine-release-linux.yaml
  .github/workflows/engine-release-windows.yaml
  .github/workflows/labeler.yaml
  .github/workflows/packages-ci.yaml
  .github/workflows/packages-release-preview.yaml
  .github/workflows/packages-release.yaml
  .github/workflows/pr-title.yaml
  .github/workflows/wunderctl-release.yaml
  .gitignore
  .husky/commit-msg
  .prettierignore
  docs/release-management/README.md
  lerna.json
  package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/protobuf/CHANGELOG.md
  packages/protobuf/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/wunderctl/README.md
  pnpm-lock.yaml
Labels: npm, sdk, wunderctl, nextjs, types

chore: use user PAT to allow pushing to protected branches
  .github/workflows/packages-release.yaml
Labels: none

chore: use user PAT
  .github/workflows/packages-release.yaml
Labels: none

chore: skip ci after npm publish
  package.json
Labels: none

chore: improve docs
  CONTRIBUTING.md
Labels: none

chore: format code
  CONTRIBUTING.md
  package.json
Labels: none

chore: avoid workspace: protocol for published packages
  .npmrc
  docs/release-management/README.md
  package.json
  packages/nextjs/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: npm, sdk, nextjs

chore: dont expose lerna cmd, we dont use it for bootstrapping
  package.json
  pnpm-lock.yaml
Labels: npm

chore: update examples
  examples/nextjs-postgres-prisma/package.json
  examples/postgres/package.json
  examples/simple/package.json
  pkg/templates/assets/templates/application/package.json
  pkg/templates/assets/templates/nextjs-postgres-starter/package.json
  pkg/templates/assets/templates/nextjs-starter/package.json
  pkg/templates/assets/templates/publish-api/package.json
Labels: engine

chore: dont add workspace: protocol automatically
  .npmrc
  pnpm-workspace.yaml
Labels: npm

chore: dont assume wunderctl has been released
  package.json
Labels: none

chore: scope to wunderctl
  package.json
Labels: none

ci(release): release 0.90.28
  package.json
  packages/wunderctl/package.json
  pnpm-lock.yaml
Labels: npm, wunderctl

chore: update lock
  pnpm-lock.yaml
Labels: npm

chore: ignore properly files in prettier
  .prettierignore
  package.json
Labels: none

chore: use github ci token
  .github/workflows/engine-release-darwin.yaml
  .github/workflows/engine-release-linux.yaml
  .github/workflows/engine-release-windows.yaml
Labels: none

chore: remove pnpm exec
  package.json
Labels: none

chore: calculate previous tag for releaser correctly
  .github/workflows/engine-release-darwin.yaml
  .github/workflows/engine-release-linux.yaml
  .github/workflows/engine-release-windows.yaml
Labels: none

ci(release): release 0.90.29
  package.json
  packages/wunderctl/package.json
  pnpm-lock.yaml
Labels: npm, wunderctl

chore: format on pre-commit hook, ingore tags for change preview
  .github/workflows/packages-release-preview.yaml
  .husky/pre-commit
Labels: none

chore: add custom PAT to push formula
  .github/workflows/engine-release-darwin.yaml
Labels: none

ci(release): release 0.90.30
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: use one workflow to build for all platforms and release wunderctl
  .github/workflows/engine-release-darwin.yaml
  .github/workflows/engine-release-linux.yaml
  .github/workflows/engine-release-windows.yaml
  .github/workflows/engine-release.yaml
  .github/workflows/wunderctl-release.yaml
Labels: none

chore: use proper names for workflows
  .github/workflows/engine-ci.yaml
  .github/workflows/engine-release.yaml
  .github/workflows/packages-ci.yaml
  .github/workflows/wundernode-docker-release.yaml
Labels: none

ci(release): release 0.90.31
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: improve pnpm settings
  .npmrc
  pnpm-workspace.yaml
Labels: npm

chore: try release with pnpm
  .github/workflows/packages-release.yaml
  package.json
  packages/nextjs/package.json
  packages/protobuf/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk, nextjs, types

chore: define git user
  .github/workflows/packages-release.yaml
Labels: none

chore: commit lock after release
  .github/workflows/packages-release.yaml
  package.json
  packages/nextjs/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk, nextjs

chore: revert to previous release method
  .github/workflows/packages-release.yaml
  package.json
  packages/nextjs/package.json
  packages/protobuf/package.json
  packages/sdk/package.json
Labels: npm, sdk, nextjs, types

chore: trigger on all branches
  .github/workflows/packages-release-preview.yaml
Labels: none

chore: trigger on all pushes
  .github/workflows/packages-release-preview.yaml
Labels: none

chore: remove workspace protocol
  packages/nextjs/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk, nextjs

chore: add wunderhub example
  examples/publish-install-api/.gitignore
  examples/publish-install-api/.graphqlconfig
  examples/publish-install-api/.wundergraph/operations/DragonsAndWeather.graphql
  examples/publish-install-api/.wundergraph/wundergraph.config.ts
  examples/publish-install-api/.wundergraph/wundergraph.manifest.json
  examples/publish-install-api/.wundergraph/wundergraph.server.ts
  examples/publish-install-api/README.md
  examples/publish-install-api/package.json
  examples/publish-install-api/tsconfig.json
  pkg/templates/assets/templates/publish-api/README.md
Labels: engine

fix(engine): hook config is not needed to start the server
  cli/commands/up.go
Labels: engine

ci(release): release 0.90.32
  package.json
  packages/wunderctl/package.json
  pnpm-lock.yaml
Labels: npm, wunderctl

chore: add oss announcement
  README.md
Labels: none

chore: remove test statement
  pkg/datasources/database/datasource.go
Labels: engine

chore: do not trigger on tags
  .github/workflows/packages-release-preview.yaml
  README.md
Labels: none

.github/labeler.yml:

npm:
  - 'packages/**/*'
  - 'pnpm-lock.yaml'
  - 'pnpm-workspace.yaml'
sdk:
  - 'packages/sdk/**/*'
wunderctl:
  - 'packages/wunderctl/**/*'
nextjs:
  - 'packages/nextjs/**/*'
types:
  - 'packages/protobuf/**/*'
engine:
  - 'pkg/**/*'
  - 'internal/*/*'
  - 'cmd/**/*'
  - 'cli/**/*'
  - 'go.mod'
  - 'go.sum'
