Repository adonis0302/WunderGr-Backend-API, changes with the labels that .github/labeler.yml gives for each.
All labels: npm, sdk, wunderctl, nextjs, types, engine

fix: Small typo (#535)
  docs-website/src/pages/getting-started.md
Labels: none

chore: update graphql-go-tools version (#536)
  go.mod
  go.sum
  pkg/node/node_test.go
Labels: engine

chore: add nextauth example (#423)
  docs-website/config/navigation.js
  docs-website/config/tags.js
  docs-website/src/pages/docs/guides/configure-authorization.md
  docs-website/src/pages/docs/guides/token-based-authentication-with-next-auth.md
  packages/react-query/tests/hooks.test.tsx
  packages/sdk/src/client/client.ts
  packages/sdk/src/client/types.ts
  packages/sdk/src/codegen/templates/typescript/client.template.ts
  packages/sdk/src/codegen/templates/typescript/client.ts
  packages/swr/tests/hooks.test.tsx
  pkg/apihandler/apihandler.go
  pkg/authentication/authentication.go
  pnpm-lock.yaml
  testapps/nextauth/.gitignore
  testapps/nextauth/.graphqlconfig
  testapps/nextauth/.wundergraph/operations/Dragons.graphql
  testapps/nextauth/.wundergraph/operations/SetName.graphql
  testapps/nextauth/.wundergraph/wundergraph.config.ts
  testapps/nextauth/.wundergraph/wundergraph.operations.ts
  testapps/nextauth/.wundergraph/wundergraph.server.ts
  testapps/nextauth/README.md
  testapps/nextauth/lib/wundergraph.ts
  testapps/nextauth/middleware.ts
  testapps/nextauth/next-env.d.ts
  testapps/nextauth/package.json
  testapps/nextauth/pages/_app.tsx
  testapps/nextauth/pages/api/auth/[...nextauth].ts
  testapps/nextauth/pages/api/auth/userInfo.ts
  testapps/nextauth/pages/index.tsx
  testapps/nextauth/public/favicon.ico
  testapps/nextauth/tsconfig.json
Labels: npm, sdk, engine

feat: add support for disconnecting from Auth0 (#525)
  examples/auth0-oidc-authentication/.wundergraph/wundergraph.config.ts
  examples/auth0-oidc-authentication/README.md
  examples/auth0-oidc-authentication/package.json
  examples/auth0-oidc-authentication/pages/index.tsx
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/client/client.ts
  packages/sdk/src/client/types.ts
  packages/sdk/src/configure/authentication.ts
  pkg/apihandler/apihandler.go
  pkg/authentication/authentication.go
  pkg/authentication/oidc.go
  pkg/wgpb/wundernode_config.pb.go
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

feat: allow to init wundergraph into existing projects (#534)
  docs-website/src/pages/getting-started.md
  examples/simple/.wundergraph/operations/Hello.graphql
  examples/simple/.wundergraph/wundergraph.config.ts
  examples/simple/.wundergraph/wundergraph.server.ts
  examples/simple/README.md
  packages/create-wundergraph-app/README.md
  packages/create-wundergraph-app/src/helpers/download.ts
  packages/create-wundergraph-app/src/helpers/examples.ts
  packages/create-wundergraph-app/src/helpers/getRepoTags.ts
  packages/create-wundergraph-app/src/helpers/getRepository.ts
  packages/create-wundergraph-app/src/index.ts
  pnpm-lock.yaml
Labels: npm

fix: examples, schema extension generated code missing (#542)
  examples/schema-extension/server/graph/gen/gen.go
  examples/schema-extension/server/graph/schema.resolvers.go
  examples/schema-extension/server/server.go
Labels: none

fix: don't ignore data in mutatingPreResolve for queries (#540)
  pkg/apihandler/apihandler.go
Labels: engine

fix: prevent swallowing of input validation errors (#529)
  packages/react-query/src/types.ts
  packages/react-query/tests/index.test-d.ts
  packages/sdk/src/client/ClientResponseError.ts
  packages/sdk/src/client/InputValidationError.ts
  packages/sdk/src/client/client.test.ts
  packages/sdk/src/client/client.ts
  packages/sdk/src/client/index.ts
  packages/sdk/src/client/types.ts
  packages/swr/src/types.ts
  packages/swr/tests/hooks.test.tsx
  packages/swr/tests/swr.test-d.ts
Labels: npm, sdk

chore: added documentation for new errors (#547)
  docs-website/src/pages/docs/clients-reference/typescript-client.md
Labels: none

fix: test in nextjs-postgres-user-filters (#549)
  examples/nextjs-postgres-user-filters/.wundergraph/wundergraph.server.ts
  examples/nextjs-postgres-user-filters/test/index.test.ts
Labels: none

feat: make input required if there are required variables (#551)
  packages/react-query/src/hooks.ts
  packages/react-query/src/types.ts
  packages/react-query/tests/hooks.test.tsx
  packages/react-query/tests/index.test-d.ts
  packages/sdk/package.json
  packages/sdk/src/client/client.ts
  packages/sdk/src/client/index.ts
  packages/sdk/src/client/types.ts
  packages/sdk/test-d/client.test-d.ts
  packages/swr/src/types.ts
  pnpm-lock.yaml
Labels: npm, sdk

fix: sse subscription abort (#556)
  go.mod
  go.sum
Labels: engine

ci(release): Release 0.126.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

ci(release): Release 0.126.1
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: update wunderctl wrapper
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: update exxamples
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/expo-swr/package.json
  examples/faunadb-nextjs/package.json
  examples/fragments/package.json
  examples/golang-client/package.json
  examples/graphql-apollo-subscriptions/package.json
  examples/graphql-hasura-subscriptions/package.json
  examples/graphql-sse-subscriptions/package.json
  examples/graphql-subscriptions-hooks/package.json
  examples/graphql-ws-subscriptions/package.json
  examples/graphql-yoga-sse-subscriptions/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-file-upload/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-react-query/package.json
  examples/nextjs-todos/package.json
  examples/nextjs/package.json
  examples/nodejs-ts-client/package.json
  examples/openapi-mocking/package.json
  examples/postgres/package.json
  examples/rbac/package.json
  examples/schema-extension/package.json
  examples/simple/package.json
  examples/vite-swr/package.json
  examples/webhooks/package.json
Labels: none

chore: add nextjs functions example
  examples/nextjs-typescript-functions/.env.example
  examples/nextjs-typescript-functions/.gitignore
  examples/nextjs-typescript-functions/.graphqlconfig
  examples/nextjs-typescript-functions/.wundergraph/operations/Dragons.graphql
  examples/nextjs-typescript-functions/.wundergraph/operations/users/get.ts
  examples/nextjs-typescript-functions/.wundergraph/operations/users/subscribe.ts
  examples/nextjs-typescript-functions/.wundergraph/operations/users/update.ts
  examples/nextjs-typescript-functions/.wundergraph/wundergraph.config.ts
  examples/nextjs-typescript-functions/.wundergraph/wundergraph.operations.ts
  examples/nextjs-typescript-functions/.wundergraph/wundergraph.server.ts
  examples/nextjs-typescript-functions/README.md
  examples/nextjs-typescript-functions/jest.config.js
  examples/nextjs-typescript-functions/next-env.d.ts
  examples/nextjs-typescript-functions/package-lock.json
  examples/nextjs-typescript-functions/package.json
  examples/nextjs-typescript-functions/pages/_app.tsx
  examples/nextjs-typescript-functions/pages/index.tsx
  examples/nextjs-typescript-functions/pages/users/index.tsx
  examples/nextjs-typescript-functions/pages/users/subscribe.tsx
  examples/nextjs-typescript-functions/pages/users/update.tsx
  examples/nextjs-typescript-functions/public/favicon.ico
  examples/nextjs-typescript-functions/test/index.test.ts
  examples/nextjs-typescript-functions/tsconfig.json
Labels: none

fix: operation metadata type imports (#501)
  packages/sdk/src/codegen/templates/typescript/react.native.provider.template.ts
  packages/sdk/src/codegen/templates/typescript/react.provider.template.ts
Labels: npm, sdk

chore: update pnpm lock
  examples/apollo-federation/package-lock.json
  pnpm-lock.yaml
Labels: npm

chore: add migration docs for newly added URL structure
  docs/migrations/sdk-0.xxx-0.131.md
Labels: none

feat: fix infinite loop when callbacks are not memoized (#555)
  packages/react-query/src/hooks.ts
  packages/swr/src/hooks.ts
  testapps/nextjs/pages/react-query/realtime.tsx
  testapps/nextjs/pages/react-query/subscription.tsx
Labels: npm

feat: add support for videos in docs (#558)
  docs-website/markdoc/tags.js
  docs-website/src/components/Video.tsx
Labels: none

docs: add ts operations docs (#560)
  docs-website/config/navigation.js
  docs-website/src/pages/docs/features/index.md
  docs-website/src/pages/docs/features/typescript-operations.md
  docs-website/src/pages/docs/typescript-operations-reference/index.md
  docs-website/src/pages/index.md
  examples/cross-api-joins/package-lock.json
  examples/nextjs-typescript-functions/.wundergraph/operations/users/update.ts
  examples/nextjs-typescript-functions/pages/users/update.tsx
Labels: none

docs: more docs and examples for TS Operations (#563)
  docs-website/config/navigation.js
  docs-website/config/tags.js
  docs-website/src/pages/docs/examples/index.md
  docs-website/src/pages/docs/examples/nextjs-typescript-operations.md
  docs-website/src/pages/docs/guides/index.md
  docs-website/src/pages/docs/guides/typesafe_api_integrations_with_typescript_operations_and_graphql.md
  examples/nextjs-typescript-functions/.wundergraph/operations/Country.graphql
  examples/nextjs-typescript-functions/.wundergraph/operations/Weather.graphql
  examples/nextjs-typescript-functions/.wundergraph/operations/combine/weather.ts
  examples/nextjs-typescript-functions/.wundergraph/wundergraph.config.ts
  examples/nextjs-typescript-functions/pages/weather.tsx
Labels: none

feat: disable graphql maximum subscription message size limit (#564)
  go.mod
  go.sum
Labels: engine

fix: path formatting for resolveFieldName (#565)
  packages/sdk/src/v2openapi/index.test.ts
  packages/sdk/src/v2openapi/index.ts
Labels: npm, sdk

fix: handle consecutive hyphens or underscores when formatting field … (#566)
  packages/sdk/src/v2openapi/index.test.ts
  packages/sdk/src/v2openapi/index.ts
Labels: npm, sdk

docs: fix issue in ts operation docs, smaller video
  docs-website/public/videos/isomorphic_typescript_apis_1080_web.mp4
  docs-website/src/pages/docs/features/typescript-operations.md
  docs-website/src/pages/docs/guides/typesafe_api_integrations_with_typescript_operations_and_graphql.md
  examples/nextjs-typescript-functions/.wundergraph/operations/users/update.ts
  examples/nextjs-typescript-functions/pages/users/update.tsx
Labels: none

fix: workaround data race in qio-io/jsonschema (#572)
  pkg/inputvariables/validator.go
Labels: engine

fix: operations loading and normalization (#568)
  cli/commands/generate.go
  cli/commands/loadoperations.go
  cli/commands/root.go
  cli/commands/up.go
  examples/caching/test/index.test.ts
  examples/expo-swr/.wundergraph/wundergraph.config.ts
  examples/nextjs-react-query/test/index.test.ts
  examples/nextjs-typescript-functions/pages/users/update.tsx
  examples/nextjs-typescript-functions/test/index.test.ts
  examples/nextjs/test/index.test.ts
  go.mod
  packages/sdk/src/configure/index.ts
  packages/sdk/src/graphql/operations.test.ts
  packages/sdk/src/graphql/operations.ts
  packages/sdk/src/postman/builder.ts
  packages/sdk/src/server/plugins/functions.ts
  pkg/apihandler/apihandler.go
  pkg/apihandler/internalapihandler.go
  pkg/loadoperations/fixtures/loadoperations.golden
  pkg/loadoperations/loader.go
  pkg/loadoperations/loader_test.go
  pkg/loadoperations/testdata/operations/LevelChat.graphql
  pkg/loadoperations/testdata/operations/LevelNestedOne.ts
  pkg/loadoperations/testdata/operations/PREFIXChat.graphql
  pkg/loadoperations/testdata/operations/level/Chat.graphql
  pkg/loadoperations/testdata/operations/level/message.graphql
  pkg/loadoperations/testdata/operations/level/nested/one.ts
  pkg/loadoperations/testdata/schema.graphql
  testapps/nextjs/pages/functions/mutate.tsx
  testapps/vite/.wundergraph/wundergraph.config.ts
Labels: npm, sdk, engine

ci(release): Release 0.126.2
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: update wunderctl version (#574)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

feat: add upload profiles for S3 providers (#476)
  docs-website/src/pages/docs/features/file-uploads-to-s3-compatible-file-storages.md
  examples/nextjs-file-upload/.wundergraph/wundergraph.config.ts
  examples/nextjs-file-upload/.wundergraph/wundergraph.operations.ts
  examples/nextjs-file-upload/.wundergraph/wundergraph.server.ts
  examples/nextjs-file-upload/minio/setup.sh
  examples/nextjs-file-upload/package.json
  examples/nextjs-file-upload/pages/index.tsx
  go.mod
  go.sum
  packages/protobuf/wgpb/wundernode_config.ts
  packages/react-query/src/types.ts
  packages/react-query/tests/hooks.test.tsx
  packages/sdk/package.json
  packages/sdk/src/client/client.ts
  packages/sdk/src/client/index.ts
  packages/sdk/src/client/types.ts
  packages/sdk/src/codegen/templates/typescript/client.template.ts
  packages/sdk/src/codegen/templates/typescript/client.ts
  packages/sdk/src/codegen/templates/typescript/hooks.template.ts
  packages/sdk/src/codegen/templates/typescript/hooks.ts
  packages/sdk/src/codegen/templates/typescript/web.client.template.ts
  packages/sdk/src/codegen/templates/typescript/web.client.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/server/index.ts
  packages/sdk/src/server/plugins/hooks.ts
  packages/sdk/src/server/types.ts
  packages/sdk/test-d/client.test-d.ts
  packages/swr/src/types.ts
  pkg/apihandler/apihandler.go
  pkg/hooks/hooks.go
  pkg/s3uploadclient/s3uploadclient.go
  pkg/wgpb/wundernode_config.pb.go
  pnpm-lock.yaml
  testapps/nextjs/.wundergraph/wundergraph.config.ts
  testapps/nextjs/pages/react-query/upload.tsx
  testapps/nextjs/pages/upload.tsx
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

chore: update examples ui for ts operations (#576)
  examples/apollo-federation/pages/product/index.tsx
  examples/apollo-federation/pages/product/subscribe.tsx
  examples/apollo-federation/pages/product/update.tsx
  examples/auth0-oidc-authentication/pages/users/index.tsx
  examples/auth0-oidc-authentication/pages/users/subscribe.tsx
  examples/auth0-oidc-authentication/pages/users/update.tsx
  examples/caching/pages/users/index.tsx
  examples/caching/pages/users/subscribe.tsx
  examples/caching/pages/users/update.tsx
  examples/faunadb-nextjs/pages/users/index.tsx
  examples/faunadb-nextjs/pages/users/subscribe.tsx
  examples/faunadb-nextjs/pages/users/update.tsx
  examples/inject-bearer/pages/users/index.tsx
  examples/inject-bearer/pages/users/subscribe.tsx
  examples/inject-bearer/pages/users/update.tsx
  examples/keycloak-oidc-authentication/pages/users/index.tsx
  examples/keycloak-oidc-authentication/pages/users/subscribe.tsx
  examples/keycloak-oidc-authentication/pages/users/update.tsx
  examples/migrate-from-apollo/pages/users/index.tsx
  examples/migrate-from-apollo/pages/users/subscribe.tsx
  examples/migrate-from-apollo/pages/users/update.tsx
  examples/nextjs-postgres-prisma/pages/users/index.tsx
  examples/nextjs-postgres-prisma/pages/users/subscribe.tsx
  examples/nextjs-postgres-prisma/pages/users/update.tsx
  examples/nextjs-postgres-user-filters/pages/users/index.tsx
  examples/nextjs-postgres-user-filters/pages/users/subscribe.tsx
  examples/nextjs-postgres-user-filters/pages/users/update.tsx
  examples/nextjs-react-query/pages/users/index.tsx
  examples/nextjs-react-query/pages/users/subscribe.tsx
  examples/nextjs-react-query/pages/users/update.tsx
  examples/nextjs-typescript-functions/.wundergraph/operations/users/update.ts
  examples/nextjs-typescript-functions/pages/users/index.tsx
  examples/nextjs-typescript-functions/pages/users/subscribe.tsx
  examples/nextjs-typescript-functions/pages/users/update.tsx
  examples/nextjs/pages/users/index.tsx
  examples/nextjs/pages/users/subscribe.tsx
  examples/nextjs/pages/users/update.tsx
Labels: none

ci(release): Release 0.127.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: update wunderctl version to 0.127.0 (#577)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

test: add tests for webhooks example (#463)
  examples/webhooks/.env.example
  examples/webhooks/.wundergraph/wundergraph.config.ts
  examples/webhooks/jest.config.js
  examples/webhooks/package.json
  examples/webhooks/test/index.test.ts
Labels: none

fix: avoid double escaping special characters in JSON (#567)
  pkg/customhttpclient/customhttpclient.go
  pkg/customhttpclient/customhttpclient_test.go
Labels: engine

fix: use operationPath in client operation metadata (#583)
  packages/sdk/src/client/client.ts
  packages/sdk/src/codegen/templates/typescript/client.template.ts
Labels: npm, sdk

fix: mark json-schema-to-typescript as dependency instead of devDependency (#584)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

.github/labeler.yml:

npm:
  - 'packages/**/*'
  - 'pnpm-lock.yaml'
  - 'pnpm-workspace.yaml'
sdk:
  - 'packages/sdk/**/*'
wunderctl:
  - 'packages/wunderctl/**/*'
nextjs:
  - 'packages/nextjs/**/*'
types:
  - 'packages/protobuf/**/*'
engine:
  - 'pkg/**/*'
  - 'internal/*/*'
  - 'cmd/**/*'
  - 'cli/**/*'
  - 'go.mod'
  - 'go.sum'
