Repository adonis0302/WunderGr-Backend-API, changes with the labels that .github/labeler.yml gives for each.
All labels: npm, sdk, wunderctl, nextjs, types, engine

.github/labeler.yml:

npm:
  - 'packages/**/*'
  - 'pnpm-lock.yaml'
  - 'pnpm-workspace.yaml'
sdk:
  - 'packages/sdk/**/*'
wunderctl:
  - 'packages/wunderctl/**/*'
nextjs:
  - 'packages/nextjs/**/*'
types:
  - 'packages/protobuf/**/*'
engine:
  - 'pkg/**/*'
  - 'internal/*/*'
  - 'cmd/**/*'
  - 'cli/**/*'
  - 'go.mod'
  - 'go.sum'

docs: update quickstart.md (#812)
  docs-website/src/pages/docs/getting-started/quickstart.md
Labels: none

fix: formatting errors introduced in svelte examples (#817)
  examples/sveltekit/.wundergraph/tsconfig.json
  examples/sveltekit/.wundergraph/wundergraph.config.ts
  examples/sveltekit/src/routes/+layout.ts
  examples/sveltekit/src/routes/styles.css
  examples/sveltekit/svelte.config.js
  examples/sveltekit/vite.config.ts
  examples/vite-svelte/.wundergraph/wundergraph.config.ts
  examples/vite-svelte/index.html
  examples/vite-svelte/src/app.css
  examples/vite-svelte/src/main.ts
  examples/vite-svelte/svelte.config.js
  examples/vite-svelte/vite.config.ts
Labels: none

ci(release): Release 0.139.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: upgrade wunderctl in sdk
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: upgrade wunderctl in sdk (#825)
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/expo-swr/package.json
  examples/faunadb-nextjs/package.json
  examples/fragments/package.json
  examples/golang-client/package.json
  examples/graphql-apollo-subscriptions/package.json
  examples/graphql-hasura-subscriptions/package.json
  examples/graphql-sse-subscriptions/package.json
  examples/graphql-subscriptions-hooks/package.json
  examples/graphql-ws-subscriptions/package.json
  examples/graphql-yoga-sse-subscriptions/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/learn-wundergraph/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-clerk/package.json
  examples/nextjs-file-upload/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-react-query/package.json
  examples/nextjs-todos/package.json
  examples/nextjs-typescript-functions/package.json
  examples/nextjs/package.json
  examples/nodejs-ts-client/package.json
  examples/openapi-mocking/package.json
  examples/postgres/package.json
  examples/rbac/package.json
  examples/remix/package.json
  examples/schema-extension/package.json
  examples/simple/package.json
  examples/sveltekit/package.json
  examples/vite-solidjs/package.json
  examples/vite-svelte/package.json
  examples/vite-swr/package.json
  examples/webhooks/package.json
Labels: none

chore: update testapps scripts
  testapps/auth/package.json
  testapps/hooks/package.json
  testapps/mtls/package.json
  testapps/openapi/geojson/package.json
  testapps/postgres/package.json
  testapps/vite/package.json
Labels: none

fix: allow prisma to load from .env (#826)
  pkg/datasources/database/engine.go
Labels: engine

ci(release): Release 0.140.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: update wunderctl dependency (#827)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: bump examples to 0.140.0 (#828)
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/expo-swr/package.json
  examples/faunadb-nextjs/package.json
  examples/fragments/package.json
  examples/golang-client/package.json
  examples/graphql-apollo-subscriptions/package.json
  examples/graphql-hasura-subscriptions/package.json
  examples/graphql-sse-subscriptions/package.json
  examples/graphql-subscriptions-hooks/package.json
  examples/graphql-ws-subscriptions/package.json
  examples/graphql-yoga-sse-subscriptions/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/learn-wundergraph/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-clerk/package.json
  examples/nextjs-file-upload/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-react-query/package.json
  examples/nextjs-todos/package.json
  examples/nextjs-typescript-functions/package.json
  examples/nextjs/package.json
  examples/nodejs-ts-client/package.json
  examples/openapi-mocking/package.json
  examples/postgres/package.json
  examples/rbac/package.json
  examples/remix/package.json
  examples/schema-extension/package.json
  examples/simple/package.json
  examples/sveltekit/package.json
  examples/vite-solidjs/package.json
  examples/vite-svelte/package.json
  examples/vite-swr/package.json
  examples/webhooks/package.json
Labels: none

fix: svelte-query livequery config (#829)
  packages/svelte-query/README.md
  packages/svelte-query/src/lib/createSvelteClient.ts
  packages/svelte-query/tests/queryUtils.test.ts
Labels: npm

fix: add a check that token string is a real jwt token (#815)
  pkg/authentication/authentication.go
Labels: engine

fix: run examples in log mode for multi process examples (#830)
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/faunadb-nextjs/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/learn-wundergraph/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-clerk/package.json
  examples/nextjs-file-upload/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-react-query/package.json
  examples/nextjs-todos/package.json
  examples/nextjs-typescript-functions/package.json
  examples/nextjs/package.json
  examples/postgres/package.json
  examples/rbac/package.json
  testapps/nextauth/package.json
  testapps/nextjs/package.json
  testapps/vite/package.json
Labels: none

chore: add authentication guides (#831)
  docs-website/config/navigation.tsx
  docs-website/config/tags.js
  docs-website/markdoc/nodes.js
  docs-website/markdoc/tags.js
  docs-website/package.json
  docs-website/src/components/Card.tsx
  docs-website/src/components/CodeWindow.tsx
  docs-website/src/components/Fence.jsx
  docs-website/src/pages/docs/auth/cookie-based-auth/auth0/index.md
  docs-website/src/pages/docs/auth/cookie-based-auth/github/index.md
  docs-website/src/pages/docs/auth/cookie-based-auth/google/index.md
  docs-website/src/pages/docs/auth/cookie-based-auth/keycloak/index.md
  docs-website/src/pages/docs/auth/cookie-based-auth/openid-connect/index.md
  docs-website/src/pages/docs/auth/index.md
  docs-website/src/pages/docs/auth/token-based-auth/auth-js/index.md
  docs-website/src/pages/docs/auth/token-based-auth/clerk/index.md
  docs-website/src/pages/docs/auth/token-based-auth/openid-connect/index.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-custom-claims.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-token-based-authentication.md
  pnpm-lock.yaml
Labels: npm

fix: remove --no-cache from generate cmd help (#832)
  cli/commands/generate.go
  cli/commands/version.go
Labels: engine

chore: remove console log from tests
  packages/vue-query/package.json
  packages/vue-query/tests/hooks.test.ts
Labels: npm

fix: export CreateWebhookProps (#833)
  packages/sdk/src/webhooks/factory.ts
Labels: npm, sdk

fix: issue where webhooks with payload would fail (#835)
  packages/sdk/src/server/plugins/webhooks.ts
Labels: npm, sdk

ci(release): Release 0.140.1
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: upgrade wunderctl in sdk
  packages/sdk/package.json
Labels: npm, sdk

chore: update lock
  pnpm-lock.yaml
Labels: npm

fix: include config headers in graphiql (#836)
  pkg/graphiql/graphiql.html
  testapps/default/.wundergraph/wundergraph.config.ts
Labels: engine

ci(release): Release 0.140.2
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: update wunderctl dependency to 0.140.2 (#838)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: bump example sdk version to 0.144.3 (#839)
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/expo-swr/package.json
  examples/faunadb-nextjs/package.json
  examples/fragments/package.json
  examples/golang-client/package.json
  examples/graphql-apollo-subscriptions/package.json
  examples/graphql-hasura-subscriptions/package.json
  examples/graphql-sse-subscriptions/package.json
  examples/graphql-subscriptions-hooks/package.json
  examples/graphql-ws-subscriptions/package.json
  examples/graphql-yoga-sse-subscriptions/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/learn-wundergraph/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-clerk/package.json
  examples/nextjs-file-upload/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-react-query/package.json
  examples/nextjs-todos/package.json
  examples/nextjs-typescript-functions/package.json
  examples/nextjs/package.json
  examples/nodejs-ts-client/package.json
  examples/nuxt/package.json
  examples/openapi-mocking/package.json
  examples/postgres/package.json
  examples/rbac/package.json
  examples/remix/package.json
  examples/schema-extension/package.json
  examples/simple/package.json
  examples/sveltekit/package.json
  examples/vite-solidjs/package.json
  examples/vite-svelte/package.json
  examples/vite-swr/package.json
  examples/webhooks/package.json
Labels: none

fix: overhaul listener option handling (#840)
  cli/commands/node.go
  cli/commands/root.go
  cli/commands/up.go
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-wundernode-options.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/configure-wundergraph-server-options.md
  packages/sdk/src/configure/options.ts
  packages/sdk/src/server/server.ts
  packages/sdk/src/server/util.ts
  pkg/node/config.go
  pkg/node/node.go
  pkg/node/node_test.go
Labels: npm, sdk, engine

chore: improve readme (#842)
  README.md
Labels: none

chore: temporarily skip nuxt tests due to ESNEXT (#841)
  scripts/test-examples/all.sh
Labels: none

ci(release): Release 0.140.3
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: upgrade wunderctl in sdk
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

fix: avoid logging in tui mode (#843)
  cli/commands/up.go
Labels: engine

ci(release): Release 0.140.4
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: upgrade wunderctl in sdk
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: improve dummy check ci run
  .github/workflows/engine-ci-skip.yaml
  .github/workflows/packages-ci-skip.yaml
  .github/workflows/packages-ci.yaml
  .github/workflows/required_checks_dummy.yaml
Labels: none

chore: improve dummy check ci run
  .github/workflows/engine-ci.yaml
  .github/workflows/packages-ci.yaml
  .github/workflows/required_checks_dummy.yaml
Labels: none

chore: improve sdk readme
  packages/sdk/README.md
Labels: npm, sdk

chore: add keywords to package.json
  packages/sdk/package.json
Labels: npm, sdk

chore: astro example (#845)
  README.md
  docs-website/config/navigation.tsx
  docs-website/src/pages/docs/examples/astro.md
  examples/astro/.gitignore
  examples/astro/.wundergraph/operations/Continents.graphql
  examples/astro/.wundergraph/operations/Countries.graphql
  examples/astro/.wundergraph/wundergraph.config.ts
  examples/astro/.wundergraph/wundergraph.operations.ts
  examples/astro/.wundergraph/wundergraph.server.ts
  examples/astro/README.md
  examples/astro/astro.config.mjs
  examples/astro/package.json
  examples/astro/public/favicon.svg
  examples/astro/src/components/Card.astro
  examples/astro/src/env.d.ts
  examples/astro/src/layouts/Layout.astro
  examples/astro/src/lib/wundergraph.ts
  examples/astro/src/pages/continents/[code].astro
  examples/astro/src/pages/index.astro
  examples/astro/tsconfig.json
Labels: none

feat: enable subscriptions in graphiql (#848)
  pkg/apihandler/apihandler.go
  pkg/graphiql/graphiql.html
Labels: engine

ci(release): Release 0.141.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl
