Repository adonis0302/WunderGr-Backend-API, changes with the labels that .github/labeler.yml gives for each.
All labels: npm, sdk, wunderctl, nextjs, types, engine

.github/labeler.yml:

npm:
  - 'packages/**/*'
  - 'pnpm-lock.yaml'
  - 'pnpm-workspace.yaml'
sdk:
  - 'packages/sdk/**/*'
wunderctl:
  - 'packages/wunderctl/**/*'
nextjs:
  - 'packages/nextjs/**/*'
types:
  - 'packages/protobuf/**/*'
engine:
  - 'pkg/**/*'
  - 'internal/*/*'
  - 'cmd/**/*'
  - 'cli/**/*'
  - 'go.mod'
  - 'go.sum'

docs: fix typos in testing.md (#429)
  docs-website/src/pages/docs/guides/testing.md
Labels: none

fix: missing generated files in golang-client example (#435)
  examples/golang-client/.wundergraph/wundergraph.config.ts
Labels: none

fix: nextjs-swr example (#434)
  examples/nextjs-swr/pages/ssr.tsx
  packages/sdk/src/codegen/templates/typescript/client.template.ts
Labels: npm, sdk

feat(node): improve in-memory cache (#407)
  docs-website/config/tags.js
  docs-website/src/pages/docs/architecture/wundergraph-conventions.md
  go.mod
  go.sum
  pkg/node/config.go
  pkg/node/node_test.go
Labels: engine

fix: close ristretto cache when reconfiguring node (#401)
  pkg/apicache/apicache.go
  pkg/apihandler/apihandler.go
  pkg/node/node.go
Labels: engine

chore: add usage docs (#430)
  docs-website/config/navigation.js
  docs-website/src/pages/usage-information.md
Labels: none

fix: make prisma engine exit cleanly (#365)
  .github/workflows/packages-ci.yaml
  pkg/datasources/database/engine.go
Labels: engine

fix: return a 400 bad request when POST'ed JSON is invalid (#416)
  pkg/apihandler/apihandler.go
  pkg/inputvariables/validator.go
  pkg/inputvariables/validator_test.go
  pkg/node/fixtures/top products with invalid query as wg variables.golden
  pkg/node/fixtures/top products with invalid query.golden
Labels: engine

fix: handle telemetry flag correctly (#444)
  cli/commands/root.go
Labels: engine

fix: use of arguments default values (#411)
  go.mod
  go.sum
  pkg/apihandler/apihandler.go
  testapps/default/.wundergraph/operations/SdlField.graphql
  testapps/default/.wundergraph/operations/WeatherWithDefault.graphql
  testapps/default/.wundergraph/wundergraph.server.ts
Labels: engine

feat: update SWR to v2 🥳 (#446)
  docs-website/src/pages/docs/clients-reference/nextjs.md
  docs-website/src/pages/docs/clients-reference/swr.md
  docs/migrations/nextjs-0.3.0-0.4.0.md
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/expo-swr/package.json
  examples/faunadb-nextjs/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-swr/package.json
  examples/nextjs-todos/package.json
  examples/nextjs/package.json
  examples/rbac/package.json
  examples/vite-swr/package.json
  packages/nextjs/README.md
  packages/nextjs/package.json
  packages/swr/README.md
  packages/swr/package.json
  pnpm-lock.yaml
  testapps/nextjs/package.json
  testapps/vite/package.json
Labels: npm, nextjs

ci(release): Release 0.120.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: upgrade wunderctl
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

feat: add esm support to react query (#445)
  packages/react-query/package.json
  packages/react-query/tsconfig.build.json
  packages/react-query/tsconfig.json
  pnpm-lock.yaml
Labels: npm

test: add tests for graphql-apollo-subscriptions example (#443)
  examples/graphql-apollo-subscriptions/jest.config.js
  examples/graphql-apollo-subscriptions/package.json
  examples/graphql-apollo-subscriptions/test/index.test.ts
Labels: none

feat: upgrade sdk in examples (#449)
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/expo-swr/package.json
  examples/faunadb-nextjs/package.json
  examples/fragments/package.json
  examples/golang-client/package.json
  examples/graphql-apollo-subscriptions/package.json
  examples/graphql-hasura-subscriptions/package.json
  examples/graphql-sse-subscriptions/package.json
  examples/graphql-subscriptions-hooks/package.json
  examples/graphql-ws-subscriptions/package.json
  examples/graphql-yoga-sse-subscriptions/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-react-query/package.json
  examples/nextjs-swr/package.json
  examples/nextjs-todos/package.json
  examples/nextjs/package.json
  examples/openapi-mocking/package.json
  examples/postgres/package.json
  examples/rbac/package.json
  examples/schema-extension/package.json
  examples/simple/package.json
  examples/vite-swr/package.json
  examples/webhooks/package.json
Labels: none

feat: listen on both IPv4 and IPv6 by default (#451)
  docs-website/src/pages/docs/architecture/wundergraph-conventions.md
  docs-website/src/pages/docs/examples/graphql-sse-subscriptions.md
  docs-website/src/pages/docs/examples/graphql-subscriptions-hooks.md
  docs-website/src/pages/docs/examples/graphql-yoga-subscriptions.md
  docs-website/src/pages/docs/features/file-uploads-to-s3-compatible-file-storages.md
  docs-website/src/pages/docs/features/type-script-webhooks-to-integrate-third-party-applications.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-s3-file-upload-providers.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-wundernode-options.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/configure-wundergraph-server-options.md
  docs/wunderctl.md
  docs/wundernode.md
  examples/graphql-sse-subscriptions/.wundergraph/wundergraph.config.ts
  examples/graphql-sse-subscriptions/README.md
  examples/graphql-sse-subscriptions/gql-sse/server.ts
  examples/graphql-subscriptions-hooks/.wundergraph/wundergraph.config.ts
  examples/graphql-subscriptions-hooks/README.md
  examples/graphql-subscriptions-hooks/graphql-ws/server.ts
  examples/graphql-ws-subscriptions/.wundergraph/wundergraph.config.ts
  examples/graphql-ws-subscriptions/graphql-ws/server.ts
  examples/graphql-yoga-sse-subscriptions/.wundergraph/wundergraph.config.ts
  examples/graphql-yoga-sse-subscriptions/README.md
  examples/graphql-yoga-sse-subscriptions/yoga/server.ts
  packages/sdk/src/codegen/index.test.ts
  packages/sdk/src/configure/options.ts
  pkg/node/node.go
  pkg/node/node_test.go
  pkg/s3uploadclient/helpers_test.go
  pnpm-lock.yaml
  scripts/minio-setup.sh
  testapps/nextjs/.wundergraph/wundergraph.config.ts
  testapps/nextjs/minio/setup.sh
  testapps/nextjs/pages/react-query/upload.tsx
  testapps/nextjs/pages/upload.tsx
  testapps/vite/.wundergraph/wundergraph.config.ts
Labels: npm, sdk, engine

fix: csrf and authenticated uploads (#456)
  docs-website/src/pages/docs/features/file-uploads-to-s3-compatible-file-storages.md
  packages/sdk/src/client/client.ts
  pkg/apihandler/apihandler.go
Labels: npm, sdk, engine

feat(ci): add CI workflow for examples (#428)
  .github/workflows/examples-ci.yaml
  cli/helpers/cache.go
  examples/README.md
  examples/apollo-federation/package.json
  examples/graphql-apollo-subscriptions/package.json
  examples/graphql-apollo-subscriptions/test/index.test.ts
  examples/graphql-sse-subscriptions/package.json
  examples/graphql-subscriptions-hooks/package.json
  examples/graphql-ws-subscriptions/package.json
  examples/graphql-ws-subscriptions/test/index.test.ts
  examples/graphql-yoga-sse-subscriptions/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/postgres/package.json
  examples/schema-extension/package.json
  go.mod
  go.sum
  packages/sdk/package.json
  packages/sdk/src/testing/index.ts
  pkg/datasources/database/engine.go
  pnpm-lock.yaml
  scripts/test-examples/all.sh
  scripts/test-examples/collect.sh
  scripts/test-examples/single.sh
Labels: npm, sdk, engine

chore: fix examples readme
  examples/README.md
Labels: none

feat: add upload example (#459)
  examples/nextjs-file-upload/.env.example
  examples/nextjs-file-upload/.gitignore
  examples/nextjs-file-upload/.graphqlconfig
  examples/nextjs-file-upload/.wundergraph/operations/.gitkeep
  examples/nextjs-file-upload/.wundergraph/wundergraph.config.ts
  examples/nextjs-file-upload/README.md
  examples/nextjs-file-upload/minio/Dockerfile
  examples/nextjs-file-upload/minio/docker-compose.yml
  examples/nextjs-file-upload/minio/setup.sh
  examples/nextjs-file-upload/next-env.d.ts
  examples/nextjs-file-upload/package.json
  examples/nextjs-file-upload/pages/_app.tsx
  examples/nextjs-file-upload/pages/index.tsx
  examples/nextjs-file-upload/public/favicon.ico
  examples/nextjs-file-upload/public/logo.svg
  examples/nextjs-file-upload/tsconfig.json
Labels: none

chore: update scripts for upload example (#466)
  examples/nextjs-file-upload/.gitignore
  examples/nextjs-file-upload/package.json
Labels: none

chore: enforce formatting of prettier-formatted files in CI (#421)
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/packages-ci.yaml
  .prettierignore
  CODE_OF_CONDUCT.md
  SECURITY.md
  package.json
Labels: none

fix: fix the ui and docs of nextjs-react-query example (#458)
  docs-website/src/pages/docs/examples/nextjs-react-query.md
  examples/nextjs-react-query/components/Nav.tsx
  examples/nextjs-react-query/pages/index.tsx
Labels: none

fix: detect server ready when the hooks server health check is disabled (#462)
  packages/sdk/src/testing/index.ts
Labels: npm, sdk

fix: run the formatting step only on added, copied,modified,renamed a… (#469)
  .github/workflows/packages-ci.yaml
Labels: none

ci(release): Release 0.121.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: bump wunderctl dependency to >= 0.121 (#471)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

feat: add Node.js + TypeScript client example (#472)
  README.md
  examples/nodejs-ts-client/.gitignore
  examples/nodejs-ts-client/.wundergraph/.graphqlconfig
  examples/nodejs-ts-client/.wundergraph/operations/Continents.graphql
  examples/nodejs-ts-client/.wundergraph/operations/Countries.graphql
  examples/nodejs-ts-client/.wundergraph/wundergraph.config.ts
  examples/nodejs-ts-client/.wundergraph/wundergraph.operations.ts
  examples/nodejs-ts-client/.wundergraph/wundergraph.server.ts
  examples/nodejs-ts-client/README.md
  examples/nodejs-ts-client/client.ts
  examples/nodejs-ts-client/jest.config.js
  examples/nodejs-ts-client/package.json
  examples/nodejs-ts-client/test/index.test.ts
  examples/nodejs-ts-client/tsconfig.json
Labels: none

feat: better error messages when resolving undefined variables (#419)
  packages/sdk/src/configure/variables.ts
  packages/sdk/src/db/introspection.ts
  packages/sdk/src/definition/federation-introspection.ts
  packages/sdk/src/definition/graphql-introspection.ts
Labels: npm, sdk

fix: use github token for getTags API to increase the rate limit (#467)
  .github/workflows/packages-ci.yaml
  packages/create-wundergraph-app/README.md
  packages/create-wundergraph-app/example.env
  packages/create-wundergraph-app/package.json
  packages/create-wundergraph-app/src/helpers/getRepoTags.ts
  pnpm-lock.yaml
Labels: npm

chore: add react-query to lerna configuration (#478)
  lerna.json
Labels: none

fix: react-query dependency in testsapps/nextjs (#479)
  testapps/nextjs/package.json
Labels: none

fix: update outdated pnpm lockfile (#480)
  pnpm-lock.yaml
Labels: npm

fix(create): move dotenv from devDependencies to dependencies (#483)
  packages/create-wundergraph-app/package.json
  pnpm-lock.yaml
Labels: npm

chore: fix example
  examples/apollo-federation/.wundergraph/operations/TopProducts.graphql
  examples/apollo-federation/package.json
Labels: none

feat: find WG context based on config file (#485)
  cli/commands/root.go
  pkg/files/files.go
Labels: engine

fix: apollo generate cmd name for examples CI (#488)
  examples/apollo-federation/package.json
Labels: none

fix(docs): remove hub command references (#492)
  docs-website/src/pages/docs/wunderctl-reference/index.md
  docs-website/src/pages/docs/wunderctl-reference/wunderctl-add.md
  docs-website/src/pages/docs/wunderctl-reference/wunderctl-login.md
  docs-website/src/pages/docs/wunderctl-reference/wunderctl-logout.md
  docs-website/src/pages/docs/wunderctl-reference/wunderctl-remove.md
Labels: none

feat: add @removeNullVariables directives (#477)
  docs-website/src/pages/docs/directives-reference/index.md
  docs-website/src/pages/docs/directives-reference/remove-null-variables-directive.md
  go.mod
  go.sum
  packages/sdk/src/definition/__snapshots__/graphql-introspection.test.ts.snap
  packages/sdk/src/definition/__snapshots__/merge.test.ts.snap
  packages/sdk/src/definition/merge.ts
  pkg/apihandler/apihandler.go
  pkg/apihandler/errors.go
  pkg/apihandler/internalapihandler.go
  pkg/node/node_test.go
Labels: npm, sdk, engine
