Repository adonis0302/WunderGr-Backend-API, changes with the labels that .github/labeler.yml gives for each.
All labels: npm, sdk, wunderctl, nextjs, types, engine

feat: improved context factory types (#1250)
  docs-website/src/pages/docs/guides/context-factory.md
  docs-website/src/pages/docs/guides/logging.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/context-factory.md
  packages/sdk/src/codegen/templates/typescript/server.template.ts
  packages/sdk/src/server/index.ts
  packages/sdk/src/server/types.ts
  packages/testsuite/apps/basic/.wundergraph/wundergraph.server.ts
  testapps/nextjs/.wundergraph/wundergraph.server.ts
Labels: npm, sdk

fix: show correct upstream request duration (#1265)
  pkg/apihandler/apitransport.go
Labels: engine

chore: improve script for bumping SDK in examples (#1262)
  scripts/bump-sdk-in-examples.sh
  scripts/bump-versions.sh
Labels: none

feat: enable log output by default (#1268)
  cli/commands/root.go
  cli/commands/up.go
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/faunadb-nextjs/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/learn-wundergraph/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-clerk/package.json
  examples/nextjs-file-upload/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-react-query/package.json
  examples/nextjs-todos/package.json
  examples/nextjs-typescript-functions/package.json
  examples/nextjs/package.json
  examples/open-telemetry/package.json
  examples/rbac/package.json
  testapps/nextauth/package.json
  testapps/nextjs-integrations/package.json
  testapps/nextjs/package.json
  testapps/vite/package.json
Labels: engine

feat: make --debug log all requests and responses to the node (#1271)
  cli/commands/node.go
  cli/commands/start.go
  cli/commands/up.go
  pkg/apihandler/apihandler.go
  pkg/apihandler/apihandler_test.go
  pkg/node/node.go
  pkg/node/node_test.go
Labels: engine

feat: log requests and responses to OpenAPI and SOAP upstreams (#1272)
  packages/sdk/src/server/plugins/fetch.ts
  packages/sdk/src/server/plugins/omnigraphOAS.ts
  packages/sdk/src/server/plugins/omnigraphSOAP.ts
Labels: npm, sdk

fix: make errors in GraphQL operations stop code generation in production (#1267)
  packages/sdk/src/graphql/operations.ts
  testapps/default/.wundergraph/operations/Post.graphql
  testapps/default/.wundergraph/operations/foo/Join.graphql
Labels: npm, sdk

feat: add rust client (#1266)
  .github/workflows/packages-ci.yaml
  lerna.json
  packages/golang-client/src/index.ts
  packages/rust-client/README.md
  packages/rust-client/index.ts
  packages/rust-client/package.json
  packages/rust-client/tsconfig.json
  packages/sdk/src/codegen/templates/typescript/index.ts
  packages/sdk/src/configure/index.ts
  packages/testsuite/apps/basic/.wundergraph/wundergraph.generate.ts
  packages/testsuite/apps/basic/rust/.gitignore
  packages/testsuite/apps/basic/rust/Cargo.toml
  packages/testsuite/apps/basic/rust/test.sh
  packages/testsuite/apps/basic/rust/tests/Cargo.toml
  packages/testsuite/apps/basic/rust/tests/src/lib.rs
  packages/testsuite/apps/basic/rust/tests/tests/test.rs
  packages/testsuite/package.json
  pnpm-lock.yaml
Labels: npm, sdk

feat: include authentication refresh tokens in User objects (#1269)
  packages/sdk/src/server/types.ts
  pkg/apihandler/apihandler.go
  pkg/authentication/authentication.go
  pkg/authentication/config.go
  pkg/authentication/github.go
  pkg/authentication/oauth2.go
  pkg/authentication/oidc.go
Labels: npm, sdk, engine

.github/labeler.yml:

npm:
  - 'packages/**/*'
  - 'pnpm-lock.yaml'
  - 'pnpm-workspace.yaml'
sdk:
  - 'packages/sdk/**/*'
wunderctl:
  - 'packages/wunderctl/**/*'
nextjs:
  - 'packages/nextjs/**/*'
types:
  - 'packages/protobuf/**/*'
engine:
  - 'pkg/**/*'
  - 'internal/*/*'
  - 'cmd/**/*'
  - 'cli/**/*'
  - 'go.mod'
  - 'go.sum'
