Repository adonis0302/WunderGr-Backend-API, changes with the labels that .github/labeler.yml gives for each.
All labels: npm, sdk, wunderctl, nextjs, types, engine

feat: provide a default baseURL in the Go client (#680)
  docs-website/src/pages/docs/supported-backend-languages-frameworks/golang-go.md
  examples/golang-client/go/main.go
  packages/golang-client/src/client-template.ts
  packages/golang-client/src/index.ts
Labels: npm

feat: provide more detailed error messages when introspecting databases (#685)
  pkg/datasources/database/engine.go
Labels: engine

docs: add solid link (#687)
  docs-website/config/navigation.tsx
  docs-website/src/pages/docs/clients-reference/index.md
Labels: none

feat: add json patch support, response zod schema for ts operations (#689)
  docs-website/src/pages/docs/architecture/wundergraph-rpc-protocol-explained.md
  examples/vite-swr/.wundergraph/operations/Dragons.graphql
  go.mod
  go.sum
  packages/nextjs/src/with-wundergraph.test.tsx
  packages/react-query/tests/hooks.test.tsx
  packages/sdk/package.json
  packages/sdk/src/client/client.test.ts
  packages/sdk/src/client/client.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/operations/operations.ts
  packages/sdk/src/server/plugins/functions.ts
  packages/solid-query/tests/hooks.test.tsx
  packages/swr/tests/hooks.test.tsx
  pkg/apihandler/apihandler.go
  pkg/apihandler/apihandler_test.go
  pkg/apihandler/apitransport.go
  pkg/authentication/authentication.go
  pkg/engineconfigloader/engineconfigloader.go
  pkg/hooks/hooks.go
  pkg/hooks/pipeline.go
  pkg/s3uploadclient/s3uploadclient.go
  pnpm-lock.yaml
  testapps/auth/package.json
  testapps/hooks/package.json
  testapps/hooks/test/index.test.ts
  testapps/nextjs/.wundergraph/operations/Countdown.graphql
  testapps/nextjs/.wundergraph/operations/time/now.ts
  testapps/nextjs/.wundergraph/operations/users/get.ts
  testapps/nextjs/.wundergraph/operations/users/subscribe_no_input.ts
  testapps/nextjs/.wundergraph/operations/users/subscribe_without_schema.ts
  testapps/nextjs/.wundergraph/wundergraph.config.ts
  testapps/nextjs/.wundergraph/wundergraph.server.ts
  testapps/nextjs/pages/api/graphql.ts
  testapps/nextjs/pages/functions/get.tsx
  testapps/nextjs/pages/functions/subscribe_no_input.tsx
  testapps/nextjs/tsconfig.json
Labels: npm, sdk, nextjs, engine

ci(release): Release 0.131.1
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: update wunderctl version (#690)
  docs-website/src/pages/docs/supported-data-sources/prisma.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-prisma-datasource.md
  docs/wundergraphVSpostgraphile.md
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: ignore docs path explicitly (#691)
  .github/workflows/engine-ci-skip.yaml
  .github/workflows/engine-ci.yaml
  .github/workflows/packages-ci-skip.yaml
  .github/workflows/packages-ci.yaml
Labels: none

fix: updating quickstart guide with new link (#688)
  docs-website/src/pages/docs/getting-started/quickstart.md
Labels: none

chore: fix all docs flickering (#692)
  docs-website/src/components/Navigation.jsx
Labels: none

chore: fix engine-ci-skip (#693)
  .github/workflows/engine-ci-skip.yaml
Labels: none

chore: add example of not updating list (#694)
  examples/nextjs/.wundergraph/operations/incremental/data.ts
  examples/nextjs/.wundergraph/operations/incremental/delay.ts
  examples/nextjs/package.json
  examples/nextjs/pages/incremental/index.tsx
  packages/sdk/src/client/client.ts
  testapps/nextjs/.wundergraph/operations/incremental/data.ts
  testapps/nextjs/.wundergraph/operations/incremental/delay.ts
  testapps/nextjs/pages/incremental/index.tsx
Labels: npm, sdk

chore: upgrade sdk in examples (#697)
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/expo-swr/package.json
  examples/faunadb-nextjs/package.json
  examples/fragments/package.json
  examples/golang-client/package.json
  examples/graphql-apollo-subscriptions/package.json
  examples/graphql-hasura-subscriptions/package.json
  examples/graphql-sse-subscriptions/package.json
  examples/graphql-subscriptions-hooks/package.json
  examples/graphql-ws-subscriptions/package.json
  examples/graphql-yoga-sse-subscriptions/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-file-upload/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-react-query/package.json
  examples/nextjs-todos/package.json
  examples/nextjs-typescript-functions/package.json
  examples/nextjs/package.json
  examples/nodejs-ts-client/package.json
  examples/openapi-mocking/package.json
  examples/postgres/package.json
  examples/rbac/package.json
  examples/remix/package.json
  examples/schema-extension/package.json
  examples/simple/package.json
  examples/vite-solidjs/package.json
  examples/vite-swr/package.json
  examples/webhooks/package.json
Labels: none

fix: graphql introspection with renamed query types (#699)
  Makefile
  packages/sdk/src/graphql/__snapshots__/schema.test.ts.snap
  packages/sdk/src/graphql/schema.test.ts
  packages/sdk/src/graphql/schema.ts
  testapps/simple/.wundergraph/operations/.keep
  testapps/simple/.wundergraph/operations/Hello.graphql
  testapps/simple/.wundergraph/wundergraph.server.ts
Labels: npm, sdk

chore: add example of internal subscription (#700)Co-authored-by: spetrunin <neyasut@gmail.com>
  packages/sdk/src/server/operations-client.ts
  pkg/apihandler/apihandler.go
  pnpm-lock.yaml
  testapps/default/.wundergraph/operations/federation/CustomPriceUpdates.ts
  testapps/default/.wundergraph/operations/federation/PriceUpdates.graphql
  testapps/default/.wundergraph/operations/federation/WrapperPriceUpdates.ts
  testapps/default/.wundergraph/wundergraph.config.ts
  testapps/default/.wundergraph/wundergraph.server.ts
Labels: npm, sdk, engine

fix: support yarn 3 with create-wundergraph-app --init (#704)
  packages/create-wundergraph-app/src/helpers/getRepository.ts
Labels: npm

feat: store generated authentication secrets in secrets manager on deploy (#666)
  docs-website/config/navigation.tsx
  docs-website/src/pages/docs/self-hosted/index.md
  docs-website/src/pages/docs/self-hosted/security.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-cookie-based-authentication.md
  examples/apollo-federation/.env.example
  examples/apollo-federation/.wundergraph/wundergraph.config.ts
  examples/caching/.env.example
  examples/caching/.wundergraph/wundergraph.config.ts
  examples/hooks/.env.example
  examples/hooks/.wundergraph/wundergraph.config.ts
  examples/nextjs-postgres-prisma/.env.example
  examples/nextjs-postgres-prisma/.wundergraph/wundergraph.config.ts
  examples/nextjs-postgres-user-filters/.env.example
  examples/nextjs-postgres-user-filters/.wundergraph/wundergraph.config.ts
  examples/nextjs-react-query/.env.example
  examples/nextjs-react-query/.wundergraph/wundergraph.config.ts
  examples/nextjs-typescript-functions/.env.example
  examples/nextjs-typescript-functions/.wundergraph/wundergraph.config.ts
  examples/nextjs/.env.example
  examples/nextjs/.wundergraph/wundergraph.config.ts
  examples/remix/.wundergraph/wundergraph.config.ts
  examples/vite-swr/.env.example
  examples/vite-swr/.wundergraph/wundergraph.config.ts
  examples/webhooks/.env.example
  examples/webhooks/.wundergraph/wundergraph.config.ts
  pkg/apihandler/api.go
  pkg/apihandler/apihandler.go
  pkg/node/node.go
  pkg/validate/apiconfig.go
  pkg/validate/apiconfig_test.go
  testapps/default/.wundergraph/wundergraph.config.ts
  testapps/default/test/index.test.ts
Labels: engine

chore: fix prettier formatting check when filenames contain $ (#702)
  .github/workflows/packages-ci.yaml
Labels: none

chore: add custom domains documentation (#707)Co-authored-by: David Stutt <david@wundergraph.com>
  docs-website/config/navigation.tsx
  docs-website/src/pages/docs/cloud/custom-domains.md
  docs-website/src/pages/docs/cloud/index.md
Labels: none

ci(release): Release 0.131.2
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: upgrade sdk
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

fix: sse json patch (#708)
  pkg/apihandler/apihandler.go
Labels: engine

chore: upgrade sdk in examples
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/expo-swr/package.json
  examples/faunadb-nextjs/package.json
  examples/fragments/package.json
  examples/golang-client/package.json
  examples/graphql-apollo-subscriptions/package.json
  examples/graphql-hasura-subscriptions/package.json
  examples/graphql-sse-subscriptions/package.json
  examples/graphql-subscriptions-hooks/package.json
  examples/graphql-ws-subscriptions/package.json
  examples/graphql-yoga-sse-subscriptions/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-file-upload/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-react-query/package.json
  examples/nextjs-todos/package.json
  examples/nextjs-typescript-functions/package.json
  examples/nextjs/package.json
  examples/nodejs-ts-client/package.json
  examples/openapi-mocking/package.json
  examples/postgres/package.json
  examples/rbac/package.json
  examples/remix/package.json
  examples/schema-extension/package.json
  examples/simple/package.json
  examples/vite-solidjs/package.json
  examples/vite-swr/package.json
  examples/webhooks/package.json
Labels: none

ci(release): Release 0.131.3
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: bump wunderctl
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: upgrade sdk in examples
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/expo-swr/package.json
  examples/faunadb-nextjs/package.json
  examples/fragments/package.json
  examples/golang-client/package.json
  examples/graphql-apollo-subscriptions/package.json
  examples/graphql-hasura-subscriptions/package.json
  examples/graphql-sse-subscriptions/package.json
  examples/graphql-subscriptions-hooks/package.json
  examples/graphql-ws-subscriptions/package.json
  examples/graphql-yoga-sse-subscriptions/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-file-upload/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-react-query/package.json
  examples/nextjs-todos/package.json
  examples/nextjs-typescript-functions/package.json
  examples/nextjs/package.json
  examples/nodejs-ts-client/package.json
  examples/openapi-mocking/package.json
  examples/postgres/package.json
  examples/rbac/package.json
  examples/remix/package.json
  examples/schema-extension/package.json
  examples/simple/package.json
  examples/vite-solidjs/package.json
  examples/vite-swr/package.json
  examples/webhooks/package.json
Labels: none

fix: operation name normalization on Windows (#703)
  cli/commands/loadoperations.go
  examples/simple/package.json
  pkg/loadoperations/fixtures/loadoperations.golden
  pkg/loadoperations/loader.go
  pkg/loadoperations/loader_test.go
  pkg/loadoperations/testdata/loadoperations/operations/LevelChat.graphql
  pkg/loadoperations/testdata/loadoperations/operations/LevelChat.ts
  pkg/loadoperations/testdata/loadoperations/operations/LevelNestedOne.ts
  pkg/loadoperations/testdata/loadoperations/operations/PREFIXChat.graphql
  pkg/loadoperations/testdata/loadoperations/operations/level/Chat.graphql
  pkg/loadoperations/testdata/loadoperations/operations/level/message.graphql
  pkg/loadoperations/testdata/loadoperations/operations/level/nested/one.ts
  pkg/loadoperations/testdata/loadoperations/schema.graphql
  pkg/watcher/watcher.go
Labels: engine

feat: add support for injecting variables into nested paths (#678)
  docs-website/src/pages/docs/directives-reference/from-claim-directive.md
  docs-website/src/pages/docs/directives-reference/inject-current-datetime-directive.md
  docs-website/src/pages/docs/directives-reference/inject-environment-variable-directive.md
  docs-website/src/pages/docs/directives-reference/inject-generated-uuid-directive.md
  docs-website/src/pages/docs/directives-reference/json-schema-directive.md
  go.mod
  go.sum
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/client/index.ts
  packages/sdk/src/definition/__snapshots__/graphql-introspection.test.ts.snap
  packages/sdk/src/definition/__snapshots__/merge.test.ts.snap
  packages/sdk/src/definition/merge.ts
  packages/sdk/src/graphql/operations.test.ts
  packages/sdk/src/graphql/operations.ts
  pkg/apihandler/apihandler.go
  pkg/wgpb/wundernode_config.pb.go
  testapps/auth/.wundergraph/operations/claims/IntoStruct.graphql
  testapps/auth/.wundergraph/operations/claims/NestedInjectedClaim.graphql
  testapps/auth/.wundergraph/operations/claims/NestedInjectedClaims.graphql
  testapps/auth/.wundergraph/wundergraph.config.ts
  testapps/auth/.wundergraph/wundergraph.server.ts
  testapps/auth/test/index.test.ts
  testapps/default/.wundergraph/operations/CountryByFilter.graphql
  testapps/default/.wundergraph/operations/CountryByFilterValidated.graphql
  testapps/default/test/index.test.ts
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

chore: added google to custom domain docs (#711)
  docs-website/src/pages/docs/cloud/custom-domains.md
Labels: none

chore: add GoDaddy to custom domain docs (#713)
  docs-website/src/pages/docs/cloud/custom-domains.md
Labels: none

fix: crash in ServerPortFromConfig when configuration is invalid (#715)
  cli/helpers/process.go
Labels: engine

feat: improve webhooks API and add support for the new operations client (#709)
  docs-website/src/pages/docs/features/type-script-webhooks-to-integrate-third-party-applications.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/webhooks.md
  packages/sdk/package.json
  packages/sdk/src/codegen/templates/typescript/internal.operations.client.template.ts
  packages/sdk/src/codegen/templates/typescript/webhooks.template.ts
  packages/sdk/src/operations/operations.ts
  packages/sdk/src/server/index.ts
  packages/sdk/src/server/operations-client.ts
  packages/sdk/src/server/plugins/webhooks.ts
  packages/sdk/src/server/server.ts
  packages/sdk/src/testing/index.ts
  packages/sdk/src/typedefinitions/postman-collection/index.d.ts
  packages/sdk/src/typedefinitions/swagger2openapi/index.d.ts
  packages/sdk/src/webhooks/factory.ts
  packages/sdk/src/webhooks/types.ts
  packages/sdk/test-d/webhook-factory.test-d.ts
  pkg/apihandler/apitransport.go
  pkg/hooks/hooks.go
  pnpm-lock.yaml
  testapps/default/.wundergraph/webhooks/github.ts
  testapps/default/package.json
  testapps/nextjs/.wundergraph/webhooks/stripe.ts
  testapps/nextjs/package.json
Labels: npm, sdk, engine

feat: add support for declaring a list of public claims (#706)
  docs-website/src/pages/docs/auth/claims.md
  docs-website/src/pages/docs/auth/index.md
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/codegen/index.test.ts
  packages/sdk/src/codegen/templates/typescript/claims.template.ts
  packages/sdk/src/codegen/templates/typescript/claims.ts
  packages/sdk/src/codegen/templates/typescript/client.template.ts
  packages/sdk/src/codegen/templates/typescript/client.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/definition/merge.ts
  packages/sdk/src/graphql/operations.ts
  pkg/apihandler/apihandler.go
  pkg/authentication/authentication.go
  pkg/authentication/oidc.go
  pkg/httpidletimeout/httpidletimeout_test.go
  pkg/jsonpath/jsonpath.go
  pkg/jsonpath/jsonpath_test.go
  pkg/wgpb/wundernode_config.pb.go
  testapps/auth/.wundergraph/wundergraph.config.ts
  testapps/auth/test/index.test.ts
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

chore: upgrade json5 and golang.org/x/net (#719)
  docs-website/package-lock.json
  docs-website/package.json
  go.mod
  go.sum
  pnpm-lock.yaml
Labels: npm, engine

chore: remove new api introspection (#717)
  packages/sdk/package.json
  packages/sdk/src/configure/index.test.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/definition/graphql-introspection.test.ts
  packages/sdk/src/definition/index.test.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/definition/openapi-introspection.ts
  packages/sdk/src/openapi/execution.ts
  packages/sdk/src/openapi/index.ts
  packages/sdk/src/openapi/introspection.ts
  packages/sdk/src/server/mount-path.ts
  packages/sdk/src/server/plugins/graphql.ts
  packages/sdk/src/server/server.ts
  packages/sdk/src/server/util.ts
  pkg/apihandler/apihandler.go
  pkg/apihandler/internalapihandler.go
  pkg/engineconfigloader/engineconfigloader.go
  pnpm-lock.yaml
Labels: npm, sdk, engine

chore: clean up docs (#720)
  docs-website/src/pages/docs/cloud/custom-domains.md
Labels: none

chore: re-enable hook tests (#698)
  testapps/default/package.json
  testapps/hooks/test/index.test.ts
Labels: none

fix: upload types (#723)
  packages/react-query/src/types.ts
  packages/sdk/src/client/index.ts
  packages/sdk/src/client/types.ts
  packages/sdk/src/codegen/templates/typescript/client.template.ts
  packages/sdk/test-d/client.test-d.ts
  packages/solid-query/src/types.ts
  packages/swr/src/types.ts
  packages/swr/tests/swr.test-d.ts
Labels: npm, sdk

feat: add support for generating OpenAPI specs for applications (#716)
  docs-website/config/navigation.tsx
  docs-website/src/pages/docs/features/index.md
  docs-website/src/pages/docs/features/openapi-postman.md
  docs-website/src/pages/docs/frequently-asked-questions/does-wundergraph-support-postman-collections.md
  docs-website/src/pages/docs/guides/index.md
  packages/sdk/package.json
  packages/sdk/src/configure/index.ts
  packages/sdk/src/graphql/__snapshots__/operations.test.ts.snap
  packages/sdk/src/graphql/operations.test.ts
  packages/sdk/src/graphql/operations.ts
  packages/sdk/src/openapibuilder/__snapshots__/index.test.ts.snap
  packages/sdk/src/openapibuilder/index.test.ts
  packages/sdk/src/openapibuilder/index.ts
  packages/sdk/src/openapibuilder/operations.ts
  packages/sdk/src/postman/__snapshots__/builder.test.ts.snap
  packages/sdk/src/postman/builder.ts
  pnpm-lock.yaml
Labels: npm, sdk

fix: don't require a clientRequest for hooks (#722)
  pkg/apihandler/apitransport.go
  pkg/hooks/hooks.go
Labels: engine

ci(release): Release 0.132.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

.github/labeler.yml:

npm:
  - 'packages/**/*'
  - 'pnpm-lock.yaml'
  - 'pnpm-workspace.yaml'
sdk:
  - 'packages/sdk/**/*'
wunderctl:
  - 'packages/wunderctl/**/*'
nextjs:
  - 'packages/nextjs/**/*'
types:
  - 'packages/protobuf/**/*'
engine:
  - 'pkg/**/*'
  - 'internal/*/*'
  - 'cmd/**/*'
  - 'cli/**/*'
  - 'go.mod'
  - 'go.sum'
