Repository adonis0302/WunderGr-Backend-API, changes with the labels that .github/labeler.yml gives for each.
All labels: npm, sdk, wunderctl, nextjs, types, engine

.github/labeler.yml:

npm:
  - 'packages/**/*'
  - 'pnpm-lock.yaml'
  - 'pnpm-workspace.yaml'
sdk:
  - 'packages/sdk/**/*'
wunderctl:
  - 'packages/wunderctl/**/*'
nextjs:
  - 'packages/nextjs/**/*'
types:
  - 'packages/protobuf/**/*'
engine:
  - 'pkg/**/*'
  - 'internal/*/*'
  - 'cmd/**/*'
  - 'cli/**/*'
  - 'go.mod'
  - 'go.sum'

chore: version bump in SDK to wunderctl 0.145.0 (#898)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: add relay link to home (#899)
  docs-website/src/pages/index.jsx
Labels: none

docs: update quick links in auth index (#852)Co-authored-by: Eelco Wiersma <contact@pagebakers.nl>
  docs-website/src/pages/docs/auth/index.md
Labels: none

fix: nextjs-file-uploads example, re-enable in in tests (#894)
  .github/workflows/examples-ci.yaml
  examples/nextjs-file-upload/minio/Dockerfile
  examples/nextjs-file-upload/minio/setup.sh
  examples/nextjs-file-upload/test/e2e.ts
  scripts/test-examples/all.sh
Labels: none

fix: variable corruption (#902)
  pkg/apihandler/apihandler.go
  pkg/apihandler/internalapihandler.go
Labels: engine

ci(release): Release 0.145.1
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: bump wunderctl
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

fix: fetch config nil check (#904)
  packages/testsuite/apps/basic/.wundergraph/wundergraph.config.ts
  pkg/engineconfigloader/engineconfigloader.go
Labels: npm, engine

ci(release): Release 0.145.2
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: version bump in SDK to wunderctl 0.145.2 (#905)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

ci(release): Release 0.146.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: upgrade wunderctl in sdk
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

fix: fixes issue where returning data from another ts operation would result in a type error (#906)
  packages/sdk/src/operations/index.ts
  packages/sdk/src/operations/operations.ts
  packages/sdk/test-d/operations-client.test-d.ts
  packages/sdk/test-d/operations.test-d.ts
Labels: npm, sdk

fix: graphQL handler planning errors (#908)
  pkg/apihandler/apihandler.go
  pkg/apihandler/internalapihandler.go
Labels: engine

ci(release): Release 0.146.1
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: bump wunderctl dependency to 0.146.1 (#909)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: fix typo in Prisma docs (#913)
  docs-website/src/pages/docs/databases/prisma.md
Labels: none

feat: allow with hyphens and leading underscores in operation names (#901)
  packages/sdk/src/configure/index.ts
  packages/testsuite/apps/basic/.wundergraph/operations/__underscores__/42_as_a_string.ts
  packages/testsuite/apps/basic/.wundergraph/operations/__underscores__/__more_underscores__.graphql
  packages/testsuite/apps/basic/.wundergraph/operations/with-hyphen/call-country-code-with-hyphen-from-ts.ts
  packages/testsuite/apps/basic/.wundergraph/operations/with-hyphen/country-code-with-hyphen.graphql
  packages/testsuite/apps/basic/index.test.ts
  pkg/loadoperations/loader.go
  pkg/loadoperations/loader_test.go
Labels: npm, sdk, engine

feat: add support for custom claims of any type (#911)
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/codegen/templates/typescript/claims.ts
  packages/sdk/src/configure/index.ts
  packages/testsuite/apps/auth/.wundergraph/wundergraph.config.ts
  packages/testsuite/apps/auth/.wundergraph/wundergraph.server.ts
  packages/testsuite/apps/auth/index.test.ts
  pkg/apihandler/apihandler.go
  pkg/authentication/authentication.go
  pkg/wgpb/wundernode_config.pb.go
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

chore: add publish client guide (#915)
  docs-website/config/navigation.tsx
  docs-website/src/pages/docs/guides/publish_generated-client-to-npm.md
Labels: none

chore: fix publish guide link (#918)
  docs-website/src/pages/docs/guides/publish-generated-client-to-npm.md
Labels: none

fix: graphql schema extensions (#920)
  docs-website/config/navigation.tsx
  docs-website/src/pages/docs/guides/extend-third-party-graphql-apis.md
  docs-website/src/pages/docs/guides/index.md
  packages/sdk/src/definition/database-introspection.ts
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/graphql/configuration.test.ts
  packages/sdk/src/graphql/configuration.ts
  packages/sdk/src/transformations/__snapshots__/replaceCustomScalars.test.ts.snap
  packages/sdk/src/transformations/replaceCustomScalars.test.ts
  packages/sdk/src/transformations/replaceCustomScalars.ts
  packages/sdk/src/v2openapi/index.ts
  packages/testsuite/apps/basic/.wundergraph/operations/schema-extensions/ExtensionWithHook.graphql
  packages/testsuite/apps/basic/.wundergraph/operations/schema-extensions/ExtensionWithoutHook.graphql
  packages/testsuite/apps/basic/.wundergraph/wundergraph.config.ts
  packages/testsuite/apps/basic/.wundergraph/wundergraph.server.ts
  packages/testsuite/apps/basic/schema-extensions.test.ts
  testapps/default/.wundergraph/operations/schema-extensions/ExtensionWithHook.graphql
  testapps/default/.wundergraph/operations/schema-extensions/ExtensionWithoutHook.graphql
  testapps/default/.wundergraph/wundergraph.config.ts
  testapps/default/.wundergraph/wundergraph.server.ts
Labels: npm, sdk

fix: improve hook server types (#919)
  packages/sdk/src/codegen/templates/typescript/hooks.template.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/server/index.ts
  packages/sdk/src/server/server.ts
  packages/sdk/src/server/types.ts
  packages/sdk/test-d/server.test-d.ts
  packages/testsuite/apps/hooks/.wundergraph/wundergraph.server.ts
  testapps/nextjs/.wundergraph/wundergraph.server.ts
Labels: npm, sdk

feat: add support for reading OpenAPI error responses (#916)
  packages/sdk/src/client/errors.ts
  packages/sdk/src/client/index.ts
  packages/testsuite/apps/openapi/.gitignore
  packages/testsuite/apps/openapi/.graphqlrc.yaml
  packages/testsuite/apps/openapi/.wundergraph/api.yaml
  packages/testsuite/apps/openapi/.wundergraph/operations/NewNote.graphql
  packages/testsuite/apps/openapi/.wundergraph/operations/NoteByID.graphql
  packages/testsuite/apps/openapi/.wundergraph/wundergraph.config.ts
  packages/testsuite/apps/openapi/.wundergraph/wundergraph.operations.ts
  packages/testsuite/apps/openapi/.wundergraph/wundergraph.server.ts
  packages/testsuite/apps/openapi/openapi.test.ts
  packages/testsuite/apps/openapi/test-server.ts
  packages/testsuite/apps/openapi/test-setup.ts
  packages/testsuite/apps/openapi/tsconfig.json
  packages/testsuite/package.json
  packages/testsuite/vitest.workspace.ts
  pnpm-lock.yaml
Labels: npm, sdk

ci(release): Release 0.147.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: bump wunderctl dependency in SDK to 0.147 (#922)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: enable subscription in nextjs-relay testapp (#923)
  testapps/nextjs-relay/.gitignore
  testapps/nextjs-relay/.wundergraph/jsonplaceholder.v1.yaml
  testapps/nextjs-relay/.wundergraph/operations/relay/1c4cc54a9162a65ddf8d872d4ea13c49.graphql
  testapps/nextjs-relay/.wundergraph/operations/relay/3845d1bc582930cea8624fbb505be5f7.graphql
  testapps/nextjs-relay/.wundergraph/operations/relay/4c2c49b3045cb47ddd4fc19abe326d43.graphql
  testapps/nextjs-relay/.wundergraph/operations/relay/7ecdb16f3bad5bee1edfe9ea039f3449.graphql
  testapps/nextjs-relay/.wundergraph/wundergraph.config.ts
  testapps/nextjs-relay/.wundergraph/wundergraph.operations.ts
  testapps/nextjs-relay/.wundergraph/wundergraph.server.ts
  testapps/nextjs-relay/README.md
  testapps/nextjs-relay/minio/Dockerfile
  testapps/nextjs-relay/minio/docker-compose.yml
  testapps/nextjs-relay/minio/nginx.conf
  testapps/nextjs-relay/next-env.d.ts
  testapps/nextjs-relay/package.json
  testapps/nextjs-relay/pages/_app.tsx
  testapps/nextjs-relay/pages/index.tsx
  testapps/nextjs-relay/pages/live.tsx
  testapps/nextjs-relay/public/favicon.ico
  testapps/nextjs-relay/public/vercel.svg
  testapps/nextjs-relay/public/wundergraph.svg
  testapps/nextjs-relay/styles/Home.module.css
  testapps/nextjs-relay/styles/globals.css
  testapps/nextjs-relay/tsconfig.json
Labels: none

feat: mocking error handling improvements (#926)
  docs-website/src/pages/docs/guides/mocking.md
  packages/sdk/src/codegen/templates/typescript/testing.template.ts
  packages/sdk/src/testing/index.ts
  packages/sdk/src/testing/mock-server.test.ts
  packages/sdk/src/testing/mock-server.ts
  packages/sdk/src/testing/test-servers.ts
  packages/testsuite/apps/mock/test/mock-datasource.test.ts
  packages/testsuite/apps/mock/test/mock-external-api.test.ts
  packages/testsuite/apps/mock/test/start-stop-servers.test.ts
Labels: npm, sdk

feat: document hooks server architecture + protocol (#917)
  docs-website/config/navigation.tsx
  docs-website/package.json
  docs-website/src/pages/docs/architecture/index.md
  docs-website/src/pages/docs/architecture/wundergraph-server.md
  pkg/hooks/pipeline.go
  pnpm-lock.yaml
Labels: npm, engine

fix: avoid generated typenames conflicts between <opName> and <opName>Internal (#925)
  packages/sdk/src/codegen/templates/typescript/client.template.ts
  packages/sdk/src/codegen/templates/typescript/helpers.ts
  packages/sdk/src/codegen/templates/typescript/hooks.template.ts
  packages/sdk/src/codegen/templates/typescript/index.ts
  packages/sdk/src/codegen/templates/typescript/internal.client.template.ts
  packages/sdk/src/codegen/templates/typescript/internal.operations.client.template.ts
  packages/sdk/src/codegen/templates/typescript/web.client.template.ts
  packages/sdk/src/codegen/templates/typescript/web.client.ts
  packages/testsuite/apps/basic/.wundergraph/operations/Weather.graphql
  packages/testsuite/apps/basic/.wundergraph/operations/functions/CountryWeatherViaInternal.ts
  packages/testsuite/apps/basic/.wundergraph/operations/internal/CountryWeather.graphql
  packages/testsuite/apps/basic/.wundergraph/operations/nested/Internal.graphql
  packages/testsuite/apps/basic/.wundergraph/operations/nested/InternalWrapper.ts
  testapps/default/.wundergraph/wundergraph.server.ts
Labels: npm, sdk

fix: add enum fields from OAS to WG Graph (#929)
  packages/sdk/src/v2openapi/__snapshots__/index.test.ts.snap
  packages/sdk/src/v2openapi/index.ts
Labels: npm, sdk

fix: don't skip second level operations in Postman collections, skip internal (#930)
  packages/sdk/src/postman/__snapshots__/builder.test.ts.snap
  packages/sdk/src/postman/builder.test.ts
  packages/sdk/src/postman/builder.ts
Labels: npm, sdk

chore: port to new graphql-go-tools Context API (#912)
  go.mod
  go.sum
  pkg/apihandler/apihandler.go
  pkg/datasources/database/datasource.go
  pkg/hooks/pipeline.go
  pkg/pool/pool.go
Labels: engine

fix: print error reason when create-wundergraph-app fails (#936)
  packages/create-wundergraph-app/src/index.ts
Labels: npm

feat: improve mocking library, support N times and persistent mocks (#934)
  docs-website/src/pages/docs/guides/mocking.md
  packages/sdk/src/testing/index.ts
  packages/sdk/src/testing/mock-server.test.ts
  packages/sdk/src/testing/mock-server.ts
  packages/sdk/src/testing/scope.ts
  packages/sdk/src/testing/test-servers.ts
  packages/sdk/src/testing/util.ts
  packages/testsuite/apps/http-proxy/http-proxy.test.ts
  packages/testsuite/apps/mock/test/mock-datasource.test.ts
  packages/testsuite/apps/mock/test/mock-external-api.test.ts
Labels: npm, sdk

ci(release): Release 0.148.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: bump wunderctl dependency in SDK to 0.148.0
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

fix: polling for federation sources, allow individual configuration (#921)
  packages/sdk/src/configure/index.ts
  packages/sdk/src/definition/federation-introspection.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/definition/introspection-cache.ts
  packages/sdk/src/localcache/index.ts
  packages/testsuite/apps/basic/polling.test.ts
Labels: npm, sdk

feat: add projectID and environmentID to logs (#937)
  pkg/logging/logging.go
Labels: engine

chore: fix readme example
  README.md
Labels: none
