Repository adonis0302/WunderGr-Backend-API, changes with the labels that .github/labeler.yml gives for each.
All labels: npm, sdk, wunderctl, nextjs, types, engine

feat: eng 640 compose subgraphs without apollo dependencies (#315)
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/package.json
  packages/sdk/src/definition/__snapshots__/graphql-introspection.test.ts.snap
  packages/sdk/src/definition/federation-introspection.ts
  packages/sdk/src/definition/graphql-introspection.test.ts
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/testdata/introspection.json
  pnpm-lock.yaml
Labels: npm, sdk, types

feat: ensure wunderctl always call the same copy when calling itself (#300)
  cli/commands/generate.go
  cli/commands/root.go
  cli/commands/up.go
  packages/wunderctl/src/binarypath.ts
Labels: npm, wunderctl, engine

ci(release): Release 0.115.4
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: wunderctl, update (#316)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: examples, bump versions (#317)
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/faunadb-nextjs/package.json
  examples/fragments/package.json
  examples/golang-client/package.json
  examples/graphql-apollo-subscriptions/package.json
  examples/graphql-hasura-subscriptions/package.json
  examples/graphql-sse-subscriptions/package.json
  examples/graphql-subscriptions-hooks/package.json
  examples/graphql-ws-subscriptions/package.json
  examples/graphql-yoga-sse-subscriptions/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-swr/package.json
  examples/nextjs/package.json
  examples/postgres/package.json
  examples/publish-install-api/package.json
  examples/rbac/package.json
  examples/schema-extension/package.json
  examples/simple/package.json
  examples/webhooks/package.json
Labels: none

chore: remove codeowner
  .github/CODEOWNERS
Labels: none

fix: make tables in docs mobile-friendly (#322)
  docs-website/markdoc/nodes.js
Labels: none

feat: createClient now returns typesafe client (#307)
  packages/sdk/src/client/client.ts
  packages/sdk/src/client/types.ts
  packages/sdk/src/codegen/templates/typescript/client.template.ts
Labels: npm, sdk

chore: improve error handling (#318)
  pkg/apihandler/apihandler.go
  pkg/apihandler/internalapihandler.go
  pkg/authentication/authentication.go
  testapps/default/.wundergraph/wundergraph.server.ts
Labels: engine

chore: add @wundergraph/golang-client to bump-versions.sh (#325)
  scripts/bump-versions.sh
Labels: none

fix: set upload type when s3 is not configured (#324)
  packages/sdk/src/codegen/templates/typescript/client.template.ts
Labels: npm, sdk

fix: operation metadata in react provider (#293)
  packages/sdk/src/codegen/templates/typescript/react.native.provider.template.ts
  packages/sdk/src/codegen/templates/typescript/react.provider.template.ts
  packages/sdk/src/codegen/templates/typescript/react.ts
Labels: npm, sdk

fix(oas): use primitive schema references as the field schema (#326)
  packages/sdk/src/v2openapi/__snapshots__/index.test.ts.snap
  packages/sdk/src/v2openapi/index.ts
  packages/sdk/src/v2openapi/testdata/users.json
Labels: npm, sdk

fix: errors when wundergraph.server.ts does not exist (#327)
  cli/commands/generate.go
  cli/commands/up.go
  packages/sdk/src/definition/merge.ts
  pkg/engineconfigloader/engineconfigloader.go
Labels: npm, sdk, engine

fix: make baseURL optional (#330)
  packages/sdk/src/codegen/templates/typescript/client.template.ts
Labels: npm, sdk

feat: improved SWR hooks api, useMutation result no longer cached and updated to SWR 2.0 (#305)
  docs-website/src/pages/docs/examples/nextjs-swr.md
  docs/migrations/swr-0.4.0-0.5.0.md
  packages/sdk/src/client/client.ts
  packages/sdk/src/codegen/templates/typescript/client.template.ts
  packages/swr/README.md
  packages/swr/jest-setup.ts
  packages/swr/jest.config.js
  packages/swr/package.json
  packages/swr/src/hooks.test.tsx
  packages/swr/src/hooks.ts
  packages/swr/src/index.ts
  packages/swr/src/types.ts
  packages/type-tests/package.json
  packages/type-tests/test/swr.test-d.ts
  pnpm-lock.yaml
  testapps/nextjs/.wundergraph/operations/Countdown.graphql
  testapps/nextjs/.wundergraph/wundergraph.config.ts
  testapps/nextjs/lib/wundergraph.ts
  testapps/nextjs/package.json
  testapps/nextjs/pages/api/graphql.ts
  testapps/nextjs/pages/swr/index.tsx
  testapps/nextjs/pages/swr/mutation.tsx
  testapps/nextjs/pages/swr/query.tsx
  testapps/nextjs/pages/swr/subscription.tsx
Labels: npm, sdk

feat: allow static string with placeholder OR environment variable for OAS baseURL
  packages/sdk/src/definition/index.ts
  packages/sdk/src/v2openapi/index.ts
  pkg/engineconfigloader/engineconfigloader.go
  testapps/default/.env.example
  testapps/default/.wundergraph/operations/Jsp2.graphql
  testapps/default/.wundergraph/wundergraph.config.ts
Labels: npm, sdk, engine

ci(release): Release 0.116.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore(release): update to wunderctl 0.116.0 (#334)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

feat: add create-wundergraph-app command (#320)
  packages/create-wundergraph-app/README.md
  packages/create-wundergraph-app/package-lock.json
  packages/create-wundergraph-app/package.json
  packages/create-wundergraph-app/src/helpers/createDirectory.ts
  packages/create-wundergraph-app/src/helpers/download.ts
  packages/create-wundergraph-app/src/helpers/examples.ts
  packages/create-wundergraph-app/src/helpers/getRepoInfo.ts
  packages/create-wundergraph-app/src/helpers/getRepository.ts
  packages/create-wundergraph-app/src/helpers/validateBranch.ts
  packages/create-wundergraph-app/src/index.ts
  packages/create-wundergraph-app/src/tests/index.test.ts
  packages/create-wundergraph-app/tsconfig.json
  pnpm-lock.yaml
Labels: npm

feat: logging, request id (#323)
  cli/commands/generate.go
  cli/commands/introspect.go
  cli/commands/node.go
  cli/commands/root.go
  cli/commands/server.go
  cli/commands/start.go
  cli/commands/up.go
  cli/helpers/process.go
  cli/helpers/server_runner.go
  go.mod
  packages/sdk/src/middleware/server.ts
  pkg/apicache/apicache.go
  pkg/apicache/apicache_test.go
  pkg/apihandler/api.go
  pkg/apihandler/apihandler.go
  pkg/apihandler/apihandler_test.go
  pkg/apihandler/apitransport.go
  pkg/apihandler/internalapihandler.go
  pkg/authentication/authentication.go
  pkg/authentication/github.go
  pkg/authentication/oidc.go
  pkg/bundler/bundler.go
  pkg/cli/auth/auth.go
  pkg/datasources/database/datasource.go
  pkg/datasources/database/engine.go
  pkg/datasources/database/hybrid_engine_binary.go
  pkg/datasources/database/introspection.go
  pkg/engineconfigloader/engineconfigloader.go
  pkg/hooks/hooks.go
  pkg/logging/logging.go
  pkg/manifest/manifest.go
  pkg/node/node.go
  pkg/node/node_test.go
  pkg/scriptrunner/scriptrunner.go
  pkg/v2wundergraphapi/client.go
  pkg/watcher/watcher.go
  pkg/webhookhandler/webhookhandler.go
  pkg/wundergraphapi/client.go
Labels: npm, sdk, engine

feat: add cloud deployments docs (#295)
  docs-website/config/navigation.js
  docs-website/src/pages/docs/cloud/deployments.md
Labels: none

chore: limit CI runs to 20 minutes (#338)
  .github/workflows/engine-ci.yaml
  .github/workflows/engine-release-preview.yaml
  .github/workflows/engine-release.yaml
  .github/workflows/labeler.yaml
  .github/workflows/packages-ci.yaml
  .github/workflows/pr-title.yaml
  .github/workflows/tag-engine-release.yaml
  .github/workflows/wundernode-docker-release.yaml
Labels: none

feat: add better error messages for input validation (#342)
  pkg/apihandler/apihandler.go
  pkg/inputvariables/validator.go
  pkg/inputvariables/validator_test.go
  pkg/node/fixtures/top products with invalid query as wg variables.golden
  pkg/node/fixtures/top products with invalid query.golden
  pkg/node/fixtures/top products with query as wg variables.golden
  pkg/node/node_test.go
Labels: engine

ci(release): Release 0.117.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: wunderctl, update (#343)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: align npm ignore files, add publish config
  packages/create-wundergraph-app/.npmignore
  packages/create-wundergraph-app/package.json
  packages/golang-client/.npmignore
  packages/nextjs/.npmignore
  packages/protobuf/.npmignore
  packages/sdk/.npmignore
  packages/swr/.npmignore
Labels: npm, sdk, nextjs, types

docs: correct minor spelling typo (#347)
  docs-website/src/pages/docs/features/api-namespacing.md
Labels: none

feat: sdk, schema extension fields config (#336)
  go.mod
  go.sum
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/definition/__snapshots__/graphql-introspection.test.ts.snap
  packages/sdk/src/definition/__snapshots__/index.test.ts.snap
  packages/sdk/src/definition/__snapshots__/merge.test.ts.snap
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/definition/merge.test.ts
  packages/sdk/src/transformations/index.test.ts
  packages/sdk/src/transformations/schema.test.ts
  packages/sdk/src/transformations/shema.ts
  packages/sdk/src/v2openapi/index.ts
  packages/sdk/src/v2openapi/testdata/fusion.yaml
  packages/sdk/src/v2openapi/testdata/petstore.yaml
  packages/sdk/src/v2openapi/testdata/stripe_query.yaml
  packages/sdk/src/v2openapi/testdata/weather.yaml
  pkg/engineconfigloader/engineconfigloader.go
  pkg/wgpb/wundernode_config.pb.go
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

fix: fix the filter while extracting the cloned repository (#346)
  packages/create-wundergraph-app/src/helpers/download.ts
Labels: npm

chore: add create-wundergraph-app to lerna, remove package-lock.json
  examples/nextjs-swr/.wundergraph/wundergraph.config.ts
  lerna.json
  packages/create-wundergraph-app/package-lock.json
  packages/create-wundergraph-app/package.json
Labels: npm

ci(release): Release 0.118.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: bump versions for next release (#348)
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/faunadb-nextjs/package.json
  examples/fragments/package.json
  examples/golang-client/package.json
  examples/graphql-apollo-subscriptions/package.json
  examples/graphql-hasura-subscriptions/package.json
  examples/graphql-sse-subscriptions/package.json
  examples/graphql-subscriptions-hooks/package.json
  examples/graphql-ws-subscriptions/package.json
  examples/graphql-yoga-sse-subscriptions/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-swr/package.json
  examples/nextjs/package.json
  examples/postgres/package.json
  examples/publish-install-api/package.json
  examples/rbac/package.json
  examples/schema-extension/package.json
  examples/simple/package.json
  examples/vite-swr/package.json
  examples/webhooks/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: upgrade sdk in examples
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/faunadb-nextjs/package.json
  examples/fragments/package.json
  examples/golang-client/package.json
  examples/graphql-apollo-subscriptions/package.json
  examples/graphql-hasura-subscriptions/package.json
  examples/graphql-sse-subscriptions/package.json
  examples/graphql-subscriptions-hooks/package.json
  examples/graphql-ws-subscriptions/package.json
  examples/graphql-yoga-sse-subscriptions/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-swr/package.json
  examples/nextjs/package.json
  examples/postgres/package.json
  examples/publish-install-api/package.json
  examples/rbac/package.json
  examples/schema-extension/package.json
  examples/simple/package.json
  examples/vite-swr/package.json
  examples/webhooks/package.json
Labels: none

docs: add migration guide for SDK 0.123.0 (#351)
  docs/migrations/sdk-0.122.0-0.123.0.md
Labels: none

docs: correct minor spelling typo (#352)
  docs-website/src/pages/docs/features/automatic-content-revalidation-with-etags.md
Labels: none

chore: upgrade lerna, link migration guidelines in release notes
  .github/goreleaser/.goreleaser-darwin.yml
  .github/goreleaser/.goreleaser-linux.yml
  .github/goreleaser/.goreleaser-windows.yml
  package.json
  pnpm-lock.yaml
Labels: npm

fix: authentication path prefix (#354)
  docs-website/src/pages/docs/supported-backend-languages-frameworks/nodejs-typescript.md
  pkg/authentication/oidc.go
Labels: engine

fix: update lerna-lite in workflow to 1.12.0 (#355)
  .github/workflows/packages-release-preview.yaml
Labels: none

ci(release): Release 0.118.1
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

.github/labeler.yml:

npm:
  - 'packages/**/*'
  - 'pnpm-lock.yaml'
  - 'pnpm-workspace.yaml'
sdk:
  - 'packages/sdk/**/*'
wunderctl:
  - 'packages/wunderctl/**/*'
nextjs:
  - 'packages/nextjs/**/*'
types:
  - 'packages/protobuf/**/*'
engine:
  - 'pkg/**/*'
  - 'internal/*/*'
  - 'cmd/**/*'
  - 'cli/**/*'
  - 'go.mod'
  - 'go.sum'
