Repository adonis0302/WunderGr-Backend-API, changes with the labels that .github/labeler.yml gives for each.
All labels: npm, sdk, wunderctl, nextjs, types, engine

.github/labeler.yml:

npm:
  - 'packages/**/*'
  - 'pnpm-lock.yaml'
  - 'pnpm-workspace.yaml'
sdk:
  - 'packages/sdk/**/*'
wunderctl:
  - 'packages/wunderctl/**/*'
nextjs:
  - 'packages/nextjs/**/*'
types:
  - 'packages/protobuf/**/*'
engine:
  - 'pkg/**/*'
  - 'internal/*/*'
  - 'cmd/**/*'
  - 'cli/**/*'
  - 'go.mod'
  - 'go.sum'

chore: improve workflows
  .github/workflows/packages-release.yaml
  .github/workflows/tag-engine-release.yaml
Labels: none

chore: improve workflows
  .github/workflows/packages-release.yaml
Labels: none

chore: update release docs
  docs/releasing.md
Labels: none

chore: update release docs
  docs/releasing.md
Labels: none

chore: update release docs
  docs/releasing.md
Labels: none

chore: examples, bump versions (#181)
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/faunadb-nextjs/package.json
  examples/fragments/package.json
  examples/golang-client/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs/package.json
  examples/postgres/package.json
  examples/publish-install-api/package.json
  examples/rbac/package.json
  examples/simple/package.json
  examples/webhooks/package.json
Labels: none

chore: force install latest wunderctl
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

feat: custom stable hash function for js values (#182)
  packages/sdk/README.md
  packages/sdk/src/client/index.ts
  packages/sdk/src/internal/index.ts
  packages/sdk/src/utils/hash.ts
  packages/sdk/src/utils/helper.ts
  packages/sdk/src/utils/serialize.test.ts
  packages/sdk/src/utils/serialize.ts
Labels: npm, sdk

feat: allow templates in baseURL for openapi (#183)
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-openapi-rest-data-source.md
  packages/default-testapp/.wundergraph/operations/JSP.graphql
  packages/default-testapp/.wundergraph/operations/Join.graphql
  packages/default-testapp/.wundergraph/operations/Post.graphql
  packages/default-testapp/.wundergraph/operations/Posts.graphql
  packages/default-testapp/.wundergraph/wundergraph.config.ts
  packages/default-testapp/json_placeholder.json
  packages/sdk/src/v2openapi/__snapshots__/index.test.ts.snap
  packages/sdk/src/v2openapi/index.test.ts
  packages/sdk/src/v2openapi/index.ts
  packages/sdk/src/v2openapi/testdata/dynamic_baseurl.json
  pkg/wgpb/wundernode_config.pb.go
Labels: npm, sdk, engine

fix: workflow
  .github/workflows/tag-engine-release.yaml
Labels: none

chore: regenerate protobuf with correct version
  pkg/wgpb/wundernode_config.pb.go
Labels: engine

ci(release): release 0.109.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: sync wunderctl
  packages/sdk/package.json
Labels: npm, sdk

chore: sync wunderctl
  pnpm-lock.yaml
Labels: npm

chore: update examples
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/faunadb-nextjs/package.json
  examples/fragments/package.json
  examples/golang-client/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs/package.json
  examples/postgres/package.json
  examples/publish-install-api/package.json
  examples/rbac/package.json
  examples/simple/package.json
  examples/webhooks/package.json
  pkg/templates/assets/templates/application/package.json
  pkg/templates/assets/templates/nextjs-postgres-starter/package.json
  pkg/templates/assets/templates/nextjs-starter/package.json
  pkg/templates/assets/templates/publish-api/package.json
Labels: engine

ci(release): release 0.109.1
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

fix: update User interface on client to parse json correctly (#176)
  packages/sdk/src/client/index.ts
Labels: npm, sdk

chore: switch baseURL to be string (#187)
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/definition/__snapshots__/index.test.ts.snap
  packages/sdk/src/definition/__snapshots__/merge.test.ts.snap
  packages/sdk/src/definition/index.ts
  packages/sdk/src/definition/merge.test.ts
  packages/sdk/src/transformations/index.test.ts
  packages/sdk/src/v2openapi/__snapshots__/index.test.ts.snap
  packages/sdk/src/v2openapi/index.ts
  pkg/engineconfigloader/engineconfigloader.go
  pkg/wgpb/wundernode_config.pb.go
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

chore: update graphql-go-tools to improve error messages when string cannot be resolved
  go.mod
  go.sum
Labels: engine

ci(release): release 0.110.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: dont run on tag
  .github/workflows/engine-ci.yaml
  .github/workflows/engine-release-preview.yaml
  .github/workflows/packages-ci.yaml
  .github/workflows/packages-release-preview.yaml
Labels: none

chore: update wunderctl (#191)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: update examples to latest sdk version
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/faunadb-nextjs/package.json
  examples/fragments/package.json
  examples/golang-client/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs/package.json
  examples/postgres/package.json
  examples/publish-install-api/package.json
  examples/rbac/package.json
  examples/simple/package.json
  examples/webhooks/package.json
  pkg/templates/assets/templates/application/package.json
  pkg/templates/assets/templates/nextjs-postgres-starter/package.json
  pkg/templates/assets/templates/nextjs-starter/package.json
  pkg/templates/assets/templates/publish-api/package.json
Labels: engine

chore: update publish config
  packages/swr/.npmignore
  packages/swr/package.json
Labels: npm

chore: fix wundergraph server options docs examples (#193)
  docs-website/src/pages/docs/wundergraph-server-ts-reference/configure-wundergraph-server-options.md
Labels: none

docs: added docs and example (#192)
  docs-website/config/navigation.js
  docs-website/src/pages/docs/examples/index.md
  docs-website/src/pages/docs/examples/nextjs-swr.md
  examples/nextjs-postgres-user-filters/next.config.js
  examples/nextjs-swr/.gitignore
  examples/nextjs-swr/.graphqlconfig
  examples/nextjs-swr/.wundergraph/operations/Dragons.graphql
  examples/nextjs-swr/.wundergraph/wundergraph.config.ts
  examples/nextjs-swr/.wundergraph/wundergraph.operations.ts
  examples/nextjs-swr/.wundergraph/wundergraph.server.ts
  examples/nextjs-swr/README.md
  examples/nextjs-swr/lib/wundergraph.ts
  examples/nextjs-swr/next-env.d.ts
  examples/nextjs-swr/package.json
  examples/nextjs-swr/pages/_app.tsx
  examples/nextjs-swr/pages/index.tsx
  examples/nextjs-swr/pages/ssr.tsx
  examples/nextjs-swr/public/favicon.ico
  examples/nextjs-swr/tsconfig.json
  examples/nextjs/next.config.js
  packages/nextjs-testapp/next.config.js
Labels: npm

chore: improve docs
  docs-website/src/pages/docs/examples/nextjs-swr.md
Labels: none

chore: improve migration guides
  docs/migrations/wunderctl-0.110.0.md
Labels: none

chore: improve docs
  docs-website/src/pages/docs/wunderctl-reference/wunderctl-start.md
Labels: none

chore: improve docs
  docs/migrations/wunderctl-0.110.0.md
Labels: none

chore: fix react resolution
  package.json
  pnpm-lock.yaml
Labels: npm

feat: add swr hooks for auth and file upload (#195)
  docs-website/src/pages/docs/examples/nextjs-swr.md
  packages/sdk/src/client/client.ts
  packages/sdk/src/client/types.ts
  packages/sdk/src/codegen/templates/typescript/client.template.ts
  packages/swr/README.md
  packages/swr/src/hooks.ts
  packages/type-tests/package.json
  packages/type-tests/test/swr.test-d.ts
  pnpm-lock.yaml
  testapps/nextjs/.github/workflows/deploy.yaml
  testapps/nextjs/pages/provider.tsx
Labels: npm, sdk

chore: improve docs
  docs-website/src/pages/docs/examples/nextjs-swr.md
Labels: none

chore: improve docs
  docs-website/src/pages/docs/examples/nextjs-swr.md
Labels: none

fix(swr): reset user cache after logout (#197)
  packages/swr/src/hooks.ts
Labels: npm

feat: add post logout hook (#196)
  docs-website/config/navigation.js
  docs-website/src/pages/docs/wundergraph-server-ts-reference/index.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/post-logout-hook.md
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/codegen/index.test.ts
  packages/sdk/src/codegen/templates/typescript/hooks.template.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/middleware/plugins/hooks.ts
  pkg/apihandler/apihandler.go
  pkg/authentication/authentication.go
  pkg/hooks/hooks.go
  pkg/wgpb/wundernode_config.pb.go
  testapps/nextjs/.wundergraph/wundergraph.server.ts
  testapps/nextjs/pages/auth-test.tsx
  testapps/nextjs/pages/authentication.tsx
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

fix: use node url in graphiql apiUrl (#198)
  pkg/apihandler/api.go
  pkg/apihandler/apihandler.go
  pkg/node/config.go
Labels: engine

ci(release): release 0.110.1
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: update wunderctl (#199)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

feat: add auth example for swr (#200)
  examples/nextjs-swr/.graphqlconfig
  examples/nextjs-swr/.wundergraph/wundergraph.config.ts
  examples/nextjs-swr/.wundergraph/wundergraph.server.ts
  examples/nextjs-swr/lib/wundergraph.ts
  examples/nextjs-swr/package.json
  examples/nextjs-swr/pages/authentication.tsx
  packages/sdk/src/client/types.ts
  packages/sdk/src/codegen/templates/typescript/client.template.ts
  packages/swr/src/hooks.ts
Labels: npm, sdk
