Repository adonis0302/WunderGr-Backend-API, changes with the labels that .github/labeler.yml gives for each.
All labels: npm, sdk, wunderctl, nextjs, types, engine

fix: pass GH token in HTTTP call from getExamplesList() (#640)
  packages/create-wundergraph-app/src/helpers/examples.ts
Labels: npm

feat: add support for uploads from anonymous users (#632)
  examples/nextjs-file-upload/.gitignore
  examples/nextjs-file-upload/.wundergraph/wundergraph.config.ts
  examples/nextjs-file-upload/.wundergraph/wundergraph.server.ts
  examples/nextjs-file-upload/package.json
  examples/nextjs-file-upload/pages/index.tsx
  examples/nextjs-file-upload/playwright.config.ts
  examples/nextjs-file-upload/test/e2e.ts
  examples/nextjs-file-upload/test/wundergraph.jpg
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/client/client.ts
  packages/sdk/src/client/types.ts
  packages/sdk/src/codegen/templates/typescript/client.template.ts
  packages/sdk/src/configure/index.ts
  pkg/apihandler/apihandler.go
  pkg/s3uploadclient/helpers_test.go
  pkg/s3uploadclient/s3uploadclient.go
  pkg/s3uploadclient/s3uploadclient_test.go
  pkg/wgpb/wundernode_config.pb.go
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

chore: typecheck examples during CI (#618)
  .github/workflows/examples-ci.yaml
  examples/apollo-federation/pages/product/update.tsx
  examples/expo-swr/.wundergraph/wundergraph.server.ts
  examples/expo-swr/package.json
  examples/nextjs-typescript-functions/tsconfig.json
  examples/nodejs-ts-client/package.json
  examples/vite-swr/package.json
  scripts/test-examples/all.sh
  scripts/test-examples/single.sh
Labels: none

fix: fix wundernode ui (#639)
  pkg/node/nodetemplates/resources/index.html
Labels: engine

ci(release): Release 0.130.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: bump wunderctl SDK dependency to 0.130 (#643)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: bump SDK dependency in examples to 0.134 (#644)
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/expo-swr/package.json
  examples/faunadb-nextjs/package.json
  examples/fragments/package.json
  examples/golang-client/package.json
  examples/graphql-apollo-subscriptions/package.json
  examples/graphql-hasura-subscriptions/package.json
  examples/graphql-sse-subscriptions/package.json
  examples/graphql-subscriptions-hooks/package.json
  examples/graphql-ws-subscriptions/package.json
  examples/graphql-yoga-sse-subscriptions/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-file-upload/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-react-query/package.json
  examples/nextjs-todos/package.json
  examples/nextjs-typescript-functions/package.json
  examples/nextjs/package.json
  examples/nodejs-ts-client/package.json
  examples/openapi-mocking/package.json
  examples/postgres/package.json
  examples/rbac/package.json
  examples/schema-extension/package.json
  examples/simple/package.json
  examples/vite-swr/package.json
  examples/webhooks/package.json
Labels: none

fix: inject provider err (#637)
  pkg/apihandler/apihandler.go
Labels: engine

chore: examples, clean up (#641)
  examples/schema-extension/.wundergraph/wundergraph.config.ts
  packages/sdk/src/configure/operations.ts
Labels: npm, sdk

docs: document support for anonymous uploads (#646
  docs-website/src/pages/docs/features/file-uploads-to-s3-compatible-file-storages.md
Labels: none

fix: docs fixes (#650
  docs-website/config/navigation.tsx
  docs-website/markdoc/tags.js
  docs-website/public/favicon/android-icon-144x144.png
  docs-website/public/favicon/android-icon-192x192.png
  docs-website/public/favicon/android-icon-36x36.png
  docs-website/public/favicon/android-icon-48x48.png
  docs-website/public/favicon/android-icon-72x72.png
  docs-website/public/favicon/android-icon-96x96.png
  docs-website/public/favicon/apple-icon-114x114.png
  docs-website/public/favicon/apple-icon-120x120.png
  docs-website/public/favicon/apple-icon-144x144.png
  docs-website/public/favicon/apple-icon-152x152.png
  docs-website/public/favicon/apple-icon-180x180.png
  docs-website/public/favicon/apple-icon-57x57.png
  docs-website/public/favicon/apple-icon-60x60.png
  docs-website/public/favicon/apple-icon-72x72.png
  docs-website/public/favicon/apple-icon-76x76.png
  docs-website/public/favicon/apple-icon-precomposed.png
  docs-website/public/favicon/apple-icon.png
  docs-website/public/favicon/favicon-16x16.png
  docs-website/public/favicon/favicon-32x32.png
  docs-website/public/favicon/favicon-96x96.png
  docs-website/public/favicon/favicon.ico
  docs-website/public/favicon/ms-icon-144x144.png
  docs-website/public/favicon/ms-icon-150x150.png
  docs-website/public/favicon/ms-icon-310x310.png
  docs-website/public/favicon/ms-icon-70x70.png
  docs-website/src/components/Layout.jsx
  docs-website/src/components/MobileNavigation.jsx
  docs-website/src/components/Navigation.jsx
  docs-website/src/components/QuickLinks.jsx
  docs-website/src/components/ThemeSelector.jsx
  docs-website/src/pages/docs/cloud/deployments.md
  docs-website/src/pages/docs/wunderctl-reference/index.md
Labels: none

chore: some doc improvements and fixes (#651)
  docs-website/config/navigation.tsx
  docs-website/config/tags.js
  docs-website/src/pages/docs/auth/cookie-based-auth/auth0/index.md
  docs-website/src/pages/docs/auth/cookie-based-auth/github/index.md
  docs-website/src/pages/docs/auth/cookie-based-auth/google/index.md
  docs-website/src/pages/docs/auth/cookie-based-auth/index.md
  docs-website/src/pages/docs/auth/cookie-based-auth/keycloak/index.md
  docs-website/src/pages/docs/auth/cookie-based-auth/openid-connect/index.md
  docs-website/src/pages/docs/auth/index.md
  docs-website/src/pages/docs/auth/token-based-auth/auth-js/index.md
  docs-website/src/pages/docs/auth/token-based-auth/index.md
  docs-website/src/pages/docs/auth/token-based-auth/openid-connect/index.md
  docs-website/src/pages/docs/examples/nextjs-todos.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-cookie-based-authentication.md
Labels: none

fix: remove lock file in remix example (#653)
  examples/remix/README.md
  examples/remix/package-lock.json
Labels: none

fix: avoid downloading prisma binaries multiple times on Windows (#649)
  pkg/datasources/database/engine.go
Labels: engine

docs: add documentation for Prisma data source (#619)Co-authored-by: Dustin Deus <deusdustin@gmail.com>
  docs-website/config/navigation.tsx
  docs-website/src/components/Paragraph.tsx
  docs-website/src/components/logos/remix.jsx
  docs-website/src/components/logos/vite.jsx
  docs-website/src/pages/docs/databases/index.md
  docs-website/src/pages/docs/databases/prisma.md
  docs-website/src/pages/docs/features/file-uploads-to-s3-compatible-file-storages.md
  docs-website/src/pages/docs/features/generated-apis-for-any-database.md
  docs-website/src/pages/docs/supported-data-sources/index.md
  docs-website/src/pages/docs/supported-data-sources/prisma.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-prisma-datasource.md
  docs-website/tailwind.config.js
Labels: none

fix: link in graphql-apollo-subscriptions.md (#630)
  docs-website/src/pages/docs/examples/graphql-apollo-subscriptions.md
Labels: none

chore: fix typo (#654)Co-authored-by: Dustin Deus <deusdustin@gmail.com>
  docs-website/src/pages/docs/components-of-wundergraph/wundernode-wundergraph-server.md
Labels: none

chore: upgrade dependencies to fix security issues (#658)
  go.mod
  go.sum
Labels: engine

chore: add vercel integration docs (#657)
  docs-website/config/navigation.tsx
  docs-website/src/components/Navigation.jsx
  docs-website/src/pages/docs/cloud/integrations/vercel.md
Labels: none

fix: internal client should use correct mappings for nested operations (#661)
  packages/sdk/src/codegen/templates/typescript/internal.client.template.ts
  packages/sdk/src/server/internal-client.ts
  pnpm-lock.yaml
  testapps/default/.wundergraph/operations/nested/Internal.graphql
  testapps/default/.wundergraph/operations/nested/InternalWrapper.ts
  testapps/default/.wundergraph/wundergraph.config.ts
  testapps/default/jest.config.js
  testapps/default/package.json
  testapps/default/test/index.test.ts
Labels: npm, sdk

chore: update graphql-go-tools (#662)
  go.mod
  go.sum
  pkg/node/node_test.go
Labels: engine

ci(release): Release 0.131.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: bump wunderctl dependency to 0.131 (#663)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

docs: add upload profiles to S3 file uploads reference (#659)
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-s3-file-upload-providers.md
Labels: none

fix: modify build scripts (#660)
  docs-website/src/pages/docs/cloud/deployments.md
  examples/nextjs-react-query/.wundergraph/wundergraph.config.ts
  examples/nextjs-react-query/package.json
  examples/nextjs/.wundergraph/wundergraph.config.ts
  examples/nextjs/package.json
  examples/remix/.wundergraph/wundergraph.config.ts
  examples/remix/package.json
  examples/vite-swr/.wundergraph/wundergraph.config.ts
  examples/vite-swr/package.json
  packages/sdk/src/cors/index.ts
  testapps/auth/test/index.test.ts
Labels: npm, sdk

chore: update dependencies in examples for SDK 0.135 (#665)
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/expo-swr/package.json
  examples/faunadb-nextjs/package.json
  examples/fragments/package.json
  examples/golang-client/package.json
  examples/graphql-apollo-subscriptions/package.json
  examples/graphql-hasura-subscriptions/package.json
  examples/graphql-sse-subscriptions/package.json
  examples/graphql-subscriptions-hooks/package.json
  examples/graphql-ws-subscriptions/package.json
  examples/graphql-yoga-sse-subscriptions/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-file-upload/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-react-query/package.json
  examples/nextjs-todos/package.json
  examples/nextjs-typescript-functions/package.json
  examples/nextjs/package.json
  examples/nodejs-ts-client/package.json
  examples/openapi-mocking/package.json
  examples/postgres/package.json
  examples/rbac/package.json
  examples/remix/package.json
  examples/schema-extension/package.json
  examples/simple/package.json
  examples/vite-swr/package.json
  examples/webhooks/package.json
Labels: none

chore: replace github.com/dgrijalva/jwt-go with github.com/golang-jwt/jwt/v4 (#664)
  go.mod
  go.sum
  pkg/apihandler/apitransport.go
Labels: engine

docs: update docs on ts operations (#667)
  docs-website/config/navigation.tsx
  docs-website/src/pages/docs/typescript-operations-reference/authentication-authorization.md
  docs-website/src/pages/docs/typescript-operations-reference/calling-operations-from-clients.md
  docs-website/src/pages/docs/typescript-operations-reference/calling-operations-from-operations.md
  docs-website/src/pages/docs/typescript-operations-reference/index.md
  docs-website/src/pages/docs/typescript-operations-reference/mutations.md
  docs-website/src/pages/docs/typescript-operations-reference/queries.md
  docs-website/src/pages/docs/typescript-operations-reference/security.md
  docs-website/src/pages/docs/typescript-operations-reference/subscriptions.md
Labels: none

feat: new open api introspection (#621)
  packages/sdk/package.json
  packages/sdk/src/configure/index.test.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/definition/database-introspection.ts
  packages/sdk/src/definition/federation-introspection.ts
  packages/sdk/src/definition/graphql-introspection.test.ts
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/index.test.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/definition/openapi-introspection.ts
  packages/sdk/src/openapi/execution.ts
  packages/sdk/src/openapi/index.ts
  packages/sdk/src/openapi/introspection.ts
  packages/sdk/src/server/mount-path.ts
  packages/sdk/src/server/plugins/graphql.ts
  packages/sdk/src/server/server-options.ts
  packages/sdk/src/server/server.ts
  pkg/apihandler/apihandler.go
  pkg/apihandler/internalapihandler.go
  pkg/engineconfigloader/engineconfigloader.go
  pkg/node/config.go
  pkg/node/node.go
  pnpm-lock.yaml
Labels: npm, sdk, engine

docs: update docs on ts operations (#668)
  docs-website/config/navigation.tsx
  docs-website/src/pages/docs/wundergraph-operations-ts-reference/configure-authentication.md
  docs-website/src/pages/docs/wundergraph-operations-ts-reference/configure-caching.md
  docs-website/src/pages/docs/wundergraph-operations-ts-reference/configure-defaults.md
  docs-website/src/pages/docs/wundergraph-operations-ts-reference/configure-live-queries.md
  docs-website/src/pages/docs/wundergraph-operations-ts-reference/custom-operations-configuration.md
  docs-website/src/pages/docs/wundergraph-operations-ts-reference/index.md
Labels: none

fix: quickstart links (#676)
  docs-website/src/pages/index.jsx
Labels: none

chore: change typo countries -> spaceX (#677)
  docs-website/src/pages/docs/getting-started/nextjs-quickstart.md
  docs-website/src/pages/docs/getting-started/remix-quickstart.md
  docs-website/src/pages/docs/getting-started/vite-quickstart.md
Labels: none

docs: add redirect from old "getting started" to new one (#675)
  docs-website/next.config.js
Labels: none

feat(postman): add folders for postman collections + postman types (#624)Co-authored-by: Alberto García Hierro <alberto@garciahierro.com> Co-authored-by: Dustin Deus <deusdustin@gmail.com>
  packages/sdk/src/postman/__snapshots__/builder.test.ts.snap
  packages/sdk/src/postman/builder.test.ts
  packages/sdk/src/postman/builder.ts
  packages/sdk/src/typedefinitions/postman-collection/index.d.ts
Labels: npm, sdk

chore: update the build scripts of the examples (#672)
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/expo-swr/package.json
  examples/faunadb-nextjs/package.json
  examples/fragments/package.json
  examples/golang-client/package.json
  examples/graphql-apollo-subscriptions/package.json
  examples/graphql-hasura-subscriptions/package.json
  examples/graphql-sse-subscriptions/package.json
  examples/graphql-subscriptions-hooks/package.json
  examples/graphql-ws-subscriptions/package.json
  examples/graphql-yoga-sse-subscriptions/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-file-upload/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-todos/package.json
  examples/nextjs-typescript-functions/package.json
  examples/nodejs-ts-client/package.json
  examples/openapi-mocking/package.json
  examples/postgres/package.json
  examples/rbac/package.json
  examples/schema-extension/package.json
  examples/simple/package.json
  examples/webhooks/package.json
Labels: none

chore(docs): added the comparison of Wundergraph and Postgraphile (#670)Co-authored-by: Dustin Deus <deusdustin@gmail.com>
  docs/wundergraphVSpostgraphile.md
Labels: none

fix: fix docs nev/prev navigation (#671)
  docs-website/config/navigation.tsx
  docs-website/src/components/Layout.jsx
Labels: none

feat: add support for hooks in internal API calls (#669)
  examples/simple/package.json
  examples/vite-solidjs/package.json
  packages/sdk/src/client/client.ts
  packages/sdk/src/codegen/templates/typescript/hooks.template.ts
  packages/sdk/src/server/plugins/hooks.ts
  pkg/apihandler/apihandler.go
  pkg/apihandler/apihandler_test.go
  pkg/apihandler/internalapihandler.go
  pkg/hooks/hooks.go
  pkg/hooks/pipeline.go
  pnpm-lock.yaml
  testapps/hooks/.gitignore
  testapps/hooks/.graphqlrc.yaml
  testapps/hooks/.wundergraph/.graphqlconfig
  testapps/hooks/.wundergraph/operations/Continents.graphql
  testapps/hooks/.wundergraph/operations/CustomResolve.graphql
  testapps/hooks/.wundergraph/operations/CustomResolveFailure.graphql
  testapps/hooks/.wundergraph/operations/CustomResolveSkip.graphql
  testapps/hooks/.wundergraph/operations/Infinite.graphql
  testapps/hooks/.wundergraph/operations/MockResolve.graphql
  testapps/hooks/.wundergraph/operations/MutatingPostResolve.graphql
  testapps/hooks/.wundergraph/operations/MutatingPreResolveFailure.graphql
  testapps/hooks/.wundergraph/operations/PreResolveChain.graphql
  testapps/hooks/.wundergraph/operations/PreResolveFailure.graphql
  testapps/hooks/.wundergraph/operations/RecursiveContinents.graphql
  testapps/hooks/.wundergraph/wundergraph.config.ts
  testapps/hooks/.wundergraph/wundergraph.operations.ts
  testapps/hooks/.wundergraph/wundergraph.server.ts
  testapps/hooks/jest.config.js
  testapps/hooks/package.json
  testapps/hooks/test/index.test.ts
  testapps/hooks/tsconfig.json
Labels: npm, sdk, engine

docs: fix broken links in documentation (#681)
  docs-website/config/tags.js
  docs-website/src/components/Hero.jsx
  docs-website/src/pages/docs/getting-started/nextjs-quickstart.md
  docs-website/src/pages/docs/getting-started/vite-quickstart.md
Labels: none

fix: client template imports (#679)
  packages/sdk/src/codegen/templates/typescript/web.client.template.ts
Labels: npm, sdk

.github/labeler.yml:

npm:
  - 'packages/**/*'
  - 'pnpm-lock.yaml'
  - 'pnpm-workspace.yaml'
sdk:
  - 'packages/sdk/**/*'
wunderctl:
  - 'packages/wunderctl/**/*'
nextjs:
  - 'packages/nextjs/**/*'
types:
  - 'packages/protobuf/**/*'
engine:
  - 'pkg/**/*'
  - 'internal/*/*'
  - 'cmd/**/*'
  - 'cli/**/*'
  - 'go.mod'
  - 'go.sum'
