Repository adonis0302/WunderGr-Backend-API, changes with the labels that .github/labeler.yml gives for each.
All labels: npm, sdk, wunderctl, nextjs, types, engine

.github/labeler.yml:

npm:
  - 'packages/**/*'
  - 'pnpm-lock.yaml'
  - 'pnpm-workspace.yaml'
sdk:
  - 'packages/sdk/**/*'
wunderctl:
  - 'packages/wunderctl/**/*'
nextjs:
  - 'packages/nextjs/**/*'
types:
  - 'packages/protobuf/**/*'
engine:
  - 'pkg/**/*'
  - 'internal/*/*'
  - 'cmd/**/*'
  - 'cli/**/*'
  - 'go.mod'
  - 'go.sum'

chore: test windows
  .github/workflows/engine-ci.yaml
Labels: none

chore: test windows
  .github/workflows/engine-ci.yaml
Labels: none

chore: test windows
  .github/workflows/engine-ci.yaml
Labels: none

chore: test
  .github/actions/go/action.yaml
  .github/workflows/engine-ci.yaml
Labels: none

chore: test
  .github/workflows/engine-release.yaml
  cmd/wunderctl/main.go
Labels: engine

chore: revert
  .github/workflows/engine-release.yaml
  cmd/wunderctl/main.go
Labels: engine

chore: revert
  .github/workflows/engine-release.yaml
Labels: none

ci(release): release 0.106.2
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: no lf conversion
  .github/workflows/engine-release.yaml
Labels: none

ci(release): release 0.106.3
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: enforce lf
  .github/workflows/engine-release.yaml
Labels: none

chore: sync wunderctl
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: fixed broken links on docs (#174)
  docs-website/src/pages/docs/directives-reference/inject-current-datetime-directive.md
  docs-website/src/pages/docs/features/graphql-to-json-rpc-compiler.md
  docs-website/src/pages/docs/guides/extend-json-fields-with-more-specific-types.md
  docs-website/src/pages/docs/supported-data-sources/mysql.md
  docs-website/src/pages/docs/supported-data-sources/postgresql.md
  docs-website/src/pages/docs/supported-data-sources/rest-openapi.md
  docs-website/src/pages/docs/supported-data-sources/sqlite.md
Labels: none

feat: add golang client (#170)
  docs-website/src/pages/docs/supported-backend-languages-frameworks/golang-go.md
  examples/apollo-federation/.wundergraph/wundergraph.config.ts
  go.mod
  lerna.json
  packages/default-testapp/.wundergraph/operations/SetField.graphql
  packages/default-testapp/.wundergraph/wundergraph.config.ts
  packages/default-testapp/.wundergraph/wundergraph.server.ts
  packages/default-testapp/package.json
  packages/golang-client/.npmignore
  packages/golang-client/README.md
  packages/golang-client/package.json
  packages/golang-client/src/client-template.ts
  packages/golang-client/src/index.ts
  packages/golang-client/tsconfig.json
  packages/sdk/README.md
  packages/sdk/package.json
  packages/sdk/src/codegen/index.ts
  packages/sdk/src/codegen/templates/typescript/forms.ts
  packages/sdk/src/codegen/templates/typescript/hooks.ts
  packages/sdk/src/codegen/templates/typescript/index.ts
  packages/sdk/src/codegen/templates/typescript/internal.client.ts
  packages/sdk/src/codegen/templates/typescript/jsonschema.ts
  packages/sdk/src/codegen/templates/typescript/linkbuilder.ts
  packages/sdk/src/codegen/templates/typescript/operations.ts
  packages/sdk/src/codegen/templates/typescript/react.ts
  packages/sdk/src/codegen/templates/typescript/server.ts
  packages/sdk/src/codegen/templates/typescript/web.client.ts
  packages/sdk/src/internal/index.ts
  pkg/apihandler/apitransport.go
  pnpm-lock.yaml
  types/go/wgpb/wundernode_config.pb.go
Labels: npm, sdk, engine

fix: dont exit on bundle errors in dev (#175)
  pkg/bundler/bundler.go
Labels: engine

ci(release): release 0.107.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: sync wunderctl
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: workaround for peerdeps for publishing
  packages/golang-client/package.json
Labels: npm

chore: dont install peer dep as prod dep as well
  packages/golang-client/package.json
  pnpm-lock.yaml
Labels: npm

chore: add golang client example
  examples/golang-client/.gitignore
  examples/golang-client/.wundergraph/.graphqlconfig
  examples/golang-client/.wundergraph/operations/Continents.graphql
  examples/golang-client/.wundergraph/operations/Countries.graphql
  examples/golang-client/.wundergraph/wundergraph.config.ts
  examples/golang-client/.wundergraph/wundergraph.operations.ts
  examples/golang-client/.wundergraph/wundergraph.server.ts
  examples/golang-client/README.md
  examples/golang-client/go/go.mod
  examples/golang-client/go/go.sum
  examples/golang-client/go/main.go
  examples/golang-client/package.json
  examples/golang-client/tsconfig.json
Labels: none

fix: dont use workspace protocol in peer deps
  packages/golang-client/package.json
Labels: npm

chore: add example to index
  README.md
Labels: none

chore: improve example
  examples/golang-client/README.md
  examples/golang-client/package.json
Labels: none

chore: update versions
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/faunadb-nextjs/package.json
  examples/fragments/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs/package.json
  examples/postgres/package.json
  examples/publish-install-api/package.json
  examples/rbac/package.json
  examples/simple/package.json
  examples/webhooks/package.json
  scripts/bump-versions.sh
Labels: none

chore: remove node_modules
  scripts/bump-versions.sh
Labels: none

chore: improve docs
  packages/sdk/README.md
Labels: npm, sdk

chore: last broken link fix (#177)
  docs-website/src/pages/docs/wundergraph-server-ts-reference/webhooks.md
Labels: none

chore: protoc, update version (#180)
  .github/actions/node/action.yaml
  .github/workflows/engine-ci.yaml
  .github/workflows/engine-release-preview.yaml
  .github/workflows/engine-release.yaml
  .github/workflows/packages-ci.yaml
Labels: none

feat: oidc, allow passing additional query parameters to the IDP (#178)
  docs-website/config/navigation.js
  docs-website/src/pages/docs/examples/index.md
  docs-website/src/pages/docs/examples/keycloak-openid-connect-authentication.md
  examples/keycloak-oidc-authentication/.env.example
  examples/keycloak-oidc-authentication/.gitignore
  examples/keycloak-oidc-authentication/.graphqlconfig
  examples/keycloak-oidc-authentication/.wundergraph/operations/Country.graphql
  examples/keycloak-oidc-authentication/.wundergraph/wundergraph.config.ts
  examples/keycloak-oidc-authentication/.wundergraph/wundergraph.operations.ts
  examples/keycloak-oidc-authentication/.wundergraph/wundergraph.server.ts
  examples/keycloak-oidc-authentication/README.md
  examples/keycloak-oidc-authentication/docker-compose.yml
  examples/keycloak-oidc-authentication/keycloak/realm.json
  examples/keycloak-oidc-authentication/next-env.d.ts
  examples/keycloak-oidc-authentication/package.json
  examples/keycloak-oidc-authentication/pages/_app.tsx
  examples/keycloak-oidc-authentication/pages/index.tsx
  examples/keycloak-oidc-authentication/public/favicon.ico
  examples/keycloak-oidc-authentication/tsconfig.json
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/configure/authentication.ts
  pkg/apihandler/apihandler.go
  pkg/apihandler/apitransport.go
  pkg/authentication/oidc.go
  pkg/wgpb/wundernode_config.pb.go
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

chore: don't use coventional commits for wunderctl release
  package.json
  pnpm-lock.yaml
Labels: npm

chore: test workflow
  .github/workflows/engine-release.yaml
  .github/workflows/tag-engine-release.yaml
  package.json
Labels: none

chore: test workflow
  .github/workflows/tag-engine-release.yaml
Labels: none

chore: test workflow
  .github/workflows/tag-engine-release.yaml
Labels: none

ci(release): release 0.108.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: add v prefix
  .github/workflows/tag-engine-release.yaml
Labels: none

chore: revert release
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

ci(release): release 0.108.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: use other protoc action
  .github/workflows/engine-release.yaml
Labels: none

chore: use other protoc action
  .github/workflows/tag-engine-release.yaml
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

ci(release): release 0.108.1
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl
