Repository adonis0302/WunderGr-Backend-API, changes with the labels that .github/labeler.yml gives for each.
All labels: npm, sdk, wunderctl, nextjs, types, engine

.github/labeler.yml:

npm:
  - 'packages/**/*'
  - 'pnpm-lock.yaml'
  - 'pnpm-workspace.yaml'
sdk:
  - 'packages/sdk/**/*'
wunderctl:
  - 'packages/wunderctl/**/*'
nextjs:
  - 'packages/nextjs/**/*'
types:
  - 'packages/protobuf/**/*'
engine:
  - 'pkg/**/*'
  - 'internal/*/*'
  - 'cmd/**/*'
  - 'cli/**/*'
  - 'go.mod'
  - 'go.sum'

ci(release): Release 0.127.1
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: update wunderctl SDK dependency (#585)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: bump examples SDK version to 0.132.1 (#587)
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/expo-swr/package.json
  examples/faunadb-nextjs/package.json
  examples/fragments/package.json
  examples/golang-client/package.json
  examples/graphql-apollo-subscriptions/package.json
  examples/graphql-hasura-subscriptions/package.json
  examples/graphql-sse-subscriptions/package.json
  examples/graphql-subscriptions-hooks/package.json
  examples/graphql-ws-subscriptions/package.json
  examples/graphql-yoga-sse-subscriptions/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-file-upload/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-react-query/package.json
  examples/nextjs-todos/package.json
  examples/nextjs-typescript-functions/package.json
  examples/nextjs/package.json
  examples/nodejs-ts-client/package.json
  examples/openapi-mocking/package.json
  examples/postgres/package.json
  examples/rbac/package.json
  examples/schema-extension/package.json
  examples/simple/package.json
  examples/vite-swr/package.json
  examples/webhooks/package.json
Labels: none

fix: handler, return graphql errors (#575)
  go.mod
  go.sum
  pkg/apihandler/apihandler.go
  pkg/node/fixtures/post my reviews graphql returns valid graphql error.golden
  pkg/node/node_test.go
Labels: engine

chore: update example deps
  examples/nextjs-typescript-functions/package-lock.json
Labels: none

fix: enforce token validation if any token keys are defined (#580)
  .github/workflows/packages-ci.yaml
  go.mod
  go.sum
  packages/sdk/src/client/client.ts
  pkg/authentication/authentication.go
  pnpm-lock.yaml
  testapps/jwks/.gitignore
  testapps/jwks/.graphqlrc.yaml
  testapps/jwks/.wundergraph/operations/Hello.graphql
  testapps/jwks/.wundergraph/wundergraph.config.ts
  testapps/jwks/.wundergraph/wundergraph.operations.ts
  testapps/jwks/.wundergraph/wundergraph.server.ts
  testapps/jwks/jest.config.js
  testapps/jwks/package.json
  testapps/jwks/test/index.test.ts
  testapps/jwks/tsconfig.json
Labels: npm, sdk, engine

feat: federation, support extend keyword (#578)
  packages/sdk/src/graphql/configuration.test.ts
  packages/sdk/src/graphql/configuration.ts
Labels: npm, sdk

chore: add e2e tests to Next.js example (#460)
  examples/graphql-subscriptions-hooks/test/index.test.ts
  examples/nextjs-file-upload/package.json
  examples/nextjs/.gitignore
  examples/nextjs/package.json
  examples/nextjs/pages/index.tsx
  examples/nextjs/playwright.config.ts
  examples/nextjs/test/e2e.ts
  examples/schema-extension/package.json
  examples/schema-extension/server/server.go
  scripts/test-examples/all.sh
  scripts/test-examples/single.sh
Labels: none

fix: pass GITHUB_TOKEN to all API calls (#589)
  packages/create-wundergraph-app/src/helpers/download.ts
  packages/create-wundergraph-app/src/helpers/getRepoTags.ts
  packages/create-wundergraph-app/src/helpers/github.ts
  packages/create-wundergraph-app/src/helpers/validateBranch.ts
Labels: npm

fix: add isSubscribed to return types (#591)
  packages/react-query/src/types.ts
Labels: npm

fix: remove spaces in fixture filenames, fix double http.WriteHeader() calls (#590)
  pkg/apihandler/apihandler.go
  pkg/node/fixtures/get_my_reviews_json_rpc.golden
  pkg/node/fixtures/post_my_reviews_graphql.golden
  pkg/node/fixtures/post_my_reviews_graphql_returns_valid_graphql_error.golden
  pkg/node/fixtures/top_products_with_invalid_query.golden
  pkg/node/fixtures/top_products_with_invalid_query_as_wg_variables.golden
  pkg/node/fixtures/top_products_with_query.golden
  pkg/node/fixtures/top_products_with_query_as_wg_variables.golden
  pkg/node/fixtures/top_products_without_query.golden
  pkg/node/node_test.go
Labels: engine

fix(typo): fixed GraphQL letter capitalization (#592)
  docs-website/config/navigation.js
  docs-website/src/pages/docs/examples/graphql-apollo-subscriptions.md
  docs-website/src/pages/docs/examples/graphql-hasura-subscriptions.md
  docs-website/src/pages/docs/examples/graphql-sse-subscriptions.md
  docs-website/src/pages/docs/examples/graphql-subscriptions-hooks.md
  docs-website/src/pages/docs/examples/graphql-ws-subscriptions.md
  docs-website/src/pages/docs/examples/graphql-yoga-subscriptions.md
Labels: none

chore: add support for extra telemetry fields (#541)
  cli/commands/generate.go
  cli/commands/node.go
  cli/commands/root.go
  cli/commands/server.go
  cli/commands/start.go
  cli/commands/up.go
  packages/sdk/src/configure/index.ts
  pkg/telemetry/annotate.go
  pkg/telemetry/client.go
  pkg/telemetry/client_test.go
  pkg/telemetry/data_sources.go
  pkg/telemetry/git.go
  pkg/telemetry/hash.go
  pkg/telemetry/metrics.go
Labels: npm, sdk, engine

fix: don't stop setting up the node in development when authentication fails (#596)
  pkg/apihandler/apihandler.go
Labels: engine

fix: rename build info to engine info and add user project build info (#573)
  pkg/node/buildinfo.go
  pkg/node/node.go
  pkg/node/nodetemplates/resources/index.html
Labels: engine

feat: load telemetry anonymous id from WG_TELEMETRY_ANONYMOUS_ID (#599)
  cli/commands/root.go
  pkg/config/config.go
  pkg/telemetry/client.go
  pnpm-lock.yaml
Labels: npm, engine

feat: cleanup introspection, enable introspecting large database schemas (#601)
  cli/commands/introspect.go
  cli/commands/mongodb.go
  cli/commands/mysql.go
  cli/commands/planetscale.go
  cli/commands/postgres.go
  cli/commands/sqlite.go
  cli/commands/sqlserver.go
  examples/postgres/docker-compose.yml
  pkg/datasources/database/engine.go
  pkg/datasources/database/introspection.go
Labels: engine

chore: fix check for prettier formatted files in CI (#602)
  .github/workflows/packages-ci.yaml
  .prettierignore
Labels: none

fix: examples, simple (#604)
  examples/simple/.wundergraph/operations/Countries.graphql
  examples/simple/.wundergraph/operations/Country.graphql
  examples/simple/README.md
  examples/simple/test/index.test.ts
Labels: none

chore: improve readmes (#603)
  README.md
  packages/sdk/README.md
Labels: npm, sdk

chore: engine, update version (#608)
  docs-website/src/pages/docs/directives-reference/remove-null-variables-directive.md
  go.mod
  go.sum
Labels: engine

fix: paths and uri composition on Windows when using nested directories for operations (#607)
  packages/sdk/src/codegen/templates/typescript/index.ts
  packages/sdk/src/server/plugins/functions.ts
  pkg/loadoperations/loader.go
Labels: npm, sdk, engine

docs: fix typo in "WunderGraph explained in one sequence diagram" (#612)
  docs-website/src/pages/docs/architecture/wundergraph-explained-in-one-sequence-diagram.md
Labels: none

feat: add prisma datasource (#605)
  cli/commands/introspect.go
  cli/commands/mongodb.go
  cli/commands/mysql.go
  cli/commands/planetscale.go
  cli/commands/postgres.go
  cli/commands/prisma.go
  cli/commands/sqlite.go
  cli/commands/sqlserver.go
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/db/introspection.test.ts
  packages/sdk/src/db/introspection.ts
  packages/sdk/src/db/types.ts
  packages/sdk/src/definition/index.ts
  pkg/datasources/database/introspection.go
  pkg/engineconfigloader/engineconfigloader.go
  pkg/telemetry/data_sources.go
  pkg/wgpb/wundernode_config.pb.go
  testapps/default/.wundergraph/operations/UserPost.graphql
  testapps/default/.wundergraph/schema.prisma
  testapps/default/.wundergraph/users_post.sqlite
  testapps/default/.wundergraph/wundergraph.config.ts
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

fix: datasource, database (#609)
  go.mod
  go.sum
  pkg/datasources/database/datasource.go
  pkg/datasources/database/datasource_test.go
Labels: engine

ci(release): Release 0.128.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: wunderctl, update (#613)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: examples, bump version (#614)
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/expo-swr/package.json
  examples/faunadb-nextjs/package.json
  examples/fragments/package.json
  examples/golang-client/package.json
  examples/graphql-apollo-subscriptions/package.json
  examples/graphql-hasura-subscriptions/package.json
  examples/graphql-sse-subscriptions/package.json
  examples/graphql-subscriptions-hooks/package.json
  examples/graphql-ws-subscriptions/package.json
  examples/graphql-yoga-sse-subscriptions/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-file-upload/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-react-query/package.json
  examples/nextjs-todos/package.json
  examples/nextjs-typescript-functions/package.json
  examples/nextjs/package.json
  examples/nodejs-ts-client/package.json
  examples/openapi-mocking/package.json
  examples/postgres/package.json
  examples/rbac/package.json
  examples/schema-extension/package.json
  examples/simple/package.json
  examples/vite-swr/package.json
  examples/webhooks/package.json
Labels: none

docs: add end to end testing guide (#616)
  docs-website/config/navigation.js
  docs-website/src/pages/docs/guides/end-to-end-testing.md
  docs-website/src/pages/docs/guides/integration-testing.md
Labels: none

chore: examples, remove lock files (#620)
  .gitignore
  examples/apollo-federation/package-lock.json
  examples/auth0-oidc-authentication/package-lock.json
  examples/caching/package-lock.json
  examples/cross-api-joins/package-lock.json
  examples/expo-swr/package-lock.json
  examples/faunadb-nextjs/package-lock.json
  examples/fragments/package-lock.json
  examples/golang-client/package-lock.json
  examples/graphql-apollo-subscriptions/package-lock.json
  examples/graphql-hasura-subscriptions/package-lock.json
  examples/graphql-sse-subscriptions/package-lock.json
  examples/graphql-subscriptions-hooks/package-lock.json
  examples/graphql-ws-subscriptions/package-lock.json
  examples/graphql-yoga-sse-subscriptions/package-lock.json
  examples/hooks/package-lock.json
  examples/inject-bearer/package-lock.json
  examples/keycloak-oidc-authentication/package-lock.json
  examples/migrate-from-apollo/package-lock.json
  examples/nextjs-file-upload/package-lock.json
  examples/nextjs-postgres-prisma/package-lock.json
  examples/nextjs-postgres-user-filters/package-lock.json
  examples/nextjs-react-query/package-lock.json
  examples/nextjs-todos/package-lock.json
  examples/nextjs-typescript-functions/package-lock.json
  examples/nextjs/package-lock.json
  examples/nodejs-ts-client/package-lock.json
  examples/openapi-mocking/package-lock.json
  examples/postgres/package-lock.json
  examples/rbac/package-lock.json
  examples/schema-extension/package-lock.json
  examples/simple/package-lock.json
  examples/vite-swr/package-lock.json
  examples/webhooks/package-lock.json
Labels: none

chore: improve functions (#595)
  packages/sdk/package.json
  packages/sdk/src/client/AuthorizationError.ts
  packages/sdk/src/client/ClientResponseError.ts
  packages/sdk/src/client/GraphQLResponseError.ts
  packages/sdk/src/client/InputValidationError.ts
  packages/sdk/src/client/ResponseError.ts
  packages/sdk/src/client/client.test.ts
  packages/sdk/src/client/client.ts
  packages/sdk/src/codegen/templates/typescript/helpers.ts
  packages/sdk/src/codegen/templates/typescript/hooks.ts
  packages/sdk/src/codegen/templates/typescript/internal.operations.client.template.ts
  packages/sdk/src/codegen/templates/typescript/internal.operations.client.ts
  packages/sdk/src/codegen/templates/typescript/server.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/errors/index.ts
  packages/sdk/src/operations/index.ts
  packages/sdk/src/operations/operations.ts
  packages/sdk/src/server/index.ts
  packages/sdk/src/server/operations-client.ts
  packages/sdk/src/server/plugins/functions.ts
  packages/sdk/src/server/server.ts
  packages/swr/tests/hooks.test.tsx
  pkg/apihandler/apihandler.go
  pkg/apihandler/internalapihandler.go
  pkg/hooks/hooks.go
  pkg/node/node.go
  pkg/operations/operations.go
  pnpm-lock.yaml
  testapps/default/.wundergraph/operations/users/child.ts
  testapps/default/.wundergraph/operations/users/get.ts
  testapps/default/.wundergraph/operations/users/parent.ts
  testapps/default/.wundergraph/operations/users/put.ts
  testapps/default/package.json
  testapps/default/tsconfig.json
  testapps/nextjs/.wundergraph/operations/users/get.ts
  testapps/nextjs/.wundergraph/operations/users/nested.ts
  testapps/nextjs/.wundergraph/operations/users/subscribe.ts
  testapps/nextjs/pages/functions/get.tsx
Labels: npm, sdk, engine

chore: make bump-versions.sh update all packages matching '@wundergraph/*' (#622
  scripts/bump-versions.sh
Labels: none

fix: factory type errors (#625)
  packages/sdk/src/operations/operations.ts
Labels: npm, sdk

feat: when OIDC authentication is refused, redirect back with the error (#626)
  pkg/authentication/oidc.go
Labels: engine

ci(release): Release 0.129.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: update wunderctl dependency to 0.129 (#628)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: examples, fix issues with origin (#627)
  examples/golang-client/.wundergraph/operations/Countries.graphql
  examples/nodejs-ts-client/.wundergraph/operations/Countries.graphql
Labels: none

chore: bump SDK dependency in examples (#629)
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/expo-swr/package.json
  examples/faunadb-nextjs/package.json
  examples/fragments/package.json
  examples/golang-client/package.json
  examples/graphql-apollo-subscriptions/package.json
  examples/graphql-hasura-subscriptions/package.json
  examples/graphql-sse-subscriptions/package.json
  examples/graphql-subscriptions-hooks/package.json
  examples/graphql-ws-subscriptions/package.json
  examples/graphql-yoga-sse-subscriptions/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-file-upload/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-react-query/package.json
  examples/nextjs-todos/package.json
  examples/nextjs-typescript-functions/package.json
  examples/nextjs/package.json
  examples/nodejs-ts-client/package.json
  examples/openapi-mocking/package.json
  examples/postgres/package.json
  examples/rbac/package.json
  examples/schema-extension/package.json
  examples/simple/package.json
  examples/vite-swr/package.json
  examples/webhooks/package.json
Labels: none

fix: pass file upload hooks to upload configuration resolution (#631)
  packages/sdk/src/configure/index.ts
Labels: npm, sdk

fix: avoid feeding paths into applicationHash calculation (#636)
  packages/golang-client/src/index.ts
  packages/nextjs/src/template.ts
  packages/sdk/src/codegen/index.test.ts
  packages/sdk/src/codegen/index.ts
  packages/sdk/src/codegen/templates/markdown/authentication.ts
  packages/sdk/src/codegen/templates/typescript/client.ts
  packages/sdk/src/codegen/templates/typescript/forms.ts
  packages/sdk/src/codegen/templates/typescript/hooks.ts
  packages/sdk/src/codegen/templates/typescript/index.ts
  packages/sdk/src/codegen/templates/typescript/internal.client.ts
  packages/sdk/src/codegen/templates/typescript/internal.operations.client.ts
  packages/sdk/src/codegen/templates/typescript/jsonschema.ts
  packages/sdk/src/codegen/templates/typescript/linkbuilder.ts
  packages/sdk/src/codegen/templates/typescript/operations.ts
  packages/sdk/src/codegen/templates/typescript/react.ts
  packages/sdk/src/codegen/templates/typescript/server.ts
  packages/sdk/src/codegen/templates/typescript/testing.ts
  packages/sdk/src/codegen/templates/typescript/web.client.ts
  packages/sdk/src/codegen/templates/typescript/webhooks.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/index.ts
Labels: npm, sdk, nextjs
