Repository adonis0302/WunderGr-Backend-API, changes with the labels that .github/labeler.yml gives for each.
All labels: npm, sdk, wunderctl, nextjs, types, engine

.github/labeler.yml:

npm:
  - 'packages/**/*'
  - 'pnpm-lock.yaml'
  - 'pnpm-workspace.yaml'
sdk:
  - 'packages/sdk/**/*'
wunderctl:
  - 'packages/wunderctl/**/*'
nextjs:
  - 'packages/nextjs/**/*'
types:
  - 'packages/protobuf/**/*'
engine:
  - 'pkg/**/*'
  - 'internal/*/*'
  - 'cmd/**/*'
  - 'cli/**/*'
  - 'go.mod'
  - 'go.sum'

chore(release): bump wunderctl dependency in sdk to 0.118.1 (#356)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: increase timeout
  .github/workflows/packages-release.yaml
  .github/workflows/pr-title.yaml
Labels: none

feat(docs-website): general improvements (#339)
  docs-website/config/navigation.js
  docs-website/config/tags.js
  docs-website/src/components/Comments.tsx
  docs-website/src/pages/docs/deployment/flyio.md
  docs-website/src/pages/docs/examples/apollo-federation.md
  docs-website/src/pages/docs/examples/auth0-openid-connect-authentication.md
  docs-website/src/pages/docs/examples/graphql-hasura-subscriptions.md
  docs-website/src/pages/docs/examples/index.md
  docs-website/src/pages/docs/examples/nextjs-postgresql-prisma.md
  docs-website/src/pages/docs/examples/postgresql-prisma.md
  docs-website/src/pages/docs/examples/publish-install-api.md
  docs-website/src/pages/docs/supported-backend-languages-frameworks/java-kotlin.md
  docs-website/src/pages/docs/supported-backend-languages-frameworks/python.md
  docs-website/src/pages/docs/supported-data-sources/apache-thrift.md
  docs-website/src/pages/docs/supported-data-sources/faunadb.md
  docs-website/src/pages/docs/supported-data-sources/grpc.md
  docs-website/src/pages/docs/supported-data-sources/mongodb-atlas.md
  docs-website/src/pages/docs/supported-data-sources/neo4j.md
  docs-website/src/pages/docs/supported-data-sources/odata.md
  docs-website/src/pages/docs/supported-data-sources/oracle-db.md
  docs-website/src/pages/docs/supported-data-sources/planetscale.md
  docs-website/src/pages/docs/supported-data-sources/postgresql.md
  docs-website/src/pages/docs/supported-data-sources/soap.md
  docs-website/src/pages/docs/supported-data-sources/sqlserver.md
  docs-website/src/pages/docs/supported-data-sources/yugabyte.md
  docs-website/src/pages/docs/supported-frontend-frameworks/index.md
  docs-website/src/pages/docs/supported-frontend-frameworks/nextjs.md
  docs-website/src/pages/docs/supported-frontend-frameworks/react-js.md
  docs-website/src/pages/docs/supported-frontend-frameworks/react-native.md
  docs-website/src/pages/docs/supported-frontend-frameworks/vite-js.md
Labels: none

chore: update vite testapp with all swr hooks (#359)
  packages/nextjs/src/with-wundergraph.test.tsx
  pnpm-lock.yaml
  testapps/vite/.wundergraph/wundergraph.config.ts
  testapps/vite/package.json
  testapps/vite/src/App.tsx
  testapps/vite/src/components/AuthenticatedWeather.tsx
  testapps/vite/src/components/GenerateUsername.tsx
  testapps/vite/src/components/Home.tsx
  testapps/vite/src/components/Mocks.tsx
  testapps/vite/src/components/ProtectedLiveWeather.tsx
  testapps/vite/styles/Home.module.css
  testapps/vite/styles/globals.css
Labels: npm, nextjs

fix: generate all required templates (#360)
  packages/nextjs/src/template.ts
  packages/sdk/src/codegen/templates/index.ts
  packages/sdk/src/index.ts
Labels: npm, sdk, nextjs

fix: fix the background of comments (#350)
  docs-website/package-lock.json
  docs-website/package.json
  pnpm-lock.yaml
Labels: npm

feat(create-wundergraph-app): download latest tag instead of main (#349)
  packages/create-wundergraph-app/src/helpers/download.ts
  packages/create-wundergraph-app/src/helpers/examples.ts
  packages/create-wundergraph-app/src/helpers/getRepoTags.ts
  packages/create-wundergraph-app/src/helpers/getRepository.ts
  packages/create-wundergraph-app/src/tests/index.test.ts
Labels: npm

fix: fix nextjs postgress example (#368)
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-prisma/tsconfig.json
Labels: none

fix: stop wunderctl on normalization errors, exit with non-zero (#370)
  packages/sdk/src/graphql/operations.ts
Labels: npm, sdk

fix: remove colors from configurePublishWunderGraphAPI() (#371)
  packages/sdk/package.json
  packages/sdk/src/configure/index.ts
  pnpm-lock.yaml
Labels: npm, sdk

chore: improve deprecating warning message (#363)
  pkg/apihandler/apihandler.go
Labels: engine

feat: add example for OpenAPI and mocking (#369)
  README.md
  examples/openapi-mocking/.gitignore
  examples/openapi-mocking/.wundergraph/.graphqlconfig
  examples/openapi-mocking/.wundergraph/api.yaml
  examples/openapi-mocking/.wundergraph/operations/NewNote.graphql
  examples/openapi-mocking/.wundergraph/operations/NoteByID.graphql
  examples/openapi-mocking/.wundergraph/wundergraph.config.ts
  examples/openapi-mocking/.wundergraph/wundergraph.operations.ts
  examples/openapi-mocking/.wundergraph/wundergraph.server.ts
  examples/openapi-mocking/README.md
  examples/openapi-mocking/package.json
  examples/openapi-mocking/tsconfig.json
Labels: none

fix: validate OpenID discovered configuration, warn when appropriate (#373)
  pkg/apihandler/apihandler.go
Labels: engine

docs: replace word 'you' with 'your' (#387)
  docs-website/src/pages/docs/features/type-script-hooks-to-customize-the-api-gateway-middleware.md
Labels: none

fix: replace graphql-weather-api.herokuapp.com with our own copy (#390)
  docs-website/src/pages/docs/architecture/manage-api-dependencies-explicitly.md
  docs-website/src/pages/docs/architecture/wundergraph-explained-in-one-sequence-diagram.md
  docs-website/src/pages/docs/directives-reference/export-directive.md
  docs-website/src/pages/docs/examples/cross-api-joins.md
  docs-website/src/pages/docs/features/cross-api-joins-to-compose-apis.md
  docs-website/src/pages/docs/use-cases/api-composition-and-integration.md
  docs-website/src/pages/docs/use-cases/backend-for-frontend.md
  examples/cross-api-joins/.wundergraph/wundergraph.config.ts
  examples/publish-install-api/.wundergraph/wundergraph.config.ts
  packages/sdk/src/definition/merge.test.ts
  testapps/default/.wundergraph/wundergraph.config.ts
  testapps/nextjs/.wundergraph/wundergraph.config.ts
  testapps/vite/.wundergraph/wundergraph.config.ts
Labels: npm, sdk

fix: fauna-db example (#380)
  examples/faunadb-nextjs/lib/wundergraph.ts
  examples/faunadb-nextjs/package.json
  examples/faunadb-nextjs/pages/index.tsx
  examples/nextjs-swr/.wundergraph/wundergraph.config.ts
Labels: none

fix(ci): deprecation warnings (#372)
  .github/actions/node/action.yaml
  .github/workflows/engine-ci.yaml
  .github/workflows/packages-ci.yaml
  .github/workflows/tag-engine-release.yaml
Labels: none

docs: advanced s3 spec (#344)
  specs/advanced-s3-support.md
Labels: none

feat: make detecting invalid operations easier (#374)
  cli/commands/generate.go
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/codegen/index.test.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/graphql/operations.ts
  packages/sdk/src/middleware/plugins/hooks.test.ts
  pkg/apihandler/api.go
  pkg/apihandler/apihandler.go
  pkg/loadoperations/loader.go
  pkg/node/config.go
  pkg/wgpb/wundernode_config.pb.go
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

feat: upgrade to Node.js LTS (18) (#396)
  .github/actions/node/action.yaml
  CONTRIBUTING.md
  go.mod
  go.sum
  pkg/bundler/bundler.go
Labels: engine

chore(docs): remove app from graphqlconfig (#398)
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-graphqlconfig.md
Labels: none

ci(release): Release 0.119.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

fix: remove quote
  .github/workflows/tag-engine-release.yaml
Labels: none

chore: revert tag due to ci error
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

ci(release): Release 0.119.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore(release): bump wunderctl dependency in sdk to 0.119.0 (#399)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

docs: fix env.from in conventions (#403)
  docs-website/src/pages/docs/architecture/wundergraph-conventions.md
Labels: none

chore: document RFC process
  rfc/RFC.md
Labels: none

chore: upgrade-swr-to-rc3 (#397)
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/faunadb-nextjs/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-postgres-user-filters/tsconfig.json
  examples/nextjs-swr/package.json
  examples/nextjs/package.json
  examples/rbac/package.json
  examples/vite-swr/.graphqlconfig
  examples/vite-swr/.wundergraph/wundergraph.config.ts
  examples/vite-swr/package.json
  examples/vite-swr/src/lib/wundergraph.ts
Labels: none

chore: change docs banner (#413)
  docs-website/src/components/AnnouncementBanner.tsx
Labels: none

fix: rest datasource post body arguments (#415)
  go.mod
  go.sum
Labels: engine

ci(release): Release 0.119.1
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

fix: use the version from package.json for the --version command (#409)
  packages/create-wundergraph-app/README.md
  packages/create-wundergraph-app/package.json
  packages/create-wundergraph-app/src/index.ts
Labels: npm

chore: increase wunderctl dep in SDK to 0.119.1 (#417)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: update dependencies in examples to SDK 0.124.1 (#418)
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/faunadb-nextjs/package.json
  examples/fragments/package.json
  examples/golang-client/package.json
  examples/graphql-apollo-subscriptions/package.json
  examples/graphql-hasura-subscriptions/package.json
  examples/graphql-sse-subscriptions/package.json
  examples/graphql-subscriptions-hooks/package.json
  examples/graphql-ws-subscriptions/package.json
  examples/graphql-yoga-sse-subscriptions/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-react-query/package.json
  examples/nextjs-swr/package.json
  examples/nextjs/package.json
  examples/openapi-mocking/package.json
  examples/postgres/package.json
  examples/publish-install-api/package.json
  examples/rbac/package.json
  examples/schema-extension/package.json
  examples/simple/package.json
  examples/vite-swr/package.json
  examples/webhooks/package.json
Labels: none

feat: add WunderGraph testing library (#345)
  docs-website/config/navigation.js
  docs-website/src/pages/docs/guides/testing.md
  examples/openapi-mocking/package.json
  examples/openapi-mocking/test.ts
  examples/simple/package.json
  examples/simple/test/index.test.ts
  packages/sdk/package.json
  packages/sdk/src/client/index.ts
  packages/sdk/src/client/types.ts
  packages/sdk/src/codegen/templates/index.ts
  packages/sdk/src/codegen/templates/typescript/client.template.ts
  packages/sdk/src/codegen/templates/typescript/testing.template.ts
  packages/sdk/src/codegen/templates/typescript/testing.ts
  packages/sdk/src/testing/index.ts
  packages/sdk/src/wunderctlexec/index.ts
  pnpm-lock.yaml
Labels: npm, sdk

fix: add missing jest config in simple example (#431)
  examples/simple/jest.config.js
Labels: none

fix: add missing dependency to our nextjs package (#432)
  packages/nextjs/package.json
  pnpm-lock.yaml
Labels: npm, nextjs

feat: expo react native example (#408)
  docs-website/config/navigation.js
  docs-website/src/pages/docs/examples/expo-swr.md
  docs-website/src/pages/docs/supported-frontend-frameworks/react-js.md
  docs-website/src/pages/docs/supported-frontend-frameworks/vite-js.md
  examples/expo-swr/.expo/README.md
  examples/expo-swr/.expo/devices.json
  examples/expo-swr/.gitignore
  examples/expo-swr/.wundergraph/.graphqlconfig
  examples/expo-swr/.wundergraph/operations/Dragons.graphql
  examples/expo-swr/.wundergraph/operations/Missions.graphql
  examples/expo-swr/.wundergraph/wundergraph.config.ts
  examples/expo-swr/.wundergraph/wundergraph.operations.ts
  examples/expo-swr/.wundergraph/wundergraph.server.ts
  examples/expo-swr/App.tsx
  examples/expo-swr/README.md
  examples/expo-swr/app.config.js
  examples/expo-swr/babel.config.js
  examples/expo-swr/lib/wundergraph.ts
  examples/expo-swr/metro.config.js
  examples/expo-swr/package.json
  examples/expo-swr/tsconfig.json
  pnpm-lock.yaml
Labels: npm

chore: remove version numbers from generated PB Go file (#420)
  pkg/wgpb/wundernode_config.pb.go
  types/generate.sh
Labels: engine
