Repository adonis0302/WunderGr-Backend-API, changes with the labels that .github/labeler.yml gives for each.
All labels: npm, sdk, wunderctl, nextjs, types, engine

chore: improve PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

chore: improve PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

fix: print compiler error messages during TS operation response schema generation (#761)
  packages/sdk/src/configure/findup.test.ts
  packages/sdk/src/configure/findup.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/configure/testdata/testdir/testfile
  packages/sdk/src/configure/testdata/testfile
Labels: npm, sdk

feat: add docs for neon integration (#768)
  docs-website/config/navigation.tsx
  docs-website/src/pages/docs/cloud/integrations/neon.md
Labels: none

ci(release): Release 0.136.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: update wunderctl dependency version in SDK (#773)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

fix: restore postResolveTransform support, add it to internal ops (#774)
  pkg/apihandler/apihandler.go
  pkg/apihandler/internalapihandler.go
  testapps/default/.wundergraph/operations/CountryWeather.graphql
  testapps/default/.wundergraph/operations/CountryWeatherInternal.graphql
  testapps/default/.wundergraph/operations/CountryWeatherViaInternal.ts
  testapps/default/test/index.test.ts
Labels: engine

fix: make TS operation response schema generation more forgiving (#776)
  packages/sdk/src/configure/index.ts
  testapps/default/test/index.test.ts
Labels: npm, sdk

ci(release): Release 0.136.1
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: bump SDK wunderctl dependency to 0.136.1 (#778)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: bump SDK dependency in examples to 0.142.2 (#779)
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/expo-swr/package.json
  examples/faunadb-nextjs/package.json
  examples/fragments/package.json
  examples/golang-client/package.json
  examples/graphql-apollo-subscriptions/package.json
  examples/graphql-hasura-subscriptions/package.json
  examples/graphql-sse-subscriptions/package.json
  examples/graphql-subscriptions-hooks/package.json
  examples/graphql-ws-subscriptions/package.json
  examples/graphql-yoga-sse-subscriptions/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/learn-wundergraph/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-file-upload/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-react-query/package.json
  examples/nextjs-todos/package.json
  examples/nextjs-typescript-functions/package.json
  examples/nextjs/package.json
  examples/nodejs-ts-client/package.json
  examples/openapi-mocking/package.json
  examples/postgres/package.json
  examples/rbac/package.json
  examples/remix/package.json
  examples/schema-extension/package.json
  examples/simple/package.json
  examples/vite-solidjs/package.json
  examples/vite-swr/package.json
  examples/webhooks/package.json
Labels: none

feat: modify the readme of postgres example to support the flow with neon (#777)
  examples/postgres/.env.example
  examples/postgres/.wundergraph/wundergraph.config.ts
  examples/postgres/README.md
  examples/postgres/docker-compose.yml
Labels: none

chore: re-enable vite-swr example (#754)
  scripts/test-examples/all.sh
  scripts/test-examples/single.sh
Labels: none

feat: svelte query client (#683)Co-authored-by: Sergiy Petrunin <spetrunin@users.noreply.github.com> Co-authored-by: Eelco Wiersma <contact@pagebakers.nl> Co-authored-by: Pagebakers <eelco@appulse.nl>
  packages/svelte-query/.npmignore
  packages/svelte-query/CHANGELOG.md
  packages/svelte-query/README.md
  packages/svelte-query/jest-setup.ts
  packages/svelte-query/jest.config.js
  packages/svelte-query/package.json
  packages/svelte-query/src/lib/createSvelteClient.ts
  packages/svelte-query/src/lib/index.ts
  packages/svelte-query/src/lib/types.ts
  packages/svelte-query/tests/TestComponents/FetchDisabledComponent.svelte
  packages/svelte-query/tests/TestComponents/FetchDisabledWrapper.svelte
  packages/svelte-query/tests/TestComponents/MutationWithAuthComponent.svelte
  packages/svelte-query/tests/TestComponents/MutationWithAuthWrapper.svelte
  packages/svelte-query/tests/TestComponents/MutationWithInvalidationComponent.svelte
  packages/svelte-query/tests/TestComponents/MutationWithInvalidationWrapper.svelte
  packages/svelte-query/tests/TestComponents/SubscriptionComponent.svelte
  packages/svelte-query/tests/TestComponents/SubscriptionWrapper.svelte
  packages/svelte-query/tests/TestComponents/UserComponent.svelte
  packages/svelte-query/tests/TestComponents/UserWrapper.svelte
  packages/svelte-query/tests/TestComponents/WeatherComponent.svelte
  packages/svelte-query/tests/TestComponents/WeatherWrapper.svelte
  packages/svelte-query/tests/queryUtils.test.ts
  packages/svelte-query/tests/svelte-query.test-d.ts
  packages/svelte-query/tsconfig.build.json
  packages/svelte-query/tsconfig.json
  pnpm-lock.yaml
Labels: npm

feat: add beta omnigraph backed open api data (#771)
  packages/sdk/package.json
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/definition/openapi-introspection.ts
  packages/sdk/src/server/plugins/omnigraph.ts
  packages/sdk/src/server/server.ts
  packages/sdk/src/v2openapi/index.ts
  packages/sdk/src/v2openapi/omnigraph.ts
  pkg/apihandler/apihandler.go
  pkg/apihandler/internalapihandler.go
  pkg/engineconfigloader/engineconfigloader.go
  pnpm-lock.yaml
  testapps/default/.wundergraph/operations/JSP.graphql
  testapps/default/.wundergraph/operations/Post.graphql
  testapps/default/.wundergraph/operations/Posts.graphql
  testapps/default/.wundergraph/operations/foo/Join.graphql
  testapps/default/.wundergraph/wundergraph.config.ts
  testapps/default/json_placeholder.json
  testapps/default/test/index.test.ts
Labels: npm, sdk, engine

fix: graphql-hasura-subscriptions example (#772)
  examples/graphql-hasura-subscriptions/.env.example
  examples/graphql-hasura-subscriptions/.wundergraph/operations/TodosQuery.graphql
  examples/graphql-hasura-subscriptions/.wundergraph/operations/TodosSubscription.graphql
  examples/graphql-hasura-subscriptions/.wundergraph/wundergraph.config.ts
  examples/graphql-hasura-subscriptions/README.md
  examples/graphql-hasura-subscriptions/jest.config.js
  examples/graphql-hasura-subscriptions/package.json
  examples/graphql-hasura-subscriptions/test/index.test.ts
Labels: none

ci(release): Release 0.137.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: bump wunderctl dependency in SDK to 0.137.0 (#780)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: bump SDK dependency in examples to 0.143 (#781)
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/expo-swr/package.json
  examples/faunadb-nextjs/package.json
  examples/fragments/package.json
  examples/golang-client/package.json
  examples/graphql-apollo-subscriptions/package.json
  examples/graphql-hasura-subscriptions/package.json
  examples/graphql-sse-subscriptions/package.json
  examples/graphql-subscriptions-hooks/package.json
  examples/graphql-ws-subscriptions/package.json
  examples/graphql-yoga-sse-subscriptions/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/learn-wundergraph/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-file-upload/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-react-query/package.json
  examples/nextjs-todos/package.json
  examples/nextjs-typescript-functions/package.json
  examples/nextjs/package.json
  examples/nodejs-ts-client/package.json
  examples/openapi-mocking/package.json
  examples/postgres/package.json
  examples/rbac/package.json
  examples/remix/package.json
  examples/schema-extension/package.json
  examples/simple/package.json
  examples/vite-solidjs/package.json
  examples/vite-swr/package.json
  examples/webhooks/package.json
Labels: none

chore: add @wundergraph/svelte-query to lerna config (#784)
  lerna.json
Labels: none

fix: multiple fixes in authentication hooks (#782)
  pkg/authentication/authentication.go
  pkg/hooks/authentication.go
  testapps/auth/.wundergraph/wundergraph.config.ts
  testapps/auth/.wundergraph/wundergraph.server.ts
  testapps/auth/test/index.test.ts
Labels: engine

chore: delete example .env files for setting up dummy secrets (#785)
  examples/apollo-federation/.env.example
  examples/apollo-federation/README.md
  examples/caching/.env.example
  examples/caching/README.md
  examples/hooks/.env.example
  examples/hooks/README.md
  examples/learn-wundergraph/.env.example
  examples/learn-wundergraph/README.md
  examples/nextjs-postgres-prisma/.env.example
  examples/nextjs-postgres-prisma/README.md
  examples/nextjs-postgres-user-filters/.env.example
  examples/nextjs-postgres-user-filters/README.md
  examples/nextjs-react-query/.env.example
  examples/nextjs-react-query/README.md
  examples/nextjs-typescript-functions/.env.example
  examples/nextjs-typescript-functions/README.md
  examples/nextjs/.env.example
  examples/nextjs/README.md
  examples/vite-swr/.env.example
  examples/vite-swr/README.md
  examples/webhooks/.env.example
Labels: none

chore: update version
  packages/svelte-query/package.json
Labels: npm

chore: generate build_info.json first (#786)
  packages/sdk/src/configure/index.ts
Labels: npm, sdk

feat: add ability to enable inspect for the server script runner (#788)
  cli/commands/server.go
  cli/commands/up.go
  cli/helpers/server_runner.go
Labels: engine

fix: translating oas spec in the v2 oas introspection (#787)
  packages/sdk/src/v2openapi/index.ts
  packages/sdk/src/v2openapi/omnigraph.ts
Labels: npm, sdk

chore: update main README (#789)
  README.md
Labels: none

fix: avoid infinite loop when using an operation as userInfoEndpoint for tokens (#790)
  pkg/authentication/authentication.go
  pkg/customhttpclient/request_tag.go
Labels: engine

ci(release): Release 0.138.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: bump to 138.0 (#797)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: bump examples to 138.0 (#798)
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/expo-swr/package.json
  examples/faunadb-nextjs/package.json
  examples/fragments/package.json
  examples/golang-client/package.json
  examples/graphql-apollo-subscriptions/package.json
  examples/graphql-hasura-subscriptions/package.json
  examples/graphql-sse-subscriptions/package.json
  examples/graphql-subscriptions-hooks/package.json
  examples/graphql-ws-subscriptions/package.json
  examples/graphql-yoga-sse-subscriptions/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/learn-wundergraph/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-file-upload/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-react-query/package.json
  examples/nextjs-todos/package.json
  examples/nextjs-typescript-functions/package.json
  examples/nextjs/package.json
  examples/nodejs-ts-client/package.json
  examples/openapi-mocking/package.json
  examples/postgres/package.json
  examples/rbac/package.json
  examples/remix/package.json
  examples/schema-extension/package.json
  examples/simple/package.json
  examples/vite-solidjs/package.json
  examples/vite-swr/package.json
  examples/webhooks/package.json
Labels: none

feat: add auth middleware hook to nextjs client (#795)
  packages/nextjs/src/auth-middleware.ts
  packages/nextjs/src/index.ts
  packages/nextjs/src/types.ts
  packages/nextjs/src/with-wundergraph.tsx
Labels: npm, nextjs

chore: add clerk example (#796)
  README.md
  docs-website/config/navigation.tsx
  docs-website/src/pages/docs/examples/index.md
  docs-website/src/pages/docs/examples/nextjs-clerk.md
  examples/nextjs-clerk/.gitignore
  examples/nextjs-clerk/.graphqlrc.yaml
  examples/nextjs-clerk/.wundergraph/operations/Country.graphql
  examples/nextjs-clerk/.wundergraph/wundergraph.config.ts
  examples/nextjs-clerk/.wundergraph/wundergraph.operations.ts
  examples/nextjs-clerk/.wundergraph/wundergraph.server.ts
  examples/nextjs-clerk/README.md
  examples/nextjs-clerk/lib/wundergraph.ts
  examples/nextjs-clerk/next-env.d.ts
  examples/nextjs-clerk/package.json
  examples/nextjs-clerk/pages/_app.tsx
  examples/nextjs-clerk/pages/index.tsx
  examples/nextjs-clerk/public/clerk.svg
  examples/nextjs-clerk/public/favicon.ico
  examples/nextjs-clerk/public/wundergraph.svg
  examples/nextjs-clerk/tsconfig.json
Labels: none

chore: update versions (#799)
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/faunadb-nextjs/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/learn-wundergraph/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-clerk/package.json
  examples/nextjs-file-upload/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-react-query/package.json
  examples/nextjs-todos/package.json
  examples/nextjs-typescript-functions/package.json
  examples/nextjs/package.json
  examples/rbac/package.json
Labels: none

Update README.md
  README.md
Labels: none

chore: add cloud error docs (#802)
  docs-website/config/navigation.tsx
  docs-website/src/pages/docs/cloud/errors.md
Labels: none

Update errors.md
  docs-website/src/pages/docs/cloud/errors.md
Labels: none

feat: mark operations as internal when inside internal folder (#803)
  docs-website/src/pages/docs/directives-reference/internal-operation-directive.md
  docs-website/src/pages/docs/typescript-operations-reference/security.md
  examples/learn-wundergraph/.wundergraph/operations/users/internal/getAdminUser.ts
  examples/learn-wundergraph/.wundergraph/operations/weather/CountryWeather.ts
  examples/learn-wundergraph/.wundergraph/operations/weather/internal/Country.graphql
  examples/learn-wundergraph/.wundergraph/operations/weather/internal/Weather.graphql
  packages/sdk/src/configure/index.ts
  packages/sdk/src/graphql/operations.test.ts
  packages/sdk/src/graphql/operations.ts
  testapps/default/.wundergraph/operations/nested/InternalDirectoryWrapper.ts
  testapps/default/.wundergraph/operations/nested/internal/Internal.graphql
  testapps/default/test/index.test.ts
Labels: npm, sdk

chore: change error to warn (#807)
  pkg/authentication/github.go
  pkg/authentication/oidc.go
Labels: engine

chore: add newline to errors.md (#808)
  docs-website/src/pages/docs/cloud/errors.md
Labels: none

.github/labeler.yml:

npm:
  - 'packages/**/*'
  - 'pnpm-lock.yaml'
  - 'pnpm-workspace.yaml'
sdk:
  - 'packages/sdk/**/*'
wunderctl:
  - 'packages/wunderctl/**/*'
nextjs:
  - 'packages/nextjs/**/*'
types:
  - 'packages/protobuf/**/*'
engine:
  - 'pkg/**/*'
  - 'internal/*/*'
  - 'cmd/**/*'
  - 'cli/**/*'
  - 'go.mod'
  - 'go.sum'
