Repository adonis0302/WunderGr-Backend-API, changes with the labels that .github/labeler.yml gives for each.
All labels: npm, sdk, wunderctl, nextjs, types, engine

.github/labeler.yml:

npm:
  - 'packages/**/*'
  - 'pnpm-lock.yaml'
  - 'pnpm-workspace.yaml'
sdk:
  - 'packages/sdk/**/*'
wunderctl:
  - 'packages/wunderctl/**/*'
nextjs:
  - 'packages/nextjs/**/*'
types:
  - 'packages/protobuf/**/*'
engine:
  - 'pkg/**/*'
  - 'internal/*/*'
  - 'cmd/**/*'
  - 'cli/**/*'
  - 'go.mod'
  - 'go.sum'

chore: increase wunderctl dependency version to 0.132 in SDK (#724)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: bump SDK dependency in examples to 0.138 (#725)
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/expo-swr/package.json
  examples/faunadb-nextjs/package.json
  examples/fragments/package.json
  examples/golang-client/package.json
  examples/graphql-apollo-subscriptions/package.json
  examples/graphql-hasura-subscriptions/package.json
  examples/graphql-sse-subscriptions/package.json
  examples/graphql-subscriptions-hooks/package.json
  examples/graphql-ws-subscriptions/package.json
  examples/graphql-yoga-sse-subscriptions/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-file-upload/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-react-query/package.json
  examples/nextjs-todos/package.json
  examples/nextjs-typescript-functions/package.json
  examples/nextjs/package.json
  examples/nodejs-ts-client/package.json
  examples/openapi-mocking/package.json
  examples/postgres/package.json
  examples/rbac/package.json
  examples/remix/package.json
  examples/schema-extension/package.json
  examples/simple/package.json
  examples/vite-solidjs/package.json
  examples/vite-swr/package.json
  examples/webhooks/package.json
  packages/sdk/src/configure/index.ts
  packages/sdk/src/testing/index.ts
  scripts/test-examples/single.sh
Labels: npm, sdk

chore: enable race detector in Go CI (#714)
  .github/actions/wunderctl/action.yaml
  .github/workflows/engine-ci.yaml
  .github/workflows/examples-ci.yaml
  .github/workflows/packages-ci.yaml
  packages/sdk/src/testing/index.ts
  pkg/datasources/database/datasource.go
  testapps/default/jest.config.js
Labels: npm, sdk, engine

docs: add learn wundergraph (#726)Co-authored-by: Pagebakers <eelco@appulse.nl>
  docs-website/config/navigation.tsx
  docs-website/src/pages/learn/hello_world.md
  docs-website/src/pages/learn/index.md
  docs-website/src/pages/learn/joining_data_across_apis.md
  docs-website/src/pages/learn/thinking_in_api_dependencies.md
  docs-website/src/pages/learn/typescript_operations.md
  examples/learn-wundergraph/.env.example
  examples/learn-wundergraph/.gitignore
  examples/learn-wundergraph/.graphqlrc.yaml
  examples/learn-wundergraph/.wundergraph/operations/Dragons.graphql
  examples/learn-wundergraph/.wundergraph/operations/incremental/data.ts
  examples/learn-wundergraph/.wundergraph/operations/incremental/delay.ts
  examples/learn-wundergraph/.wundergraph/operations/users/get.ts
  examples/learn-wundergraph/.wundergraph/operations/users/subscribe.ts
  examples/learn-wundergraph/.wundergraph/operations/users/update.ts
  examples/learn-wundergraph/.wundergraph/operations/weather/Country.graphql
  examples/learn-wundergraph/.wundergraph/operations/weather/CountryWeather.ts
  examples/learn-wundergraph/.wundergraph/operations/weather/Weather.graphql
  examples/learn-wundergraph/.wundergraph/wundergraph.config.ts
  examples/learn-wundergraph/.wundergraph/wundergraph.operations.ts
  examples/learn-wundergraph/.wundergraph/wundergraph.server.ts
  examples/learn-wundergraph/README.md
  examples/learn-wundergraph/jest.config.js
  examples/learn-wundergraph/next-env.d.ts
  examples/learn-wundergraph/package.json
  examples/learn-wundergraph/pages/_app.tsx
  examples/learn-wundergraph/pages/incremental/index.tsx
  examples/learn-wundergraph/pages/index.tsx
  examples/learn-wundergraph/pages/users/index.tsx
  examples/learn-wundergraph/pages/users/subscribe.tsx
  examples/learn-wundergraph/pages/users/update.tsx
  examples/learn-wundergraph/playwright.config.ts
  examples/learn-wundergraph/public/favicon.ico
  examples/learn-wundergraph/test/e2e.ts
  examples/learn-wundergraph/test/index.test.ts
  examples/learn-wundergraph/tsconfig.json
  pnpm-lock.yaml
Labels: npm

feat: annotate OpenAPI spec with operation types and auth requirements (#728)
  packages/sdk/src/openapibuilder/__snapshots__/index.test.ts.snap
  packages/sdk/src/openapibuilder/index.test.ts
  packages/sdk/src/openapibuilder/index.ts
  packages/sdk/src/openapibuilder/operations.ts
Labels: npm, sdk

fix: fixing multidimensional array schema in codegen (#731)Co-authored-by: abdelhameedalsayed <abdulhameed.azab@gmail.com>
  packages/sdk/src/codegen/templates/typescript/index.ts
  testapps/openapi/geojson/.gitignore
  testapps/openapi/geojson/.graphqlrc.yaml
  testapps/openapi/geojson/.wundergraph/geojson.yaml
  testapps/openapi/geojson/.wundergraph/operations/Location.graphql
  testapps/openapi/geojson/.wundergraph/wundergraph.config.ts
  testapps/openapi/geojson/.wundergraph/wundergraph.operations.ts
  testapps/openapi/geojson/.wundergraph/wundergraph.server.ts
  testapps/openapi/geojson/README.md
  testapps/openapi/geojson/jest.config.js
  testapps/openapi/geojson/package.json
  testapps/openapi/geojson/test/index.test.ts
  testapps/openapi/geojson/tsconfig.json
Labels: npm, sdk

ci(release): Release 0.132.1
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: update the wunderctl version (#733)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

docs: fix wrong example name (#735
  docs-website/src/pages/docs/examples/nextjs-postgresql-prisma.md
Labels: none

docs: align simple template to documentation (#729
  examples/simple/.wundergraph/operations/Countries.graphql
  examples/simple/.wundergraph/operations/Country.graphql
  examples/simple/README.md
  examples/simple/test/index.test.ts
Labels: none

docs: document multi workspace support (#740)
  README.md
  docs-website/config/navigation.tsx
  docs-website/src/pages/docs/cloud/configuration.md
  docs-website/src/pages/docs/cloud/index.md
Labels: none

docs: remove incorrect legacy doc (#742)
  docs-website/src/pages/docs/legacy/basics-of-time-travel.md
Labels: none

chore: update minio setup scripts for latest mc release (#743
  .github/workflows/engine-ci.yaml
  scripts/minio-setup.sh
  testapps/nextjs/minio/setup.sh
Labels: none

feat: new local cache implementation (#727)
  cli/commands/clean.go
  cli/commands/generate.go
  cli/commands/root.go
  cli/commands/up.go
  cli/helpers/cache.go
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-introspection.md
  packages/sdk/src/configure/index.ts
  packages/sdk/src/definition/database-introspection.ts
  packages/sdk/src/definition/federation-introspection.ts
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/definition/introspection-cache.ts
  packages/sdk/src/definition/openapi-introspection.ts
  packages/sdk/src/localcache/index.test.ts
  packages/sdk/src/localcache/index.ts
  pkg/httpidletimeout/httpidletimeout_test.go
Labels: npm, sdk, engine

chore: cleanup error messages during polling (#746)
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/introspection-cache.ts
Labels: npm, sdk

chore: bump graphql-go-tools to 1.62.1 (#751)
  go.mod
  go.sum
Labels: engine

feat: add raw sql support (#745)
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-prisma/schema.prisma
  packages/sdk/src/db/__snapshots__/introspection.test.ts.snap
  packages/sdk/src/db/introspection.ts
  packages/sdk/src/definition/merge.ts
  packages/sdk/src/definition/namespacing.ts
  pkg/datasources/database/datasource.go
  pkg/datasources/database/datasource_test.go
  pkg/datasources/database/engine.go
  pkg/datasources/database/introspection.go
  scripts/test-examples/all.sh
  testapps/default/.wundergraph/operations/rawsql/ExecuteRaw.graphql
  testapps/default/.wundergraph/operations/rawsql/ExecuteRawInline.graphql
  testapps/default/.wundergraph/operations/rawsql/QueryORM.graphql
  testapps/default/.wundergraph/operations/rawsql/QueryRawJSON.graphql
  testapps/default/.wundergraph/operations/rawsql/QueryRow.graphql
  testapps/default/.wundergraph/operations/rawsql/QueryRowInline.graphql
  testapps/default/.wundergraph/users_post.sqlite
  testapps/default/test/index.test.ts
Labels: npm, sdk, engine

chore: enable polling by default only for sources in the local network (#749)
  packages/sdk/src/definition/introspection-cache.ts
Labels: npm, sdk

fix: initialize introspection cache directory from the Go side (#750)
  cli/helpers/cache.go
Labels: engine

fix: data corruption when polling is enabled for federation sources (#753)
  packages/sdk/package.json
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/definition/introspection-cache.ts
  packages/sdk/src/localcache/index.ts
  pnpm-lock.yaml
Labels: npm, sdk

ci(release): Release 0.133.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: bump wunderctl SDK dependency to 0.133.0 (#755)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: bump dependencies in examples to SDK v0.140 (#757)
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/expo-swr/package.json
  examples/faunadb-nextjs/package.json
  examples/fragments/package.json
  examples/golang-client/package.json
  examples/graphql-apollo-subscriptions/package.json
  examples/graphql-hasura-subscriptions/package.json
  examples/graphql-sse-subscriptions/package.json
  examples/graphql-subscriptions-hooks/package.json
  examples/graphql-ws-subscriptions/package.json
  examples/graphql-yoga-sse-subscriptions/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/learn-wundergraph/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-file-upload/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-react-query/package.json
  examples/nextjs-todos/package.json
  examples/nextjs-typescript-functions/package.json
  examples/nextjs/package.json
  examples/nodejs-ts-client/package.json
  examples/openapi-mocking/package.json
  examples/postgres/package.json
  examples/rbac/package.json
  examples/remix/package.json
  examples/schema-extension/package.json
  examples/simple/package.json
  examples/vite-solidjs/package.json
  examples/vite-swr/package.json
  examples/webhooks/package.json
Labels: none

refactor: move authentication hook logic to pkg/hooks (#748)
  pkg/apihandler/apihandler.go
  pkg/apihandler/apihandler_test.go
  pkg/apihandler/internalapihandler.go
  pkg/authentication/authentication.go
  pkg/authentication/github.go
  pkg/authentication/hooks.go
  pkg/authentication/oidc.go
  pkg/hooks/authentication.go
  pkg/hooks/hooks.go
  pkg/hooks/pipeline.go
Labels: engine

chore: add graphqlrc for testapps (#760)
  .graphqlrc.yaml
Labels: none

feat: add build_info.json to sdk (#758)
  cli/commands/root.go
  packages/sdk/src/configure/index.ts
Labels: npm, sdk, engine

ci(release): Release 0.134.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: bump wunderctl dependency to 0.134 (#763)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

docs: update db section (#765)
  docs-website/config/navigation.tsx
  docs-website/config/tags.js
  docs-website/src/pages/docs/databases/apache-thrift.md
  docs-website/src/pages/docs/databases/index.md
  docs-website/src/pages/docs/databases/mongodb-atlas.md
  docs-website/src/pages/docs/databases/mysql.md
  docs-website/src/pages/docs/databases/neo4j.md
  docs-website/src/pages/docs/databases/planetscale.md
  docs-website/src/pages/docs/databases/postgresql.md
  docs-website/src/pages/docs/databases/prisma.md
  docs-website/src/pages/docs/databases/sqlite.md
  docs-website/src/pages/docs/databases/sqlserver.md
  docs-website/src/pages/docs/databases/yugabyte.md
  docs-website/src/pages/index.jsx
Labels: none

chore: bump examples to sdk 0.141 (#764)
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/expo-swr/package.json
  examples/faunadb-nextjs/package.json
  examples/fragments/package.json
  examples/golang-client/package.json
  examples/graphql-apollo-subscriptions/package.json
  examples/graphql-hasura-subscriptions/package.json
  examples/graphql-sse-subscriptions/package.json
  examples/graphql-subscriptions-hooks/package.json
  examples/graphql-ws-subscriptions/package.json
  examples/graphql-yoga-sse-subscriptions/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/learn-wundergraph/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-file-upload/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-react-query/package.json
  examples/nextjs-todos/package.json
  examples/nextjs-typescript-functions/package.json
  examples/nextjs/package.json
  examples/nodejs-ts-client/package.json
  examples/openapi-mocking/package.json
  examples/postgres/package.json
  examples/rbac/package.json
  examples/remix/package.json
  examples/schema-extension/package.json
  examples/simple/package.json
  examples/vite-solidjs/package.json
  examples/vite-swr/package.json
  examples/webhooks/package.json
Labels: none

feat: use .cjs extension for commonjs to support esm projects (#752)
  cli/commands/generate.go
  cli/commands/server.go
  cli/commands/up.go
  packages/sdk/src/configure/index.ts
  packages/sdk/src/operations/operations.ts
  packages/sdk/src/server/plugins/functions.ts
  packages/sdk/src/webhooks/index.ts
  pkg/bundler/bundler.go
  testapps/vite/.wundergraph/wundergraph.config.ts
  testapps/vite/package.json
Labels: npm, sdk, engine

chore: fix docs
  docs-website/src/pages/docs/guides/typesafe_api_integrations_with_typescript_operations_and_graphql.md
Labels: none

ci(release): Release 0.135.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: upgrade wunderctl in sdk
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: update sdk in examples (#766)
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/expo-swr/package.json
  examples/faunadb-nextjs/package.json
  examples/fragments/package.json
  examples/golang-client/package.json
  examples/graphql-apollo-subscriptions/package.json
  examples/graphql-hasura-subscriptions/package.json
  examples/graphql-sse-subscriptions/package.json
  examples/graphql-subscriptions-hooks/package.json
  examples/graphql-ws-subscriptions/package.json
  examples/graphql-yoga-sse-subscriptions/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/learn-wundergraph/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-file-upload/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-react-query/package.json
  examples/nextjs-todos/package.json
  examples/nextjs-typescript-functions/package.json
  examples/nextjs/package.json
  examples/nodejs-ts-client/package.json
  examples/openapi-mocking/package.json
  examples/postgres/package.json
  examples/rbac/package.json
  examples/remix/package.json
  examples/schema-extension/package.json
  examples/simple/package.json
  examples/vite-solidjs/package.json
  examples/vite-swr/package.json
  examples/webhooks/package.json
Labels: none

chore: update docs
  docs-website/src/pages/docs/guides/typesafe_api_integrations_with_typescript_operations_and_graphql.md
  docs-website/src/pages/docs/typescript-operations-reference/index.md
  packages/sdk/src/client/README.md
Labels: npm, sdk

refactor: pass a bytes.Buffer to hooks.EncodeData and reuse it (#701)
  pkg/apihandler/apihandler.go
  pkg/hooks/hooks.go
  pkg/hooks/pipeline.go
  testapps/default/test/index.test.ts
Labels: engine

feat: enable CORS headers for requests that result in 404/405 (#767)
  pkg/apihandler/apihandler.go
  pkg/node/node.go
Labels: engine

fix: support TS operations that never return (#762)
  packages/sdk/src/configure/index.ts
  packages/sdk/src/openapibuilder/__snapshots__/index.test.ts.snap
  packages/sdk/src/openapibuilder/index.test.ts
Labels: npm, sdk

chore: remove deprecated @types/axios dependency to remove warnings (#770)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk
