Repository adonis0302/WunderGr-Backend-API, changes with the labels that .github/labeler.yml gives for each.
All labels: npm, sdk, wunderctl, nextjs, types, engine

chore: improve readme example
  README.md
Labels: none

fix: bootstrap operation factory (#938)
  pkg/operations/operations.go
Labels: engine

feat: soap datasource (#924)
  docs-website/package-lock.json
  docs-website/src/pages/docs/supported-data-sources/soap.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-data-sources.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-soap-data-source.md
  packages/sdk/package.json
  packages/sdk/src/configure/index.ts
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/definition/openapi-introspection.ts
  packages/sdk/src/definition/soap-introspection.ts
  packages/sdk/src/server/plugins/omnigraphOAS.ts
  packages/sdk/src/server/plugins/omnigraphSOAP.ts
  packages/sdk/src/server/server.ts
  packages/sdk/src/v2openapi/omnigraph.ts
  pkg/engineconfigloader/engineconfigloader.go
  pnpm-lock.yaml
Labels: npm, sdk, engine

ci(release): Release 0.149.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: bump wunderctl dependency in SDK to 0.149.0 (#939)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

feat: support all HTTP methods in mocking library (#945)
  packages/sdk/src/testing/mock-server.ts
Labels: npm, sdk

fix: clientrequest not passed to subscriptions in operation client (#944)
  packages/sdk/src/client/client.ts
  packages/sdk/src/server/operations-client.ts
Labels: npm, sdk

fix: detect all request timeouts correctly (#943)
  packages/testsuite/apps/openapi/.wundergraph/wundergraph.config.ts
  packages/testsuite/apps/openapi/openapi.test.ts
  pkg/apihandler/apihandler.go
Labels: npm, engine

chore: update nextjs, add og image and improve seo tags on docs website (#946)
  docs-website/next.config.js
  docs-website/package.json
  docs-website/public/fonts/Inter-SemiBold.ttf
  docs-website/src/components/Seo.tsx
  docs-website/src/pages/_app.jsx
  docs-website/src/pages/api/og.tsx
  docs-website/src/pages/index.jsx
  pnpm-lock.yaml
Labels: npm

feat: add support for caching in function handlers (#932)
  go.mod
  go.sum
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/codegen/templates/typescript/client.ts
  packages/sdk/src/codegen/templates/typescript/helpers.ts
  packages/sdk/src/codegen/templates/typescript/web.client.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/configure/operations.ts
  packages/sdk/src/operations/index.ts
  packages/sdk/src/operations/operations.ts
  packages/sdk/src/server/plugins/hooks.test.ts
  packages/testsuite/apps/basic/.wundergraph/operations/functions/greeting.ts
  packages/testsuite/apps/basic/apicache.test.ts
  pkg/apicache/apicache.go
  pkg/apicache/apicache_test.go
  pkg/apihandler/api.go
  pkg/apihandler/apihandler.go
  pkg/apihandler/apihandler_test.go
  pkg/cacheheaders/cacheheaders.go
  pkg/cacheheaders/cacheheaders_test.go
  pkg/node/config.go
  pkg/node/node_test.go
  pkg/wgpb/wundernode_config.pb.go
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

chore(docs-license): update company info (#951)
  LICENSE
Labels: none

feat: load .env.test instead .env for testing (#950)
  cli/commands/root.go
  docs-website/src/pages/docs/guides/mocking.md
  docs-website/src/pages/docs/guides/testing.md
  packages/sdk/src/testing/test-server.ts
  packages/sdk/src/testing/util.ts
  packages/testsuite/apps/mock/test/mock-external-api.test.ts
  packages/testsuite/package.json
  pnpm-lock.yaml
Labels: npm, sdk, engine

chore: improve client distribution guide (#952)
  docs-website/config/navigation.tsx
  docs-website/markdoc/nodes.js
  docs-website/next.config.js
  docs-website/src/pages/docs/guides/bundle-generated-client-for-distribution.md
Labels: none

feat: allow to set host header to be sent with request (#954)
  pkg/apihandler/apitransport.go
Labels: engine

ci(release): Release 0.150.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: update wunderctl dependency to 0.150.0 (#955)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: update code generation to generate all typescript templates in docs (#940)
  docs-website/src/pages/about/for-backend-developers.md
  docs-website/src/pages/about/for-frontend-developers.md
  docs-website/src/pages/about/for-fullstack-developers.md
  docs-website/src/pages/docs/clients-reference/nextjs.md
  docs-website/src/pages/docs/examples/nextjs-react-query.md
  docs-website/src/pages/docs/examples/nextjs.md
  docs-website/src/pages/docs/examples/nuxt.md
  docs-website/src/pages/docs/examples/sveltekit.md
  docs-website/src/pages/docs/examples/vite-svelte.md
  docs-website/src/pages/docs/getting-started/nextjs-quickstart.md
  docs-website/src/pages/docs/getting-started/nuxt-quickstart.md
  docs-website/src/pages/docs/getting-started/relay-quickstart.md
  docs-website/src/pages/docs/getting-started/remix-quickstart.md
  docs-website/src/pages/docs/getting-started/sveltekit-quickstart.md
  docs-website/src/pages/docs/getting-started/vite-quickstart.md
  docs-website/src/pages/docs/guides/integration-testing.md
  docs-website/src/pages/docs/guides/mocking.md
  docs-website/src/pages/docs/guides/testing.md
  docs-website/src/pages/docs/guides/token-based-authentication-with-next-auth.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-code-generation.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/index.md
Labels: none

ci(release): Release 0.151.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: bump wunderctl version in SDK to 0.151 (#956)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

docs: fix typo and minor edits in context factory guide (#961)
  docs-website/src/pages/docs/guides/context-factory.md
Labels: none

fix: deprecation warning in Examples CI (#958)
  .github/workflows/examples-ci.yaml
Labels: none

fix: operations mutation handler (#964)
  packages/sdk/src/server/operations-client.ts
  packages/testsuite/apps/basic/.wundergraph/operations/SetName.graphql
  packages/testsuite/apps/basic/.wundergraph/operations/functions/mutation.ts
  packages/testsuite/apps/basic/.wundergraph/wundergraph.server.ts
  packages/testsuite/apps/basic/index.test.ts
Labels: npm, sdk

feat: expo-relay example (#962)
  README.md
  docs-website/config/navigation.tsx
  docs-website/src/pages/docs/examples/expo-relay.md
  examples/expo-relay/.gitignore
  examples/expo-relay/.wundergraph/operations/Continents.graphql
  examples/expo-relay/.wundergraph/operations/Countries.graphql
  examples/expo-relay/.wundergraph/operations/relay/c11158afcc8e55409b96972f20e26fa1.graphql
  examples/expo-relay/.wundergraph/operations/relay/ce2342daed4e1960717c581d645e335d.graphql
  examples/expo-relay/.wundergraph/operations/relay/persisted.json
  examples/expo-relay/.wundergraph/operations/users/get.ts
  examples/expo-relay/.wundergraph/operations/users/subscribe.ts
  examples/expo-relay/.wundergraph/operations/users/update.ts
  examples/expo-relay/.wundergraph/wundergraph.config.ts
  examples/expo-relay/.wundergraph/wundergraph.operations.ts
  examples/expo-relay/.wundergraph/wundergraph.server.ts
  examples/expo-relay/App.tsx
  examples/expo-relay/README.md
  examples/expo-relay/__relay__generated__/DragonsListDragonsQuery.graphql.ts
  examples/expo-relay/__relay__generated__/Dragons_display_details.graphql.ts
  examples/expo-relay/__relay__generated__/__relay__generated__/.gitignore
  examples/expo-relay/app.json
  examples/expo-relay/assets/adaptive-icon.png
  examples/expo-relay/assets/favicon.png
  examples/expo-relay/assets/icon.png
  examples/expo-relay/assets/splash.png
  examples/expo-relay/babel.config.js
  examples/expo-relay/components/Dragon.tsx
  examples/expo-relay/components/DragonsList.tsx
  examples/expo-relay/lib/wundergraph/index.ts
  examples/expo-relay/metro.config.js
  examples/expo-relay/package.json
  examples/expo-relay/tsconfig.json
Labels: none

ci(release): Release 0.152.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: update wunderctl dependency to 0.152.0 (#965)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: add version to orm (#966)
  packages/orm/package.json
Labels: npm

chore: version orm (#967)
  packages/orm/package.json
Labels: npm

fix: add hotscript and type fest to deps (#969)
  packages/orm/package.json
  pnpm-lock.yaml
Labels: npm

chore: add ts orm reference and orm example (#970)
  docs-website/config/navigation.tsx
  docs-website/src/components/Navigation.jsx
  docs-website/src/pages/docs/examples/index.md
  docs-website/src/pages/docs/examples/orm.md
  docs-website/src/pages/docs/typescript-orm-reference/index.md
  examples/orm/.gitignore
  examples/orm/.graphqlrc.yaml
  examples/orm/.wundergraph/operations/country.ts
  examples/orm/.wundergraph/wundergraph.config.ts
  examples/orm/.wundergraph/wundergraph.operations.ts
  examples/orm/.wundergraph/wundergraph.server.ts
  examples/orm/README.md
  examples/orm/jest.config.js
  examples/orm/package.json
  examples/orm/test/index.test.ts
  examples/orm/tsconfig.json
Labels: none

ci(release): Release 0.152.1
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: update engine (#972)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

docs: Use correct hook in Authorization - Role Based Access Control (#974)
  docs-website/src/pages/docs/features/authorization-role-based-access-control-rbac.md
Labels: none

feat: improve Cache-Control support (#959)
  docs-website/src/pages/docs/wundergraph-operations-ts-reference/configure-caching.md
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/configure/operations.ts
  packages/sdk/src/graphql/operations.ts
  packages/sdk/src/operations/operations.ts
  packages/testsuite/apps/basic/.wundergraph/operations/functions/user.ts
  packages/testsuite/apps/basic/.wundergraph/wundergraph.operations.ts
  packages/testsuite/apps/basic/apicache.test.ts
  pkg/apihandler/apihandler.go
  pkg/cacheheaders/cacheheaders.go
  pkg/cacheheaders/cacheheaders_test.go
  pkg/wgpb/wundernode_config.pb.go
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

feat: re-enable plan cache for graphql handler (#947)
  go.mod
  go.sum
  packages/sdk/src/testing/test-server.ts
  packages/testsuite/apps/basic/graphqlendpoint.test.ts
  packages/testsuite/package.json
  pkg/apihandler/apihandler.go
  pkg/apihandler/internalapihandler.go
  pkg/node/node.go
  pkg/node/node_test.go
  pnpm-lock.yaml
  testapps/default/.wundergraph/wundergraph.config.ts
Labels: npm, sdk, engine

fix: handle anyOf and types with unrepresentable names in OAS (#975)
  packages/sdk/src/openapibuilder/index.test.ts
  packages/sdk/src/openapibuilder/index.ts
Labels: npm, sdk

chore(docs): improve docs about env (#981)
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-wundernode-options.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/configure-wundergraph-server-options.md
Labels: none

chore: fix typo in orm architecture.md (#983)
  packages/orm/docs/architecture.md
Labels: npm

feat: add orm client to typescript webhooks (#978)
  packages/sdk/src/codegen/templates/typescript/webhooks.template.ts
  packages/sdk/src/server/plugins/webhooks.ts
  packages/sdk/src/server/server.ts
  packages/sdk/src/webhooks/factory.ts
  packages/sdk/src/webhooks/types.ts
  packages/testsuite/apps/orm/.graphqlrc.yaml
  packages/testsuite/apps/orm/.wundergraph/operations/ts/orm.ts
  packages/testsuite/apps/orm/.wundergraph/webhooks/country.ts
  packages/testsuite/apps/orm/.wundergraph/wundergraph.config.ts
  packages/testsuite/apps/orm/.wundergraph/wundergraph.operations.ts
  packages/testsuite/apps/orm/.wundergraph/wundergraph.server.ts
  packages/testsuite/apps/orm/orm.test.ts
  packages/testsuite/apps/orm/test-setup.ts
  packages/testsuite/apps/orm/tsconfig.json
  packages/testsuite/vitest.workspace.ts
  pkg/apihandler/apihandler.go
  pkg/apihandler/graphql.go
  pkg/apihandler/internalapihandler.go
Labels: npm, sdk, engine

chore: add redeployment docs; build script prioritisation (#988)
  docs-website/config/navigation.tsx
  docs-website/src/pages/docs/cloud/configuration.md
  docs-website/src/pages/docs/cloud/deployments.md
  docs-website/src/pages/docs/cloud/integrations/vercel.md
  docs-website/src/pages/docs/cloud/redeployment.md
Labels: none

docs: document how to debug WG apps in vscode (#977)
  docs-website/public/images/debugging_vscode.png
  docs-website/src/pages/docs/guides/debugging.md
Labels: none

.github/labeler.yml:

npm:
  - 'packages/**/*'
  - 'pnpm-lock.yaml'
  - 'pnpm-workspace.yaml'
sdk:
  - 'packages/sdk/**/*'
wunderctl:
  - 'packages/wunderctl/**/*'
nextjs:
  - 'packages/nextjs/**/*'
types:
  - 'packages/protobuf/**/*'
engine:
  - 'pkg/**/*'
  - 'internal/*/*'
  - 'cmd/**/*'
  - 'cli/**/*'
  - 'go.mod'
  - 'go.sum'
