Repository adonis0302/WunderGr-Backend-API, changes with the labels that .github/labeler.yml gives for each.
All labels: npm, sdk, wunderctl, nextjs, types, engine

chore(docs-website): update hooks docs
  docs-website/config/navigation.js
  docs-website/src/pages/docs/use-cases/content-federation-for-headless-cms-and-more.md
  docs-website/src/pages/docs/use-cases/index.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/index.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/custom-graphql-servers.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/custom-resolve-hook.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/index.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/mock-resolve-hook.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/mutating-post-authentication-hook.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/mutating-post-resolve-hook.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/mutating-pre-resolve-hook.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/on-origin-request-hook.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/on-origin-response-hook.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/post-authentication-hook.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/post-resolve-hook.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/pre-resolve-hook.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/revalidate-hook.md
  packages/default-testapp/.wundergraph/wundergraph.config.ts
Labels: npm

docs: add fullWidthContent frontmatter option (#103)
  docs-website/src/components/Layout.jsx
Labels: none

chore: do not use NPM for docs as it is a pnpm workspace (#104)
  Makefile
  pnpm-lock.yaml
Labels: npm

chore(docs-website): update core concepts docs
  docs-website/config/navigation.js
  docs-website/config/tags.js
  docs-website/src/pages/docs/architecture/index.md
  docs-website/src/pages/docs/core-concepts/__join-field.md
  docs-website/src/pages/docs/core-concepts/_join-field.md
  docs-website/src/pages/docs/core-concepts/api-namespacing.md
  docs-website/src/pages/docs/core-concepts/index.md
  docs-website/src/pages/docs/core-concepts/virtual-graph.md
  docs-website/src/pages/docs/features/cross-api-joins-to-compose-apis.md
Labels: none

chore(docs-website): update components
  docs-website/config/navigation.js
  docs-website/config/tags.js
  docs-website/src/pages/docs/components-of-wundergraph/index.md
  docs-website/src/pages/docs/components-of-wundergraph/wunderctl.md
  docs-website/src/pages/docs/components-of-wundergraph/wundergraph-client.md
  docs-website/src/pages/docs/components-of-wundergraph/wunderhub.md
Labels: none

chore(docs-website): update wunderctl docs
  docs-website/src/pages/docs/components-of-wundergraph/wunderhub.md
  docs-website/src/pages/docs/wunderctl-reference/index.md
  docs-website/src/pages/docs/wunderctl-reference/wunderctl-add.md
  docs-website/src/pages/docs/wunderctl-reference/wunderctl-generate.md
  docs-website/src/pages/docs/wunderctl-reference/wunderctl-init.md
  docs-website/src/pages/docs/wunderctl-reference/wunderctl-login.md
  docs-website/src/pages/docs/wunderctl-reference/wunderctl-logout.md
  docs-website/src/pages/docs/wunderctl-reference/wunderctl-remove.md
  docs-website/src/pages/docs/wunderctl-reference/wunderctl-up.md
  docs-website/src/pages/docs/wunderctl-reference/wunderctl-version.md
Labels: none

chore(docs-website): update directives
  docs-website/config/navigation.js
  docs-website/config/tags.js
  docs-website/src/pages/docs/directives-reference/export-directive.md
  docs-website/src/pages/docs/directives-reference/from-claim-directive.md
  docs-website/src/pages/docs/directives-reference/hooks-variable-directive.md
  docs-website/src/pages/docs/directives-reference/index.md
  docs-website/src/pages/docs/directives-reference/inject-current-datetime-directive.md
  docs-website/src/pages/docs/directives-reference/inject-environment-variable-directive.md
  docs-website/src/pages/docs/directives-reference/inject-generated-uuid-directive.md
  docs-website/src/pages/docs/directives-reference/inject-uuid-directive.md
  docs-website/src/pages/docs/directives-reference/internal-directive.md
  docs-website/src/pages/docs/directives-reference/internal-operation-directive.md
  docs-website/src/pages/docs/directives-reference/json-schema-directive.md
  docs-website/src/pages/docs/directives-reference/rbac-directive.md
  docs-website/src/pages/docs/directives-reference/transform-directive.md
Labels: none

chore(docs-website): typos (#105)
  docs-website/src/pages/manifesto.md
Labels: none

chore(docs-website): update nav
  docs-website/config/navigation.js
  docs-website/next.config.js
  docs-website/src/pages/docs/core-concepts/persisted-queries-persisted-operations.md
Labels: none

chore(docs-website): update getting started
  docs-website/src/pages/getting-started.md
Labels: none

chore(docs-website): update api first section
  docs-website/config/tags.js
  docs-website/src/pages/docs/use-cases/enabling-your-organization-to-become-api-first.md
Labels: none

chore(docs-website): update api first section
  docs-website/src/pages/docs/use-cases/enabling-your-organization-to-become-api-first.md
Labels: none

chore(docs-website): update api first section
  docs-website/src/pages/docs/use-cases/enabling-your-organization-to-become-api-first.md
Labels: none

chore: update readme
  README.md
Labels: none

chore: update readme
  README.md
Labels: none

chore(docs-website): fix logo redirect to landing page (#107)
  docs-website/src/components/Layout.jsx
Labels: none

chore(docs): fix github link
  docs-website/src/components/DocsFooter.tsx
Labels: none

chore(docs-website): edits and suggestion for api-first content page (#106)
  docs-website/src/pages/docs/use-cases/enabling-your-organization-to-become-api-first.md
Labels: none

chore: update readme
  README.md
Labels: none

chore: update readme
  README.md
Labels: none

chore(docs): fix edit url
  docs-website/src/components/DocsFooter.tsx
Labels: none

feat: extract typescript client from nextjs (#72)
  packages/nextjs-testapp/.wundergraph/wundergraph.config.ts
  packages/nextjs/package.json
  packages/nextjs/src/handlebar.template.ts
  packages/nextjs/src/index.ts
  packages/sdk/package.json
  packages/sdk/src/client/README.md
  packages/sdk/src/client/index.ts
  packages/sdk/src/codegen/templates/typescript/client.template.ts
  packages/sdk/src/codegen/templates/typescript/client.ts
  pnpm-lock.yaml
Labels: npm, sdk, nextjs

feat: replace the legacy client with the new implementation (#78)
  docs-website/src/pages/docs/use-cases/enabling-your-organization-to-become-api-first.md
  packages/sdk/src/client/index.ts
  packages/sdk/src/codegen/templates/typescript/web.client.template.ts
  packages/sdk/src/codegen/templates/typescript/web.client.ts
Labels: npm, sdk

fix: nextjs client fails hard when a page misses "withWunderGraph" (#73)
  packages/nextjs/src/index.ts
Labels: npm, nextjs

chore(examples): add new example about migration
  README.md
  examples/migrate-from-apollo/.gitignore
  examples/migrate-from-apollo/.graphqlconfig
  examples/migrate-from-apollo/.wundergraph/.graphqlconfig
  examples/migrate-from-apollo/.wundergraph/operations/Dragons.graphql
  examples/migrate-from-apollo/.wundergraph/wundergraph.config.ts
  examples/migrate-from-apollo/.wundergraph/wundergraph.operations.ts
  examples/migrate-from-apollo/.wundergraph/wundergraph.server.ts
  examples/migrate-from-apollo/README.md
  examples/migrate-from-apollo/next-env.d.ts
  examples/migrate-from-apollo/next.config.js
  examples/migrate-from-apollo/package.json
  examples/migrate-from-apollo/pages/_app.tsx
  examples/migrate-from-apollo/pages/index.tsx
  examples/migrate-from-apollo/pages/migrate.tsx
  examples/migrate-from-apollo/public/favicon.ico
  examples/migrate-from-apollo/tsconfig.json
Labels: none

chore(examples): fix example link
  README.md
Labels: none

chore(docs-website): fix typo in hello-world.md (#116)
  docs-website/src/pages/docs/examples/hello-world.md
Labels: none

ci(release): release 0.95.0
  package.json
  packages/wunderctl/package.json
  pnpm-lock.yaml
Labels: npm, wunderctl

feat(wunderctl): add fragment support to loadoperations (#117)
  cli/commands/loadoperations.go
  packages/default-testapp/.wundergraph/fragments/PostFragment.graphql
  pkg/loadoperations/loader.go
  pkg/loadoperations/loader_test.go
Labels: npm, engine

ci(release): release 0.96.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

feat: add fragments to config bundler watch path so that the config is rebuilt when fragments change
  cli/commands/up.go
Labels: engine

feat: update pnpm lock
  pnpm-lock.yaml
Labels: npm

feat: add fragment support to sdk
  packages/default-testapp/.wundergraph/operations/Dragons.graphql
  packages/sdk/package.json
  packages/sdk/src/configure/index.ts
  packages/sdk/src/graphql/operations.ts
Labels: npm, sdk

ci(release): release 0.97.0
  package.json
  packages/wunderctl/package.json
  pnpm-lock.yaml
Labels: npm, wunderctl

chore: update package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: add fragments example
  examples/fragments/.gitignore
  examples/fragments/.wundergraph/.graphqlconfig
  examples/fragments/.wundergraph/fragments/Missions.graphql
  examples/fragments/.wundergraph/operations/GlobalFragment.graphql
  examples/fragments/.wundergraph/operations/LocalFragment.graphql
  examples/fragments/.wundergraph/wundergraph.config.ts
  examples/fragments/.wundergraph/wundergraph.operations.ts
  examples/fragments/.wundergraph/wundergraph.server.ts
  examples/fragments/README.md
  examples/fragments/package.json
  examples/fragments/tsconfig.json
Labels: none

chore: add fragments example to docs
  docs-website/config/navigation.js
  docs-website/src/pages/docs/examples/fragments.md
  docs-website/src/pages/docs/examples/index.md
Labels: none

feat: change theme color to reflect the theme (#113)
  docs-website/src/components/ThemeSelector.jsx
Labels: none

fix: issue with unhandled hyphens in input names (#123)
  packages/sdk/src/v2openapi/__snapshots__/index.test.ts.snap
  packages/sdk/src/v2openapi/index.ts
  packages/sdk/src/v2openapi/testdata/with_path_parameters.yaml
Labels: npm, sdk

chore(examples): use Fauna Region Group endpoint (#118)
  docs-website/src/pages/docs/examples/fauna-db-nextjs.md
  examples/faunadb-nextjs/.wundergraph/wundergraph.config.ts
  examples/faunadb-nextjs/README.md
  examples/faunadb-nextjs/example.env
  examples/inject-bearer/.example.env
  examples/inject-bearer/example.env
Labels: none

.github/labeler.yml:

npm:
  - 'packages/**/*'
  - 'pnpm-lock.yaml'
  - 'pnpm-workspace.yaml'
sdk:
  - 'packages/sdk/**/*'
wunderctl:
  - 'packages/wunderctl/**/*'
nextjs:
  - 'packages/nextjs/**/*'
types:
  - 'packages/protobuf/**/*'
engine:
  - 'pkg/**/*'
  - 'internal/*/*'
  - 'cmd/**/*'
  - 'cli/**/*'
  - 'go.mod'
  - 'go.sum'
