Repository adonis0302/WunderGr-Backend-API, changes with the labels that .github/labeler.yml gives for each.
All labels: npm, sdk, wunderctl, nextjs, types, engine

.github/labeler.yml:

npm:
  - 'packages/**/*'
  - 'pnpm-lock.yaml'
  - 'pnpm-workspace.yaml'
sdk:
  - 'packages/sdk/**/*'
wunderctl:
  - 'packages/wunderctl/**/*'
nextjs:
  - 'packages/nextjs/**/*'
types:
  - 'packages/protobuf/**/*'
engine:
  - 'pkg/**/*'
  - 'internal/*/*'
  - 'cmd/**/*'
  - 'cli/**/*'
  - 'go.mod'
  - 'go.sum'

chore: add example with user specific filters (#132)
  examples/nextjs-postgres-user-filters/.gitignore
  examples/nextjs-postgres-user-filters/.graphqlconfig
  examples/nextjs-postgres-user-filters/.wundergraph/operations/CreateNode.graphql
  examples/nextjs-postgres-user-filters/.wundergraph/operations/CreateUser.graphql
  examples/nextjs-postgres-user-filters/.wundergraph/operations/UserByEmail.graphql
  examples/nextjs-postgres-user-filters/.wundergraph/operations/UserNodes.graphql
  examples/nextjs-postgres-user-filters/.wundergraph/wundergraph.config.ts
  examples/nextjs-postgres-user-filters/.wundergraph/wundergraph.operations.ts
  examples/nextjs-postgres-user-filters/.wundergraph/wundergraph.server.ts
  examples/nextjs-postgres-user-filters/README.md
  examples/nextjs-postgres-user-filters/database.env
  examples/nextjs-postgres-user-filters/docker-compose.yml
  examples/nextjs-postgres-user-filters/next-env.d.ts
  examples/nextjs-postgres-user-filters/next.config.js
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-postgres-user-filters/pages/_app.tsx
  examples/nextjs-postgres-user-filters/pages/index.tsx
  examples/nextjs-postgres-user-filters/public/favicon.ico
  examples/nextjs-postgres-user-filters/schema.prisma
  examples/nextjs-postgres-user-filters/seed/seed.ts
  examples/nextjs-postgres-user-filters/tsconfig.json
Labels: none

chore: upgrade lerne and remove patch, add github id to changelog
  package.json
  patches/@lerna-lite+core+1.5.1.patch
  pnpm-lock.yaml
Labels: npm

chore: improve release preview
  package.json
Labels: none

chore: revert
  package.json
Labels: none

chore: fix preview
  package.json
Labels: none

ci(release): release 0.98.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: revert release
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: commit generated ts file to trigger a change in the package
  packages/protobuf/.gitignore
  packages/protobuf/package.json
  packages/protobuf/wgpb/README.md
  packages/protobuf/wgpb/wundernode_config.ts
Labels: npm, types

ci(release): release 0.99.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: sync wunderctl
  packages/sdk/package.json
Labels: npm, sdk

chore: sync wunderctl
  pnpm-lock.yaml
Labels: npm

fix: check if webhooks directory exists
  cli/commands/generate.go
  cli/commands/up.go
Labels: engine

chore: improve webhooks example
  examples/webhooks/.wundergraph/wundergraph.server.ts
Labels: none

ci(release): release 0.99.1
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: sync wunderctl
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: update all examples
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/faunadb-nextjs/package.json
  examples/fragments/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs/package.json
  examples/postgres/package.json
  examples/publish-install-api/package.json
  examples/rbac/package.json
  examples/simple/package.json
  examples/webhooks/package.json
  pkg/templates/assets/templates/application/package.json
  pkg/templates/assets/templates/nextjs-postgres-starter/package.json
  pkg/templates/assets/templates/nextjs-starter/package.json
  pkg/templates/assets/templates/publish-api/package.json
Labels: engine

chore: upgrade lerna
  package.json
Labels: none

chore: sync lock
  pnpm-lock.yaml
Labels: npm

chore: add json schema to lerna file
  lerna.json
Labels: none

chore(docs): add docs for webhooks feature
  docs-website/config/navigation.js
  docs-website/config/tags.js
  docs-website/src/pages/docs/features/index.md
  docs-website/src/pages/docs/features/type-script-webhooks-to-integrate-third-party-applications.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/index.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/webhooks.md
Labels: none

chore(docs): improve meta title
  docs-website/src/pages/docs/features/type-script-webhooks-to-integrate-third-party-applications.md
Labels: none

chore(docs): improve webhook feature
  docs-website/src/pages/docs/features/type-script-webhooks-to-integrate-third-party-applications.md
  examples/webhooks/.wundergraph/webhooks/github.ts
Labels: none

chore: upgrade lerna
  package.json
  pnpm-lock.yaml
Labels: npm

ci(release): release 0.99.2
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: sync wunderctl
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: pass github ci token
  .github/workflows/packages-release-preview.yaml
Labels: none

chore: pass github ci token
  .github/workflows/packages-release-preview.yaml
Labels: none

fix(watcher): make webhooks and fragments directory optional (#140)
  cli/commands/generate.go
  cli/commands/up.go
  pkg/bundler/bundler.go
  pkg/watcher/watcher.go
Labels: engine

ci(release): release 0.99.3
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: dont build twice in engine ci
  .github/workflows/engine-ci.yaml
Labels: none

chore: sync wunderctl
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: upgrade typescript
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/faunadb-nextjs/package.json
  examples/fragments/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs/package.json
  examples/postgres/package.json
  examples/publish-install-api/package.json
  examples/rbac/package.json
  examples/simple/package.json
  examples/webhooks/package.json
  packages/default-testapp/package.json
  packages/mtls-testapp/package.json
  packages/nextjs-testapp/package.json
  packages/nextjs/package.json
  packages/postgres-testapp/package.json
  packages/protobuf/package.json
  packages/sdk/package.json
  packages/wunderctl/package.json
  pkg/templates/assets/templates/application/package.json
  pkg/templates/assets/templates/nextjs-postgres-starter/package.json
  pkg/templates/assets/templates/nextjs-starter/package.json
  pkg/templates/assets/templates/publish-api/package.json
  pnpm-lock.yaml
Labels: npm, sdk, wunderctl, nextjs, types, engine

fix(generate): exit with code 1 on error (#142)
  cli/commands/generate.go
  cli/commands/up.go
  pkg/bundler/bundler.go
  pkg/scriptrunner/scriptrunner.go
Labels: engine

feat: upgrade graphiql (#144)
  pkg/graphiql/graphiql.html
Labels: engine

fix: s3 upload client (#139)
  .github/workflows/engine-ci.yaml
  .gitignore
  Makefile
  pkg/s3uploadclient/helpers_test.go
  pkg/s3uploadclient/s3uploadclient.go
  pkg/s3uploadclient/s3uploadclient_test.go
  pkg/s3uploadclient/testdata/testdata.go
  scripts/minio-setup.sh
Labels: engine

feat: use web std header implementation (#145)
  docs-website/src/pages/docs/wundergraph-server-ts-reference/on-origin-response-hook.md
  packages/default-testapp/.wundergraph/webhooks/github.ts
  packages/default-testapp/.wundergraph/wundergraph.server.ts
  packages/sdk/package.json
  packages/sdk/src/middleware/plugins/hooks.ts
  packages/sdk/src/middleware/plugins/webhooks.ts
  packages/sdk/src/middleware/server.ts
  packages/sdk/src/middleware/types.ts
  pnpm-lock.yaml
Labels: npm, sdk

fix: unify .wundergraph directory resolution (#143)
  cli/commands/add.go
  cli/commands/generate.go
  cli/commands/install-prisma-dependencies.go
  cli/commands/publish.go
  cli/commands/remove.go
  cli/commands/root.go
  cli/commands/start.go
  cli/commands/up.go
  pkg/datasources/database/engine.go
  pkg/files/files.go
Labels: engine

ci(release): release 0.100.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: sync wunderctl
  packages/sdk/package.json
Labels: npm, sdk

chore: sync lock file
  pnpm-lock.yaml
Labels: npm
