Repository adonis0302/WunderGr-Backend-API, changes with the labels that .github/labeler.yml gives for each.
All labels: npm, sdk, wunderctl, nextjs, types, engine

chore: fix url
  packages/default-testapp/.wundergraph/wundergraph.config.ts
Labels: npm

fix: don't (re-)fetch user server & client-side when authentication is disabled (#56)
  packages/nextjs-testapp/.wundergraph/operations/ProtectedWeather.graphql
  packages/nextjs-testapp/.wundergraph/wundergraph.config.ts
  packages/nextjs-testapp/.wundergraph/wundergraph.server.ts
  packages/nextjs-testapp/package.json
  packages/nextjs-testapp/pages/auth-test.tsx
  packages/nextjs/src/handlebar.template.ts
  packages/nextjs/src/index.ts
Labels: npm, nextjs

fix: use default transport for mTLS calls, update client request headers (#57)
  package.json
  packages/default-testapp/.wundergraph/wundergraph.server.ts
  packages/mtls-testapp/.gitignore
  packages/mtls-testapp/.graphqlconfig
  packages/mtls-testapp/.wundergraph/.graphqlconfig
  packages/mtls-testapp/.wundergraph/operations/Dragons.graphql
  packages/mtls-testapp/.wundergraph/wundergraph.config.ts
  packages/mtls-testapp/.wundergraph/wundergraph.operations.ts
  packages/mtls-testapp/.wundergraph/wundergraph.server.ts
  packages/mtls-testapp/Dragons.http
  packages/mtls-testapp/README.md
  packages/mtls-testapp/client/main.go
  packages/mtls-testapp/package.json
  packages/mtls-testapp/server/main.go
  packages/mtls-testapp/tsconfig.json
  pkg/apihandler/apihandler.go
  pkg/apihandler/apitransport.go
  pkg/engineconfigloader/engineconfigloader.go
  pkg/node/node.go
  pnpm-lock.yaml
Labels: npm, engine

ci(release): release 0.93.2
  package.json
  packages/wunderctl/package.json
  pnpm-lock.yaml
Labels: npm, wunderctl

chore: sync wunderctl version
  package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

fix: prevent oidc handler from panic if issuer is not valid URL (#59)
  packages/nextjs-testapp/.wundergraph/wundergraph.config.ts
  packages/nextjs-testapp/pages/auth-test.tsx
  pkg/apihandler/apihandler.go
  pkg/authentication/oidc.go
Labels: npm, engine

fix: call mutation hooks (#58)
  cli/commands/start.go
  cli/commands/up.go
  packages/mtls-testapp/.wundergraph/wundergraph.server.ts
  packages/nextjs-testapp/.wundergraph/operations/Hello.graphql
  packages/nextjs-testapp/.wundergraph/wundergraph.server.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/middleware/plugins/hooks.ts
  packages/sdk/src/middleware/server.ts
Labels: npm, sdk, engine

ci(release): release 0.93.3
  package.json
  packages/wunderctl/package.json
  pnpm-lock.yaml
Labels: npm, wunderctl

chore: sync wunderctl version
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: update examples
  examples/cross-api-joins/package.json
  examples/faunadb-nextjs/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/postgres/package.json
  examples/publish-install-api/package.json
  examples/simple/package.json
Labels: none

fix: inject user properly into global hooks (#60)
  examples/inject-bearer/.gitignore
  examples/inject-bearer/.graphqlconfig
  examples/inject-bearer/.wundergraph/operations/Country.graphql
  examples/inject-bearer/.wundergraph/wundergraph.config.ts
  examples/inject-bearer/.wundergraph/wundergraph.operations.ts
  examples/inject-bearer/.wundergraph/wundergraph.server.ts
  examples/inject-bearer/README.md
  examples/inject-bearer/example.env
  examples/inject-bearer/next-env.d.ts
  examples/inject-bearer/next.config.js
  examples/inject-bearer/package.json
  examples/inject-bearer/pages/_app.tsx
  examples/inject-bearer/pages/index.tsx
  examples/inject-bearer/public/favicon.ico
  examples/inject-bearer/tsconfig.json
  pkg/apihandler/apitransport.go
Labels: engine

ci(release): release 0.93.4
  package.json
  packages/wunderctl/package.json
  pnpm-lock.yaml
Labels: npm, wunderctl

chore: bump wunderctl
  packages/sdk/package.json
Labels: npm, sdk

chore: bump wunderctl
  pnpm-lock.yaml
Labels: npm

chore: update inject bearer example
  examples/inject-bearer/.wundergraph/wundergraph.server.ts
  examples/inject-bearer/README.md
Labels: none

chore: update inject bearer example
  examples/inject-bearer/.example.env
Labels: none

chore: dont run scripts
  Makefile
Labels: none

chore: install wunderctl after bootstrap
  Makefile
Labels: none

chore: remove filter
  Makefile
Labels: none

chore: add hub integration into default testapp to verify hub functionality
  packages/default-testapp/.wundergraph/operations/Weather.graphql
  packages/default-testapp/.wundergraph/wundergraph.config.ts
  packages/default-testapp/.wundergraph/wundergraph.manifest.json
Labels: npm

fix(codegen): detect internal input correctly (#64)
  examples/cross-api-joins/tsconfig.json
  examples/postgres/tsconfig.json
  examples/publish-install-api/tsconfig.json
  examples/simple/tsconfig.json
  packages/default-testapp/tsconfig.json
  packages/mtls-testapp/tsconfig.json
  packages/nextjs-testapp/.wundergraph/operations/PastLaunches.graphql
  packages/nextjs-testapp/tsconfig.json
  packages/sdk/src/codegen/templates/typescript/index.ts
  packages/sdk/src/codegen/templates/typescript/jsonschema.template.ts
  packages/sdk/src/codegen/templates/typescript/react.ts
  packages/sdk/src/codegen/templates/typescript/web.client.ts
  pkg/templates/assets/templates/application/tsconfig.json
  pkg/templates/assets/templates/publish-api/tsconfig.json
Labels: npm, sdk, engine

chore: chore add example for nested joins with caching
  packages/default-testapp/.wundergraph/operations/Join.graphql
  packages/default-testapp/.wundergraph/wundergraph.operations.ts
  packages/default-testapp/json_placeholder.json
Labels: npm

fix(start): error when config cant be found (#65)
  cli/commands/root.go
  cli/commands/start.go
  pkg/config/config.go
  pkg/files/files.go
Labels: engine

ci(release): release 0.93.5
  package.json
  packages/wunderctl/package.json
  pnpm-lock.yaml
Labels: npm, wunderctl

chore: sync wunderctl version
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: update sdk version in examples, add new nextjs example
  examples/cross-api-joins/package.json
  examples/faunadb-nextjs/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-prisma/pages/api/hello.js
  examples/nextjs/.gitignore
  examples/nextjs/.graphqlconfig
  examples/nextjs/.wundergraph/operations/Dragons.graphql
  examples/nextjs/.wundergraph/wundergraph.config.ts
  examples/nextjs/.wundergraph/wundergraph.operations.ts
  examples/nextjs/.wundergraph/wundergraph.server.ts
  examples/nextjs/README.md
  examples/nextjs/next-env.d.ts
  examples/nextjs/next.config.js
  examples/nextjs/package.json
  examples/nextjs/pages/_app.tsx
  examples/nextjs/pages/index.tsx
  examples/nextjs/public/favicon.ico
  examples/nextjs/tsconfig.json
  examples/postgres/package.json
  examples/publish-install-api/package.json
  examples/simple/package.json
  pkg/templates/assets/templates/application/package.json
  pkg/templates/assets/templates/nextjs-postgres-starter/package.json
  pkg/templates/assets/templates/nextjs-starter/package.json
  pkg/templates/assets/templates/publish-api/package.json
Labels: engine

chore: update example index
  README.md
Labels: none

feat: add introspection caching & DataSource polling (#63)
  cli/commands/generate.go
  cli/commands/up.go
  packages/default-testapp/.wundergraph/operations/Dragons.graphql
  packages/default-testapp/.wundergraph/wundergraph.config.ts
  packages/default-testapp/.wundergraph/wundergraph.server.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/db/introspection.ts
  packages/sdk/src/definition/index.ts
  pkg/bundler/bundler.go
  pkg/scriptrunner/scriptrunner.go
Labels: npm, sdk, engine

fix: ensure all hooks are called for live queries (#67)
  README.md
  cli/commands/start.go
  cli/commands/up.go
  examples/cross-api-joins/package.json
  examples/faunadb-nextjs/package.json
  examples/faunadb-nextjs/pages/index.tsx
  examples/inject-bearer/package.json
  examples/inject-bearer/pages/index.tsx
  examples/nextjs-postgres-prisma/README.md
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-prisma/pages/index.tsx
  examples/nextjs/README.md
  examples/nextjs/package.json
  examples/nextjs/pages/index.tsx
  examples/postgres/package.json
  examples/publish-install-api/package.json
  examples/simple/package.json
  go.mod
  go.sum
  packages/nextjs/src/handlebar.template.ts
  pkg/apihandler/apihandler.go
  pkg/hooks/hooks.go
  pkg/node/node.go
  pkg/templates/assets/templates/nextjs-postgres-starter/pages/index.tsx
Labels: npm, nextjs, engine

fix: restart hooks server, ensure __wg exists (#68)
  .github/workflows/packages-ci.yaml
  .github/workflows/packages-release.yaml
  cli/commands/generate.go
  cli/commands/up.go
  package.json
  packages/default-testapp/.wundergraph/wundergraph.config.ts
  packages/default-testapp/.wundergraph/wundergraph.server.ts
  packages/sdk/src/middleware/internal-client.ts
  packages/sdk/src/middleware/server.ts
  pkg/apihandler/apihandler.go
  pkg/apihandler/apitransport.go
  pkg/bundler/bundler.go
  pkg/scriptrunner/scriptrunner.go
Labels: npm, sdk, engine

fix: break request on hook error, improve logging (#69)
  pkg/apihandler/apihandler.go
Labels: engine

ci(release): release 0.94.0
  package.json
  packages/wunderctl/package.json
  pnpm-lock.yaml
Labels: npm, wunderctl

chore: build only libs
  .github/workflows/engine-release.yaml
Labels: none

ci(release): release 0.94.1
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: sync wunderctl version
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: update sdk version in examples
  examples/cross-api-joins/package.json
  examples/faunadb-nextjs/package.json
  examples/inject-bearer/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs/package.json
  examples/postgres/package.json
  examples/publish-install-api/package.json
Labels: none

chore: update sdk version in cli
  pkg/templates/assets/templates/application/package.json
  pkg/templates/assets/templates/nextjs-postgres-starter/package.json
  pkg/templates/assets/templates/nextjs-starter/package.json
  pkg/templates/assets/templates/publish-api/package.json
Labels: engine

fix(codegen): auth / s3 code generation
  packages/nextjs-testapp/package.json
  packages/nextjs/src/handlebar.template.ts
  packages/nextjs/src/template.ts
Labels: npm, nextjs

chore: use live query in next.js postgres example
  examples/nextjs-postgres-prisma/pages/index.tsx
Labels: none

chore: upgrade prisma to fix openssl issue
  examples/nextjs-postgres-prisma/package.json
Labels: none

.github/labeler.yml:

npm:
  - 'packages/**/*'
  - 'pnpm-lock.yaml'
  - 'pnpm-workspace.yaml'
sdk:
  - 'packages/sdk/**/*'
wunderctl:
  - 'packages/wunderctl/**/*'
nextjs:
  - 'packages/nextjs/**/*'
types:
  - 'packages/protobuf/**/*'
engine:
  - 'pkg/**/*'
  - 'internal/*/*'
  - 'cmd/**/*'
  - 'cli/**/*'
  - 'go.mod'
  - 'go.sum'
