Repository adonis0302/WunderGr-Backend-API, changes with the labels that .github/labeler.yml gives for each.
All labels: npm, sdk, wunderctl, nextjs, types, engine

.github/labeler.yml:

npm:
  - 'packages/**/*'
  - 'pnpm-lock.yaml'
  - 'pnpm-workspace.yaml'
sdk:
  - 'packages/sdk/**/*'
wunderctl:
  - 'packages/wunderctl/**/*'
nextjs:
  - 'packages/nextjs/**/*'
types:
  - 'packages/protobuf/**/*'
engine:
  - 'pkg/**/*'
  - 'internal/*/*'
  - 'cmd/**/*'
  - 'cli/**/*'
  - 'go.mod'
  - 'go.sum'

docs: add Your First WunderGraph Application tutorial (#266)
  docs-website/src/pages/docs/tutorials/your-first-wundergraph-application.md
Labels: none

ci(release): release 0.114.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

fix: remove logs of specific sdk versions (#280)
  .github/workflows/engine-release.yaml
Labels: none

ci(release): release 0.114.1
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: wunderctl, update (#281)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: examples, subscriptions hooks (#282)
  docs-website/config/navigation.js
  docs-website/src/pages/docs/examples/graphql-subscriptions-hooks.md
  docs-website/src/pages/docs/examples/index.md
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/faunadb-nextjs/package.json
  examples/fragments/package.json
  examples/golang-client/package.json
  examples/graphql-apollo-subscriptions/package.json
  examples/graphql-hasura-subscriptions/package.json
  examples/graphql-sse-subscriptions/package.json
  examples/graphql-subscriptions-hooks/.gitignore
  examples/graphql-subscriptions-hooks/.wundergraph/.graphqlconfig
  examples/graphql-subscriptions-hooks/.wundergraph/operations/Ws.graphql
  examples/graphql-subscriptions-hooks/.wundergraph/wundergraph.config.ts
  examples/graphql-subscriptions-hooks/.wundergraph/wundergraph.operations.ts
  examples/graphql-subscriptions-hooks/.wundergraph/wundergraph.server.ts
  examples/graphql-subscriptions-hooks/README.md
  examples/graphql-subscriptions-hooks/graphql-ws/server.ts
  examples/graphql-subscriptions-hooks/package.json
  examples/graphql-subscriptions-hooks/tsconfig.json
  examples/graphql-ws-subscriptions/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-swr/package.json
  examples/nextjs/package.json
  examples/postgres/package.json
  examples/publish-install-api/package.json
  examples/rbac/package.json
  examples/simple/package.json
  examples/webhooks/package.json
Labels: none

fix: re-enable disable-force-https-redirects and enable-introspection
  cli/commands/node.go
Labels: engine

ci(release): release 0.114.2
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: upgrade wunderctl
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: skip ci on release commits
  package.json
Labels: none

chore: revert
  package.json
Labels: none

chore: update cover
  README.md
  assets/newlogo.png
Labels: none

chore: update architecture diagram
  README.md
  assets/architecture.jpg
Labels: none

chore: update diagram
  README.md
  assets/logo2.png
  assets/newlogo.png
Labels: none

chore: increase go linter timeout in CI to 2 minutes (#286)
  .github/workflows/engine-ci.yaml
Labels: none

Changed missing end_session_endpoint error to an end_session_endpoint… (#277)
  pkg/apihandler/apihandler.go
Labels: engine

docs: initial docs page for debugging (#287)
  docs-website/config/navigation.js
  docs-website/src/pages/docs/guides/debugging.md
  docs/debugging.md
Labels: none

fix: pin node in CI to version 16 (#292)
  .github/actions/node/action.yaml
  .github/workflows/engine-ci.yaml
  .github/workflows/packages-ci.yaml
Labels: none

fix: crash when message.Location is nil (#285)
  pkg/bundler/bundler.go
Labels: engine

feat: make idle timer ignore healtcheck endpoint (#296)
  pkg/httpidletimeout/httpidletimeout.go
  pkg/httpidletimeout/httpidletimeout_test.go
  pkg/httpidletimeout/options.go
  pkg/node/node.go
Labels: engine

fix: make introspection cache keys change when referenced files change (#301)
  packages/sdk/src/definition/introspection-cache.ts
Labels: npm, sdk

chore: rename X-Cache header to X-Wg-Cache (#298)
  pkg/apihandler/apihandler.go
  pkg/apihandler/apihandler_test.go
Labels: engine

fix: dont enforce prettyLogging for all commands (#304)
  cli/commands/loadoperations.go
  cli/commands/root.go
  cli/commands/up.go
Labels: engine

Revert "fix: make introspection cache keys change when referenced files change (#301)"
  packages/sdk/src/definition/introspection-cache.ts
Labels: npm, sdk

fix: skip introspection cache when OpenAPI source is a file (#309)
  packages/sdk/src/definition/index.ts
Labels: npm, sdk

feat: add root path and UI (#308)
  pkg/node/node.go
  pkg/node/nodetemplates/resources/index.html
  pkg/node/nodetemplates/template.go
Labels: engine

ci(release): Release 0.115.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: upgrade wunderctl
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: upgrade all examples
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/faunadb-nextjs/package.json
  examples/fragments/package.json
  examples/golang-client/package.json
  examples/graphql-apollo-subscriptions/package.json
  examples/graphql-hasura-subscriptions/package.json
  examples/graphql-sse-subscriptions/package.json
  examples/graphql-subscriptions-hooks/package.json
  examples/graphql-ws-subscriptions/package.json
  examples/graphql-yoga-sse-subscriptions/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-swr/package.json
  examples/nextjs/package.json
  examples/postgres/package.json
  examples/publish-install-api/package.json
  examples/rbac/package.json
  examples/simple/package.json
  examples/webhooks/package.json
  pkg/templates/assets/templates/application/package.json
  pkg/templates/assets/templates/nextjs-postgres-starter/package.json
  pkg/templates/assets/templates/nextjs-starter/package.json
  pkg/templates/assets/templates/publish-api/package.json
Labels: engine

fix: health check with retry client (#313)
  pkg/hooks/hooks.go
  pkg/node/buildinfo.go
  pkg/node/node.go
  pkg/node/nodetemplates/resources/index.html
Labels: engine

ci(release): Release 0.115.1
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: upgrade wunderctl
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

fix: remove skip state in welcome page
  pkg/node/nodetemplates/resources/index.html
Labels: engine

ci(release): Release 0.115.2
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: upgrade wunderctl
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: upgrade examples
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/faunadb-nextjs/package.json
  examples/fragments/package.json
  examples/golang-client/package.json
  examples/graphql-apollo-subscriptions/package.json
  examples/graphql-hasura-subscriptions/package.json
  examples/graphql-sse-subscriptions/package.json
  examples/graphql-subscriptions-hooks/package.json
  examples/graphql-ws-subscriptions/package.json
  examples/graphql-yoga-sse-subscriptions/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-swr/package.json
  examples/nextjs/package.json
  examples/postgres/package.json
  examples/publish-install-api/package.json
  examples/rbac/package.json
  examples/simple/package.json
  examples/webhooks/package.json
  pkg/templates/assets/templates/application/package.json
  pkg/templates/assets/templates/nextjs-postgres-starter/package.json
  pkg/templates/assets/templates/nextjs-starter/package.json
  pkg/templates/assets/templates/publish-api/package.json
Labels: engine

feat: improve server graceful shutdown (#314)
  cli/commands/node.go
  cli/commands/server.go
  cli/commands/start.go
  packages/sdk/package.json
  packages/sdk/src/middleware/server.ts
  pnpm-lock.yaml
Labels: npm, sdk, engine

ci(release): Release 0.115.3
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: upgrade wunderctl
  packages/sdk/package.json
  testapps/nextjs/.wundergraph/wundergraph.config.ts
Labels: npm, sdk

chore: upgrade wunderctl
  pnpm-lock.yaml
  testapps/nextjs/.wundergraph/wundergraph.config.ts
Labels: npm
