Repository adonis0302/WunderGr-Backend-API, changes with the labels that .github/labeler.yml gives for each.
All labels: npm, sdk, wunderctl, nextjs, types, engine

.github/labeler.yml:

npm:
  - 'packages/**/*'
  - 'pnpm-lock.yaml'
  - 'pnpm-workspace.yaml'
sdk:
  - 'packages/sdk/**/*'
wunderctl:
  - 'packages/wunderctl/**/*'
nextjs:
  - 'packages/nextjs/**/*'
types:
  - 'packages/protobuf/**/*'
engine:
  - 'pkg/**/*'
  - 'internal/*/*'
  - 'cmd/**/*'
  - 'cli/**/*'
  - 'go.mod'
  - 'go.sum'

chore: pass creds
  .github/workflows/engine-release-preview.yaml
Labels: none

chore: test
  .github/workflows/engine-release-preview.yaml
Labels: none

chore: use goreleaser pro
  .github/workflows/engine-release.yaml
Labels: none

chore: get recommended bump from commits
  package.json
  pnpm-lock.yaml
Labels: npm

ci(release): release 0.104.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: remove comment
  .github/workflows/engine-release-preview.yaml
Labels: none

chore: remove version
  package.json
Labels: none

chore: rename pkg
  package.json
Labels: none

chore: revert version
  packages/wunderctl/package.json
Labels: npm, wunderctl

ci(release): release 0.104.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: sync wunderctl
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

feat(node): implement api config validation for cookie-based auth (#160)
  .prettierignore
  pkg/apiconfig/apiconfig.go
  pkg/apihandler/apihandler.go
  pkg/node/node.go
  pkg/validate/apiconfig.go
  pkg/validate/apiconfig_test.go
  pkg/validate/validator.go
  pkg/validate/validator_test.go
Labels: engine

fix: fixes open api errors for int based enums and json fields (#164)
  packages/sdk/src/v2openapi/__snapshots__/index.test.ts.snap
  packages/sdk/src/v2openapi/index.ts
  packages/sdk/src/v2openapi/testdata/users.json
Labels: npm, sdk

feat: ensure that user is always set in auth hooks, disable introspection cache in `wunderctl generate` (#167)
  .github/workflows/packages-ci.yaml
  Makefile
  cli/commands/generate.go
  cli/commands/start.go
  cli/commands/up.go
  package.json
  packages/default-testapp/.wundergraph/wundergraph.server.ts
  packages/default-testapp/package.json
  packages/mtls-testapp/package.json
  packages/nextjs-testapp/package.json
  packages/postgres-testapp/package.json
  packages/sdk/src/codegen/templates/typescript/hooks.template.ts
  packages/sdk/src/codegen/templates/typescript/server.template.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/index.ts
  packages/sdk/src/middleware/plugins/graphql.ts
  packages/sdk/src/middleware/plugins/hooks.ts
  packages/sdk/src/middleware/types.ts
  pkg/authentication/authentication.go
  pnpm-lock.yaml
  scripts/pnpm.sh
Labels: npm, sdk, engine

ci(release): release 0.105.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

fix: sync wunderctl
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: cache next.js builds
  .github/workflows/packages-ci.yaml
Labels: none

chore: fix action
  .github/workflows/packages-ci.yaml
Labels: none

chore: improve cache
  .github/actions/node/action.yaml
Labels: none

chore: add repo token to protoc action
  .github/actions/node/action.yaml
Labels: none

chore: ci
  .github/actions/node/action.yaml
Labels: none

chore: add shell
  .github/actions/node/action.yaml
Labels: none

chore: trigger ci
  .github/workflows/packages-ci.yaml
Labels: none

chore: update graphql-go-tools
  go.mod
  go.sum
Labels: engine

feat: move generated proto types into pkg/wgpb (#168)
  go.mod
  pkg/apiconfig/apiconfig.go
  pkg/apihandler/apihandler.go
  pkg/apihandler/apihandler_test.go
  pkg/apihandler/apitransport.go
  pkg/apihandler/internalapihandler.go
  pkg/authentication/authentication.go
  pkg/engineconfigloader/engineconfigloader.go
  pkg/loadvariable/loadvariable.go
  pkg/node/node.go
  pkg/node/node_test.go
  pkg/postresolvetransform/postresolvetransform.go
  pkg/postresolvetransform/postresolvetransform_test.go
  pkg/validate/apiconfig.go
  pkg/validate/apiconfig_test.go
  pkg/webhookhandler/webhookhandler.go
  pkg/wgpb/wundernode_config.pb.go
  pkg/wundergraphapi/client.go
  types/generate.sh
  types/go.mod
  types/go.sum
  types/protos/wundernode_config.proto
Labels: engine

fix: examples, .env file loading (#172)
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/faunadb-nextjs/package.json
  examples/inject-bearer/package.json
Labels: none

fix: improve hooks error handling (#171)
  pkg/authentication/authentication.go
Labels: engine

feat: improve webhook types (#173)
  cli/commands/up.go
  docs-website/src/pages/docs/features/type-script-webhooks-to-integrate-third-party-applications.md
  examples/webhooks/.wundergraph/webhooks/github.ts
  packages/default-testapp/.wundergraph/webhooks/github.ts
  packages/sdk/src/index.ts
  packages/sdk/src/webhooks/index.ts
  packages/sdk/src/webhooks/types.ts
  pkg/webhooks/webhooks.go
Labels: npm, sdk, engine

ci(release): release 0.106.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: revert tag, update protoc
  package.json
  packages/wunderctl/package.json
  pkg/wgpb/wundernode_config.pb.go
Labels: npm, wunderctl, engine

ci(release): release 0.106.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: revert release, pin protoc version
  .github/actions/node/action.yaml
  .github/workflows/engine-ci.yaml
  .github/workflows/engine-release-preview.yaml
  .github/workflows/engine-release.yaml
  .github/workflows/packages-ci.yaml
  .gitignore
  package.json
  packages/wunderctl/package.json
  scripts/check-setup.sh
Labels: npm, wunderctl

ci(release): release 0.106.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: upgrade distribution of protoc-gen-go
  Makefile
  pkg/wgpb/wundernode_config.pb.go
Labels: engine

chore: use specific protoc-gen-go version
  Makefile
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: test ci
  cmd/wunderctl/main.go
Labels: engine

chore: revert
  Makefile
  cmd/wunderctl/main.go
Labels: engine

ci(release): release 0.106.1
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: revert release tag
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

ci(release): release 0.106.1
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl
