Repository adonis0302/WunderGr-Backend-API, changes with the labels that .github/labeler.yml gives for each.
All labels: npm, sdk, wunderctl, nextjs, types, engine

fix: pass correct url to http.url otel attribute (#1039)
  packages/sdk/src/server/plugins/hooks.test.ts
  packages/sdk/src/server/plugins/telemetry.test.ts
  packages/sdk/src/server/plugins/telemetry.ts
  packages/sdk/src/server/server.ts
  packages/sdk/src/server/types.ts
Labels: npm, sdk

fix: align otel attributes (#1042)
  packages/sdk/src/server/plugins/telemetry.test.ts
  packages/sdk/src/server/plugins/telemetry.ts
  pkg/apihandler/apitransport.go
  pkg/hooks/hooks.go
  pkg/trace/transport.go
  pkg/trace/transport_test.go
  pkg/trace/wrap_handler.go
  pkg/trace/wrap_handler_test.go
  pkg/webhookhandler/webhookhandler.go
Labels: npm, sdk, engine

ci(release): Release 0.157.2
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: update wunderctl dependency to 0.157.2
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

feat: implement removeNullVariables for DB datasources (#1041)
  pkg/datasources/database/datasource.go
  pkg/datasources/database/datasource_test.go
Labels: engine

feat: add withHeaders method to ORM (#1025)
  docs-website/src/pages/docs/typescript-orm-reference/index.md
  packages/orm/src/executor.ts
  packages/orm/src/operation-builder.ts
  packages/orm/src/operation-creator.ts
  packages/orm/src/orm.ts
  packages/sdk/src/orm/executor.ts
  packages/testsuite/apps/orm/.wundergraph/operations/ts/with-headers.ts
  packages/testsuite/apps/orm/.wundergraph/wundergraph.config.ts
  packages/testsuite/apps/orm/.wundergraph/wundergraph.server.ts
  packages/testsuite/apps/orm/orm.test.ts
  testapps/default/.wundergraph/operations/orm/query.ts
Labels: npm, sdk

ci(release): Release 0.158.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: update wunderctl dependency to 0.158.0 (#1044)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

chore: add orm to lerna (#1046)
  lerna.json
Labels: none

fix: bump orm version (#1047)
  packages/orm/README.md
Labels: npm

fix: bump orm version (#1048)
  packages/orm/src/orm.ts
Labels: npm

chore(docs): add docs about public otel collector (#1050)
  docs-website/config/navigation.tsx
  docs-website/src/pages/docs/cloud/deployments.md
  docs-website/src/pages/docs/cloud/index.md
  docs-website/src/pages/docs/cloud/otel-collector.md
Labels: none

feat: add logging interface (#1043)
  docs-website/config/navigation.tsx
  docs-website/src/pages/docs/guides/index.md
  docs-website/src/pages/docs/guides/logging.md
  docs/migrations/sdk-0.163.3-0.164.0.md
  packages/sdk/src/index.ts
  packages/sdk/src/logger/index.ts
  packages/sdk/src/server/index.ts
  packages/sdk/src/server/logger.test.ts
  packages/sdk/src/server/logger.ts
  packages/sdk/src/server/plugins/functions.ts
  packages/sdk/src/server/plugins/graphql.ts
  packages/sdk/src/server/plugins/webhooks.ts
  packages/sdk/src/server/server.ts
  packages/sdk/src/server/types.ts
  packages/sdk/src/webhooks/types.ts
  packages/testsuite/apps/basic/.wundergraph/operations/requestid/ts.ts
  packages/testsuite/apps/basic/.wundergraph/wundergraph.server.ts
  packages/testsuite/apps/orm/.wundergraph/operations/ts/orm.ts
  testapps/default/.wundergraph/webhooks/github.ts
Labels: npm, sdk

feat: add support for user-defined session durations (#1035)
  docs-website/src/pages/docs/wundergraph-server-ts-reference/custom-resolve-hook.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/mock-resolve-hook.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/mutating-post-authentication-hook.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/mutating-post-resolve-hook.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/mutating-pre-resolve-hook.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/on-origin-request-hook.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/on-origin-response-hook.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/post-authentication-hook.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/post-logout-hook.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/post-resolve-hook.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/pre-resolve-hook.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/revalidate-hook.md
  packages/sdk/src/client/types.ts
  packages/sdk/src/codegen/templates/typescript/client.ts
  packages/sdk/src/server/types.ts
  packages/testsuite/apps/auth/.wundergraph/wundergraph.server.ts
  packages/testsuite/apps/auth/auth.test.ts
  pkg/authentication/authentication.go
Labels: npm, sdk, engine

feat: added fix for argmax issue in ISSUE-1011 (#1012)
  pkg/datasources/database/engine.go
Labels: engine

chore(otel): update otel docs (#1051)
  docs-website/src/pages/docs/cloud/otel-collector.md
Labels: none

feat: pass internal requests from ORM into GraphQLHandler (#1049)
  packages/orm/src/executor.ts
  packages/orm/src/internal-types.ts
  packages/orm/src/operation-builder.ts
  packages/orm/src/operation-creator.ts
  packages/orm/src/orm.ts
  packages/sdk/src/orm/executor.ts
  packages/sdk/src/server/internal-client.ts
  packages/sdk/src/server/operations-client.test.ts
  packages/sdk/src/server/operations-client.ts
  packages/sdk/src/server/plugins/functions.ts
  packages/sdk/src/server/plugins/webhooks.ts
  packages/sdk/src/server/server.ts
  packages/sdk/src/server/types.ts
  packages/testsuite/apps/orm/.wundergraph/operations/clientRequestContentLength.ts
  packages/testsuite/apps/orm/.wundergraph/operations/clientRequestHeader.ts
  packages/testsuite/apps/orm/.wundergraph/operations/clientRequestHeaderGQL.graphql
  packages/testsuite/apps/orm/.wundergraph/operations/clientRequestHeaderViaGQL.ts
  packages/testsuite/apps/orm/.wundergraph/wundergraph.server.ts
  packages/testsuite/apps/orm/orm.test.ts
  pkg/apihandler/graphql.go
  pkg/apihandler/internalapihandler.go
  pkg/pool/pool.go
Labels: npm, sdk, engine

fix: handle nested type definitions in operation inputs when generating OAS (#1056)
  packages/sdk/src/openapibuilder/__snapshots__/index.test.ts.snap
  packages/sdk/src/openapibuilder/index.test.ts
  packages/sdk/src/openapibuilder/index.ts
Labels: npm, sdk

ci(release): Release 0.159.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: bump wunderctl dependency in SDK to 0.159.0 (#1058)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

docs: fix incorrect examples of uploadProfiles definitions (#1054)
  docs-website/src/pages/docs/storage/aws-s3/index.md
  docs-website/src/pages/docs/storage/minio/index.md
Labels: none

fix: update @ominigrah / @graph-mesh dependencies to fix security warning (#1055)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

feat: support prisma views (#1052)
  docs-website/src/pages/docs/databases/prisma.md
  go.mod
  go.sum
  packages/testsuite/apps/basic/.wundergraph/operations/UserNames.graphql
  packages/testsuite/apps/basic/.wundergraph/schema.prisma
  packages/testsuite/apps/basic/.wundergraph/users_post.sqlite
  packages/testsuite/apps/basic/index.test.ts
  packages/testsuite/apps/basic/sql-raw.test.ts
  pkg/datasources/database/datasource.go
  pkg/datasources/database/deserialize_raw.go
  pkg/datasources/database/engine.go
  pkg/datasources/database/fetch_engine.go
  pkg/datasources/database/fetch_engine_test.go
  testapps/default/.wundergraph/operations/UserNames.graphql
  testapps/default/.wundergraph/schema.prisma
  testapps/default/.wundergraph/users_post.sqlite
Labels: npm, engine

docs: update onOriginRequest docs (#1061)
  docs-website/src/pages/docs/wundergraph-server-ts-reference/on-origin-request-hook.md
Labels: none

feat: use 204 to signal there's no authenticated user (#1063)
  docs-website/src/pages/docs/architecture/wundergraph-rpc-protocol-explained.md
  packages/sdk/src/client/client.ts
  packages/sdk/src/client/errors.ts
  pkg/authentication/authentication.go
Labels: npm, sdk, engine

perf: improve config generation/loading performance (#1070)
  cli/commands/node.go
  cli/commands/root.go
  cli/commands/server.go
  cli/commands/up.go
  cli/helpers/process.go
  go.mod
  packages/protobuf/generate.sh
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/codegen/templates/typescript/helpers.ts
  packages/sdk/src/codegen/templates/typescript/index.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/definition/namespacing.ts
  packages/sdk/src/openapibuilder/index.test.ts
  packages/sdk/src/openapibuilder/index.ts
  packages/sdk/src/server/server.ts
  packages/sdk/src/utils/helper.ts
  pkg/apihandler/apihandler.go
  pkg/apihandler/internalapihandler.go
  pkg/engineconfigloader/engineconfigloader.go
  pkg/node/node.go
  pkg/node/node_test.go
  pkg/wgpb/wundernode_config.pb.go
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

chore: fix data race in test (#1072)
  pkg/apihandler/apihandler_test.go
Labels: engine

fix: produce JSONPatch patches with removals in the right order (#1060)
  go.mod
  go.sum
  packages/react-query/tests/hooks.test.tsx
  packages/react-relay/tests/lib/TestClient.ts
  packages/sdk/src/client/client.ts
  packages/sdk/src/client/types.ts
  packages/sdk/src/codegen/templates/typescript/client.template.ts
  packages/solid-query/tests/hooks.test.tsx
  packages/svelte-query/tests/queryUtils.test.ts
  packages/swr/tests/swr.test-d.ts
  packages/testsuite/apps/openapi/.wundergraph/api.yaml
  packages/testsuite/apps/openapi/.wundergraph/operations/AllNotes.graphql
  packages/testsuite/apps/openapi/.wundergraph/operations/DeleteNote.graphql
  packages/testsuite/apps/openapi/openapi.test.ts
  packages/testsuite/apps/openapi/test-server.ts
  packages/vue-query/tests/hooks.test.ts
  pkg/apihandler/apihandler.go
  pkg/apihandler/apihandler_test.go
  pkg/hooks/hooks.go
Labels: npm, sdk, engine

chore: upgrade to pnpm 8, fix list types in prisma schema (#1071)
  .github/actions/node/action.yaml
  .github/workflows/packages-ci.yaml
  .npmrc
  examples/graphql-apollo-subscriptions/package.json
  examples/sveltekit-oidc-cookies-auth/tsconfig.json
  examples/sveltekit-todos/package.json
  package.json
  packages/sdk/package.json
  packages/sdk/src/codegen/templates/typescript/client.template.ts
  packages/sdk/src/db/introspection.ts
  packages/sdk/src/server/server.ts
  packages/sdk/src/utils/helper.ts
  packages/testsuite/package.json
  pkg/apihandler/metrics.go
  pkg/telemetry/data_sources.go
  pnpm-lock.yaml
  scripts/test-examples/all.sh
  testapps/vite/package.json
Labels: npm, sdk, engine

ci(release): Release 0.160.0
  package.json
  packages/wunderctl/package.json
Labels: npm, wunderctl

chore: bump wunderctl dependency in SDK to 0.160.0 (#1080)
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

fix: federation introspection (#1073)
  packages/sdk/package.json
  packages/sdk/src/configure/index.ts
  packages/sdk/src/definition/__snapshots__/graphql-introspection.test.ts.snap
  packages/sdk/src/definition/__snapshots__/merge.test.ts.snap
  packages/sdk/src/definition/federation-introspection.ts
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/merge.test.ts
  packages/sdk/src/definition/merge.ts
  packages/sdk/src/definition/namespacing.test.ts
  packages/sdk/src/definition/namespacing.ts
  packages/sdk/src/graphql/schema.ts
  pnpm-lock.yaml
Labels: npm, sdk

fix: delete unknown directives from the schema generated from OAS (#1086)
  packages/sdk/src/graphql/schema.test.ts
  packages/sdk/src/graphql/schema.ts
Labels: npm, sdk

feat: announce cloud GA (#1089)
  docs-website/src/pages/docs/cloud/deployments.md
  docs-website/src/pages/docs/cloud/index.md
Labels: none

chore(issue): propose new issue structure (#1090)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/issue.yml
Labels: none

fix: hang up when quickly exiting wunderctl up (#1091)
  cli/commands/up.go
Labels: engine

fix(issue): clarify how to gather versions (#1093)
  .github/ISSUE_TEMPLATE/issue.yml
Labels: none

docs: add intro (#1069)
  docs-website/config/navigation.tsx
  docs-website/next.config.mjs
  docs-website/src/pages/docs/getting-started/cloud-quickstart.md
  docs-website/src/pages/index.jsx
  docs-website/src/pages/introduction.md
Labels: none

feat: reimplement customJSONScalars (#1099)
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-data-sources.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/schema-extension-configuration.md
  packages/sdk/src/configure/index.ts
  packages/sdk/src/definition/__snapshots__/graphql-introspection.test.ts.snap
  packages/sdk/src/definition/__snapshots__/index.test.ts.snap
  packages/sdk/src/definition/__snapshots__/merge.test.ts.snap
  packages/sdk/src/definition/database-introspection.ts
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/definition/introspection-cache.ts
  packages/sdk/src/definition/merge.ts
  packages/sdk/src/definition/namespacing.ts
  packages/sdk/src/graphql/configuration.test.ts
  packages/sdk/src/graphql/configuration.ts
  packages/sdk/src/graphql/operations.test.ts
  packages/sdk/src/graphql/operations.ts
  packages/sdk/src/transformations/replaceCustomScalars.test.ts
  packages/sdk/src/transformations/replaceCustomScalars.ts
  packages/sdk/src/v2openapi/index.ts
  packages/testsuite/apps/schema-extensions/.wundergraph/operations/Characters.graphql
  packages/testsuite/apps/schema-extensions/.wundergraph/operations/CreateFriend.graphql
  packages/testsuite/apps/schema-extensions/.wundergraph/wundergraph.config.ts
  packages/testsuite/apps/schema-extensions/graphql-server.ts
  packages/testsuite/apps/schema-extensions/package.json
  packages/testsuite/apps/schema-extensions/schema-extensions.test-d.ts
  packages/testsuite/apps/schema-extensions/schema-extensions.test.ts
  packages/testsuite/apps/schema-extensions/tsconfig.json
Labels: npm, sdk

feat: support different types with the same when generating OAS (#1103)
  packages/sdk/src/openapibuilder/index.test.ts
  packages/sdk/src/openapibuilder/index.ts
Labels: npm, sdk

.github/labeler.yml:

npm:
  - 'packages/**/*'
  - 'pnpm-lock.yaml'
  - 'pnpm-workspace.yaml'
sdk:
  - 'packages/sdk/**/*'
wunderctl:
  - 'packages/wunderctl/**/*'
nextjs:
  - 'packages/nextjs/**/*'
types:
  - 'packages/protobuf/**/*'
engine:
  - 'pkg/**/*'
  - 'internal/*/*'
  - 'cmd/**/*'
  - 'cli/**/*'
  - 'go.mod'
  - 'go.sum'
